<tr class="cart-item" ng-repeat="item in cart.data.items" ng-cloak>
    <td class="col-md-12">
        <div class="item-image col-md-9">
            <a href="/p/{[ item.slug ]}">
                <img class="responsive" ng-src="{[ item.image ]}">
            </a>
        </div>
        <div class="col-md-24">
            <a href="/p/{[ item.slug ]}"><strong ng-bind="item.name"></strong></a>

            <ul class="item-options" ng-show="item.variation">
                <li ng-show="item.variationType == 'size'">{{ 'product.size'|trans }}: {[ item.variation ]}</li>
                <li ng-show="item.variationType != 'size' && item.variation != '...'">{{ 'product.option'|trans }}: {[ item.variation ]}</li>
            </ul>

            <div class="item-import tooltip-attached" ng-show="item.imported">
                <div class="badge-imported">
                    <i data-icon="ē"; class="add-top-2"></i>
                    {{ 'product.product_to_import'|trans }}
                    <span class="tooltip-attached">
                        <i data-icon="?" class="tooltip-icon"> </i>
                        <span class="tooltip tooltip-border">
                            {{ cms_global('product_import_message') }}
                        </span>
                    </span>
                </div>
            </div>

            <div class="item-quantity">
                <span class="pull-left padding-medium-right">
                    {{ 'cart.quantity'|trans }}
                </span>
                <select class="form-style col-lg-10"
                        ng-model="item.quantity"
                        ng-options="quantity for quantity in [] | range:1:item.maxItemsToSell track by quantity"
                        ng-change="cart.updateQuantity(item.sku, item.quantity)">
                </select>
            </div>
        </div>
    </td>

    <td class="col-md-9 price" ng-switch on="item">

        <div class="item-price">
            <span class="previous-price" ng-show="item.percentageOff" ng-bind="item.originalPrice|formatMoney"></span>
            {% if display_discounts %}
                <span class="percentage-off" ng-show="item.percentageOff">- {[ item.percentageOff|percent ]}</span>
            {% endif %}
            <div class="actual-price" ng-bind="item.unitPrice|formatMoney"></div>
        </div>

    </td>

    <td class="col-md-9">
        <div ng-show="item.linioPlusLevel == 1">
            {% include '::partial/components/linio_plus_badge.html.twig' %}
        </div>
        <div ng-show="item.linioPlusLevel == 2">
            {% include '::partial/components/linio_plus48_badge.html.twig' %}
        </div>
        <div class="cart-item-shipping" ng-show="cart.data.isFreeShipping(item.sku) && item.linioPlusLevel == 0">
            {{ 'checkout.free_shipping'|trans }}
        </div>
        {% if store_pickup_enabled %}
            <div class="cart-item-shipping" ng-show="(item.freeStorePickup && !item.freeShipping) || (item.freeShipping && item.linioPlusLevel != 0)">
                {{ 'checkout.free_store_pickup'|trans }}
            </div>
        {% endif %}
        <div class="success-color is-uppercase is-underline" ng-if="item.deliveredByChristmas">
            {{ 'cart.product_delivery_by_xmas'|trans }}
        </div>
        <p class="success-color margin-small-top margin-small-bottom" ng-show="item.minimumDeliveryDate">
            {{ 'cart.product_minimum_delivery_date'|trans }}<br>{[ item.minimumDeliveryDate ]}
        </p>
        <div class="cart-item-seller item-seller" ng-show="item.seller">
            {{ 'cart.sold_by'|trans }} {[ item.seller ]}
        </div>
        <div class="cart-item-seller item-seller" ng-hide="item.seller">
            {{ 'product_details.sold_and_fulfilled_by_linio'|trans }}
        </div>
        <div class="cart-item-seller item-seller" ng-show="item.oversized">
            <span>
                <i aria-hidden="true" data-icon="¡"></i>
                <span>{{ 'global.oversized_product'|trans }}</span>
            </span>
            <span class="tooltip-attached ">
                <span>
                    <i aria-hidden="true" data-icon="?" class="icon-20"></i>
                </span>
                <div class="tooltip tooltip-border">
                    {{ cms_global('tooltip_oversized') }}
                </div>
            </span>
        </div>
    </td>

    <td class="col-md-4">
        <span class="subtotal" ng-bind="item.subtotal|formatMoney"></span>
    </td>

    <td class="col-md-2">
        <div class="item-actions text-right">
            <a href="" ng-click="cart.removeItem(item.sku)" class="sub-top-6">
                <i aria-hidden="true" data-icon="X"></i>
            </a>
        </div>
    </td>
</tr>
