<div class="h-title-tall is-weight-700 border-page-header padding-small-bottom">
    {{ 'cart.order_summary'|trans }}
</div>

<div class="cart-subtotal">
    <div class="col-md-36 padding-large-bottom secondary-border-bottom">
        <div class="col-lg-15">{{ 'cart.subtotal'|trans }} (<span ng-bind="cart.data.countItems()"></span>)</div>
        <div class="col-lg-21 subtotal text-right" ng-bind="cart.data.subTotal|formatMoney"></div>
    </div>
</div>

<div class="cart-shipping">
    <div class="col-md-36 padding-large-top padding-large-bottom secondary-border-bottom">
        <div class="col-md-15 cursor-pointer" ng-click="cart.toggleShippingQuoteForm()">{{ 'cart.shipping.title'|trans }}</div>
        <div class="col-md-21 text-right" ng-show="cart.data.originalShippingAmount > 0" ng-bind="cart.data.originalShippingAmount|formatMoney"></div>
        <div class="col-md-21 text-right success-color" ng-show="cart.data.originalShippingAmount == 0">{{ 'catalog.free_shipping'|trans }}</div>
        <div ng-show="cart.data.linioPlusSavedAmount > 0">
            <div class="col-md-20">
                {{ 'cart.plus.saved'|trans }} <i aria-hidden="true" data-icon="å" class="add-top-3"></i>
            </div>
            <div class="col-md-16 text-right add-top-10">{[ cart.data.linioPlusSavedAmount|formatMoney ]}</div>
        </div>
        <div class="col-md-36 fade-in" ng-show="cart.showShippingQuoteForm">
            <shipping-quote-form></shipping-quote-form>
        </div>
    </div>
</div>

<coupon-form></coupon-form>

<div class="cart-total clearfix">
    {% if display_taxes %}
    <div class="col-md-36 padding-large-top padding-large-bottom secondary-border-bottom">
        <div class="col-md-15">{{ 'cart.tax'|trans }}</div>
        <div class="col-md-21 text-right" ng-bind="cart.data.taxAmount|formatMoney"></div>
    </div>
    {% endif %}
    <div class="col-md-36 padding-large-top">
        <div class="h-title-tall is-weight-700 col-md-15">{{ 'cart.total'|trans }}</div>
        <div class="col-md-21 text-right cart-item-price" ng-bind="cart.data.grandTotal|formatMoney"></div>
    </div>
</div>

{% if show_installments_in_cart %}
    <div class="cart-total clearfix" ng-show="cart.data.highestInstallment.installments">
        <div class="col-md-36 padding-large-top">
            <div class="col-md-18">{{ 'cart.up_to_months'|trans }} &nbsp;<span ng-bind="cart.data.highestInstallment.installments"></span>&nbsp; {{ 'cart.installments'|trans }}</div>
            <div class="col-md-18 text-right cart-item-price" ng-bind="cart.data.highestInstallment.amount|formatMoney"></div>
        </div>
    </div>
{% endif %}
