{% extends ':Shared:base.html.twig' %}

{% block lastBreadcrumb %}
    <span class="breadcrumb-item last" data-position="">{{ 'cart.cart'|trans }}</span>
{% endblock %}

{% block body %}
    <div class="cart-empty is-center">
        <i aria-hidden="false" data-icon="ć"></i>
        <p>{{ 'cart.empty_headline'|trans }}<br>
            <strong>{{ 'cart.empty_subheadline'|trans }}</strong>
        </p>
    </div>
{% endblock %}
