{% extends ':Shared:base.html.twig' %}

{% block lastBreadcrumb %}
    <span class="breadcrumb-item last" data-position="">{{ 'cart.cart'|trans }}</span>
{% endblock %}

{% block body %}
    <div class="cart" ng-controller="CartController as cart">
        <ui-messenger></ui-messenger>

        <div ng-show="cart.isReady && cart.data.isEmpty()" ng-cloak class="cart-empty is-center">
            <i aria-hidden="false" data-icon="ć"></i>
            <p>{{ 'cart.empty_headline'|trans }}<br>
                <strong>{{ 'cart.empty_subheadline'|trans }}</strong>
            </p>
        </div>

        <div ng-show="cart.isReady && !cart.data.isEmpty()" ng-cloak>
            <div class="col-md-27">
                <div class="cart-table-wrap">
                    <table id="shopping-cart-table" class="cart-table full-width">
                        <thead>
                            <tr>
                                <th class="cart-table-header col-md-12">{{ 'cart.products'|trans }}</th>
                                <th class="cart-table-header col-md-9">{{ 'cart.price'|trans }}</th>
                                <th class="cart-table-header col-md-9">{{ 'cart.shipping.title'|trans }}</th>
                                <th class="cart-table-header col-md-4">{{ 'cart.subtotal'|trans }}</th>
                                <th class="cart-table-header col-md-2"></th>
                            </tr>
                        </thead>

                        <tbody>
                            {% include ':Cart:_item.html.twig' %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="cart-summary margin-xlarge-bottom secondary-border-left col-md-9 border-sm-none">
                <div class="padding-large-left padding-sm-none">

                    {% include ':Cart:_summary.html.twig' %}

                    <div class="padding-large-top">
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <a href="{{ path('frontend.checkout.step1') }}" class="btn btn-action btn-lg btn-block">
                                {{ 'cart.btn_checkout'|trans }}
                            </a>
                        {% else %}
                            <a ng-click="cart.showLoginModal()" class="btn btn-action btn-lg btn-block">
                                {{ 'cart.btn_checkout'|trans }}
                            </a>
                        {% endif %}
                    </div>

                    {% set cmsUspMenu = cms_usp_menu('cart', true) %}

                    {% if cmsUspMenu %}
                        <div class="pull-left padding-large-top">
                            {{ cmsUspMenu|raw }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% include ":Checkout:components/couponForm.html.twig" %}
{% endblock %}
