<script type="text/ng-template" id="addressBook">
<div class="ngdialog-message">
    <div class="h-title-tall is-weight-700 padding-large-bottom">
        <span ng-show="addressBook.type == 'shipping'">{{ 'address_book.delivery_address'|trans }}</span>
        <span ng-show="addressBook.type == 'billing'">{{ 'address_book.billing_address'|trans }}</span>
    </div>

    <div class="ngdialog-inner clearfix">
        <div class="col-md-10 padding-xlarge-right margin-large-top">
            <div class="full-width padding-medium-bottom secondary-border-bottom">
                <i class="icon-2x first-color" aria-hidden="true" data-icon="Ð"></i>
                <a class="padding-small-right is-weight-700" href="" ng-click="addressBook.switchTab('list')">
                    {{ 'address_book.my_adresses'|trans }}
                </a>
                <i class="icon-small first-color" aria-hidden="true" data-icon="Ø" ng-show="addressBook.currentTab == 'list'"></i>
            </div>

            <div class="full-width padding-medium-bottom secondary-border-bottom">
                <i class="icon-2x first-color" aria-hidden="true" data-icon="l"></i>
                <a class="padding-small-right is-weight-700" href="" ng-click="addressBook.switchTab('form')">
                    {{ 'address_book.add_address'|trans }}
                </a>
                <i class="icon-small first-color" aria-hidden="true" data-icon="Ø" ng-show="addressBook.currentTab == 'form'"></i>
            </div>

            <div class="full-width padding-medium-bottom secondary-border-bottom" ng-show="addressBook.currentTab == 'edit'">
                <i class="icon-2x first-color" aria-hidden="true" data-icon="l"></i>
                <a class="padding-small-right is-weight-700" href="">
                    {{ 'address_book.edit_address'|trans }}
                </a>
                <i class="icon-small first-color" aria-hidden="true" data-icon="Ø"></i>
            </div>
        </div>

        <div class="col-md-26 secondary-border-left" ng-show="addressBook.currentTab == 'list'">
            <div class="col-md-18 margin-large-bottom padding-xlarge-left address-container" ng-repeat="address in addressBook.addresses" ng-cloak>
                <div class="padding-xlarge-right padding-medium-top">
                    <ul class="list-unstyled no-margin">
                        <li><strong>{[ address.firstName ]} {[ address.lastName ]}</strong></li>
                        <li>
                            <span ng-show="address.address1">{[ address.address1 ]} </span>
                            <span ng-show="address.line1">{[ address.line1 ]} </span>
                            <span ng-show="address.streetNumber">{[ address.streetNumber ]} </span>
                            <span ng-show="address.apartment">{[ address.apartment ]},</span>
                        </li>
                        <li>
                            <span ng-show="address.address2">{[ address.address2 ]},</span>
                        </li>
                        <li>
                            <span ng-bind="address.postCode"></span>
                            <span ng-bind="address.neighborhood"></span>
                        </li>
                        <li><span ng-show="address.municipality">{[ address.municipality ]}, </span>
                            <span ng-show="address.city">{[ address.city ]}, </span>
                            {[ address.region ]}
                        </li>
                        <li>{{ 'checkout.add_phone'|trans }}:
                            <span ng-show="address.prefix">{[ address.prefix ]}</span>{[ address.mobilePhone ]}
                        </li>
                    </ul>
                </div>
                <div class="padding-large-top">
                    <button class="btn btn-action is-weight-700" ng-click="addressBook.select(address.id)" ng-show="addressBook.selectable">
                        {{ 'address_book.select_address'|trans }}
                    </button>

                    <button class="btn btn-action is-weight-700" ng-click="addressBook.remove(address.id)" ng-show="addressBook.removable">
                        {{ 'address_book.delete'|trans }}
                    </button>

                    <button class="btn btn-action is-weight-700" ng-click="addressBook.edit(address.id)">
                        {{ 'address_book.edit'|trans }}
                    </button>
                </div>
            </div>

            <div class="col-md-18 margin-large-bottom padding-xlarge-left address-container" ng-show="!addressBook.hasAddresses()" ng-cloak>
                <p>{{ 'checkout.no_addresses'|trans }}</p>
            </div>
        </div>

        <div class="col-md-26 padding-xlarge-left secondary-border-left" ng-show="addressBook.currentTab == 'form'">
            <address-form></address-form>
        </div>

        <div class="col-md-26 padding-xlarge-left secondary-border-left" ng-show="addressBook.currentTab == 'edit'">
            <div ng-if="addressBook.addressToEdit">
                <address-form input="addressBook.addressToEdit"></address-form>
            </div>
        </div>
    </div>
</div>
</script>
