<script type="text/ng-template" id="couponForm">
    <div class="cart-voucher">
        <div class="col-md-36 padding-medium-top padding-medium-bottom secondary-border-bottom fade-in" ng-show="!coupon.showForm && !coupon.order.coupon">
            <a href="" ng-click="coupon.showForm=true">
                {{ 'cart.add_voucher'|trans }}
            </a>
        </div>

        <div class="col-md-36 padding-large-top padding-large-bottom secondary-border-bottom fade-in" ng-show="coupon.showForm && !coupon.order.coupon">
            <div class="padding-medium-bottom cursor-pointer" ng-click="coupon.showForm=false">
                {{ 'cart.voucher_code'|trans }}
            </div>

            <input type="text" class="col-md-22 padding-small margin-medium-right margin-medium-bottom form-style" ng-model="coupon.code">
            <button class="btn btn-alternative btn-md" ng-click="coupon.apply()">
                {{ 'cart.btn_add_voucher'|trans }}
            </button>

            <div class="error-color clearfix" ng-show="coupon.hasError">{{ 'cart.voucher_error'|trans }}</div>
        </div>

        <div class="col-md-36 padding-large-top padding-large-bottom" ng-show="coupon.order.coupon">
            <div class="col-md-15">{{ 'cart.voucher_code'|trans }}: <span ng-bind="coupon.order.coupon.code"></span></div>
            <div class="col-md-21 text-right">–<span ng-bind="coupon.order.coupon.discount|formatMoney"></span></div>
        </div>
        <div class="col-md-36 padding-large-bottom secondary-border-bottom" ng-show="coupon.order.coupon">
            <a href="" ng-click="coupon.remove()">{{ 'cart.remove_voucher'|trans }}</a>
        </div>
    </div>
</script>
