<script type="text/ng-template" id="dropdownBlock">
    <div class="padding-large-bottom secondary-color">
        <div ng-show="!dropdownBlock.isActive">
            <div ng-transclude></div>
        </div>
        <div ng-show="dropdownBlock.isActive">
            <div class="margin-medium-bottom clearfix">
                <div class="pull-right">
                    <i class="{[ dropdownBlock.content.logo ]} accordion-logo"> </i>
                </div>
                <div class="padding-small-top" ng-switch on="dropdownBlock.content.type">
                    <div ng-switch-when="partnership">
                        {{ 'PARTNERSHIP_NUMBER'|trans }}
                    </div>
                </div>
                <div ng-bind="dropdownBlock.accountNumber"></div>
            </div>
            <div class="margin-medium-bottom margin-medium-top">
                {[ dropdownBlock.content.description ]}
            </div>
            <a href="" ng-click="dropdownBlock.content.remove()" class="is-underline">
                {{ 'DROPDOWN_DISABLE'|trans }}
            </a>
        </div>
    </div>
</script>
