<script type="text/ng-template" id="loyaltyForm">
    <div ng-if="!loyalty.order.customer.loyaltyId">
        <div class="secondary-color">
            <div ng-click="loyalty.showForm=!loyalty.showForm" class="cursor-pointer">
                {{ ('loyalty.' ~ loyalty_program ~ '.checkout.addmiles')|trans }} <i class="icons-{{ loyalty_program|lower }} checkout-mileage-icon"> </i>
                <i aria-hidden="true" data-icon="{[ loyalty.showForm ? 2 : 1 ]}" class="accordion-tab-title-icon pull-right add-top-3" ng-cloak> </i>
            </div>
            <div class="padding-small-top padding-medium-bottom">
                {{ ('loyalty.' ~ loyalty_program ~ '.checkout.description')|trans }}
                {% if loyalty_program_show_form_cta %}
                    <span ng-click="loyalty.showForm=!loyalty.showForm" class="is-underline cursor-pointer">
                        {{ ('loyalty.' ~ loyalty_program ~ '.checkout.here')|trans }}
                    </span>
                {% endif %}
            </div>
        </div>
        <div ng-show="loyalty.showForm">
            <label class="padding-medium-bottom">{{ ('loyalty.' ~ loyalty_program ~ '.checkout.account_number')|trans }}</label>
            <input type="text" class="form-style margin-large-bottom full-width" ng-model="loyalty.id" required="required" />
            <div class="error-color clearfix" ng-show="loyalty.error" ng-bind="loyalty.error"></div>

            <button class="btn btn-alternative btn-md btn-block" ng-click="loyalty.signup()">
                {{ ('loyalty.' ~ loyalty_program ~ '.checkout.join_button')|trans }}
            </button>
        </div>
    </div>
    <div ng-if="loyalty.order.customer.loyaltyId">
        <div>{{ ('loyalty.' ~ loyalty_program ~ '.profile.loyalty_id')|trans }}: {[ loyalty.order.customer.loyaltyId ]}</div>
        <div><i class="icons-{{ loyalty_program|lower }} checkout-mileage-icon"> </i>{{ ('loyalty.' ~ loyalty_program ~ '.checkout.measurement_unit')|trans }}</div>
        <div class="earnedmiles padding-small-bottom padding-small-top">+ {[ loyalty.order.loyaltyPointsAccrued ]} {{ ('loyalty.' ~ loyalty_program ~ '.checkout.earn_kms')|trans }}</div>
        <p class="secondary-color">{{ ('loyalty.' ~ loyalty_program ~ '.checkout.description')|trans }}</p>
    </div>
</script>
