<script type="text/ng-template" id="partnershipForm">
    <label>{{ 'PARTNERSHIP_ACCOUNT_NUMBER'|trans }}</label>
    <input type="text" class="padding-small margin-medium-right margin-medium-bottom form-style full-width" ng-model="form.accountNumber" placeholder="{{ 'PARTNERSHIP_ACCOUNT_NUMBER_PLACEHOLDER'|trans }}">
    <button class="btn btn-alternative btn-md full-width" ng-click="form.signup()">
        {{ 'PARTNERSHIP_SIGNUP_BUTTON'|trans }}
    </button>
    <div class="error-color clearfix" ng-show="form.hasError">{{ 'PARTNERSHIP_ERROR'|trans }}</div>
    <div ng-show="form.partnership.active" class="margin-large-top background-eighth-color sixth-color padding-medium is-weight-bold">
        <i data-icon="ē" class="icon-small pull-left"> </i>
        <div class="margin-xlarge-left">{{ 'PARTNERSHIP_DISABLED_ACCOUNT'|trans }}</div>
    </div>
</script>
