<script type="text/ng-template" id="walletBar">
    <div class="padding-small-top padding-small-bottom title-header-box clearfix padding-medium-left padding-medium-right">

        <ui-accordion ng-show="!wallet.order.wallet">
            <ui-accordion-title class="first-color is-display-block padding-small-bottom">
                <i data-icon="ě" class="add-top-2"></i>{{ 'WALLET_IF_YOU_HAVE_A_WALLET'|trans }}, <span class="first-color is-weight-bold">{{ 'WALLET_ACTIVATE_HERE'|trans }}</span>
            </ui-accordion-title>
            <form name="walletForm">
                <div class="col-md-36 secondary-color">
                    <p class="fifth-color">{{ 'WALLET_DESCRIPTION'|trans }} {{ 'WALLET_FORM_DETAIL'|trans }}</p>

                    <div class="col-md-12">
                        <label>{{ 'WALLET_NUMBER'|trans }}</label>
                        <input type="text" class="form-style margin-large-bottom full-width" ng-model="wallet.number" mask="99999999999" required="required" />
                    </div>

                    <div class="col-md-6">
                        <label>{{ 'WALLET_HOLDER_NAME'|trans }}</label>
                        <input type="text" class="form-style margin-large-bottom full-width" ng-model="wallet.holderName" required="required" />
                    </div>

                    <div class="col-md-6">
                        <label>{{ 'WALLET_HOLDER_LASTNAME'|trans }}</label>
                        <input type="text" class="form-style margin-large-bottom full-width" ng-model="wallet.holderLastname" required="required" />
                    </div>

                    <div class="col-md-12">
                        <label>&nbsp;</label>
                        <button class="btn btn-md btn-block"
                                ng-class="walletForm.$valid ? 'btn-alternative' : 'disabled-btn'"
                                ng-disabled="!walletForm.$valid"
                                ng-click="wallet.activate()">
                            {{ 'WALLET_ACTIVATE'|trans }}
                        </button>
                    </div>
                </div>
            </form>
        </ui-accordion>

        <div ng-show="wallet.order.wallet">
            <div class="col-sm-12 padding-medium-right padding-medium-top first-color is-weight-700">
                <span class="sub-top-10"><i data-icon="ě" class="add-top-2"></i> {{ 'WALLET_TITLE'|trans }}</span>
            </div>

            <div class="col-sm-12 padding-medium-right padding-medium-top is-weight-bold">
                {{ 'WALLET_POINTS_BALANCE'|trans }}: <span class="sixth-color" ng-bind="wallet.order.wallet.pointsBalance"></span>
            </div>

            <div class="col-sm-12 is-right">
                <button class="btn btn-md add-top-6"
                        ng-class="wallet.order.wallet.pointsBalance == 0 ? 'disabled-btn' : 'btn-alternative'"
                        ng-click="wallet.use(wallet.order.wallet.maxPointsForOrder)"
                        ng-show="wallet.order.wallet.totalPointsUsed == 0"
                        ng-disabled="wallet.order.wallet.pointsBalance == 0">
                    {{ 'WALLET_USE_POINTS'|trans }}
                </button>
                <button class="btn btn-dark-outline btn-md add-top-6" ng-click="wallet.remove()" ng-show="wallet.order.wallet.totalPointsUsed > 0">
                    {{ 'WALLET_DO_NOT_USE_POINTS'|trans }}
                </button>
            </div>
        </div>
    </div>
</script>
