{% extends '::base.html.twig' %}

{% block body %}
    <div class="site-map-title secondary-border-bottom padding-small-bottom">{{ 'global.site_map'|trans|upper }}</div>
    {% for directoryEntry in siteDirectory %}
        <div class="site-directory full-width">
            <div class="category-wrapper">
                <a class="category-link" href="{{ directoryEntry.href }}">{{ directoryEntry.label }}</a>
            </div>
            <div class="sub-cat-wrapper">
                {% for menu in directoryEntry.menu %}
                    <div class= "sub-cat padding-large-bottom">
                        <a class="sub-cat-title padding-small-bottom" href="{{ menu.href }}">{{ menu.label }}</a>
                        {% for subMenu in menu.children %}
                            <a href="{{ subMenu.href }}">{{ subMenu.label }}</a>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
