<span class="tooltip-attached">
    <span>
        <i class="badge-icon" aria-hidden="true" data-icon="¡"></i>
        <span class="badge-text is-underline">
            {{ 'global.oversized_product'|trans }}
        </span>
    </span>
    <div class="tooltip tooltip-border">
        {{ cms_global('tooltip_oversized') }}
    </div>
</span>
