{% for label, flashes in app.session.flashbag.all %}
    {% for flash in flashes %}
        <div class="alert alert-{{ label }}">
            {{ flash|trans }}
        </div>
    {% endfor %}
{% endfor %}
