<div class="footer">
    <div class="container">
        <div class="col-sm-18 col-md-12 footer-block">
            <div class="col-md-18">
                <div class="footer-title h-title-tall padding-medium-bottom">{{ 'footer.about_linio'|trans }}</div>
                {{ cms_footer_menu('linio-footer-menu') }}
            </div>
            <div class="col-md-18">
                <div class="footer-title h-title-tall padding-medium-bottom">{{ 'footer.customer_service'|trans }}</div>
                {{ cms_footer_menu('customer-service-footer-menu') }}
            </div>
        </div>
        <div class="col-sm-18 col-md-12 footer-block">
            <div class="col-sm-18 col-md-18">
                <div class="footer-title h-title-tall padding-medium-bottom">{{ 'footer.linio_latinamerica'|trans }}</div>
                {{ cms_footer_menu('linio-international-footer-menu', '_blank') }}
            </div>
        </div>
        <div class="col-sm-36 col-md-12 footer-block">
            <div class="col-sm-18">
                <div class="footer-title h-title-tall">{{ 'footer.follow'|trans }}</div>

                <div class="footer-social">
                    <a class="footer-social-link" href="{{social.facebook}}" target="_blank" title="Sigue {{ store_name }} on Facebook"><i aria-hidden="true" data-icon="f" class="icon-2-4x"></i></a>
                    <a class="footer-social-link" href="{{social.twitter}}" target="_blank" title="Sigue {{ store_name }} on Twitter"><i aria-hidden="true" data-icon="t" class="icon-2-4x"></i></a>
                    <a class="footer-social-link" href="{{social.youtube}}" target="_blank" title="Sigue {{ store_name }} on Youtube"><i aria-hidden="true" data-icon="Y" class="icon-2-4x"></i></a>
                </div>
                <div class="footer-apps">
                    <a class="footer-apps-link" href="{{ path('frontend.default.static_page', {'slug': 'tienda-app'}) }}">
                        <img class="full-width" src="{{ asset_host }}/images/icons/app-store.png"/>
                    </a>
                    <a class="footer-apps-link" href="{{ path('frontend.default.static_page', {'slug': 'tienda-app'}) }}">
                        <img class="full-width" src="{{ asset_host }}/images/icons/google-play.png"/>
                    </a>
                    {% if claims_cta_url %}
                        <a class="footer-apps-link" href="{{ claims_cta_url }}">
                            <img class="full-width" src="{{ asset_host }}/images/icons/reclamaciones-peru.jpg"/>
                        </a>
                    {% endif %}
                    {% if industry_and_trade_cta_url %}
                        <a class="footer-apps-link" href="{{ industry_and_trade_cta_url }}">
                            <img class="full-width" src="{{ asset_host }}/images/icons/logo-industria.png"/>
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-18">
                <div class="footer-title h-title-tall">{{ 'footer.news'|trans }}</div>
                <div class="footer-subtitle h-title-tall">&nbsp</div>
                {{ cms_footer_menu('promotion-footer-menu') }}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyrights">
            &copy; {{ "now"|date("Y") }} {{ 'global.site_name'|trans }} {{ country_name }} | {{ 'footer.all_rights_reserved'|trans }} {{ 'footer.prices_in_national_currency'|trans}}
        </div>
    </div>
</div>
