<div class="invisible-overlay-content" ng-show="suggestActive && matchedString && !suggestNoResults" ng-click="suggestActive=false" ng-cloak></div>
<header class="navbar" ng-controller="HeaderController">
    <div class="container">
        <div class="navbar-brand">
            {% include "::partial/components/categories_init.html.twig" %}
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and app.user.subscribedToLinioPlus %}
                <a class="navbar-logo icons-logo-plus" title="{{ 'global.site_name'|trans }}" href="{{ url('frontend.root.home') }}"></a>
            {% else %}
                <a class="navbar-logo icons-logo" title="{{ 'global.site_name'|trans }}" href="{{ url('frontend.root.home') }}"></a>
            {% endif %}
        </div>
        <div class="navbar-header">
            <div class="navbar-right">
                <div class="navbar-alternative">
                    <span class="navbar-icon-links dropdown hidden">
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <a class="navbar-top-item" href="{{ logout_path(app.security.token.providerKey|default('default')) }}"><i aria-hidden="true" data-icon="ú"></i></a>
                        {% endif %}
                    </span>
                    <span class="navbar-icon-links dropdown">
                        <a class="dropdown-toggle" href="{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}{{ path('frontend.customer.index') }}{% else %}{{ path('frontend.security.login') }}{% endif %}"><i aria-hidden="true" data-icon="U"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('frontend.customer.orders.list') }}">{{ 'header.top_links.my_orders'|trans }}</a></li>
                            <li><a href="{{ path('frontend.default.static_page', {slug: 'vender-por-internet-linio'}) }}">{{ 'header.top_links.sell_with_us'|trans }}</a></li>
                            <li><a href="{{ path('frontend.default.static_page', {slug: 'preguntas-frecuentes'}) }}">{{ 'header.top_links.help'|trans }}</a></li>
                        </ul>
                    </span>
                    <span class="navbar-icon-links dropdown">
                        <a class="dropdown-toggle" href="{{ path('frontend.cart.index') }}"><i aria-hidden="true" data-icon="C"></i></a>
                        <ul class="dropdown-menu"></ul>
                    </span>
                </div>
                <div class="header-session">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <a class="start-session is-loggedin" href="{{ path('frontend.customer.index') }}">
                            <i class="start-session-icon" aria-hidden="true" data-icon="U"></i>
                            {{ 'header.my_account'|trans({'%customer_first_name%': app.user.firstName}) }}
                        </a>
                    {% else %}
                        <a class="start-session guest" ng-click="modalLogin()">
                            <i class="start-session-icon" aria-hidden="true" data-icon="U"></i>
                            {{ 'header.start_session'|trans }}
                        </a>
                    {% endif %}
                    <a class="header-cart header-cart-full" href="{{ path('frontend.cart.index') }}">
                        <div ng-show="cartItems() > 0" ng-cloak>
                            <span class="header-cart-count" ng-bind="cartItems()"></span>
                        </div>

                        <i class="header-cart-icon" aria-hidden="true" data-icon="C"></i>
                    </a>
                </div>
            </div>
            <div class="navbar-helplinks">
                {% if  linio_plus_static_page_url and linio_plus_static_page_url_not_signed %}
                    {% set plusUrl = is_granted('IS_AUTHENTICATED_REMEMBERED') and app.user.subscribedToLinioPlus ? linio_plus_static_page_url : linio_plus_static_page_url_not_signed %}

                    <a class="navbar-top-item" href="{{ path('frontend.default.static_page', {'slug': plusUrl}) }}">
                        {{ 'account.my_linio_plus'|trans }}
                    </a>
                {% endif %}

                {% if display_newsletter_header_cta %}
                    <a class="navbar-top-item cursor-pointer" ng-click="newsLetterModal()">{{ 'header.top_links.newsletter_cta'|trans }}</a>
                {% endif %}
                {{ cms_header_menu() }}
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <a class="navbar-top-item" href="{{ logout_path(app.security.token.providerKey|default('default')) }}" ng-click="logout()">{{ 'header.end_session'|trans }}</a>
                {% endif %}
            </div>
            <div class="navbar-search" ng-controller="SuggesterController">

                <form action="{{ path('frontend.catalog.index.search') }}" class="search-form is-medium-radius" method="get" ng-cloak ng-init="query='{{ app.request.query.get('q') }}'">
                    <div class="search-bar">
                        <input autocomplete="off" class="search-bar-input" name="q" autofocus onfocus="this.value = this.value;"
                               {% if suggester_enabled %}
                                   ng-model="query"
                                   ng-focus="activeSuggest()"
                                   ng-change="getSuggestion(query)"
                                   ng-keydown="tabSuggestion($event)"
                                   ng-model-options="{ debounce: 100 }"
                                   ng-blur="unsetInitialLoad()"
                               {% endif %}
                               placeholder=" {{ 'header.search.placeholder'|trans }}" type="search"
                               value="{[query]}">
                        <button class="btn btn-primary is-small-radius btn-search-submit" type="submit">{{ 'global.search'|trans }}</button>
                    </div>

                    {% if suggester_enabled %}
                        <div class="search-autocomplete" ng-show="suggestActive && matchedString && !suggestNoResults">
                            <div class="search-autocomplete-section" ng-show="suggestionQuerySearch.length">
                                <div class="search-autocomplete-title">{{ 'header.suggester.popular_searches'|trans }}</div>
                                <ul class="list-unstyled">
                                    <li ng-repeat="search in suggestionQuerySearch" class="text-limiter" ng-class="{'suggester-focus-item': search.suggesterId == focusSuggesterId }">
                                        <a ng-href="{{ app.request.schemeAndHttpHost }}/{[search.link]}">
                                            <span ng-bind-html="search.title|categoryMatch:matchedString"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="search-autocomplete-section" ng-show="suggestionCategories.length">
                                <div class="search-autocomplete-title">{{ 'header.suggester.categories'|trans }}</div>
                                <ul class="list-unstyled">
                                    <li ng-repeat="category in suggestionCategories" class="text-limiter" ng-class="{'suggester-focus-item': category.suggesterId == focusSuggesterId }">
                                        <a ng-href="//{[category.link]}">
                                            <span ng-bind-html="category.title|categoryMatch:matchedString"></span> en <span class="search-autocomplete-link"><span ng-bind-html="category.name|categoryMatch:matchedString"></span></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="search-autocomplete-section" ng-show="suggestionBrands.length">
                                <div class="search-autocomplete-title">{{ 'header.suggester.brands'|trans }}</div>
                                <ul class="list-unstyled">
                                    <li ng-repeat="brand in suggestionBrands" ng-class="{'suggester-focus-item': brand.suggesterId == focusSuggesterId }">
                                        <a ng-href="//{[brand.link]}">
                                            <span ng-bind-html="brand.name|categoryMatch:matchedString"></span> en <span class="search-autocomplete-link"><span ng-bind-html="brand.title|categoryMatch:matchedString"></span></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="search-autocomplete-section" ng-show="suggestionPopularSearch.length">
                                <div class="search-autocomplete-title">{{ 'header.suggester.popular_products'|trans }}</div>
                                <ul class="list-unstyled search-autocomplete-popular">
                                    <li ng-repeat="product in suggestionPopularSearch" class="clearfix search-autocomplete-popular-list" ng-class="{'suggester-focus-item-popular': product.suggesterId == focusSuggesterId }">
                                        <a ng-href="//{[product.link]}" class="search-autocomplete-popular-result">
                                            <div class="search-popular-list-image"><img class="search-autocomplete-image search-autocomplete-link" width="44" height="44" ng-src="//seer.use.datajet.io/i/{[product.image]}"></div>
                                            <div class="search-popular-list-description" ng-bind-html="product.title|categoryMatch:matchedString"></div class=""> <br> {[product.color]}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    {% endif %}

                </form>
            </div>
        </div>
    </div>
</header>

<script type="text/ng-template" id="loginModal">
    {% include ":Security:modal_login.html.twig" %}
</script>

<script type="text/ng-template" id="ouiBounceModal">
    {% include ":Newsletter:modal_ouibounce.html.twig" %}
</script>

<script type="text/ng-template" id="newsletterTemplate">
    {% include '::partial/components/home/home_nl_modal.html.twig' %}
</script>


{% if app.request.attributes.get('_route') != 'frontend.default.index' %}
    <div class="container dropdown-header-cat" ng-init="menuItemSelected=0" ng-controller="menuController">
        {% include '::partial/components/fly-menu.html.twig' %}
    </div>
{% endif %}

{% if app.request.attributes.get('_route') != 'frontend.default.index' %}
    {% include "::partial/sub_navbar.html.twig" %}
{% endif %}
