<script type="text/javascript">
var lsfConfig = {
    fbId: "{{ oauth_fb_id }}",
    gplusId: "{{ oauth_gplus_id }}",
    gplusApiKey: "{{ oauth_gplus_api_key }}",
    currencySymbol: "{{ money_formatter.getCurrencySymbol }}",
    decimalPrecision: {{ money_formatter.getDecimalPrecision }},
    decimalPoint: "{{ money_formatter.getDecimalPoint }}",
    thousandsSeparator: "{{ money_formatter.getThousandsSeparator }}",
    debug: {{ debug|default(0) }},
    shippingOptionsEnabled: {{ shipping_options_enabled|default(0) }},
    suggesterUrl: "{{ suggester_url }}",
    suggesterKey: "{{ suggester_key }}",
    feedUrl: "{{ feed_url }}",
    feedKey: "{{ feed_key }}",
    similarProductsPath: "{{ similar_products_path }}",
    recommendationsUrl: "{{ recommendations_url }}",
    catalogFeedBlacklistedCategories: {{ catalog_feed_blacklisted_categories|json_encode|raw }},
    storeCards: {{ store_cards|default(0) }},
    jetloreFeedEnabled: {{ jetlore_feed_enabled|default(0) }},
    jetloreSDKToken: "{{ jetlore_sdk_token }}"
};

</script>
