<div class="full-width padding-large-top padding-medium-bottom padding-small-left padding-small-right">
    <span class="h-title-tall padding-small-right is-weight-bold">
        {{ 'order.package'|trans({'%package%': index + 1 }) }}
    </span>

    {% if package.deliveredAt %}
        <span class="pull-right">
            {{ 'order.delivery.date'|trans({'%date%': package.deliveryAt|format_date}) }}
        </span>
    {% elseif package.shipmentStatus == 'on_time' %}
        <span class="success-color">
            {{ 'order.delivery.on_time'|trans }}
        </span>
        <span class="label-icon tooltip-attached">
            <span>
                <i aria-hidden="true" data-icon="?" class="add-top-1"></i>
            </span>
            <span class="tooltip tooltip-bottom tooltip-border">{{ cms_global('message-delivery-estimate-on-time') }}</span>
        </span>
        <span class="delivery-estimate-date">
            <span class="is-weight-bold">{{ 'order.delivery.estimated'|trans }}</span>
            {{ package.expectedDeliveryDate|format_date }}
        </span>
    {% elseif package.shipmentStatus == 'early' %}
        <span class="success-color">
            {{ 'order.delivery.early'|trans }}
        </span>
        <span class="label-icon tooltip-attached">
            <span>
                <i aria-hidden="true" data-icon="?" class="add-top-1"></i>
            </span>
            <span class="tooltip tooltip-bottom tooltip-border is-center">
                {{ cms_global('message-delivery-estimate-early') }}
                <div class="is-weight-bold">{{ 'order.delivery.original_estimated'|trans }}</div>
                <div>{{ package.deliveryDate|format_date }}</div>
            </span>
        </span>
        <span class="delivery-estimate-date">
            <span class="is-weight-bold">{{ 'order.delivery.new_estimated'|trans }}</span>
            {{ package.newDeliveryDate|format_date }}
        </span>
    {% elseif package.shipmentStatus == 'delayed' %}
        <span class="error-color is-relative">
            <i aria-hidden="true" data-icon="!" class="order-icon-delayed"> </i>
            <span class="padding-xlarge-left"> {{ 'order.delivery.delayed'|trans }} </span>
        </span>
        <span class="label-icon tooltip-attached">
            <span>
                <i aria-hidden="true" data-icon="?" class="add-top-1"></i>
            </span>
            <span class="tooltip tooltip-bottom tooltip-border is-center">
                {{ cms_global('message-delivery-estimate-delayed') }}
                <div class="is-weight-bold">{{ 'order.delivery.original_estimated'|trans }}</div>
                <div>{{ package.deliveryDate|format_date }}</div>
            </span>
        </span>
        <span class="delivery-estimate-date">
            <span class="is-weight-bold">{{ 'order.delivery.estimated'|trans }}</span>
            {{ package.deliveryDate|format_date }}
        </span>
    {% endif %}
</div>
