<div class="col-lg-21 col-sm-36 padding-large-top">
    <div>{{ 'order.tracking.title'|trans }}</div>
    <div class="padding-medium-top container">
        <div class="col-lg-12">{{ 'order.tracking.carrier'|trans }}</div>
        {#<div class="col-lg-20">{{ package.carrierName }}</div>#}
    </div>
    <div class="padding-medium-top container">
        <div class="col-lg-12">{{ 'order.tracking.number'|trans }}</div>
        {#<div class="col-lg-20">{{ package.trackingNumber }}</div>#}
    </div>
    <div class="padding-medium-top container">
        <div class="col-lg-12">{{ 'order.tracking.history'|trans }}</div>
        <div class="col-lg-20 tracking-decoration">
            {#{% if package.trackingHistory|length < 1 %}#}
                {#{{ 'order.tracking.no_history'|trans }}#}
            {#{% else %}#}
                {#{% for history in package.trackingHistory|date_property_sort('dateTime', 'descending') %}#}
                    {#<div ng-class="{hide: {{ loop.index > 1 ? 1 : 0 }} && !fullList, 'margin-small-top': {{ loop.index > 1 ? 1 : 0 }} }">{{ history.dateTime|date('d/m/Y | H:i:s') }}</div>#}
                    {#<div ng-class="{hide: {{ loop.index > 1 ? 1 : 0 }} && !fullList, 'margin-small-bottom': {{ loop.index < loop.length ? 1 : 0 }} }">{{ history.status }}</div>#}
                {#{% endfor %}#}
                {#{% if package.trackingHistory|length > 1 %}#}
                    {#<div>#}
                        {#<a ng-click="fullList = !fullList" class="cursor-pointer">#}
                            {#<span ng-hide="fullList">#}
                                {#{{ 'order.tracking.more_history'|trans }}#}
                                {#<i aria-hidden="true" data-icon="1"></i>#}
                            {#</span>#}
                            {#<span ng-show="fullList">#}
                                {#{{ 'order.tracking.less_history'|trans }}#}
                                {#<i aria-hidden="true" data-icon="2"></i>#}
                            {#</span>#}
                        {#</a>#}
                    {#</div>#}
                {#{% endif %}#}
            {#{% endif %}#}
        </div>
    </div>
</div>
