<div class="is-weight-700 fifth-color">{{ item.name }}</div>
<div class="secondary-color">
    {{ 'order.quantity'|trans({'%quantity%': item.quantity }) }}
</div>

{% if item.isImported %}
	<div class="item-import tooltip-attached">
		<div class="badge-imported">
			<i data-icon="ē"; class="add-top-2"></i>
			{{ 'product.product_to_import'|trans }}
		</div>
	</div>
{% endif %}

{% if item.isReturnAllowed %}
<div class="padding-medium-bottom">
    <a class="btn btn-account btn-md" href="{{ path('frontend.customer.orders.return', {orderNumber: order.orderNumber, packageNumber: package.id, sku: item.sku}) }}">
        {{ 'order.returns.return'|trans }}
    </a>
</div>
{% endif %}
<div class="secondary-border-top account-border-gray padding-medium-top is-right">
    <div class="fifth-color">{{ item.paidPrice|format_money }}</div>
</div>
