<div class="sub-navbar" ng-controller="SubMenuController">
    <div class="container">
        {% include "::partial/components/categories_init.html.twig" %}
        {% include "::partial/components/breadcrumb.html.twig" %}
    </div>
</div>
