{% for item in menu %}
    <div class="col-sm-18">
        {% for mainMenu in item %}
            <a class="fly-menu-devision-sub-title" href="{{ mainMenu.attributes.href }}">{{ mainMenu.attributes.label }}</a>
            {% for subItem in mainMenu.children %}
                <a class="fly-menu-devision-sub-link" title="" href="{{ subItem.attributes.href }}">{{ subItem.attributes.label }}</a>
            {% endfor %}
        {% endfor %}
    </div>
{% endfor %}
