{% if grid.menu %}
    <div class="fly-menu-content-item secondary-menu-item fly-menu-content-item-{{ position }} {% if position == 1 %} active {% endif %}" ng-class="menuItemSelected == {{ position }} ? 'active' : ''" style="">
        <div class="row full-width">
            <div class="fly-menu-categories col-sm-36 col-md-21 col-lg-14">
                <a class="fly-menu-devision-title" href="{{ grid.href }}">{{ grid.title }}</a>
                {% include ':Cms:/content_type/home/grid_menu.html.twig' with {'menu': grid.menu} %}
            </div>
            <div class="fly-inner-banners hidden-on-3last-col">
                <div class="fly-banners-row">
                    <div class="fly-banner fly-banner-lead center-image-responsive">
                        {{ grid.grid[0]|raw }}
                    </div>
                    <div class="fly-banner fly-banner-lead-fellow hide-last-col">
                        {{ grid.grid[1]|raw }}
                    </div>
                </div>
                <div class="fly-banners-row">
                    <div class="fly-banner fly-banner-lead">
                        <div class="fly-banner-child-container">
                            <div class="fly-banner fly-banner-child fly-banner-child-1 center-image-responsive">
                                {{ grid.grid[2]|raw }}
                            </div>
                            <div class="fly-banner fly-banner-child fly-banner-child-2 center-image-responsive">
                                {{ grid.grid[3]|raw }}
                            </div>
                        </div>
                    </div>
                    <div class="fly-banner fly-banner-child-mini fly-banner-child-3 hide-last-col">
                        {{ grid.grid[4]|raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="fly-menu-content-item fly-menu-content-item-{{ position }} {% if position == 1 %} active {% endif %}" ng-class="menuItemSelected == {{ position }} ? 'active' : ''">
        <div class="row full-width">
            <div class="fly-inner-banners">
                <div class="fly-banners-row">
                    <div class="fly-banner fly-banner-lead center-image-responsive">
                        {{ grid.grid[0]|raw }}
                    </div>
                    <div class="fly-banner fly-banner-lead-fellow hide-last-col">
                        {{ grid.grid[1]|raw }}
                    </div>
                </div>
                <div class="fly-banners-row">
                    <div class="fly-banner fly-banner-lead">
                        <div class="fly-banner-child-container">
                            <div class="fly-banner fly-banner-child fly-banner-child-1 center-image-responsive">
                                {{ grid.grid[2]|raw }}
                            </div>
                            <div class="fly-banner fly-banner-child fly-banner-child-2 center-image-responsive">
                                {{ grid.grid[3]|raw }}
                            </div>
                        </div>
                    </div>
                    <div class="fly-banner fly-banner-child-mini fly-banner-child-3 hide-last-col">
                        {{ grid.grid[4]|raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
