{% extends '::base.html.twig' %}

{% block body %}
    <div class="container-account full-width margin-large-bottom line-height-sm">
        <div class="category-title full-width h-title-large secondary-border-bottom account-border-gray">
            <h1 class="padding-small-bottom">
                {{ seller.name }}
            </h1>
        </div>

        <div class="account-navigation account-border-gray padding-large-right margin-xlarge-top filter-label">
            <div class="secondary-border-bottom pull-left padding-medium-bottom">
                <div class="col-sm-18 is-weight-bold">{{ 'reviews.average_rating'|trans }}</div>
                <div class="col-sm-18 padding-medium-top">
                    <span class="pull-left tag tag-success">{{ 'product.rating'|trans({'%rating%': seller.ratingSummary.averagePoint}) }}</span>
                </div>
                <div class="margin-medium-top full-width pull-left">
                    <a class="product-seller-name" href="{{ path('frontend.catalog.index.seller', {'seller': seller.slug}) }}" itemprop="seller" itemscope itemtype="http://schema.org/Organization">{{ 'reviews.see_seller_catalog'|trans }}</a>
                </div>
            </div>
            {% if seller.ratingSummary.reviewsQuantity > 0 %}
                <div class="rating-seller-color rating-seller-bars">
                    {% include '::partial/components/review/review_bars.html.twig' with {voteSummary: seller.ratingSummary.ratings, voteSummaryTotals: seller.ratingSummary.reviewsQuantity} %}
                </div>
            {% endif %}
        </div>

        <div class="account-section padding-large-left account-section rating-seller-color secondary-border-left margin-large-top">

            <div class="col-sm-36 account-border-gray category-tittle full-width h-title-large pull-left">
                <h2 class="is-weight-bold not-uppercase padding-large-bottom padding-small-top pull-left">
                    {{ 'reviews.seller_reviews'|trans }}
                </h2>
                <a class="btn btn-md btn-outline-secondary pull-right" href="{{ path('frontend.customer.seller.reviews') }}">{{ 'reviews.rate_your_experience'|trans }}</a>
            </div>

            {% if seller.ratingSummary.reviewsQuantity == 0 %}
                <div class="padding-xlarge-top seller-no-reviews ">
                    <i aria-hidden="true" data-icon="e" class="seller-no-reviews-icon"></i>
                    <div class="padding-medium-top">{{ 'reviews.seller_no_reviews'|trans }}</div>
                </div>
            {% endif %}

            {% for review in paginatedReviews.reviews %}
                {% include '::partial/components/review/review_detail.html.twig' with {review:review} %}
            {% endfor %}

        </div>
    </div>
{% endblock %}
