.alert-success {
  @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
}

.alert-info {
  @include alert-variant($alert-info-bg, $alert-info-border, $alert-info-text);
}

.alert-warning {
  @include alert-variant($alert-warning-bg, $alert-warning-border, $alert-warning-text);
}

.alert-danger,
.alert-error {
  @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
}

.alert-error::before {
  color: inherit;
  content: 'X';
  display: inline-block;
  font: normal normal normal 25px/1 'Linio Icons';
  -webkit-font-smoothing: antialiased;
  speak: none;
  text-transform: none;
}
