.breadcrumb {
  background-color: $white;
  border-color: $eighth-color;
  border-style: solid;

  .breadcrumb-item {
    color: $tenth-color;

    &::after,
    &::before {
      border-color: transparent transparent transparent $primary-color;
      border-style: solid;
    }

    &::before {
      border-left-color: $seventh-color;
      top: 1px;
    }
  }
}
