// Alternate buttons
// --------------------------------------------------
// button-variant receives (color,background,border-color);
.btn {
  &.btn-default {
    @include button-variant(
      $btn-default-color,
      $btn-default-bg,
      $btn-default-border);
  }

  &.btn-primary {
    @include button-variant(
      $btn-primary-color,
      $btn-primary-bg,
      $btn-primary-border);
  }

  // Warning appears as orange

  &.btn-warning {
    @include button-variant(
      $btn-warning-color,
      $btn-warning-bg,
      $btn-warning-border);
  }
  // Danger and error appear as red

  &.btn-danger {
    @include button-variant(
      $btn-danger-color,
      $btn-danger-bg,
      $btn-danger-border);
  }
  // Success appears as green

  &.btn-success {
    @include button-variant(
      $btn-success-color,
      $btn-success-bg,
      $btn-success-border);
  }
  // Info appears as blue-green

  &.btn-info {
    @include button-variant(
      $btn-info-color,
      $btn-info-bg,
      $btn-info-border);
  }

  &.btn-dark {
    @include button-variant(
      $btn-dark-color,
      $btn-dark-bg,
      $btn-dark-border);
  }

  &.btn-action {
    @include button-variant(
      $btn-primary-color,
      $first-color,
      $btn-primary-border,
      $btn-primary-color,
      $first-color-alt,
      $first-color-alt
      );
  }

  &.btn-action-inverted {
    @include button-variant(
      $btn-primary-color,
      $eleventh-color,
      $eleventh-color);
  }

  &.btn-security {
    @include button-variant(
      $btn-security-color,
      $btn-security-bg,
      $btn-security-border);
  }

  // Social buttons
  // -------------------------
  &.btn-facebook {
    @include button-variant(
      $btn-facebook-color,
      $btn-facebook-bg,
      $btn-facebook-border);
  }

  &.btn-google {
    @include button-variant(
      $btn-google-color,
      $btn-google-bg,
      $btn-google-border);
  }

  // Error payment buttons
  // -------------------------
  &.btn-alternative {
    @include button-variant(
      $first-color,
      $btn-default-bg,
      $first-color,
      $btn-default-bg,
      $first-color,
      $first-color);
    }

  &.btn-dark-outline {
    @include button-variant(
      $fifth-color,
      $btn-default-bg,
      $fifth-color,
      $btn-default-bg,
      $fifth-color,
      $fifth-color);
    }
}

// Outline style
// --------------------------------------------------

.btn-outline-primary {
  @include button-variant(
    $first-color,
    $white,
    $first-color,
    $white,
    $first-color,
    $btn-default-bg);
}

.btn-outline-secondary {
  @include button-variant(
    $fifth-color,
    $white,
    $fifth-color,
    $white,
    $fifth-color,
    $btn-default-bg);
}
