.rn-carousel-indicator span {
  @extend %primary-color;
  cursor: pointer;
  text-shadow: -1px 0 $fifth-color, 0 1px $fifth-color, 1px 0 $fifth-color, 0 -1px $fifth-color;


  &.active {
    color: $fifth-color;
  }
}

.rn-carousel-control:hover {
  opacity: 1;
}

.rn-carousel-control {
  cursor: pointer;
  font-size: 2rem;
  opacity: .75;
  position: absolute;
  top: 40%;
  transition: opacity .2s ease-out;

  &.rn-carousel-control-prev {
    left: -13px;

    &::before {
      content: '3';
      font-family: Linio Icons;
      font-size: $indent-amount;
    }
  }

  &.rn-carousel-control-next {
    right: -13px;

    &::before {
      content: '4';
      font-family: Linio Icons;
      font-size: $indent-amount;
    }
  }
}

.carousel-indicator span {
  transition: all .3s ease-in;
}

.recommendation-slide {
  cursor: pointer;
}

.recommendation-name {
  @extend %twelfth-color;
  @extend %is-weight-bold;
}
