.footer {
  background: $eighth-color;
  color: $eleventh-color;

  .footer-block {
    border-color: $tertiary-color;
    border-style: solid;
  }

  .footer-title {
    color: $eleventh-color;
  }

  .footer-subtitle {
    color: $tenth-color;
  }

  .copyrights {
    border-color: $tertiary-color;
    border-style: solid;
    color: $tenth-color;
  }
}
