.form-group {
  .form-title {
    @extend %is-weight-700;
  }

  .ng-dirty.ng-invalid {
    border-color: $brand-incorrect-border;
    border-style: solid;
  }

  .form-control {
    background-color: $input-bg;
    border-color: $input-border;
    border-radius: $border-radius-small;
    border-style: solid;
  }

  &.required {
    .control-label::after {
      color: $required-asterisk-color;
      content: '*';
    }
  }
}

// [TODO] TO BE REMOVED
.form-style {
  background-color: $input-bg;
  border-color: $input-border;
  border-radius: $border-radius-small;
  border-style: solid;
}

.form-read-only {
  border: 0;
}

.form-style:focus {
  background-color: $primary-color;
}

.submitted .ng-blurred.ng-pristine.ng-invalid-required,
.ng-blurred.ng-touched.ng-dirty.ng-invalid.ng-invalid-required,
.ng-blurred.ng-touched.ng-dirty.ng-invalid.ng-invalid-pattern {
  border-color: $brand-incorrect-border;
  border-style: solid;
}

// Custom Radio

.radio-skin {
  background-color: $white;
  border-color: $fifth-color;
  border-radius: 50%;
  border-style: solid;
  cursor: pointer;
 }

.custom-radio:checked + .radio-text .radio-skin {
  border-color: $first-color;
  border-radius: 50%;
  border-style: solid;
  cursor: pointer;
 }

.custom-radio:checked + .radio-text .radio-skin::before {
  background-color: $first-color;
  border-radius: 50%;
  content: '';
 }
