.navbar {
  @include border-style("bottom", $light-color, solid);
  background: $fourth-color;

  .navbar-top-links {
    @extend %is-weight-700;
    @extend %is-uppercase;
    line-height: 1;
  }
}

.header-session {
  .start-session {
    background-color: $white;
    color: $first-color;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }

  .start-session-icon {
    color: $fifth-color;
  }
}

.navbar-header {
  .navbar-helplinks {
    text-transform: uppercase;
  }
}

.search-form {
  @extend %nineth-color;
  background-color: $primary-color;
  border-radius: $border-radius-large;
  border-style: solid;

  .search-bar-input {
    color: $twelfth-color;

    &:focus {
      outline: 0 none;
    }
  }

  .search-bar {
    border-radius: $border-radius-large;
  }

  .btn-search-submit {
    @include font-size(1.2);
    letter-spacing: 1px;
  }
}


.search-autocomplete {
  background-color: rgba($primary-color, .98);
  border-color: $nineth-color;
  border-radius: $border-radius-large;
  border-style: solid;

  .search-autocomplete-section {
    border-color: $btn-default-border;
    border-style: solid;
  }

  .search-autocomplete-title {
    @extend %sixth-color;
    @extend %is-uppercase;
    line-height: 1.1;
  }

  .search-autocomplete-link {
    @extend %is-underline;
    color: $primary-link-color;

    &hover {
      color: $primary-link-color-hover;
    }
  }
}

.header-cart {
  .header-cart-count {
    background-color: $first-color;
    border-radius: 100%;
    color: $white;
  }
}

.navbar-cats-init {
  background-color: $security-color;
  color: $primary-color;
  text-align: center;
  text-transform: uppercase;

  &:hover {
    background-color: $first-color;
    text-decoration: none;
  }
}

.suggester-match {
  color: $dark-color;
  text-decoration: underline;
}

.invisible-overlay-content {
  background: rgba($dark-color, .4);
}

.suggester-focus-item {
  background-color: $eighth-color;
}

.suggester-focus-item-popular {

  .search-autocomplete-image {
    border-color: $eighth-color;
    border-style: solid;
  }

  .search-popular-list-description {
    background-color: $eighth-color;
  }
}
