%list-circ .list-circ {
  a {
    color: $first-color;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  li::before {
    color: $first-color;
    content: '○';
  }
}
