.pagination {

  a {
    @extend %background-primary-color;
    @extend %eleventh-color;
    @include border-style("all", $eighth-color);

    &:hover {
      @extend %primary-color;
      @extend %background-link-hover-color;
      text-decoration: none;
    }
  }

  li {
    &.active a {
      @extend %background-first-color;
      @extend %primary-color;
      cursor: default;
      text-decoration: none;
    }
  }
}
