.seo-text-container {
  @extend %sixth-color;
  @extend %secondary-font;
}

.site-directory {
  @include border-style(bottom, $light-color, solid);
}

.category-link {
  @extend %first-color;
}

.sub-cat-title {
  @extend %twelfth-color;
  font-weight: bold;
}
