.sidebar-list {

  .sidebar-quantity-tag {
    background-color: $subcategory-quantity-background;
    border-radius: $subcategory-quantity-radius;
    color: $subcategory-quantity-color;
    font-weight: 300;
  }
}

.sidebar-category-tree-header,
.sidebar-category-tree-item {
  border-color: $first-color;
  border-style: solid;
  color: $first-color;
  font-weight: 700;
}

.sidebar-category-tree-item {
  border-color: $eighth-color;
  color: $btn-default-color;
  font-weight: 100;
}
