// required for basic spriting
@import 'compass/utilities/sprites';
@import 'icons/*.png';
@include all-icons-sprites; // The name of the mixin is derived from the name of the folder.

$icons-spacing: 5px;
$icons-sprite-dimensions: true;
$icons-layout: 'smart';
$icons: sprite-map('icons/*.png', $layout: smart);
// */

.icons-sprite {
  display: inline-block;
}

.icons-logo {
  @include sprite-dimensions($icons, logo);
}

.icons-logo-plus {
  @include sprite-dimensions($icons, logo-plus);
}

.icons-help-menu {
  @include sprite-dimensions($icons, help-menu);
}

.icons-user-logged-in {
  @include sprite-dimensions($icons, user-logged-in);
}

.icons-user-logged-out {
  @include sprite-dimensions($icons, user-logged-out);
}

.icons-cart-empty {
  @include sprite-dimensions($icons, cart-empty);
}

.icons-cc-amex {
  @include sprite-dimensions($icons, cc-amex);
}

.icons-cc-amex-2x {
  @include sprite-dimensions($icons, cc-amex-2x);
}

.icons-cc-mastercard {
  @include sprite-dimensions($icons, cc-mastercard);
}

.icons-cc-mastercard-2x {
  @include sprite-dimensions($icons, cc-mastercard-2x);
}

.icons-cc-visa {
  @include sprite-dimensions($icons, cc-visa);
}

.icons-cc-visa-2x {
  @include sprite-dimensions($icons, cc-visa-2x);
}

.icons-pichincha {
  @include sprite-dimensions($icons, pichincha);
}

.icons-paypal {
  @include sprite-dimensions($icons, paypal);
}

.icons-banistmo {
  @include sprite-dimensions($icons, banistmo);
}

.icons-multibank {
  @include sprite-dimensions($icons, multibank);
}

.icons-lanpass {
  @include sprite-dimensions($icons, lanpass);
}

.icons-lanpass1x {
  @include sprite-dimensions($icons, lanpass1x);
}

.icons-google-play {
  @include sprite-dimensions($icons, google-play);
}

.icons-app-store {
  @include sprite-dimensions($icons, app-store);
}

// scss-lint:disable SelectorFormat

.icons-club_premier {
  @include sprite-dimensions($icons, club_premier);
}

.icons-clubpremier1x {
  @include sprite-dimensions($icons, clubpremier1x);
}

// scss-lint:enable SelectorFormat

.icons-pagoefectivo {
  @include sprite-dimensions($icons, pagoefectivo);
}

.icons-rapi-pago {
  @include sprite-dimensions($icons, rapi-pago);
}

.icons-bapro {
  @include sprite-dimensions($icons, bapro);
}

.icons-pago-facil {
  @include sprite-dimensions($icons, pago-facil);
}

.icons-cobro-express {
  @include sprite-dimensions($icons, cobro-express);
}

.icons-ripsa {
  @include sprite-dimensions($icons, ripsa);
}

.icons-clarin {
  @include sprite-dimensions($icons, clarin);
}
