.star-rating {
  .star {
    color: $nineth-color;

    &.active {
      color: $brand-info;
    }
  }
}

.reviews-section-title {
  color: $btn-default-color;
  font-weight: $weight-700;
}

.rating-reviews-qualification {
  border-color: $eighth-color;
  border-style: solid;
}

.agregation-rating {
  .a-meter {
    background-color: $table-border-color;
  }

  .a-meter-bar {
    background-color: $brand-info;
  }
}

.rating-sorting {
  border-color: $eighth-color;
  border-style: solid;

  .rating-order {
    text-decoration: underline;

    &.active {
      font-weight: $weight-700;
    }
  }
}

.customer-review {
  border-color: $eighth-color;
  border-style: solid;

  .customer-review-title {
    color: $btn-default-color;
  }
}

.rating-qualification {
  font-weight: bold;
}

.customer-review-rating {
  .star {
    cursor: auto;
  }
}
