.tag-success {
  background: $btn-success-bg;
  color: $btn-success-color;

  &::before {
    border-color: transparent $btn-success-bg transparent transparent;
    border-style: solid;
    content: '';
  }
}
