.tokenized-payment {
  .tokenized-card-info {
    color: $twelfth-color;
  }

  .tokenized-payment-header {
    padding: 20px 0;
  }
}

.tokenized-payment-box {
  border-color: $tertiary-color;
  border-style: solid;

  .tokenized-payment-toggle-label {
    color: $first-color;
    text-decoration: underline;
  }
}
