html {
  font-family: $primary-font-family;
}

%h-title-default {
  font-family: $headings-font-family;
  line-height: $headings-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 { @extend %h-title-default; @extend %is-weight-300; @extend %is-uppercase; }

a {
  color: $fifth-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.is-base-font {
  @extend %is-weight-300;
  font-family: $base-font;
}

.is-primary-font {
  @extend %is-weight-300;
  font-family: $primary-font-family;
}


%h-title-medium {
  @extend %h-title-default;
  @extend %is-uppercase;
}

.h-title-medium { @extend %h-title-medium; }

%h-title-tall {
  @extend %h-title-default;
  @extend %is-uppercase;
}

.h-title-tall { @extend %h-title-medium; }

%h-title-large {
  @extend %h-title-default;
  @extend %is-uppercase;
}

.h-title-large { @extend %h-title-medium; }

%is-underline {
  text-decoration: underline;
}

.is-underline {
  @extend %is-underline;
}

.not-uppercase {
  text-transform: none;
}
