{% extends '::base.html.twig' %}

{% block metaTitle %}
    <title>{% block title %}{{ 'error_404.title'|trans }}{% endblock %}</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="is-center error-container">
            <div class="line-error">
                <i icon="S" class="first-color font-size-xlarge search-icon "></i>
                <div class="first-color font-size-xlarge main-error-text is-weight-700">
                    {{ 'error_404.page_not_found'|trans }}
                </div>
            </div>
            <div class ="secondary-error-text">
                {{ 'error_404.not_found_apology'|trans }}
            </div>
            <div class ="third-error-text">
                {{ 'error_404.continue_enjoying_linio'|trans }}
            </div>
        </div>
    </div>

{% endblock %}
