{% extends '::base.html.twig' %}
{% block body %}
    <div class="is-center error-container">
        <div class="error-500-gif">
            <img src="{{ asset_host }}/images/desktop-maintenance.gif" class="full-width">
        </div>

        <div class="line-error">
            <div class="error-500-label main-error-text">
                {{ 'error_500_page.something_is_wrong'|trans }}
            </div>
        </div>
        <div class ="secondary-error-text">
            {{ 'error_500_page.we_are_trying_to_solve'|trans }}
        </div>
        <div class ="third-error-text">
            {{ 'error_500_page.thanks_for_understand'|trans }}
        </div>
    </div>
{% endblock %}
