{% extends 'TwigBundle::layout.html.twig' %}

{% block head %}
    <link href="/bundles/framework/css/exception.css" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block title %}
    {{ exception.message }} ({{ status_code }} {{ status_text }})
{% endblock %}

{% block body %}
    {% include 'TwigBundle:Exception:exception.html.twig' %}
{% endblock %}
