<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="/favicon.png" type="image/x-icon" />
        <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
        <meta name="robots" content="NOINDEX,FOLLOW" />
        {% block stylesheets %}
            {% for asset in getCssAssets() %}
                <link rel="stylesheet" type="text/css" href="{{ asset }}">
            {% endfor %}
        {% endblock %}
        {% block head_javascripts %}
            {% include "::partial/js_config.html.twig" %}
        {% endblock %}
    </head>
    <body ng-app="linio">
        <ui-spinner class="loading-overlay-full loading-overlay-orange-icon fade-in fade-out"></ui-spinner>

        {% if gtm_enabled %}
            {% set dataLayer = get_data_layer() %}

            {% if dataLayer|length > 0 %}
                <script>
                    dataLayer =[{{ dataLayer|json_encode|raw }}];
                </script>
            {% endif %}

            <!-- Google Tag Manager -->
            <noscript>
                <iframe src="//www.googletagmanager.com/ns.html?id=GTM-{{ gtm_code }}" height="0" width="0" style="display:none;visibility:hidden"></iframe>
            </noscript>
            <script defer>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.defer=true;j.src= '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-{{ gtm_code }}');</script>
            <!-- End Google Tag Manager -->
        {% endif %}

        {% include ":Checkout:partial/header.html.twig" %}
        <div class="container">
            {% include "::partial/flash_message.html.twig" %}
            {% block body %}{% endblock %}
        </div>

        {% include ":Checkout:partial/footer.html.twig" %}
        {% include ':Checkout:components/addressBook.html.twig' %}
        {% include ":Checkout:components/dropdownBlock.html.twig" %}
        {% include ':Shared:widgets/_accordion.html.twig' %}
        {% include ":Checkout:components/couponForm.html.twig" %}
        {% include ":Checkout:components/loyaltyForm.html.twig" %}
        {% include ":Checkout:components/partnershipForm.html.twig" %}
        {% include ":Checkout:components/walletBar.html.twig" %}
        {% include '::Shared/components/fingerprint.html.twig' %}

        {% block javascripts %}
            {% for asset in getJsAssets() %}
                <script type="text/javascript" src="{{ asset }}" defer></script>
            {% endfor %}
        {% endblock %}
    </body>
</html>
