{% extends ':Checkout:base.html.twig' %}

{% block head_javascripts %}
    {{ parent() }}

    {% if shipping_options_enabled %}
        <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key={{ gmaps_api_key }}&libraries=places"></script>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if mercadopago %}
        <script src="https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js"></script>
        <script type="text/javascript">Mercadopago.setPublishableKey('{{ mercadopago }}')</script>
    {% endif %}
{% endblock %}

{% block body %}
<div class="container min-height">
    <ui-messenger></ui-messenger>
    <div ui-view class="view-slide-in"></div>
</div>
{% endblock %}
