{% extends '::base.html.twig' %}

{% block body %}
    <div class="success-page">
        <div class="full-width h-title-large secondary-border-bottom ">
            <h2 class="is-weight-700 padding-small-bottom">
                {{ 'success.thank_you'|trans }} {{ app.user.firstName }}! {{ 'success.order_num'|trans }} {{ order.orderNumber }}
            </h2>
        </div>
        <div class="padding-large-bottom padding-large-right full-width ">
            {% include get_success_templates(order.payment.paymentMethod) %}

            <div class="padding-large-top padding-xlarge-bottom">
                {% include '::partial/components/customer/order/order_information.html.twig' %}
                {% include '::partial/components/customer/order/order_details.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
