<div class="catalog-product-item {{ borderClass }} catalog-item-generics" data-sku="{{ product.sku }}" ng-class="gridView">
    <div class="show-desc">
        <a href="{{ productPath(product) }}" title="{{ product.name }}">
            <div class="catalog-product-image">
                <figure class="main-figure {{ product.outOfStock ? 'unavailable' }}">
                    {% if product.outOfStock %}
                        <span class="picture-label warning" >{{ 'global.sold_out'|trans }}</span>
                    {% endif %}
                    {% if product.images|length > 0 %}
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII=" data-echo="{{ product_image(product.images|first, 'product') }}" class="responsive margin-auto full-width" alt="{{ product.name }}"/>
                    {% else %}
                        <img class="responsive margin-auto full-width image-404"/>
                    {% endif %}
                </figure>
            </div>
        </a>

        <div class="catalog-product-info">
            <h2 class="catalog-product-title">
                <a href="{{ productPath(product) }}" title="{{ product.name }}">{{ product.name }}</a>
            </h2>
            <div class="catalog-product-prices catalog-product-row price">
                {% include '::partial/components/catalog/product_price.html.twig'  with { 'product': product } %}
                {% if product.areMasterAndChildrenImported %}
                    <div class="badge-imported">
                        <i data-icon="ē" class="add-top-2"></i>
                        {{ 'product.product_to_import'|trans }}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="catalog-product-shipping">
            {% if product.linioPlusLevel == 1 %}
                <i aria-hidden="true" data-icon="å" class="linio-plus linio-plus-position"></i>
            {% elseif product.linioPlusLevel == 2 %}
                <i aria-hidden="true" data-icon="Å" class="linio-plus linio-plus48-position"></i>

             {% elseif product.hasFreeShipping %}
                <span class="success-color is-weight-700 pull-left margin-mini-right">
                    {{ 'catalog.free_shipping'|trans }}
                </span>
            {% elseif product.hasFreeStorePickup %}
                <span class="success-color is-weight-700 pull-left margin-mini-right">
                    {{ 'catalog.free_store_pickup'|trans }}
                </span>
            {% endif %}

            {% if not product.outOfStock %}
                {% if product.deliveryTimeFromFirstSimple == 1 %}
                    {% set deliveryTime = 'catalog.delivery_time_single'|trans({'%delivery_time%': product.deliveryTimeFromFirstSimple }) %}
                {% else %}
                    {% set deliveryTime = 'catalog.delivery_time_multiple'|trans({'%delivery_time%': product.deliveryTimeFromFirstSimple }) %}
                {% endif %}

                {% if not product.isImported %}
                    <span class="badge-one-line text-default-color pull-left">{{ deliveryTime }}</span>
                {% endif %}
            {% endif %}
            {% if product.attributes.get('short_description') matches '{<ul}' %}
                <div class="catalog-product-description">
                    {# TODO: Remove the replace line once the database has been corrected #}
                    {{ product.attributes.get('short_description')|replace({'<ul>': '<ul class="bullet-list">'})|raw }}
                </div>
            {% endif %}
        </div>
    </div>
    <a class="catalog-product-button catalog-product-btn btn btn-action btn-block" href="{{ productPath(product) }}">
        {{ 'catalog.show_product'|trans }}
    </a>
    <div class="catalog-product-rating rating-view-list rating-view-nolist">
        {% if product.rating.averagePoint > 0 %}
            {% include '::partial/components/product/product_rating.html.twig'  with { 'product': product, 'showReviewLink': false } %}
        {% endif %}
    </div>
</div>
