{% for bundle in product.bundles %}
<div class="product-bundle padding-xlarge-top padding-large-bottom">
    <div class="full-width is-weight-700 font-size-large padding-medium-bottom">{{ bundle.name }}</div>
    <div class="bundle-items col-sm-36 col-md-27 is-display-table">
        {% for bundleProduct in bundle.products %}
        <div class="is-display-cell bundle-item">
            <div class="is-center"><img src="{{ product_image(bundleProduct.sku, 'product') }}"></div>
            <div>
                <div class="is-weight-700 eleventh-color line-height-sm">{{ bundleProduct.name }}</div>
                {% if bundleProduct.originalPrice %}
                <div class="previous-price">{{ bundleProduct.originalPrice|format_money }}</div>
                {% endif %}
                <div class="actual-price">{{ bundleProduct.price|format_money }}</div>
                <div>
                    <select class="order-selector form-style full-width margin-mini-top" name="ordering-selector">
                        <option value="0">opcion 1</option>
                        <option value="1">opcion 2</option>
                        <option value="1">opcion 3</option>
                    </select>
                </div>
            </div>
        </div>
        {% if not loop.last %}<div class="bundle-plus"> + </div>{% endif %}
        {% endfor %}
    </div>
    <div class="bundle-prices col-sm-36 col-md-9">
        <div class="bundle-prices-desc col-md-36 col-sm-18">
            <div class="product-bundle-title padding-medium-bottom eleventh-color">
                {{ 'product.save_with_bundle'|trans }}
            </div>
            <div class="full-width padding-medium-top pull-left">
                <div class="col-sm-18 sixth-color">{{ 'product.regular_price'|trans }}</div>
                <div class="col-sm-18 is-right previous-price">{{ bundle.regularPrice|format_money }}</div>
            </div>
            <div class="full-width padding-medium-top pull-left">
                <div class="col-sm-18 is-weight-700 eleventh-color font-size-large">{{ 'product.bundle_price'|trans }}</div>
                <div class="col-sm-18 is-right actual-price is-weight-700">{{ bundle.savingPrice|format_money }}</div>
            </div>
            <div class="full-width padding-small-top padding-small-bottom is-right sixth-color">
                {% if bundle.type == 'percentage' %}
                <span class="percentage-off">-{{ bundle.discount }}%</span>
                {% endif %}
                {{ 'product.bundle_save_total'|trans }} {{ bundle.savingTotal|format_money }}
            </div>
        </div>
        <div class="col-sm-18 col-md-36 bundle-prices-button margin-medium-top">
            <button class="btn btn-action btn-block">
                {{ 'product.buy_bundle'|trans }}
            </button>
        </div>
    </div>
</div>
{% endfor %}
<div class="col-sm-36 is-center padding-xlarge-top padding-large-bottom">
    <a class="first-link is-uppercase">{{ 'product.show_all_bundles'|trans|upper }}
        <i aria-hidden="true" data-icon="1" class="icon-2x" ng-class="{'success-color':b}"></i>
    </a>
</div>
