{% if product.groupedProducts %}
<div class="product-options">
	<div class="product-other-option-container">{[ nameSimple ]}</div>
	{% for item in product.groupedProducts %}
		<a href="{{ item.slug }}" class="product-other-option-item" ng-mouseover="nameSimple='{{ item.name }}'" ng-mouseleave="nameSimple='{{ 'product.options'|trans }}'" ng-init="nameSimple='{{ 'product.options'|trans }}'">
			<img src="{{ product_image(product.images|first, 'product') }}" class="product-other-option-img">
		</a>
	{% endfor %}
</div>
{% endif %}
