<div ng-if="!similar_products" class="similar-products secondary-border-top loading-overlay-orange-icon"></div>
<div ng-if="similar_products.length" class="fade-in">
    <div id="rowseealso" class="pull-left full-width secondary-border-top padding-xlarge-top padding-xlarge-bottom" ng-cloak>
        <h3 class="is-weight-700 padding-xlarge-bottom">{{ 'product.recommended_for_you'|trans }}</h3>
        <carousel collection="similar_products" class="full-width pull-left padding-xlarge-bottom"></carousel>
    </div>
</div>
