<div class="product-option colors">
    <div class="product-option-header">
        <span>{{ 'product.sizes'|trans }}</span>
    </div>

    <div class="color-selector">
        <input id="xx1" class="radio-style" type="radio" name="colors" value="black" checked="checked">
        <label for="xx1" style="background: #000000"></label>
        <input id="xx2" class="radio-style" type="radio" name="colors" value="white">
        <label for="xx2" style="background: #ffffff"></label>
        <input id="xx3" class="radio-style" type="radio" name="colors" value="green">
        <label for="xx3" style="background: #008000"></label>
        <input id="xx4" class="radio-style" type="radio" name="colors" value="blue">
        <label for="xx4" style="background: #0000ff"></label>
        <input id="xx5" class="radio-style" type="radio" name="colors" value="orange">
        <label for="xx5" style="background: orange"></label>
        <input id="xx6" class="radio-style" type="radio" name="colors" value="pink">
        <label for="xx6" style="background: pink"></label>
        <input id="xx7" class="radio-style" type="radio" name="colors" value="red">
        <label for="xx7" style="background: red"></label>
        <input id="xx8" class="radio-style" type="radio" name="colors" value="brown">
        <label for="xx8" style="background: brown"></label>
        <input id="xx9" class="radio-style" type="radio" name="colors" value="fuchsia">
        <label for="xx9" style="background: fuchsia"></label>
        <input id="xx10" class="radio-style" type="radio" name="colors" value="grey">
        <label for="xx10" style="background: #808080"></label>
        <input id="xx11" class="radio-style" type="radio" name="colors" value="yellow">
        <label for="xx11" style="background: #ffff00"></label>
        <input id="xx12" class="radio-style" type="radio" name="colors" value="cyan">
        <label for="xx12" style="background: cyan"></label>
    </div>
</div>
