<div class="price">
    <div class="price-bundle padding-medium-bottom">
        {% if display_price_labels %}
            <div class="is-weight-400">{{ 'product.original_price'|trans }}</div>
        {% endif %}
        <span class="previous-price" ng-if="baseSimple.hasSpecialPrice || baseSimple.percentageOff">
            <span ng-bind="baseSimple.originalPrice.moneyAmount|formatMoney">{{ product.firstSimple.originalPrice|format_money }}</span>
        </span>
        {% if display_discounts %}
            <span class="percentage-off" ng-if="baseSimple.percentageOff">
                - <span ng-bind="baseSimple.percentageOff|percent">{{ product.firstSimple.percentageOff|format_percentage }}</span>
            </span>
        {% endif %}

        {% if display_price_labels %}
            <div class="is-weight-400" ng-if="baseSimple.hasSpecialPrice || baseSimple.percentageOff">{{ 'product.special_price'|trans }}</div>
        {% endif %}
        <span class="actual-price">
            <span ng-bind="baseSimple.price.moneyAmount|formatMoney">{{ product.firstSimple.price|format_money }}</span>
        </span>

        {% if display_discounts %}
            <span class="savings" ng-if="baseSimple.hasSpecialPrice || baseSimple.percentageOff">Ahorra <span ng-bind="baseSimple.savedAmount.moneyAmount|formatMoney">{{ product.firstSimple.savedAmount|format_money }}</span></span>
        {% endif %}

        {% if product.firstSimple == product.marketplaceChildren|first and product.marketplaceChildren|first.campaignVoucher %}
            <p class="margin-mini-bottom first-color">-{{ product.marketplaceChildren|first.campaignVoucher.discount|format_percentage }} {{ 'coupons.additional'|trans }}</p>
            <input class="padding-large-right padding-large-left is-center" type="text" value="{{ product.marketplaceChildren|first.campaignVoucher.code }}" disabled>
        {% endif %}
    </div>
    <div>
        {{ cms_global('cms_placeholder_before_product_cta') }}
    </div>
</div>
