{#{% if product.getInstallments %}#}
    <div class="installments padding-large-top padding-large-bottom secondary-border-bottom full-width pull-left secondary-border-top">
        <div class="pull-left padding-small-top padding-small-right">12 {{ 'global.installments_of'|trans }} {{ 160|format_money }}</div>
        <div class="pull-left tooltip-attached">
            <i class="icon-lg first-color is-weight-700" aria-hidden="true" data-icon="?"> </i>
            <span class="tooltip tooltip-border">12 {{ 'global.installments_of'|trans }} {{ 160|format_money }} <a href="">Click!</a></span>
        </div>
    </div>
{#{% endif %}#}
