<h3 class="is-weight-700 eleventh-color">OTROS VENDEDORES PARA {{ product.getName }}</h3>
<table class="master-table zebra-table">
    <thead>
        <tr>
            <td>{{ 'product.price'|trans }}</td>
            <td>{{ 'product.sold_and_delivered_by'|trans }}</td>
            <td>{{ 'product.shipping'|trans }} </td>
            <td>{{ 'product.info'|trans }}</td>
        </tr>
    </thead>
    <tbody>
        {% for marketplaceChild in product.marketplaceChildren|slice(1) %}
            <tr>
                <td class="master-table-price">
                    <div class="actual-price is-weight-700">
                        {{ marketplaceChild.price|format_money }}
                    </div>

                    {% if marketplaceChild.hasSpecialPrice %}
                        <div class="previous-price suplier-text">{{ marketplaceChild.originalPrice|format_money }}</div>
                    {% endif %}
                </td>
                <td class="master-table-seller">

                    {% if marketplaceChild.seller.name and marketplaceChild.seller.slug %}
                        <div class="full-width">
                            <a href="{{ path('frontend.catalog.index.seller', { seller: marketplaceChild.seller.slug }) }}" class="is-underline suplier-text">
                                {{ marketplaceChild.seller.name }}
                            </a>
                        </div>
                    {% else %}
                        <div class="full-width is-underline">
                            {{ marketplaceChild.seller.name|default('product.default_seller_name'|trans()) }}
                        </div>
                    {% endif %}

                    {% if marketplaceChild.seller.rating > 0 %}
                        <span class="tag tag-success">
                            {{ 'product.rating'|trans({'%rating%': marketplaceChild.seller.rating}) }}
                        </span>
                    {% endif %}

                    {% if marketplaceChild.expressInvoiceAvailable %}
                        <div class="full-width is-underline padding-small-bottom padding-small-top">
                            <i class="tooltip-icon" aria-hidden="true" data-icon="Ē"></i>
                            {{'product.express_invoice'|trans }}
                        </div>
                    {% endif %}
                </td>
                <td class="master-table-shipping">
                    <span class="master-plus">
                        {% if marketplaceChild.linioPlusLevel == 0 and marketplaceChild.hasFreeShipping %}
                            <span class="badges badge is-underline">
                                {{ 'product.free_shipping'|trans }}
                            </span>
                        {% elseif marketplaceChild.linioPlusLevel == 1 %}
                            {{ 'product.apply'|trans }} {% include '::partial/components/linio_plus_badge.html.twig' %}
                        {% elseif marketplaceChild.linioPlusLevel == 2 %}
                            {{ 'product.apply'|trans }} {% include '::partial/components/linio_plus48_badge.html.twig' %}
                        {% elseif product.linioPlusLevel == 1 %}
                            <span class="secondary-color">
                                {{ 'product.not_apply'|trans }} <i class="badges-plus-logo" aria-hidden="true" data-icon="å"></i>
                            </span>
                        {% elseif product.linioPlusLevel == 2 %}
                            <span class="secondary-color">
                                {{ 'product.not_apply'|trans }} <i class="badges-plus-logo" aria-hidden="true" data-icon="Å"></i>
                            </span>
                        {% endif %}
                    </span>

                    {% if marketplaceChild.isImported %}
                        <div class="full-width">
                            <span class="badge-imported">{{'product.product_to_import'|trans }}</span>
                            <span class="tooltip-attached">
                                <i data-icon="?" class="tooltip-icon"> </i>
                                <span class="tooltip tooltip-border">{{ cms_global('product_import_message') }}</span>
                            </span>
                        </div>
                    {% else %}
                        <div class="badges not-uppercase is-weight-700">
                            {% transchoice marketplaceChild.deliveryTime with {'%count%': marketplaceChild.deliveryTime} %}product.delivery_time{% endtranschoice %}
                        </div>
                    {% endif %}
                </td>
                <td class="master-table-info">
                    <ul class="bullet-list no-margin">

                        {% if marketplaceChild.stock <= 3 %}
                            <li class="col-sm-36 col-lg-18">{% transchoice marketplaceChild.stock with {'%count%': marketplaceChild.stock} %}product.products_available{% endtranschoice %}</li>
                        {% endif %}

                        {% if not marketplaceChild.isImported %}
                            <li class="col-sm-36 col-lg-18">{{ 'product.no_import'|trans }}</li>
                        {% endif %}

                        {% if marketplaceChild.warranty %}
                            <li class="col-sm-36 col-lg-18">
                                <span>{{ 'product.warranty'|trans }}</span>
                                <span class="tooltip-attached">
                                    <i data-icon="?" class="tooltip-icon"> </i>
                                    <span class="tooltip tooltip-border">
                                        {{ marketplaceChild.warranty|raw }}
                                    </span>
                                </span>
                            </li>
                        {% endif %}

                        {% if marketplaceChild.packageContent %}
                            <li class="col-sm-36 col-lg-18 is-underline">
                                <span class="tooltip-attached">
                                    {{ 'product.whats_in_the_box'|trans }}
                                    <span class="tooltip tooltip-border">
                                        {{ marketplaceChild.packageContent|raw }}
                                    </span>
                                </span>
                            </li>
                        {% endif %}
                        
                    </ul>
                </td>
                <td class="master-table-cta">
                    <form action="{{ path('frontend.cart.product.add') }}" method="post">
                        <input type="hidden" name="sku" value="{{ marketplaceChild.sku }}">
                        <button class="btn btn-action btn-sm btn-block" type="submit">{{ 'product.buy'|trans }}</button>
                    </form>

                    {% if marketplaceChild.campaignVoucher %}
                        <input class="padding-small-right padding-small-left margin-mini-top is-center" type="text" value="{{ marketplaceChild.campaignVoucher.code }}" disabled>
                        <span class="margin-mini-bottom font-size-small first-color">-{{ marketplaceChild.campaignVoucher.discount|format_percentage }} {{ 'coupons.additional'|trans }}</span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
