<div class="product-gallery col-md-12 col-sm-36">
    <div class="product-image main-figure is-center" id="productimage" style="margin: 20px 0 0 0; padding: 0; height: 400px;">
        <div class="zoomed hidden-sm hide" id="zoomed"><img></img></div>
        <ul rn-carousel rn-carousel-controls rn-carousel-index="productImageIndex"  class="rn-carousel rn-carousel-buffered mainProductImage" >
            <li ng-repeat="slide in slidesProduct track by slide.id" ng-class="'id-' + slide.id">
                <div class="original" zoom srcthumb="{[slide.img]}" srcslug="{[slide.slug]}" productname="{[product.name]}">
                </div>
            </li>
        </ul>
    </div>
    <div class="thumbs hidden-sm">
      <ul rn-carousel rn-carousel-controls rn-carousel-index="thumbIndex" class="rn-carousel padding-small-top">
        <li ng-repeat="images in imageCollectionThumbs">
          <div class="product-slider">
            <div ng-repeat="thumbnail in images track by thumbnail.id" class="is-display-inline-block col-sm-9" ng-mouseover="mouseOverThumb(thumbnail, 'slide')">
                <img alt="{[product.name]}" ng-src="{[thumbnail.img]}" class="thumbimg" ng-class="{'active': productImageIndex == (thumbnail.id-1)}" draggable="false" ng-mouseleave="disableThumbSelection();">
            </div>
          </div>
        </li>
      </ul>
    </div>
</div>

