{% if product.seller.type == 'merchant' %}
    <div class="product-seller">
        <div class="product-seller-title is-weight-700">
            {{ ('product_details.' ~ product.fulfillmentType|default('sold'))|trans }}
        </div>
        <div class="product-seller-info">
            {% if product.isMarketplace %}
                {% set seller = product.firstSimple.seller %}
            {% else %}
                {% set seller = product.seller %}
            {% endif %}

            {% if seller.name and seller.slug %}
                <a class="product-seller-name" href="{{ path('frontend.catalog.index.seller', {'seller': seller.slug}) }}" title="" itemprop="seller" itemscope itemtype="http://schema.org/Organization">{{ seller.name }}</a>
            {% else %}
                {{ seller.name|default('product.default_seller_name'|trans()) }}
            {% endif %}

            {% if seller.rating > 0 %}
                <span class="tag tag-success">{{ seller.rating }} de 5</span>
            {% endif %}
        </div>

        {% if product.marketplaceChildren|length > 1 %}
            <a id="go-to-sellers" href="#go-to-sellers" class="btn btn-alternative btn-md is-weight-700">Ver {{ product.marketplaceChildren|length - 1 }} vendedores más</a>
        {% endif %}
    </div>
{% else %}
    <div class="product-seller">
        <div class="product-seller-title is-weight-700">
            {{ 'product_details.sold_and_fulfilled_by_linio'|trans }}
        </div>
    </div>
{% endif %}
