{% set aggregateRating = '' %}
{% set schemaAggregateRating = '' %}
{% if product.rating.reviewsQuantity > 0 %}
    {% set aggregateRating = 'aggregateRating' %}
    {% set schemaAggregateRating = 'http://schema.org/AggregateRating' %}
{% endif %}

<div itemprop="{{ aggregateRating }}" itemscope itemtype="{{ schemaAggregateRating }}">
    <span class="hide" itemprop="itemReviewed">
        {{ product.name }}
    </span>
    {% if product.rating.reviewsQuantity > 0 %}
        <meta itemprop="reviewCount" content="{{ product.rating.reviewsQuantity }}" />
    {% endif %}

    <div class="rating is-display-inline-block padding-small-left">
        <span class="star-rating tiny">

            {% if product.rating.averagePoint > 0 %}
                <meta itemprop="ratingValue" content="{{ product.rating.averagePoint }}" />
            {% endif %}

            <a class="no-decoration" {{ showReviewLink ? 'ng-click="goToAnchor(\'rowrating\')"' : '' }}>
                {% for star in 1..5 %}
                    <i aria-hidden="true" data-icon="š" class="star {{ product.rating.averagePoint|round >= loop.index ? 'active' }}"></i>
                {% endfor %}
            </a>
        </span>
    </div>

    {% if showReviewLink %}
        {% if product.rating.reviewsQuantity > 0 %}
            <span class="count padding-medium-left">{{ product.rating.reviewsQuantity }} {{ 'product.reviews'|trans }} | <a ng-click="goToAnchor('reviewForm')" title="{{ 'product.write_your_review'|trans }}"> {{ 'product.write_your_review'|trans }}</a></span>
        {% else %}
            <span class="count padding-medium-left">{{ 'product.no_reviews'|trans }} | <a ng-click="goToAnchor('reviewForm')" title="{{ 'product.write_your_review'|trans }}"> {{ 'product.write_your_review'|trans }}</a></span>
        {% endif %}
    {% else %}
        <span class="secondary-color">
            ({{ product.rating.reviewsQuantity }})
        </span>
    {% endif %}
</div>
