<div class="reviews-section-title font-size-large padding-small-top padding-small-bottom">{{ "global.questions_and_answers"|trans | upper }}
    <span class="fb-comments-count" data-href="{{ app.request.uri }}"></span>
</div>
<div class="fb-comments is-underline pull-right sixth-color cursor-pointer" ng-click="productQuestions()">{{ "global.show"|trans | upper ~ ' ' ~ "global.questions_and_answers"|trans | upper }}
    <i aria-hidden="true" data-icon="2" ng-show="fbCommentsVisible" class="switch-arrow-icon padding-small-left position-relative sub-top-0"></i>
    <i aria-hidden="true" data-icon="1" ng-show="!fbCommentsVisible" class="switch-arrow-icon padding-small-left position-relative sub-top-0"></i>
</div>
<div ng-show="fbCommentsVisible" class="fb-comments padding-xlarge-top padding-xlarge-bottom margin-xlarge-top" data-href="{{ app.request.uri }}" data-numposts="5"></div>
