{% if product.hasVariation %}
    <div class="product-option sizes" ng-cloak>
        <div class="product-option-header">
            <span>{{ product.variationType == 'size' ? 'product.sizes'|trans : 'product.options'|trans }}</span>
            {{ size_guide_link(product) }}
        </div>
        <div class="sizes-selector" ng-cloak>
            <label class="variation-label" ng-repeat="(key,simple) in product.simples | orderObjectBy:'attributes.variation'"
                   ng-click="setActiveSimple(simple)" ng-if="simple.active">
                <span class="label-size"
                      ng-class="{'active': simple.sku == activeSimple.sku && activeSimple.stock > 0, 'out-of-stock': simple.stock < 1, 'inactive': simple.sku != activeSimple.sku }">{[ simple.attributes.variation ]}
                </span>
            </label>
        </div>
    </div>
{% endif %}
