{% set picture = app.request.scheme ~ ':' ~ product_image(product.images|first, 'product') %}
<div class="pull-left full-width padding-medium-bottom">
    <a class="no-decoration" href="{{ social.sharing.facebook }}{{ {'app_id':oauth_fb_id, 'display':'page', 'link':app.request.uri, 'picture':picture, 'name':product.getName}|url_encode }}"
       target="_blank">
        <i aria-hidden="true" data-icon="f" class="icon-3x"> </i>
    </a>
    <a class="no-decoration" href="{{ social.sharing.twitter }}{{ {'text':product.getName, 'url':app.request.uri, 'via':social.twitter_account|trim('@')}|url_encode }}"
       target="_blank">
        <i aria-hidden="true" data-icon="t" class="icon-3x"> </i>
    </a>
</div>
