{{ form_start(reviewForm, {'attr': {'class': 'rating-form', 'require-recaptcha': 'true'} }) }}
    <div class="form-group">
        <h3 class="form-title">{{ "reviews.write_your_review"|trans }}</h3>
    </div>
    <div class="form-group required">
        {{ form_label(reviewForm.ratingScore) }}
        {{ form_widget(reviewForm.ratingScore, {'attr': {'star-rating': '5'}}) }}
    </div>
    <div class="form-group required">
        {{ form_label(reviewForm.title) }}
        {{ form_errors(reviewForm.title) }}
        {{ form_widget(reviewForm.title) }}
    </div>
    <div class="form-group required">
        {{ form_label(reviewForm.comment) }}
        {{ form_errors(reviewForm.comment) }}
        {{ form_widget(reviewForm.comment, {'attr': {'placeholder': 'product.comment_review_placeholder'|trans}}) }}
    </div>
    {% if reviewForm.captcha is defined %}
        <div class="form-group">
            <div class="recaptcha">
                {{ form_widget(reviewForm.captcha) }}
            </div>
        </div>
    {% endif %}
    <div class="form-group">
        <button type="submit" class="btn btn-dark btn-m btn-block">{{ "reviews.send_review"|trans }}</button>
    </div>
{{ form_end(reviewForm) }}
