<div class="col-sm-18 col-md-24" >
    <h3 class="padding-large-bottom">{{ 'product.details'|trans }}</h3>
    <div class="col-sm-36">
        <div class="product-description padding-xlarge-left padding-xlarge-right" itemprop="description">
            {{ product.description|raw }}
        </div>
        {# TODO: Enable when we integrate this with the bob adaptor.
        <div class="is-center is-uppercase">
            {{ 'product.was_this_information_useful_to_you'|trans }}

            <button type="submit" class="btn btn-default is-uppercase">{{ 'global.yes'|trans }}</button>
            <button type="submit" class="btn btn-default is-uppercase">{{ 'global.no'|trans }}</button>
        </div>
        #}
    </div>
</div>
<div class="col-sm-18 col-md-12">
    <h3 class="padding-large-bottom is-uppercase">{{ 'product.characteristics'|trans }}</h3>
    <table class="full-width zebra-table">
        <tbody>
            <tr>
                <td class="product-specs-title">{{ 'product.sku_product'|trans }}</td>
                <td itemprop="sku">{{ product.isMarketplace ? product.firstSimple.sku|split('-')|first : product.sku }}</td>
            </tr>
            {# TODO: Check the keys and values of the product from data #}
            {% for key, value in product.attributes.toArray if key not in ['manufacturer_txt', 'package_content', 'short_description', 'video', 'display_product_content', 'description_useful_rating', 'available_for_return', 'available_for_warranty', 'supplier_warranty_months', 'keywords', 'package_height', 'package_length', 'package_weight', 'package_width'] and value and "product.#{key}"|trans != "product.#{key}" %}
                <tr>
                    <td>{{ "product.#{key}"|trans }}</td>
                    <td>{{ value|striptags|raw }}</td>
                </tr>
            {% endfor %}
            {% if product.hasSupplierWarranty %}
                <tr>
                    <td>{{ 'product.supplier_warranty_months'|trans }}</td>
                    <td>{{ product.getSupplierWarrantyMonths }}</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    {% if product.attributes.get('package_content') != '' %}
    <div class="in-the-box-title">{{ 'product.whats_in_the_box'|trans }}</div>
    <table class="zebra-table full-width">
        <tbody>
            <tr>
                <td class="in-the-box-first-column">
                    {{ product.attributes.get('package_content')|raw }}
                </td>
            </tr>
        </tbody>
    </table>
    {% endif %}
</div>
