<div class="full-width">
    <div class="col-lg-36">
        <h3 class="reviews-section-title">{{ 'product.product_reviews'|trans }}</h3>
    </div>
    <div class="col-sm-36 col-md-12">
        <div class="col-sm-18 col-md-36">
            <div class="rating-qualification col-md-36">
                {% if product.rating.reviewsQuantity > 0 %}
                    <span class="rating-qualification-score">
                        {{ 'reviews.qualification'|trans }} {{ product.rating.averagePoint }} {{ 'reviews.from'|trans }} 5
                    </span>
                    <span class="star-rating mini">
                        {% for star in 1..5 %}
                            <i aria-hidden="true" data-icon="š" class="star {{ product.rating.averagePoint|round >= loop.index ? 'active' }}"></i>
                        {% endfor %}
                    </span>
                {% else %}
                    {{ 'reviews.without_reviews'|trans }}
                {% endif %}
            </div>
            <div class="rating-reviews-qualification col-md-36">
                {% if product.rating.reviewsQuantity > 0 %}
                    {% transchoice product.rating.reviewsQuantity with {'%count%': product.rating.reviewsQuantity} %}reviews.review{% endtranschoice %}
                {% else %}
                    {{ 'reviews.be_the_first_to_write_review'|trans }}
                {% endif %}
            </div>
        </div>


        <div class="col-sm-18 col-md-36">
            {% if product.rating.reviewsQuantity > 0 %}
                {% include '::partial/components/review/review_bars.html.twig' with {voteSummary:product.rating.voteSummary, voteSummaryTotals:product.rating.voteSummaryTotals} %}
            {% endif %}
        </div>



    </div>
    <div class="col-sm-36 col-md-24">
        {% if product.rating.reviewsQuantity > 0 %}
            <div class="rating-sorting">
                {# <a href="#" class="load-all-reviews is-uppercase pull-right"><span class="is-weight-700 is-underline">{{ 'reviews.see_all_reviews'|trans }}</span> <i aria-hidden="true" data-icon="1" class="load-all-reviews-arrow"></i></a>{{ 'reviews.order_by'|trans }} <a href="#" class="rating-order major active" title="">{{ 'reviews.order_major'|trans }}</a> <a href="#" class="rating-order minor" title="">{{ 'reviews.order_minor'|trans }}</a> #}
            </div>
            <div class="col-lg-36 secondary-border-bottom margin-xlarge-bottom">
                {% for review in product.rating.reviews %}
                    {% include '::partial/components/review/review_detail.html.twig' with {review:review} %}
                {% endfor %}
            </div>
        {% endif %}

        <div class="col-lg-26" id="reviewForm">
            {% include '::partial/components/product/product_reviews_form.html.twig' %}
        </div>
    </div>

</div>
