<div class="rating is-display-inline-block padding-medium-left">
    <div class="stars">
        <br>
        <div ng-if="review.experienceAverage">
            <i class="ion-ios-star rating-stars rated" ng-repeat="a in (((b=[]).length=review.experienceAverage)&&b) track by $index"> </i>
            <i class="ion-ios-star rating-stars" ng-repeat="a in (((b=[]).length=5-review.experienceAverage)&&b) track by $index"> </i>
        </div>
    </div>
</div>
