<div class="order-details__header is-weight-700 is-uppercase padding-large-top">{{ 'order.details'|trans }}</div>
<div class="order-details row full-width margin-small-bottom padding-large-bottom">
    <div class="order-details__section col-lg-12 col-md-36 margin-small-top">
        <div class="order-details__section-header"><strong>{{ 'order.payment_method'|trans }}</strong></div>
        <div class="order-details__section-body">
            {{ ('payment_methods.' ~ order.payment.paymentMethod.name ~ '.display_name')|trans }}
        </div>
    </div>
    <div class="order-details__section col-lg-12 col-md-36 margin-small-top">
        <div class="order-details__section-header"><strong>{{ 'checkout.shipping_address'|trans }}</strong></div>
        <div class="order-details__section-body">

            {% if order.shipping.address.isStorePickup %}
                <div class="is-weight-700 padding-large-bottom">
                    {{ 'checkout.pickup_your_order'|trans }}:
                    <span class="add-top-3"><i class="padding-small-right icons-oca"></i></span>
                    <span class="padding-small-left">{{ order.shipping.address.pickupStore.name }}</span>
                    <div>{{ order.shipping.address.pickupStore.description }}</div>
                </div>
            {% endif %}

            <ul class="list-unstyled no-margin">
                <li>{{ order.shipping.address.firstName }} {{ order.shipping.address.lastName }}</li>
                <li>{{ order.shipping.address.line1 }} {{ order.shipping.address.streetNumber }} {{ order.shipping.address.apartment }}</li>
                <li>{{ order.shipping.address.line2 }}</li>
                <li>{{ order.shipping.address.postCode }} {{ order.shipping.address.neighborhood }}</li>
                <li>{{ order.shipping.address.municipality }}</li>
                <li>{{ order.shipping.address.city }} {{ order.shipping.address.region }}</li>
                <li>{{ order.shipping.address.mobilePhone }}</li>
            </ul>

        </div>
    </div>
    <div class="order-details__section col-lg-12 col-md-36 margin-small-top">
        <div class="order-details__section-body order-details__summary-section">
            <div class="order-details__summary order-details__summary-subtotal">
                <div class="order-details__summary-price pull-right">
                    {{ order.subtotal|format_money }}
                </div>
                <div class="order-details__summary-label">
                    {{ 'order.sub_total_label'|trans }}
                </div>
            </div>

            {% if order.payment.installments.hasInterest %}
                <div class="order-details__summary order-details__summary-subtotal">
                    <div class="order-details__summary-price pull-right">
                        {{ order.payment.installments.totalInterest|format_money }}
                    </div>
                    <div class="order-details__summary-label">
                        {{ 'order.installment_interest'|trans }}
                    </div>
                </div>
            {% endif %}

            <div class="order-details__summary order-details__summary-shipping">
                <div class="order-details__summary-price pull-right">
                    {{ order.shipping.amount|format_money }}
                </div>
                <div class="order-details__summary-label">
                    {{ 'order.shipping_label'|trans }}
                </div>
            </div>

            {% if wallet_enabled and order.wallet.totalPointsUsed.moneyAmount > 0 %}
                <div class="order-details__summary order-details__summary-shipping">
                    <div class="order-details__summary-price pull-right">
                        - {{ order.wallet.totalPointsUsed|format_money }}
                    </div>
                    <div class="order-details__summary-label">
                        {{ 'electronic_wallet.wallet'|trans }}
                    </div>
                </div>
            {% endif %}

            {% if order.coupon %}
                <div class="order-details__summary order-details__summary-total">
                    <div class="order-details__summary-price pull-right">
                        {{ order.coupon.code }}
                    </div>
                    <div class="order-details__summary-label">
                        {{ 'ORDER_DETAIL_COUPON_CODE'|trans }}
                    </div>
                </div>
                <div class="order-details__summary order-details__summary-subtotal">
                    <div class="order-details__summary-price pull-right">
                        –{{ order.coupon.amount|format_money }}
                    </div>
                    <div class="order-details__summary-label">
                        {{ 'ORDER_DETAIL_COUPON_AMOUNT'|trans }}
                    </div>
                </div>
                {% if order.coupon.type == constant('Linio\\Frontend\\Customer\\Order\\Coupon::TYPE_PERCENT') %}
                    <div class="order-details__summary order-details__summary-subtotal">
                        <div class="order-details__summary-price pull-right">
                            –{{ order.coupon.percent|format_percentage }}
                        </div>
                        <div class="order-details__summary-label">
                            {{ 'ORDER_DETAIL_COUPON_PERCENT'|trans }}
                        </div>
                    </div>
                {% endif %}
            {% endif %}

            <div class="order-details__summary order-details__summary-total">
                <div class="order-details__summary-price pull-right">
                    {{ order.grandTotal|format_money }}
                </div>
                <div class="order-details__summary-label">
                    {{ 'order.total_label'|trans }}
                </div>
            </div>
            {% if order.payment.installments.number > 1 and order.payment.paymentMethod.name != 'VisaNet_WebService' %}
                <div class="order-details__summary order-details__summary-total">
                    <div class="order-details__summary-label">
                        {{ 'order.installments'|trans({'%count%': order.payment.installments.number, '%amount%': order.payment.installments.amount|format_money }) }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

