{% for shipment in trackingHistory %}
    <div class="clearfix secondary-border-bottom padding-large-top fifth-color">
        <div class="col-sm-36 col-md-15 tracking-item-list">
            {% for product in shipment.items %}
                <div class=" padding-medium-bottom clearfix">
                    <img class="product-image-xs pull-left margin-medium-right" src="{{ product_image(product.product.images|first, 'product') }}">
                    <div class="tracking-product-name">{{ product.product.name }}</div>
                    <div class="secondary-color">Cantidad: {{ product.quantity }}</div>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-6">&nbsp;</div>
        <div class="col-sm-36 col-md-15">
            <div class="col-sm-36 padding-medium-bottom">
                <div class="col-sm-11">{{ 'order.tracking.carrier'|trans }}</div>
                <div class="col-sm-25">{{ shipment.carrier }}</div>
            </div>

            <div class="col-sm-36 padding-medium-bottom">
                <div class="col-sm-11">{{ 'order.tracking.number'|trans }}</div>
                <div class="col-sm-25">{{ shipment.trackingCode }}</div>
            </div>

            <div class="col-sm-36 padding-medium-bottom">
                <div class="col-sm-11">{{ 'order.tracking.history'|trans }}</div>
                <div class="col-sm-25">
                    {% for trackingEvent in shipment.trackingEvents %}
                        <div>{{ trackingEvent.createdAt|format_date }}</div>
                        <div class="padding-medium-bottom">{{ trackingEvent.description }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% else %}
    {{ 'order.tracking.no_history'|trans }}
{% endfor %}
