<div class="order-panel">
    <div class="order-body">
        {% for index, package in order.packages %}
            <div class="order-header is-weight-700 is-uppercase">
                <span class="is-display-inline-block">
                    {{ 'order.shipping_state_label'|trans }} <span class="padding-small-left padding-large-right package-{{ package.shipmentStatus ?? 'on_time' }}">{{ package_status(package) }}</span>
                </span>
                {% if package.status not in ['invalid', 'canceled', 'delivered', 'closed', 'refundNeeded', 'refunded', 'returnRequested'] %}
                    <span class="is-display-inline-block padding-xlarge-right">
                        <span class="package-{{ package.shipmentStatus ?? 'on_time' }}">{{ package_delivery_state(package) }}</span>
                        {% if package.shipmentStatus == 'early' %}
                            {% set deliveryStatusCmsKey = cms_markdown_text('global', 'message-delivery-estimate-early') %}
                        {% elseif package.shipmentStatus == 'late' %}
                            {% set deliveryStatusCmsKey = cms_markdown_text('global', 'message-delivery-estimate-delayed') %}
                        {% endif %}
                        {% if package.status == 'shipped' and package.shipmentStatus is not null and package.shipmentStatus != 'on_time' %}
                            <span class="badge-one-line is-display-inline-block">
                                <span class="label-icon tooltip-attached">
                                    <span><i aria-hidden="true" data-icon="?"></i></span>
                                    <span class="tooltip tooltip-border tooltip-bottom is-center package-tooltip">
                                        {{ deliveryStatusCmsKey|raw }}
                                        <p>{{ 'order.original_delivery_date'|trans }}</p>
                                        {{ package.expectedDeliveryDate|format_date }}
                                    </span>
                                </span>
                            </span>
                        {% endif %}
                    </span>
                    <span class="is-display-inline-block padding-xlarge-right">
                        {% if package.updatedDeliveryDate %}
                            {{ 'order.delivery.new_estimated'|trans }} {{ package.updatedDeliveryDate|format_date }}
                        {% else %}
                            {{ 'order.delivery.estimated'|trans }} {{ package.expectedDeliveryDate|format_date }}
                        {% endif %}
                    </span>
                {% endif %}
            </div>

            {# include '::partial/order_package.html.twig' #}
            {# TODO: do the progressbar of the order status. #}

            {% for status, itemsByStatus in package.items %}
                {% for item in itemsByStatus %}
                    <div class="row full-width padding-medium-bottom">
                        <div class="col-sm-36 col-md-26">
                            <div class="order-body__item">
                                <div class="order-body__item-details">
                                    <img class="product-image-xs pull-left margin-medium-right" src="{{ product_image(item.image, 'product') }}">
                                    <strong class="padding-small-right">
                                        {% if item.slug %}
                                            <a href="{{ path('frontend.catalog.detail', {'productSlug': item.slug}) }}">{{ item.name }}</a>
                                        {% else %}
                                            {{ item.name }}
                                        {% endif %}
                                        {% if item.variation %}
                                            -
                                            {% if item.variationType == 'size' %}
                                                {{ 'product.size'|trans }}
                                            {% else %}
                                                {{ 'product.option'|trans }}
                                            {% endif %}
                                            {{ item.variation }}
                                        {% endif %}
                                    </strong>
                                    <span class="secondary-color">|
                                        {{ 'success.order_quantity'|trans }}
                                        {{ item.quantity }}
                                    </span>
                                    <span class="secondary-color">|
                                        {{ item.paidPrice|format_money }}
                                    </span>
                                    <div class="order-body__item-meta padding-medium-bottom">
                                        {{ 'order.shipped_by'|trans({'%seller%': item.seller|trans}) }} {#- {{ 'order.paid_price'|trans({'%total%': item.paidPrice|format_money}) }}#}
                                    </div>
                                    {% if product_available(item.sku) %}
                                        <form action="{{ path('frontend.cart.product.add') }}" method="post">
                                            <input type="hidden" name="sku"  value="{{ item.sku }}">
                                            <button class="btn btn-default btn-sm is-weight-700" type="submit">
                                                {{ 'order.buy_it_again'|trans }}
                                            </button>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% if return_item_enabled %}
                            {# TODO: Uncomment when return item is complete #}
                            {#<div class="col-sm-36 col-md-10">#}
                            {#{% if package.isReturnAllowed  %}#}
                            {# TODO: The button should redirect to a return page with order_id so the user can select the items he would like to return. #}
                            {#<a class="btn btn-default btn-md btn-block is-weight-700" href="">{{ 'order.returns.return'|trans }}</a>#}
                            {#{% endif %}#}
                            {#</div>#}
                        {% endif %}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </div>
</div>
