{% form_theme form _self %}

<div class="order-panel">
    <div class="order-body">
        <div class="padding-xlarge-bottom fade-in" ng-show="orderReturn.hasSuccess">
            <div class="success-color padding-small-bottom">
                <i aria-hidden="true" data-icon="O" class="icon-check-centered"></i> {{ 'order.returns.processing.status'|trans }}
            </div>
            {{ 'order.returns.processing.schedule'|trans }}
        </div>

        <div class="padding-xlarge-bottom">
            <span class="secondary-color padding-medium-top">{{ 'account.select_products_you_want_return'|trans }}</span>
        </div>

        <div class="order-header">
            <span class="is-display-inline-block is-uppercase padding-small-right is-weight-700">
                {{ 'order.number'|trans({'%orderNumber%': order.orderNumber }) }}
            </span>
            <span class="is-display-inline-block padding-xlarge-right secondary-color padding-small-left">
                {{ 'order.purchase_date'|trans({'%purchaseDate%': order.createdAt|format_date}) }}
            </span>
        </div>
        {% for package in order.packages %}
            {% if package.updatedDeliveryDate is defined and package.updatedDeliveryDate|date <= package.expectedDeliveryDate|date %}
                {% set deliveryTimeStatus = 'ontime' %}
            {% else %}
                {% set deliveryTimeStatus = 'late' %}
            {% endif %}
            {% for status, itemsByStatus in package.items %}
                {% for item in itemsByStatus %}
                    <div class="row full-width secondary-color secondary-border-bottom padding-xlarge-bottom padding-xlarge-top">
                        <div class="col-sm-36 padding-xlarge-bottom padding-xlarge-top">
                            <div class="order-body__item{% if not item.isReturnAllowed %} order-disabled{% endif %}" ng-init="orderReturn.items['{{ item.sku }}'] = { selected: false, quantity: {{ item.quantity }} }">
                                <div class="order-body__item-details">
                                    <div class="col-sm-1">
                                        {% if item.isReturnAllowed %}
                                        <input type="checkbox" class="official-checkbox" ng-model="orderReturn.items['{{ item.sku }}'].selected" />
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-4">
                                        <img class="product-image-xs pull-left margin-medium-right" src="{{ product_image(item.sku, 'product') }}">
                                    </div>
                                    <div class="col-sm-15 padding-xlarge-bottom">
                                        <div>
                                            <strong>{{ item.name }}</strong>
                                            <div class="col-sm-36 padding-small-top padding-small-bottom">
                                                <span class="pull-left padding-medium-right">
                                                    {{ 'cart.quantity'|trans }}
                                                </span>
                                                <select class="form-style col-lg-6" ng-model="orderReturn.items['{{ item.sku }}'].quantity" ng-options="quantity for quantity in [] | range:1:{{ item.quantity }} track by quantity"></select>
                                            </div>
                                        </div>
                                        <div class="order-body__item-meta padding-large-bottom">
                                            {{ 'order.shipped_by'|trans({'%seller%': item.seller|trans}) }}
                                        </div>
                                        <div>
                                            {{ item.paidPrice|format_money }}
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="padding-small-left package-{{ deliveryTimeStatus }}">{{ package_status(package) }}</div>
                                        <div class="padding-small-left ">
                                            {% if package.updatedDeliveryDate %}
                                                <strong class="twelfth-color">{{ 'order.delivery.new_estimated'|trans }}</strong> {{ package.updatedDeliveryDate|format_date }}
                                            {% elseif package.expectedDeliveryDate %}
                                                <strong class="twelfth-color">{{ 'order.delivery.estimated'|trans }}</strong> {{ package.expectedDeliveryDate|format_date }}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        {% if not item.isReturnAllowed %}
                                            <div class="first-color">{{ 'order.returns.not_returnable'|trans }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row full-width secondary-color secondary-border-bottom padding-xlarge-bottom padding-xlarge-top" ng-show="orderReturn.items['{{ item.sku }}'].selected">
                        <div class="col-sm-26 padding-small-left padding-xlarge-bottom">
                            {{'order.returns.describe_return_process'|trans}}

                            <div class="col-sm-36 form-group padding-large-top">
                                <div class="col-sm-20">
                                    <div class="col-sm-36">
                                        <span class="circled-number background-fifth-color">1</span> {{ 'order.returns.reason_for_return'|trans }}
                                    </div>
                                    <div class="col-sm-33-right">
                                        {{ form_field(form.reason, {'attr': {'ng-model': "orderReturn.items['#{item.sku}'].reason",'class': 'form-style col-sm-36 pull-left'}}) }}
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-36 form-group padding-large-top">
                                <div class="col-sm-20">
                                    <div class="col-sm-36">
                                        <span class="circled-number background-fifth-color">2</span> {{ 'order.returns.choose_return_action'|trans }}
                                    </div>
                                    <div class="col-sm-33-right">
                                        {{ form_field(form.action, {'attr': {'ng-model': "orderReturn.items['#{item.sku}'].action",'class': 'form-style col-sm-36 pull-left'}}) }}
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-36 form-group padding-large-top">
                                <div class="col-sm-20">
                                    <div class="col-sm-36">
                                        <div class="col-sm-3"><span class="circled-number background-fifth-color">3</span></div>
                                        <div class="col-sm-33-right"> {{ 'order.returns.provide_description'|trans }}</div>
                                    </div>
                                    <div class="col-sm-33-right">
                                        <textarea rows="3" class="form-control" placeholder="{{ 'order.returns.comment_placeholder'|trans }}" ng-model="orderReturn.items['{{ item.sku }}'].comment"></textarea>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endfor %}
        <div class="padding-xlarge-bottom padding-xlarge-top">
            <span class="secondary-color padding-medium-top">{{ 'account.do_you_have_doubts'|trans }} {{ 'account.check_out_our_faqs'|trans }}</span>

            <button class="pull-right btn btn-md" ng-class="orderReturn.canSubmit() ? 'btn-action' : 'disabled-btn'" ng-disabled="!orderReturn.canSubmit()" ng-click="orderReturn.submit('{{ order.orderNumber }}')">
                {{ 'order.returns.return'|trans }}
            </button>
        </div>
    </div>
</div>

{% block form_field %}
    {{- block('choice_widget') -}}
{% endblock form_field %}
