{% if order_tracking_enabled %}
    {% set hasTrackingInformation = false %}

    {% for package in order.packages %}
        {% set hasTrackingInformation = package.isTrackingAllowed or hasTrackingInformation %}
    {% endfor %}

    {% if hasTrackingInformation %}
        <a class="btn btn-default btn-md is-weight-bold" href="{{ path('frontend.customer.orders.tracking', {orderNumber: order.orderNumber}) }}">
            <i data-icon="w" class="invoice-icon"></i>
            {{ 'order.tracking.track'|trans }}
        </a>
    {% endif %}
{% endif %}
