{% if gtm_enabled %}
    {% set dataLayer = get_data_layer() %}
    {% if dataLayer|length > 0 %}
        <script>
            dataLayer =[{{ dataLayer|json_encode|raw }}];
        </script>
    {% endif %}

    {# Google Tag Manager #}
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-{{ gtm_code }}" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script defer>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.defer=true;j.src= '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-{{ gtm_code }}');</script>
    {# End Google Tag Manager #}
{% endif %}
