{% if fingerprint_enabled %}

{% set image = 'https://h.online-metrix.net/fp/clear.png?org_id=' ~ fingerprint_provider_id ~ '&session_id=' ~ app.session.id %}
{% set flash = 'https://h.online-metrix.net/fp/fp.swf?org_id=' ~ fingerprint_provider_id ~ '&session_id=' ~ app.session.id %}
{% set js = 'https://h.online-metrix.net/fp/tags.js?org_id=' ~ fingerprint_provider_id ~ '&session_id=' ~ app.session.id %}

<p style="background:url({{ image|raw }}&m=1)"/><img src="{{ image|raw }}&m=2" alt="">
<object type="application/x-shockwave-flash" data="{{ flash|raw }}" width="1" height="1" id="thm_fp"><param name="movie" value="{{ flash|raw }}"/>
<script type="text/javascript" src="{{ js|raw }}" defer></script>

{% endif %}
