<div class="full-width">
    {{ cms_global('success-' ~ order.payment.paymentMethod.name|lower) }}

    {% if completedOrder.paymentResult %}
    <div class="success-partial">
        <div class="pagoefectivo-header">
            <div class="icons-pagoefectivo margin-small-top margin-small-bottom margin-small-left"></div>
            <a href="{{ completedOrder.paymentResult.iframe_url }}"><button class="btn-account btn-block btn-lg font-size-large is-weight-700 margin-medium-bottom margin-medium-right margin-medium-top orders-btn pagoefectivo-print pull-right "> {{ 'success.pago_efectivo.print'|trans }}
     </button></a>
        </div>
        <div class="padding-medium-right padding-medium-left padding-xlarge-top ">
            <div class="success-partial-row partial-row-margin secondary-border-bottom padding-xlarge-bottom">
                <h2>{{ 'success.pago_efectivo.hi'|trans }} {{ app.user.firstName }}!</h2><br>
                {{ 'success.pago_efectivo.order_number'|trans }} {{ order.orderNumber }}
                {{ 'success.pago_efectivo.is_a_success'|trans }} {{ app.user.email }}
                {{ 'success.pago_efectivo.confirm_pay'|trans }} {{ order.grandTotal|format_money }}.
            </div>
            <div class="success-partial-row padding-large-bottom partial-row-margin order-info-style margin-large-bottom secondary-border-bottom">
                <div class="icons-pagoefectivo"></div>
                <div><strong>{{ 'success.pago_efectivo.concept'|trans }}</strong> {{ completedOrder.paymentResult.concept }}</div>
                <div><strong>{{ 'success.pago_efectivo.code_of_payment'|trans }}</strong> <span class="font-size-large">{{ completedOrder.paymentResult.cip }}</span></div>
                <div><img src="{{ completedOrder.paymentResult.barcode_url }}" class="barcode" /></div>
            </div>
            <div class="secondary-border-bottom" >
                <p>{{ 'success.pago_efectivo.must_make_the_payment'|trans }} {{ completedOrder.paymentResult.limit_day }} {{ completedOrder.paymentResult.limit_date }} {{ 'success.pago_efectivo.hours'|trans }} {{ completedOrder.paymentResult.limit_time }} {{ 'success.pago_efectivo.otherwise_this_expire'|trans }}</p>
                <p>{{ 'success.pago_efectivo.indicate_that_you_are_making_a_payment'|trans }} <strong>{{ 'success.pago_efectivo.bank_list'|trans }}</strong></p>
                <p>{{ 'success.pago_efectivo.account_does_not_apply_to_linio'|trans }}</p>
                <p><a href="{{ completedOrder.paymentResult.iframe_url }}">{{ 'success.pago_efectivo.where_and_how_to_pay'|trans }}</a></p>
                <iframe hidden src="{{ completedOrder.paymentResult.iframe_url }}" style="width:900px;height:600px;"></iframe>
            </div>
        </div>
    </div>
    {% endif %}
</div>
