<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% for asset in getCssAssets() %}
            <link rel="stylesheet" type="text/css" href="{{ asset }}">
        {% endfor %}

        {% block body %}{% endblock %}
        {% for asset in getJsAssets() %}
            <script type="text/javascript" src="{{ asset }}"></script>
        {% endfor %}
    </body>
</html>
