<div class="full-width">
    {% set form = get_payment_method_form(paymentMethod) %}
    {{ cms_global('payment-' ~ paymentMethod.name|lower) }}

    {% if form %}
        <div class="row full-width pull-left no-padding-left">
            <div class="six-grid padding-medium-right">
                <div class="six-grid padding-large-right">
                    {{ form_start(form, {'attr': {'broadcast-validation': ''}}) }}
                    <div>{{ form_errors(form) }}</div>
                    <div>{{ form_widget(form) }}</div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    {% endif %}
</div>
