{% set home = 'http://' ~ app.request.getHttpHost %}
<i class="payment-error-icon" aria-hidden="true" data-icon="!"> </i>
<span class="payment-error-head">{{ 'checkout.problem_with_your_purchase'|trans }}</span>
<span class="payment-error-desc">{{ 'checkout.purchase_could_not_be_processed'|trans }}</span>
<span class="payment-error-desc">{{ 'checkout.recommend_different_payment'|trans }}</span>
<div class="payment-error-buttons-row">
	<a href="{{ home }}" class="button-container left col-sm-18">
		<button class="payment-error-button btn btn-alternative">
			{{ 'checkout.go_to_store'|trans }}
		</button>
	</a>
	<a href="{{ home }}/checkout/payment" class="button-container right col-sm-18">
		<button class="payment-error-button btn btn-dark-outline">
			{{ 'checkout.change_payment'|trans }}
		</button>
	</a>
</div>
