<div class="padding-xlarge-top is-center">
    <i aria-hidden="true" data-icon="!" class="padding-xlarge-top icon-4x payment-method-icon"></i>
    <div class="padding-small-top font-size-large is-weight-bold">{{ 'checkout.choose_payment_method'|trans }}</div>
</div>
