{% extends ':Customer:index.html.twig' %}

{% block bodyTag %}
    <body ng-app="linio">
{% endblock %}

{% block account_content %}
    <ui-messenger></ui-messenger>
    <address-book removable="true"></address-book>
{% endblock %}
