{% extends ':Customer:index.html.twig' %}

{% block bodyTag %}
    <body ng-app="linio">
{% endblock %}

{% block account_content %}
    <div class="account-border-gray category-tittle full-width h-title-large pull-left secondary-border-bottom">
        <h2 class="is-weight-700 not-uppercase padding-large-bottom padding-large-top">
            {{'profile.section'|trans }}
        </h2>
    </div>

    <div class="col-sm-36 secondary-border-bottom">
        <div class="category-title full-width padding-xlarge-bottom padding-xlarge-top pull-left">
            <div class="category-tittle h-title-large is-weight-700 padding-large-right pull-left not-uppercase">
                {{ 'reviews.my_reviews'|trans }}
            </div>
        </div>
    </div>

    {% if reviewableOrders.result|length == 0 %}
        <div class="padding-xlarge-top seller-no-reviews">
            <i aria-hidden="true" data-icon="e" class="seller-no-reviews-icon"></i>
            <div class="padding-medium-top">{{ 'reviews.no_pending_reviews'|trans }}</div>
        </div>
    {% endif %}

    <div class="col-lg-34 col-sm-36 padding-large-bottom">
        {% for order in reviewableOrders.result %}
            <div class="full-width pull-left padding-xlarge-top {% if loop.index > 1  %}secondary-border-top{% endif %}">
                <div class="is-uppercase padding-large-top">{{ 'reviews.rate_your_order'|trans }} <a class="is-underline" href="{{ path('frontend.customer.orders.detail', { 'orderNumber': order.orderNumber }) }}">{{ order.orderNumber }}</a></div>
                {% for seller in order.sellers %}
                    <div>
                        {% if loop.index > 1 %}
                            <div class="seller-review-border seller-rating-form-size"></div>
                        {% endif %}
                        <div class="margin-medium-bottom">
                            {{ 'reviews.purchase_date'|trans }}: {{ order.orderDate|format_date }}

                            {% if seller.products %}
                                <span class="padding-medium-left padding-medium-right font-size-large">|</span>
                                {% transchoice seller.products|length with {'%count%': seller.products|length} %}reviews.products_quantity{% endtranschoice %}
                            {% endif %}
                        </div>

                        <div>
                            {{ 'reviews.seller'|trans }}
                            {% if seller.seller.name == 'Linio' %}
                            <span class="is-weight-bold margin-small-left">{{ seller.seller.name }}</span>
                            {% else %}
                            <a class="is-weight-bold margin-small-left" href="{{ path('frontend.catalog.index.seller', {'seller': seller.seller.slug}) }}">{{ seller.seller.name }}</a>
                            {% endif %}
                        </div>

                        {% if seller.review %}
                            {{ 'reviews.qualification'|trans }}
                            <span class="rating-seller-color">
                                <span class="customer-review-rating star-rating" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                                    <meta itemprop="ratingValue" content="{{ seller.review.rating }}">
                                    {% for star in 1..5 %}
                                        <i aria-hidden="true" data-icon="š" class="star{{ seller.review.rating >= loop.index ? ' active' }}"></i>
                                    {% endfor %}
                                </span>
                            </span>
                            <div class="customer-review-title is-weight-bold padding-medium-top" itemprop="name">{{ seller.review.title }}</div>
                            <div class="customer-review-body" itemprop="reviewBody">
                                {{ seller.review.detail }}
                            </div>
                        {% else %}
                            {% if seller.seller.name != 'Linio' and seller.seller.name is not empty %}
                            <div class="full-width pull-left margin-xlarge-bottom">
                                <seller-review-form order-number="{{ order.orderNumber }}" seller-id="{{ seller.seller.id }}"></seller-review-form>
                            </div>
                            {% endif %}
                        {% endif %}
                    </div>

                    <div class="is-uppercase margin-large-bottom margin-large-top">
                        {{ 'reviews.title_about_products'|trans }}
                    </div>
                    {% for product in seller.products %}
                        <div class="margin-xlarge-bottom seller-rating-form-size clearfix">
                            <div class="col-sm-7">
                                <img class="review-product-image margin-medium-right" ng-src="{{ product_image(product.sku, 'product') }}">
                            </div>
                            <div class="col-sm-29">
                                <div class="is-weight-bold padding-small-bottom catalog-product-title">
                                    {{ product.name }}
                                </div>
                                <div class="padding-medium-top">
                                    <a class="btn btn-outline-secondary btn-my-reviews" href="{{ productPath(product) ~ '#reviewForm' }}">{{ 'reviews.rate_product'|trans }}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endfor %}

        {% if reviewableOrders.pages > 1 %}
            <div class="catalog-bottom">
                <div class="border-pagination"> </div>
                <div class="catalog-pagination">
                    {% include '::partial/components/pagination.html.twig' with {'currentPage': reviewableOrders.current, 'pageCount': reviewableOrders.pages} %}
                </div>
            </div>
        {% endif %}
    </div>

    {% include ":Account/SellerReview:components/sellerReviewForm.html.twig" %}
{% endblock %}
