<div class="full-width">
    {{ cms_global('success-' ~ order.payment.paymentMethod.name|lower) }}

    {% if completedOrder.paymentResult %}
    <div class="success-partial">
        <div class="success-center-col">
            <div class="success-partial-row partial-row-margin">
                <span class="order-info-style margin-large-bottom">{{ 'success.visanet.prepare_order_to_send'|trans }}</span>
            </div>
            <div class="success-partial-row partial-row-margin">
                <p>{{ 'success.visanet.installments'|trans({'%installments%': completedOrder.paymentResult.installments, '%amount%': completedOrder.paymentResult.amount}) }}</p>
                <a class="success-partial-button btn btn-action btn-m btn-block font-size-tall" href="{{ path('frontend.customer.orders.detail', {orderNumber: order.orderNumber}) }}">{{ 'success.view_order'|trans }}</a>
            </div>
        </div>
    </div>
    {% endif %}
</div>
