{% if package.deliveredAt %}
    {# package os already delivered. #}
    Delivered Wednesday: Se entrego el miercoles
    Your package was delivered. Tu pedido ha sido entregado.
{% elseif package.shipmentStatus == 'on_time' %}
    {# package will arrive ontime. #}
    Arriving Wednesday: Tu pedido llegará el miercoles
    On the way: Tu pedido está en camino
{% elseif package.shipmentStatus == 'early' %}
    {# package will arrive early than expected. #}
    Arriving Wednesday: Tu pedido llegará el miercoles
    On the way: Tu pedido llegará antes de lo previsto
{% elseif package.shipmentStatus == 'delayed' %}
    {# package will be delayed. #}
    Arriving Wednesday: Tu pedido llegará el miercoles
    On the way: Lo sentimos, Tu pedido está retrasado
{% endif %}
