{% extends ':Catalog:index.html.twig' %}

{% block metaTitle %}
    {% set metaTitle = seo_title() ?: 'global.purchase'|trans ~ ' ' ~ 'global.items'|trans ~ ' ' ~ catalogTitle|capitalize ~ ' ' ~ 'global.in'|trans ~ ' ' ~ 'global.site_name'|trans ~ ' ' ~ country_name %}

    <title>{% block title %}{{ metaTitle }}{% endblock %}</title>
    <meta property="og:title" content="{{ metaTitle }}" />
{% endblock %}

{% block metaDescription %}
    {% set descriptionText = seo_description() ?: 'global.shipping_online_brand'|trans ~ ' ' ~ catalogTitle|capitalize ~ ' ' ~ 'global.in'|trans ~ ' ' ~ country_name ~ '. ' ~ 'global.find_brand'|trans({'%brand%': catalogTitle|capitalize}) ~ ' | ' ~ 'global.pay_on_delivery'|trans %}

    <meta name="Description" content="{{ descriptionText }}"/>
    <meta property="og:description" content="{{ descriptionText }}"/>
{% endblock %}
