{% extends ':Catalog:index.html.twig' %}

{% block metaTitle %}
    {% set metaTitle = seo_title() ?: 'global.purchase'|trans ~ ' ' ~ catalogTitle|replace({'/':''}) ~ ' ' ~ 'global.in'|trans ~ ' ' ~ 'global.site_name'|trans ~ ' ' ~  country_name %}

    <title>{% block title %}{{ metaTitle }}{% endblock %}</title>
    <meta property="og:title" content="{{ metaTitle }}" />
{% endblock %}

{% block metaDescription %}
    {% set descriptionText = seo_description() ?: 'global.shipping_online'|trans ~ ' ' ~ catalogTitle|replace({'/':''}) ~ ' ' ~ 'global.sending_to_all'|trans|replace({'-':''}) ~ ' ' ~  country_name ~ ' | ' ~ 'global.find'|trans ~ ' ' ~ catalogTitle|replace({'/':''}) ~ ' ' ~ 'global.best_price'|trans ~ ' | ' ~ 'global.pay_on_delivery'|trans ~ '.' %}

    <meta name="Description" content="{{ descriptionText }}"/>
    <meta property="og:description" content="{{ descriptionText }}"/>
{% endblock %}
