{% extends ':Catalog:index.html.twig' %}

{% block appIndexes %}
    {{ get_category_app_indexes(category)|raw }}
{% endblock %}

{% block metaTitle %}
    {% set metaTitle = seo_title() ?: 'global.purchase'|trans ~ ' ' ~ catalogTitle ~ ' ' ~ 'global.in'|trans ~ ' ' ~ 'global.site_name'|trans ~ ' ' ~ country_name %}

    <title>{% block title %}{{ metaTitle }}{% endblock %}</title>
    <meta property="og:title" content="{{ metaTitle }}" />
{% endblock %}

{% block metaDescription %}
    {% set descriptionText = seo_description() ?: 'global.shipping_online'|trans ~ ' ' ~ catalogTitle  ~ ' ' ~ 'global.sending_to_all'|trans|replace({'-':''}) ~ ' ' ~ country_name ~ ' ' ~ 'global.find_variety'|trans({'%category%': catalogTitle}) ~ ' | ' ~ 'global.pay_on_delivery'|trans ~ '.' %}

    <meta name="Description" content="{{ descriptionText }}"/>
    <meta property="og:description" content="{{ descriptionText }}"/>
{% endblock %}
