{% extends ':Cms/content_type:static_page.html.twig' %}

{% block metaTitle %}
    {% set metaTitle = seo_title() ?: 'global.purchase'|trans ~ ' ' ~  category ~ ' ' ~ 'global.in'|trans ~ ' ' ~ 'global.site_name'|trans ~ ' ' ~ country_name %}

    <title>{% block title %} {{ metaTitle }} {% endblock %}</title>
    <meta property="og:title" content="{{ metaTitle }}" />
{% endblock %}

{% block metaDescription %}
    {% set descriptionText = seo_description() ?: 'global.shipping_online'|trans ~ ' ' ~ category  ~ ' ' ~ 'global.sending_to_all'|trans ~ ' ' ~ country_name ~ ' ' ~ 'global.find_variety'|trans({'%category%': category}) ~ ' | ' ~ 'global.pay_on_delivery'|trans %}

    <meta name="Description" content="{{ descriptionText }}"/>
    <meta property="og:description" content="{{ descriptionText }}"/>
{% endblock %}
