{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ getSpecificCss('main.css') }}">
{% endblock %}

{% block body %}

<div class="department-page">
	<div class="department-box">
		<div class="department-head"><span class="department-title">Departamento</span></div>
		{% include '::partial/components/department/2_banners_883x289_289x289.html.twig' %}
		{% include '::partial/components/department/3_banners_388x190.html.twig' %}

		{% include '::partial/components/department/3_banners_586x289_289x289.html.twig' %}
		{% include '::partial/components/department/4_banners_289x190.html.twig' %}
	</div>
	<div class="department-box">
		<div class="department-head"><span class="department-title">Tendencias</span></div>
		{% include '::partial/components/department/3_banners_388x322.html.twig' %}

		{% include '::partial/components/department/6_banners_190x322.html.twig' %}
	</div>
</div>

{% endblock %}
