{% extends '::base.html.twig' %}

{% block metaTitle %}
    {% set metaTitle = seo_title() ?: '➢ ' ~ 'global.purchase'|trans ~ ' ' ~ product.name ~ ' ' ~ 'global.online'|trans ~ ' | ' ~ 'global.site_name'|trans ~ ' ' ~ country_name %}

    <title>{% block title %}{{ metaTitle }}{% endblock %}</title>
    <meta property="og:title" content="{{ metaTitle }}" />
    <meta name="twitter:title" content="{{ metaTitle }}">
    <meta property="fb:admins" content="{{ oauth_fb_id }}"/>
{% endblock %}

{% block twitterMeta %}
    <meta name="twitter:site" content="{{ social.twitter_account }}">
    <meta name="twitter:creator" content="{{ social.twitter_account }}">
    <meta name="twitter:image:src" content="{{ ogImage }}">
{% endblock %}

{% block metaDescription %}
    {% set descriptionText = seo_description() ?: 'global.purchase'|trans ~ ' ' ~ product.name ~ ' ' ~ 'global.online'|trans ~ ' ✓ ' ~ 'global.find_best_products'|trans ~ ' ' ~ product.category.name ~ ' ' ~ product.brand.name ~ ' ' ~ 'global.in'|trans  ~ ' ' ~ 'global.site_name'|trans  ~ ' ' ~ country_name ~ ' ✓' %}

    <meta name="Description" content="{{ descriptionText }}"/>
    <meta property="og:description" content="{{ descriptionText }}"/>
    <meta name="twitter:description" content="{{ descriptionText }}">
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ getSpecificCss('main.css') }}">
{% endblock %}

{% block lastBreadcrumb %}
    <span class="breadcrumb-item last" data-position="">{{ product.name }}</span>
{% endblock %}

{% block facebookComments %}
    {# Facebook Comments Plugin #}
    {% include '::partial/facebook_sdk.html.twig' %}
{% endblock %}

{% block appIndexes %}
    {{ get_product_app_indexes(product)|raw }}
{% endblock %}

{% block body %}

    {% block bodyTag %}
        <body ng-app="linio" scroll ng-class="{'has-sticky-header':initSticky, 'is-menu-active':overlayEnabled}">
    {% endblock %}

    <div ng-controller="ProductViewController">
        <script>
            window.product = {
                data: {{ productJson|raw }}
            }
        </script>
        <section class="catalog-detail">
            <div class="product-container" itemscope itemtype="http://schema.org/Product">
                <meta itemprop="sku" content="{{ product.sku }}" />
                <meta itemprop="image" content="{{ product_image(product.images|first, 'product') }}" />
                <div class="full-width">
                    {% include '::partial/components/product/product_gallery.html.twig'  with { 'gallery': product.images } %}
                    <div class="col-sm-36 col-md-24 padding-xlarge-bottom padding-xlarge-left">
                        <div class="col-sm-36 padding-large-bottom item-title-container">
                            <header>
                                <h1 class="title no-margin-top not-uppercase" itemprop="name">{{ product.getName }}</h1>
                                <div>
                                    <div class="brand pull-left padding-xlarge-right" id="startZoom">
                                        {{ 'product.brand'|trans }} <a href="{{ path('frontend.catalog.index.brand', {'brandSlug': product.brand.slug}) }}" class="is-underline"><span itemprop="brand">{{ product.brand.name }}</span></a> | <a href="{{ path('frontend.catalog.index.category_brand', {'category': product.category.slug, 'brand': product.brand.slug}) }}" class="is-underline"><span itemprop="brand">{{ 'global.more'|trans }} {{ product.category.name }} {{ product.brand.name }}</span></a>
                                    </div>
                                    <div class="rating-margin is-display-inline-block">
                                        {% include '::partial/components/product/product_rating.html.twig' with {'getQuantity': true, 'showReviewLink': true} %}
                                    </div>
                                </div>
                                {% include '::partial/components/product/product_social_sharing.html.twig' with {'product': product } %}
                            </header>
                        </div>
                        <div class="product-description-container summary col-sm-21 padding-xlarge-left">
                            <div class="full-width pull-left hidden-sm hidden-xs margin-large-bottom">
                                {# TODO: Enable social buttons
                                <a href="#" class="social-button"><i aria-hidden="true" data-icon="f" class="social-button-icon"> </i></a>
                                <a href="#" class="social-button"><i aria-hidden="true" data-icon="t" class="social-button-icon"> </i></a>
                                #}
                            </div>
                            {% if (product.linioPlusLevel > 0) or product.hasFreeShipping or product.isPostPaymentAllowed or product.isImported or product.hasFreeStorePickup or product.isOversized or product.hasPromiseDelivery %}
                                <ul class="badges list-unstyled is-display-inline-block">
                                    {% if not product.isMarketplace or product.firstSimple.linioPlusLevel > 0 %}
                                        {% set showLinioPlusBadge = product.allSimplesAreLinioPlus ? 'true' : 'false' %}
                                        <li class="badge pull-left padding-small-right" ng-show="activeSimple.linioPlusLevel > 0 || {{ showLinioPlusBadge }}" ng-cloak>
                                            <span class="badge-linio-plus" ng-show="activeSimple.linioPlusLevel == 1 || {{ showLinioPlusBadge }}">
                                                {% include '::partial/components/linio_plus_badge.html.twig' %}
                                            </span>
                                            <span class="badge-linio-plus48" ng-show="activeSimple.linioPlusLevel == 2">
                                                {% include '::partial/components/linio_plus48_badge.html.twig' %}
                                            </span>
                                        </li>
                                    {% elseif product.linioPlusLevel == 1 and product.firstSimple.linioPlusLevel == 0 %}
                                        <li class="badge pull-left plus-program padding-small-right">
                                            <span class="badge-text padding-small-right">
                                                {{ 'product.not_apply'|trans }}
                                            </span>
                                            <i class="badges-plus-logo" aria-hidden="true" data-icon="å"></i>
                                        </li>
                                    {% elseif product.linioPlusLevel == 2 and product.firstSimple.linioPlusLevel == 0 %}
                                        <li class="badge pull-left plus-program padding-small-right">
                                            <span class="badge-text padding-small-right">
                                                {{ 'product.not_apply'|trans }}
                                            </span>
                                            <i class="badges-plus-logo" aria-hidden="true" data-icon="Å"></i>
                                        </li>
                                    {% endif %}

                                    {% if product.linioPlusLevel == 0 and product.hasFreeShipping %}
                                        <li class="badge pull-left padding-small-right" ng-show="activeSimple.hasFreeShipping == 1">
                                            <span class="badge-text">
                                                {{ 'product.free_shipping'|trans }}
                                            </span>
                                        </li>

                                    {% elseif product.hasFreeStorePickup and store_pickup_enabled %}
                                        <li class="badge pull-left padding-small-right">
                                            <span class="badge-text">
                                                {{ 'catalog.free_store_pickup'|trans }}
                                            </span>
                                        </li>
                                    {% endif %}

                                    {% if product.isPostPaymentAllowed %}
                                        <li class="badge pull-left padding-small-right">
                                            <span class="badge-text">
                                                {{ 'product.msi'|trans }}
                                            </span>
                                        </li>
                                    {% endif %}

                                    {% if product.isOversized %}
                                        <li class="badge pull-left padding-small-right">
                                            <span class="badge-text">
                                                {% include '::partial/door_delivery.html.twig' %}
                                            </span>
                                        </li>
                                    {% endif %}

                                    {% if product.firstSimple.expressInvoiceAvailable %}
                                        <li class="badge pull-left padding-small-right">
                                            <i class="badge-icon invoice-icon" aria-hidden="true" data-icon="Ē"></i>
                                            <span class="badge-text is-underline">
                                                {{'product.express_invoice'|trans }}
                                            </span>
                                        </li>
                                    {% endif %}

                                    {% if product.hasPromiseDelivery %}
                                        <li class="badge pull-left padding-small-right">
                                            <span class="badge-text badge-promise-delivery is-underline">
                                                {{ 'product.promise_delivery_badge'|trans }}
                                            </span>
                                        </li>
                                    {% endif %}
                                </ul>
                            {% endif %}

                            <div class="h-title-tall is-weight-700 margin-medium-bottom margin-medium-top "ng-cloak>
                                <span ng-init="activeSimple.stock='{{ product.firstSimple.stock }}'"
                                      ng-bind="activeSimple.stock"
                                      ng-class="{'is-inline-block': activeSimple.stock < 6, 'hide': activeSimple.stock > 5}"
                                      class="">
                                    {{ product.firstSimple.stock }}
                                </span>
                                <span ng-class="{'is-inline-block': activeSimple.stock < 6, 'hide': activeSimple.stock > 5}">
                                    {{ 'product.amount_available'|trans }}
                                </span>
                            </div>

                            {% if product.isImported %}
                                <div class="alert-imported-product">
                                    <div class="badge-imported badge-alert">
                                        <i data-icon="ē" class="add-top-2"></i>
                                        {{ 'product.product_to_import'|trans }}
                                    </div>
                                    <div class="international-shipping-cms-block">
                                        {{ cms_global('product_import_message') }}
                                    </div>
                                </div>
                            {% endif %}

                            <div class="short-description">
                                {{ product.attributes.get('short_description')|raw }}
                            </div>

                            {% for disclaimerMessage in disclaimerMessages %}
                                <div class="disclaimer-message padding-small-top padding-small-bottom fifth-color">
                                    {{ disclaimerMessage }}
                                </div>
                            {% endfor %}

                            {% include '::partial/components/product/product_other_options.html.twig' with { 'product': product } %}
                            {% include '::partial/components/product/product_option_sizes.html.twig' with { 'product': product } %}
                            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                <meta itemprop="priceCurrency" content="{{ money_formatter.getCurrencyCode }}" />
                                <meta itemprop="price" content="{{ product.firstSimple.price.getMoneyAmount }}" />
                                <meta itemprop="availability" href="http://schema.org/{{ product.outOfStock ? 'OutOfStock' : 'InStock' }}">
                                {% include '::partial/components/product/product_seller_ratings.html.twig' with { 'product': product } %}
                            </div>
                        </div>
                        <div class="price-options col-sm-15" id="endZoom">
                            <form action="{{ path('frontend.cart.product.add') }}" method="post">
                                <input type="hidden" name="sku" ng-value="activeSimple.sku" value="{{ product.firstSimple.sku }}">
                                {% include '::partial/components/product/product_price.html.twig' with { 'product': product } %}
                                <div class="product-buttons padding-xlarge-top padding-xlarge-bottom">
                                    <div class="pull-left tooltip-attached full-width">
                                        <button ng-disabled="!activeSimpleExists()"
                                                class="btn btn-lg btn-block margin-medium-bottom"
                                                ng-class="{'disabled-btn': !activeSimpleExists() || activeSimple.stock < 1, 'btn-action': activeSimpleExists() && activeSimple.stock > 0}"
                                                type="submit">
                                            {{ product.firstSimple.outOfStock ? 'global.sold_out'|trans : 'product.buy_now'|trans }}
                                        </button>
                                        {% if not product.firstSimple.outOfStock %}
                                            <span ng-if="!activeSimpleExists() || activeSimple.stock < 1" class="tooltip tooltip-border">Debes elegir una variación del producto.</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </form>

                            {% if not product.outOfStock and product.deliveryTimeFromFirstSimple >= 1 %}
                                {% if product.deliveryTimeFromFirstSimple == 1 %}
                                    {% set deliveryTime = 'product.delivery_time_single'|trans({'%delivery_time%': product.deliveryTimeFromFirstSimple }) %}
                                {% else %}
                                    {% set deliveryTime = 'product.delivery_time_multiple'|trans({'%delivery_time%': product.deliveryTimeFromFirstSimple }) %}
                                {% endif %}

                                {% if product.seller.operationType != 'granular_import' %}
                                    <span class="badge-one-line success-color tooltip-attached pull-left">{{ deliveryTime }}
                                        <span class="label-icon ">
                                            <span>
                                                <i aria-hidden="true" data-icon="?"></i>
                                            </span>
                                            <span class="tooltip tooltip-shipping">
                                                {{ cms_global('estimated_date_message') }}
                                            </span>
                                        </span>
                                    </span>
                                    {% if product.isDeliveredByChristmas %}
                                        <span class="badge-one-line success-color margin-small-top is-relative">
                                            <i aria-hidden="true" data-icon="Č" class="summary-tree-icon"></i>
                                            <span class="summary-tree-text">
                                                {{ 'product.delivery_before_christmas'|trans}}
                                            </span>
                                        </span>
                                        <div class="tenth-color margin-small-top">
                                            {{ cms_global('product_christmas_promise') }}
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endif %}

                            {% set cmsUspMenu = cms_usp_menu('product', true) %}

                            {% if cmsUspMenu %}
                                <div class="pull-left full-width">
                                    {{ cmsUspMenu|raw }}
                                </div>
                            {% endif %}

                        </div>
                    </div>
                </div>

                <!-- Quick-Links -->
                <div class="quick-links">
                    {% if product.hasBundles %}
                        <span class="quick-links-title secondary-border-right">
                            <a class="is-weight-700" ng-click="goToAnchor('rowbundles')">{{ 'product.show_available_bundles'|trans }}</a>
                        </span>
                    {% endif %}

                    {% if product.marketplaceChildren|length > 1 %}
                        <span class="quick-links-title secondary-border-right">
                            <a class="is-weight-700" ng-click="goToAnchor('go-to-sellers')">{{ 'product.show_other_sellers'|trans }}</a>
                        </span>
                    {% endif %}

                    <span class="quick-links-title secondary-border-right">
                        <a class="is-weight-700" ng-click="goToAnchor('productDetails')">{{ 'product.show_product_detail'|trans }}</a>
                    </span>

                    <span class="quick-links-title">
                        <a class="is-weight-700" ng-click="goToAnchor('rowrating')">{{ 'product.show_product_review'|trans }}</a>
                    </span>
                </div>

                {% if product.hasBundles %}
                    {% include '::partial/components/product/product_bundle.html.twig' %}
                {% endif %}

                {% if product.marketplaceChildren|length > 1 and showOtherSellers %}
                    <div id="rowsellers" class="pull-left full-width secondary-border-top padding-xlarge-top padding-xlarge-bottom">
                        {% include '::partial/components/product/product_other_sellers.html.twig' %}
                    </div>
                {% endif %}

                {% if recommendations_enabled %}
                    <div class="pull-left full-width secondary-border-top padding-xlarge-top padding-xlarge-bottom" ng-cloak>
                        <recommendations section="productdetail" sku="{{ product.sku }}"></recommendations>
                    </div>
                {% endif %}

                <!-- Product Detail -->
                <div id="productDetails" class="pull-left full-width secondary-border-top padding-xlarge-top padding-xlarge-bottom" >
                    {% include '::partial/components/product/product_detail.html.twig' with {'getStock': true } %}
                </div>

                {# Product Reviews Facebook #}
                <div class="pull-left full-width secondary-border-top padding-xlarge-top">
                    {% include '::partial/components/product/product_reviews_facebook.html.twig' %}
                </div>

                {# Product Reviews #}
                <div id="rowrating" class="pull-left full-width secondary-border-top padding-xlarge-top padding-xlarge-bottom" >
                    {% include '::partial/components/product/product_reviews.html.twig' %}
                </div>
            </div>
        </section>
    </div>

    {% include ":Catalog:components/carousel.html.twig" %}
    {% include ":Catalog:components/recommendations.html.twig" %}

{% endblock %}
