{% extends '::base.html.twig' %}

{% block SEO %}
    {% if previous_catalog_page_url() %}
        <link rel="prev" href="{{ previous_catalog_page_url()|raw }}"/>
    {% endif %}

    {% if next_catalog_page_url(searchResults.primarySearchResult.pageCount) %}
        <link rel="next" href="{{ next_catalog_page_url(searchResults.primarySearchResult.pageCount)|raw }}"/>
    {% endif %}

    {% set canonical_url = canonical_url() %}

    {% if canonical_url %}
        <link rel="canonical" href="{{ canonical_url|raw }}"/>
    {% endif %}

    <meta name="robots" content="{{ seo_robots() }}" />
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ getSpecificCss('main.css') }}">
{% endblock %}

{% block body %}
    <div ng-controller="CatalogViewController">
        {% if searchResults.totalItemsFound == 0 and searchResults.primarySearchResult.guidedSearchTerms is empty %}
            {% include '::partial/components/no_results_page.html.twig' with {'query': searchResults.originalSearchResult.originalQuery} %}
        {% else %}
            {% if seller is defined %}
                <h1 class="category-title secondary-border-bottom padding-small-bottom"> {{ catalogTitle }} </h1>
            {% endif %}

            <div class="category-sidebar">
                {% if seller is defined %}
                    {% include '::partial/components/sidebar_seller_rating.html.twig' %}
                {% endif %}

                {% include '::partial/components/sidebar_categories.html.twig'  with { 'category': categoryTree } %}
                {% include '::partial/components/sidebar_filters_menu.html.twig'  with { 'searchResult': searchResults.primarySearchResult } %}
            </div>

            <div class="category-content" ng-cloak="gridView">
                {% if seller is not defined %}
                    <h1 class="category-title"> {{ catalogTitle }} </h1>
                {% endif %}

                {% if catalogGrids is defined %}
                    {% include '::Cms/content_type/catalog_grids.html.twig' with { 'grid': catalogGrids } %}
                {% endif %}

                {% if searchResults.primarySearchResult.guidedSearchTerms|length > 0 and searchResults.primarySearchResult.count > 0 %}
                    {% include '::partial/components/guided_search.html.twig' %}
                {% endif %}

                {% include '::partial/components/filter_tags.html.twig'  with { 'facetCollection': searchResults.primarySearchResult.facetCollection } %}

                <div class="summary-control">
                    <div class="col-sm-12 col-md-12 ">
                        <div class="summary">
                            <span class="hidden-sm hidden-sm">{{ 'catalog.found'|trans }}</span>
                            <strong class="first-color">{{ searchResults.totalItemsFound }} {{ 'global.products'|trans }}
                                {% if brand.slug is defined %}
                                    {{ 'global.in'|trans }}
                                    <a class="first-color is-underline" href="{{ path('frontend.catalog.index.brand', {'brandSlug': brand.slug}) }}">{{ brand.name }}</a>
                                {% endif %}
                            </strong>
                        </div>
                    </div>
                    <div class="col-sm-9 col-md-12">
                        <form action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" method="get" class="catalog-order">
                            {% for name, value in app.request.query if name != 'sortBy' and name != 'page' %}
                                {% if value is iterable %}
                                    {% for iValue in value %}
                                        <input type="hidden" name="{{ name }}[{{ loop.index0 }}]" value="{{ iValue }}" />
                                    {% endfor %}
                                {% else %}
                                    <input type="hidden" name="{{ name }}" value="{{ value }}" />
                                {% endif %}
                            {% endfor %}
                            <label for="order-selector" class="order-selector-label hidden-sm col-sm-26 col-md-18">{{ 'catalog.order_by'|trans }}</label>
                            <select id="order-selector" class="order-selector form-style col-sm-36 col-md-18" name="sortBy" onchange="this.form.submit()">
                                {% for value, translation in sortByOptions %}
                                    <option value="{{ value }}" {% if app.request.query.get('sortBy') == value %}selected{% endif %}>{{ translation|trans }}</option>
                                {% endfor %}
                            </select>
                        </form>
                    </div>
                    <div class="change-view col-sm-15 col-md-12">
                        <div class="change-view-buttons">
                            <div class="change-view-icons">
                                <a ng-click="changeGrid('view-small')" class="change-action" data-type="grid-view"><i aria-hidden="true" data-icon="ģ" ng-class="{'no-active-view':gridView!='view-small'}"> </i></a>
                                <a ng-click="changeGrid('view-big')" class="change-action btn-big-view" data-type="grid-view"><i aria-hidden="true" data-icon="Ģ" ng-class="{'no-active-view':gridView!='view-big'}"> </i></a>
                                <a ng-click="changeGrid('view-list')" class="change-action" data-type="list-view"><i aria-hidden="true" data-icon="L" ng-class="{'no-active-view':gridView!='view-list'}"> </i></a>
                            </div>
                            <div class="change-view-label">
                                {{ 'catalog.change_view'|trans }}
                            </div>
                        </div>
                    </div>
                </div>

                {% if searchResults.originalSearchResult.count == 0 %}
                    <div class="no-results-container">
                        <div class="no-results-head">
                            <span class="no-products-label">{{ 'catalog.query_not_found'|trans }}</span>
                            <span class="not-found-label">"{{ searchResults.originalSearchResult.originalQuery }}".</span>
                            <span class="no-products-label">{{ 'catalog.query_not_found_did_you_mean_results'|trans }}</span>
                            <span class="not-found-label">"{{ searchResults.originalSearchResult.didYouMeanTerm }}"</span>
                        </div>
                    </div>
                {% else %}
                    {% include ':Catalog/components:product_grid.html.twig' with {'searchResult': searchResults.originalSearchResult} %}
                {% endif %}

                {% if searchResults.didYouMeanSearchResult %}
                    {% if searchResults.originalSearchResult.count > 0 %}
                        <div class="col-sm-36 padding-xlarge-bottom">
                            <div class="secondary-border-bottom padding-medium-bottom">
                                <div class="category-title-overflow text-limiter">
                                    {{ 'catalog.spell_suggestion_start'|trans }}
                                    "{{ searchResults.originalSearchResult.didYouMeanTerm }}"
                                    {{ 'catalog.spell_suggestion_end'|trans }}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% include ':Catalog/components:product_grid.html.twig' with {'searchResult': searchResults.didYouMeanSearchResult} %}
                {% endif %}

                {% if searchResults.primarySearchResult.count > 1 %}
                    <div class="catalog-bottom">
                        <div class="border-pagination"> </div>
                        <div class="catalog-pagination">
                            {% include '::partial/components/pagination.html.twig' with {'currentPage': searchResults.primarySearchResult.currentPage, 'pageCount': searchResults.primarySearchResult.pageCount} %}
                        </div>
                    </div>
                {% endif %}

                {% if searchResults.primarySearchResult.relatedQueries|length > 0 %}
                    {% include '::partial/components/other_suggestions_search.html.twig' with {'relatedQueries': searchResults.primarySearchResult.relatedQueries} %}
                {% endif %}
            </div>

            <div class="seo-text">
               {% include '::partial/components/seo_text.html.twig'%}
            </div>
        {% endif %}
    </div>
{% endblock %}
