{% extends ':Catalog:index.html.twig' %}

{% block metaTitle %}
    {% set metaTitle = seo_title() ?: 'global.find_items'|trans ~ ' ' ~ catalogTitle ~ ' ' ~ 'global.in'|trans ~ ' ' ~ 'global.site_name'|trans ~ ' ' ~ country_name %}

    <title>{% block title %}{{ metaTitle }}{% endblock %}</title>
    <meta property="og:title" content="{{ metaTitle }}" />
{% endblock %}

{% block metaDescription %}
    {% set descriptionText = seo_description() ?: catalogTitle ~ ' ' ~ 'global.in'|trans ~ ' ' ~ 'global.site_name'|trans ~ ' ' ~ country_name ~ ' ' ~ 'global.items_seller'|trans ~ '. | ' ~ 'catalog.buy_online'|trans ~ ' ' ~ 'global.pay_on_delivery'|trans | lower %}

    <meta name="Description" content="{{ descriptionText }}"/>
    <meta property="og:description" content="{{ descriptionText }}"/>
{% endblock %}
