{% extends ':Customer:index.html.twig' %}

{% block lastBreadcrumb %}
    <a class="breadcrumb-item" href="{{ path('frontend.customer.index') }}" title="{{ 'account.my_account'|trans }}">{{ 'account.my_account'|trans }}</a>
    <span class="breadcrumb-item last" data-position="">{{ 'account.my_linio_plus'|trans }}</span>
{% endblock %}

{% block account_content %}
    <div
        class="padding-small-bottom category-tittle full-width h-title-large pull-left padding-small-top secondary-border-bottom">
        <i class="lplus-icon-large first-color" aria-hidden="true" data-icon="å"></i>
    </div>
    {% block plus_state_content %}{% endblock %}
{% endblock %}
