{% extends ':Customer/plus:base.html.twig' %}

{% block lastBreadcrumb %}
    <a class="breadcrumb-item" href="{{ path('frontend.customer.index') }}" title="{{ 'account.my_account'|trans }}">{{ 'account.my_account'|trans }}</a>
    <span class="breadcrumb-item last" data-position="">{{ 'account.my_linio_plus'|trans }}</span>
{% endblock %}

{% block plus_state_content %}
    {% include ':Customer/plus:plus_membership_banner.html.twig' %}
    <div class="col-sm-36 padding-xlarge-bottom padding-xlarge-top">
        <div class="linio-plus-status">
            <div class="category-title is-weight-700 not-uppercase">
                {{ customer.firstName }},
            </div>
            <p>
                {{ 'linio_plus.subscription_expired'|trans({'%expiryDate%': membership.expirationDate|format_date}) }}
            </p>
            <a class="full-width btn btn-alternative btn-md is-weight-700"
               href="{{ path('frontend.default.static_page', {'slug': 'linioplus'}) }}">
                {{ 'linio_plus.renew_subscription'|trans }}
            </a>
        </div>
    </div>
{% endblock %}
