{% extends ':Customer/plus:base.html.twig' %}

{% block lastBreadcrumb %}
    <a class="breadcrumb-item" href="{{ path('frontend.customer.index') }}" title="{{ 'account.my_account'|trans }}">{{ 'account.my_account'|trans }}</a>
    <span class="breadcrumb-item last" data-position="">{{ 'account.my_linio_plus'|trans }}</span>
{% endblock %}

{% block plus_state_content %}
    <div class="col-sm-36 padding-xlarge-bottom padding-xlarge-top margin-large-bottom secondary-border-bottom">
        <div class="">
            <div class="category-title is-weight-700 not-uppercase">
                {{ 'linio_plus.good_news_customer'|trans({'%name%': customer.firstName}) }},
            </div>
            <p>
                {{ 'linio_plus.you_are_subscribed'|trans }}<br>
                {{ 'linio_plus.dont_forget'|trans|raw }}
            </p>
            <p>
               <strong>{{ 'linio_plus.subscription_valid_until'|trans }}</strong> {{ membership.expirationDate|format_date }}
            </p>
            {% if linio_plus_static_page_url %}
                <a class="btn btn-alternative btn-md is-weight-700"
                    href="{{ path('frontend.default.static_page', {'slug': linio_plus_static_page_url}) }}">
                    {{ 'linio_plus.see_more_promotions'|trans }}
                </a>
            {% endif %}
        </div>
    </div>
    {# @TODO: Add Linio Plus product recommendation carousel when search terms are defined #}
{% endblock %}
