.login-container {
  @include container(520px);
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.login-form-container {
  @extend %full-width;
  @extend %pull-left;
  padding: 2px 0 0;
}

.login-form-container-item {
  @extend %pull-left;
  @extend %full-width;
  padding-top: 10px;
}

.login-form-input {
  @extend %full-width;

  &::-webkit-input-placeholder {
    @include font-size(1.4);
  }
}

.login-form-label {
  @extend %pull-left;
  width: 50%;
}

.recover-password {
  @extend %pull-right;
  @extend %is-right;
}

.account-login-logo { width: 170px; }

// Account Home Landing Page

.account-span {
  border: 1px solid;
  padding: 8px 8px 8px 36px;
  position: relative;
}

.account-messages {
  position: relative;
}

.account-item {
  border-bottom-width: 1px;
  float: left;
  height: auto;
  margin-right: 20px;
  padding: 5px;
  position: relative;
  width: 180px;
}

.icon-account {
  left: 6px;
  position: absolute;
  top: 7px;
}

.account-navigation-ul {
  margin: 0;
  padding: 0;
}

.profile-items {
  font-size: 14px;
  margin: 5px 0 0 48px;
  padding: 0;
}

.account-link {
  display: block;
  float: left;
  line-height: 35px;
  width: 140px;
}

// My Orders
// TODO: Delete all the order section styles.
.order-section {
  float: left;
}

.total-border {
  border: solid 1px;
}

.list-link {
  width: 50%;
}

.account-navigation {
  float: left;
  width: 200px;
}

.account-section {
  float: none;
  min-height: 600px;
  overflow: hidden;
  width: auto;
}

.orders-btn {
  font-size: 16px;
  height: 32px;
  line-height: 0;
  width: 100%;
}

.address-height {
  min-height: 250px;
}

.delivery-estimate-date {
  @media (max-width: 799px) {
    float: left;
    margin-bottom: 15px;
    width: 100%;
  }

  @media (min-width: 800px) {
    float: right;
  }
}

.order-icon-delayed {
  left: -3px;
  position: absolute;
  top: -10px;
}

// Progress Bar

.active-holder {
  position: relative;
}

.active-holder::before {
  content: '';
  display: block;
  height: 10px;
  position: absolute;
  right: -4px;
  top: 4px;
  width: 10px;
}

.shipping-status {
  margin-bottom: 30px;
  padding: 0;
  text-align: center;

  .step-progress-first-half,
  .step-progress-second-half {
    float: left;
    padding-bottom: 10px;
    position: relative;

    &::before {
      bottom: 0;
    }

  // Progressbar Connectors

    &::after {
      bottom: 0;
      content: '';
      height: 2px;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: -1;
    }
  }

  .step-progress-first-half::after {
    border-right-width: 2px;
  }

  .step-progress-second-half::after {
    border-left-width: 2px;
  }

  .active {

    &::after {
      bottom: 0;
      content: '';
      height: 2px;
      left: 0;
      position: absolute;
    }
  }
}

// My Favorites

.square-80p {
  display: block;
  width: 80%;
}

.square-margin-20p {
  margin: 10%;
}

.square-75p {
  display: block;
  height: 75%;
  width: 75%;
}

.side-margin-25p {
  margin: 0 12.5%;
}

.square-25p {
  display: block;
  height: 25%;
  width: 25%;
}

.beforeplus {
  position: relative;

  &::before {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}

.square-emptys {
  position: absolute;
  right: 38%;
  top: 47%;
}

.login-nav { border-bottom-width: 3px; }

// Customer Login

.open-session {
  @extend %full-width;
  @extend %pull-left;
  @extend %secondary-border-bottom;
  margin-bottom: 17px;
  padding: 8px 0 17px;
}

.login-social-button-container {
  @extend %full-width;
  @extend %pull-left;
  margin-top: 20px;
}

.login-social-button {
  @extend %pull-left;
  width: 50%;

  &:first-child {
    @extend %padding-small-right;
  }

  &:nth-child(2) {
    @extend %padding-small-left;
  }
}

.official-checkbox {
  @extend %border-width;
  border-radius: 2px;
  height: 15px;
  margin-right: 7px;
  position: relative;
  top: 2px;
  width: 15px;
}

.official-checkbox:checked {
  @extend %border-width;
  position: relative;
}

.official-checkbox:checked::before {
  @include font-size(2.5);
  border-radius: 2px;
  height: 15px;
  left: -6px;
  position: absolute;
  top: -11px;
  width: 15px;
}

.login-description {
  @extend %pull-left;
  @extend %full-width;
  margin-top: 10px;
}

.singup-option {
  @extend %full-width;
  @extend %pull-left;
  margin: 10px 0 5px;
}

.singup-option-legend {
  @extend %pull-right;
  display: block;
  width: 275px;
}

.singup-user-data {
  @extend %pull-left;
  @extend %border-width;
  margin: 0 0 $margin-mini $margin-small;
  padding-bottom: 10px;
  width: 300px;
}

.complete-register-button {
  @extend %pull-left;
  margin-top: 18px;
}

.coupon-restriction {
  @extend %secondary-color;
  @extend %secondary-border-top;
  @include font-size(1.3);
  padding-top: 5px;
}

.mobile-phone-label {
  @extend %margin-small-top;
  @extend %pull-left;
  width: 50%;
}

.optional-label {
  @extend %pull-right;
  @extend %is-right;
  @extend %margin-small-top;
  @include font-size(1.3);
  width: 50%;
}

.new-password-head {
  @extend %pull-left;
  @extend %full-width;
  @extend %is-center;
  @extend %border-width;
  @include font-size(2.1);
  margin-bottom: 10px;
  padding-bottom: 10px;
 }

.password-success-icon {
  @extend %pull-left;
}

.password-success {
  @extend %pull-right;
  position: relative;
  top: 6px;
}

// Accrual Airline

.icon-airline::before {
  font-size: 13em;
  height: 75px;
  line-height: 33px;
  margin-left: -17px;
  width: 190px;
}

//Account Btn

.btn-account {
  border: 0;
  border-radius: 3px;
  font-size: 15px;
  height: 30px;
}

// Account Lino Plus

.lplus-icon-large {
  font-size: 1.5em;
}

.lplus-icon-large::before {
  font-size: 1.5em;
  margin-left: -5px;
}

.span-line {
  font-size: 1.2em;
  text-align: center;
}

.span-line::after {
  border-top: 1px solid;
  content: '';
  display: block;
  margin: -13px 0 0;
  padding: 0;
  position: static;
}

.span-line-bg {
  padding: 0 10px;
}

.linio-plus-status {
  @include center-element(80%);

  @include breakpoint($screen-md) {

    @include center-element(470px);
  }

  @include breakpoint($screen-lg) {

    @include center-element(470px);
  }
}

.circle-small::before {
  font-size: .5em;
  left: -13px;
  position: absolute;
  top: 4px;
}

.arrow-container {
  position: relative;
}

.arrow-left {
  position: absolute;
  right: 40px;
  top: 1px;
}

.arrow-right {
  left: -40px;
  position: absolute;
  top: 1px;
}

// Notifications

.subscription-off {
  font-size: 16px;
}

.cat-option {
  display: block;
  float: left;
  width: 50%;
}

.cat-checkbox:checked::before {
  left: -6px;
  top: -6px;
}

.notifications-border-fix {
  @include breakpoint(max-width $screen-sm) {
    border: 0;
    border-top: 1;
    margin-left: 0;
    padding-left: 0;
  }

  @include breakpoint(max-width $screen-md) {
    border: 0;
    border-top: 1;
    margin-left: 0;
    padding-left: 0;
  }

  @include breakpoint(max-width $screen-lg) {
    border: 1px;
    margin-left: 0;
    padding-left: 0;
  }

}

// Coupons

.min-coupon-height {
  min-height: 111px;
}

// News Letter

.nl-border {
  border-width: 1px;
  height: 150px;
}

.pull-center {
  float: none;
  margin: 0 auto;
}

.ngdialog.ngdialog-theme-default.newsletter-dialog .ngdialog-content {
  padding-left: 2em;
  padding-right: 2em;
  top: 85px;
  width: 480px;
}

.coupon-block {
  width: 180px;
}

.invoice-folio {
  padding-bottom: 5px;
  padding-top: 5px;
}

.wallet-table {
  td {
    @extend %is-center;
    padding-bottom: 10px;
    padding-left: 0;
    padding-top: 10px;
  }
}

.tracking-decoration {
  &::before {
    display: block;
    float: left;
    line-height: 23px;
    padding: 0 3px;
  }
}

//Linio Card

.icon-jumbo {
  bottom: 7px;
  float: left;
  height: 50px;
  position: relative;
  width: 80px;

  &::before {
    bottom: 9px;
    position: absolute;
  }
}

.center-cashback {

  &::before {
    position: absolute;
    right: 20px;
  }
}

.linio-card {
  display: inline-block;
  float: left;
  height: 83px;
  width: 132px;
}

.linio-card-text {
  float: none;
  overflow: hidden;
  width: auto;
}

.create-account-form {
  > div {
    float: left;
    width: 50%;

    &:nth-child(odd) {
      padding-right: 5px;
    }

    &:nth-child(even) {
      padding-left: 5px;
    }
  }

  > .full-width {
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
  }
}

.wallet-icon::before {
  bottom: 0;
  position: absolute;
}

.wallet-icon {
  display: block;
  float: left;
  height: 20px;
  position: relative;
  width: 30px;
}

.h-title-height {
  display: block;
  line-height: 20px;
}

.h-title-form {
  line-height: 33px;
}

.full-width-md {
  @include breakpoint(max-width $screen-md) {
    display: block;
    padding: 15px 0;
    width: 100%;
  }
}

.invoice-icon::before {
  font-size: 1.5em;
}

.invoice-btn {
  position: absolute;
  right: 4px;
  top: 25px;
  width: 170px;

  @include breakpoint($screen-md) {
    position: absolute;
    right: 4px;
    top: 14px;
    width: 170px;
    }
}

.review-product-image {
  @include border-style("all", $eighth-color);
  left: 20px;
  min-height: 90px;
  width: 90px;
}

.btn-my-reviews {
  font-size: 17px;
  padding: 1px;
  width: 110px;
}

.icon-check-centered {
  position: relative;
  top: 5px;
}

.seller-review-border {
  @extend %eighth-border-top;
  @extend %padding-xlarge-top;
}

.seller-rating-form-size {
  min-width: 500px;
  width: 50%;
}

.seller-no-reviews {
  @extend %fifth-color;
  float: left;
  width: 226px;
}

.seller-no-reviews-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55px;

  &::before {
    font-size: 50px;
  }
}

.package-tooltip {
  p {
    margin: 0;
  }
}

.order-panel {
  border-bottom: 1px;
  border-bottom-style: solid;
  margin-bottom: 20px;

  .order-header {
    @include font-size(1.4);
    padding: 13px 20px;
  }

  .order-body {
    padding: 5px 0 0;
  }

  .order-body__item {
    margin-bottom: 30px;
    padding: 0 5px;
  }

  .order-body__item-meta {
    @include font-size(1.4);
  }
}

.order-details {
  .order-details__header {
    @include font-size(1.6);
    margin-bottom: 0;
  }

  .order-details__section {
    .row {
      padding-top: 0;
    }
  }

  .order-details__section-header {
    padding-bottom: 10px;
  }

}

.order-details__summary {
  padding-bottom: 15px;
}

.order-details__summary-total {
  border-width: 1px 0 0;
  padding-top: 10px;
}

.order-details__summary-section {
  @include breakpoint(min-width $screen-lg) {
    border-width: 0 0 0 1px;
    padding-left: 20px;
  }
}

.tracking-item-list > div {
  @extend %secondary-border-bottom;

  &:last-child {
    @extend %padding-medium-top;
    border-width: 0;
  }
}

.tracking-product-name {
  max-height: 50px;
  overflow: hidden;
}
