.cart {
  @extend %margin-large-top;
  @extend %margin-large-bottom;
  min-height: 500px;

  .text-right {
    text-align: right;
  }

  .subtotal {
    font-size: inherit;
  }
}

.cart-table-wrap {
  @extend %padding-large-right;
}

.cart-table {
  border-spacing: 2px;
  empty-cells: show;

  thead {
    border-width: 0 0 1px;

    th {
      @extend %h-title-tall;
      padding: 0 0 5px;
      text-align: left;
      white-space: nowrap;
    }
  }

  tr:last-of-type {
    border-bottom: 0;
  }

  .cart-item {
    border-width: 0 0 1px;

    td {
      padding: 20px 0;
      vertical-align: top;
    }
  }

  .item-image {
    display: block;
    padding-right: 15px;
  }

  .item-options {
    @extend %list-unstyled;
    margin: 0;
  }

  .item-import {
    @extend %margin-medium-top;
  }

  .item-quantity {
    @extend %margin-small-top;
  }

  .item-price {
    @extend %margin-large-bottom;
    @extend %margin-large-left;
    @extend %margin-medium-right;

    .percentage-off {
      padding-right: 0;
    }
  }

  .plus-program {
    line-height: initial;
  }

  .cart-item-delivery,
  .cart-item-shipping,
  .cart-item-seller {
    @extend %margin-medium-bottom;
  }
}

.cart-subtotal,
.cart-voucher,
.cart-installments,
.cart-shipping {
  a {
    text-decoration: underline;
  }
}

.cart-empty {
  [data-icon]::before {
    @include font-size(12);
  }
}

.earnedmiles {
  @extend %pull-right;
  margin-right: 30px;
  margin-top: -8px;
}

.checkout-mileage-icon {
  @extend %is-relative;
  @extend %margin-small-left;
  @extend %margin-small-right;
  top: 4px;
}
