// START TO REFACTOR
.category-sidebar {
  @extend %pull-left;
  @include line-height(1.5);
  @include clearfix-both();
  margin-right: 20px;
  width: 176px;
}

.catalog-menu-icon {
  @extend %is-display-inline-block;
  @extend %pull-left;
  @include font-size(1.1);
  margin-right: 2px;
  vertical-align: top;
  width: 7px;
}

.size-leaf {
  width: 80px;
}

.quantity {
  @extend %pull-right;
  @extend %is-center;
  @include font-size(1);
  @include line-height(2.1);
  border-radius: 10px;
  height: 20px;
  margin: 2px 5px 3px 0;
  width: 30px;
}
// END TO REFACTOR

.category-content {
  @extend %padding-xlarge-bottom;
  @include clearfix-both();
  overflow: hidden;

  .category-title {
    @extend %padding-small-bottom;
    @include font-size(2.4);
    border-bottom-width: $min-border-width;
    margin-top: 4px;
  }

  .category-title-overflow {
    @extend %fifth-color;
    font-size: 2.4rem;
    height: 2.4rem;
    margin-top: 4px;
    overflow: hidden;
    white-space: nowrap;
  }

  .products-collection {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
  }
}

.summary-control {
  @extend %border-width-bottom;
  @extend %padding-large-top;
  @extend %padding-large-bottom;
  @extend %no-padding-left;
  @extend %no-padding-right;
  @extend %pull-left;
  @extend %full-width;
  @include clearfix-both();
  margin-bottom: $margin-catalog-general;

  @include breakpoint(max-width $screen-sm-max) {
    @include font-size(1.3);
  }

  .summary {
    @extend %padding-small-top;
  }

  .change-view {
    @extend %pull-right;
    @extend %is-right;
  }

  .pagination-wrap {
    @extend %four-grid;
  }
}

.order-selector-label {
  @extend %padding-small-top;
  @extend %padding-medium-right;
  @extend %is-right;
}

.change-view {

  .change-action {
    @extend %no-margin-top;
    @extend %no-margin-bottom;
    @extend %is-display-inline-block;
    @include font-size(4);
    bottom: 3px;
    position: relative;

    @include breakpoint(max-width $screen-sm-max) {
      @include font-size(3.5);
    }

    &:hover {
      @include text-decoration();
    }
  }

  .change-view-buttons {
    @extend %is-right;
    @extend %pull-left;
    @extend %full-width;
  }

  .change-view-label {
    @extend %pull-right;
    @extend %is-right;
    @extend %is-initial;
    line-height: 30px;
  }

  .change-view-icons {
    @extend %pull-right;
    width: 100px;
  }
}

.border-pagination {
  @extend %show;
  @extend %full-width;
  border-bottom-width: $min-border-width;
}

.catalog-pagination {
  @extend %pull-right;
  @extend %padding-medium-left;
  margin-top: -17px;
}

.pagination-icon {
  bottom: 3px;
  position: relative;
}

.catalog-bottom {
  @extend %no-padding-left;
  @extend %no-padding-right;
  @include clearfix-both();
  margin-top: 20px;
}

.catalog-product-title {
  @extend %full-width;
  @include font-size(1.7);
  height: 50px;
  line-height: 24px;
  margin: 0;
  overflow: hidden;
  text-transform: none;
}

.price-bundle {
  @extend %padding-small-top;
}

.price-detail {
  @extend %padding-small-top;
  @extend %padding-small-bottom;
}

.linio-plus {
  @extend %padding-small-right;
  @extend %is-center;
  @extend %pull-left;
  @include font-size(3);
}

.linio-plus-filters {
  left: -3px;
  position: relative;
}

.icon-like {
  bottom: 6px;
  position: relative;
}

.wish-success {
  position: absolute;
  top: 0;
}

.wish-checked {
  @include font-size(2.9);
  left: 1px;
  position: relative;
  top: 12px;
  z-index: 1;
}

.wish {
  max-width: 225px;
  position: absolute;
  z-index: 1;
}

.add-wish-border {
  border-bottom-width: .8em;
  border-left-width: .75em;
  border-right-width: .75em;
  box-sizing: border-box;
  content: '';
  cursor: default;
  width: 0;
  z-index: 2;
}

.add-wish {
  @extend %padding-large;
  @extend %margin-mini-top;
  @extend %border-width;
  @extend %pull-left;
  @extend %full-width;
  position: relative;
  z-index: 1;
}

.dialog-box {
  @extend %border-width-top;
  @extend %border-width-right;
  @include width(10);
  @include height(10);
  margin-left: -9px;
  margin-top: -22px;
}

.favorites {
  @extend %border-width;
}

.check-box-wish {
  @extend %margin-mini-right;
  @include width(17);
  @include height(17);
  border-radius: 3px;
  border-width: 2px;
  position: relative;
  top: 3px;
}

.check-box-wish:checked {
  position: relative;
}

.check-box-wish:checked::before {
  @include font-size(2.3);
  margin-left: -5px;
  margin-top: -10px;
  position: absolute;
}

.wish-icon {
  @extend %is-center;
  @include font-size(2.7);
  @include line-height(1.8);
  bottom: 6px;
  position: relative;
}

.call-to-wish-success {
  bottom: 19px;
  position: relative;
}

.new-list {
  @extend %padding-small;
  @extend %border-width;
  border-radius: 3px;
  height: 30px;
}

.btn-new-list {
  margin-left: 1px;
}

.back-wish {
  @extend %show;
  height: 2110px;
  left: 0;
  position: fixed;
  top: 0;
  width: 2110px;
  z-index: 0;
}

%show-desc {
  .catalog-product-title {
    margin-top: inherit;
  }

  .catalog-product-desc {
    display: none;
  }

  .main-figure {
    z-index: -1;
  }

  &:hover {
    .catalog-product-desc {
      display: block;
    }
  }
}

.catalog-item-generics {
  .catalog-product-rating {
    margin: 0 0 10px;
  }

  .star-rating.tiny [data-icon]::before {
    font-size: 2.1rem;
  }

  .rating {
    position: relative;
  }
}

.view-small,
.view-big {
  box-direction: normal;
  box-orient: vertical;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.view-small {
  width: 25%;

  @media (max-width: $screen-sm-max) {
    width: 50%;
  }

  @include breakpoint($small-view-screen-lg) {
    padding: 0 22px 22px;

    .badge-one-line {
      @include font-size(1.4);
    }
  }

  @include breakpoint($small-view-screen-lg $screen-md) {
    padding: 0 10px 24px;

    .badge-one-line {
      @include font-size(1.4)
    }
  }

  @include breakpoint(max-width $screen-sm-max) {
    padding: 0 30px 24px;

    .badge-one-line {
      @include font-size(1.4);
    }
  }

  .catalog-product-image img {
    height: auto;
    max-width: 100%;
  }

  .catalog-product-wish {
    @extend %pull-left;
    @extend %border-width-right;
    @extend %padding-small-right;
    height: 27px;
    width: 37px;
  }

  .rating-stars {
    @include font-size(2.3);
    letter-spacing: -9px;
  }

  .catalog-product-shipping {
    @extend %padding-medium-top;
  }

  .catalog-product-description {
    display: none;
  }

  .bullet-list {
    @extend %hide;
  }

  .catalog-product-button {
    @extend %hide;
  }

  .linio-plus-position {
    bottom: 8px;
    left: -5px;
    position: relative;
  }

  .linio-plus48-position {
    bottom: 8px;
    left: -5px;
    position: relative;
  }

  .rating-view-nolist {
    @extend %pull-left;
    @extend %full-width;
  }

  @media(min-width: 601px) {
    &.view-small-border {
      border-bottom-width: $min-border-width;
    }
  }

  @media(max-width: 600px) {
    &.view-portrait-border {
      border-bottom-width: $min-border-width;
    }
  }
}

.view-big {
  padding: 0 20px 24px;
  width: 100%;

  @include breakpoint($screen-md) {
    width: 33.333%;
  }

  @media(max-width: $screen-sm-max) {
    width: 50%;
  }

  .catalog-product-image img {
    max-width: 300px;
  }

  .catalog-product-wish {
    @extend %pull-left;
    @extend %border-width-right;
    @extend %padding-small-right;
    height: 27px;
    width: 37px;
  }

  .rating-stars {
    @include font-size(2.3);
    letter-spacing: -5px;
  }

  .bullet-list {
    @extend %hide;
  }

  .catalog-product-button {
    @extend %hide;
  }

  .linio-plus-position {
    bottom: 7px;
    left: -5px;
    position: relative;
  }

  .linio-plus48-position {
    bottom: 6px;
    left: -5px;
    position: relative;
  }

  .rating-view-nolist {
    @extend %pull-left;
    @extend %full-width;
  }

  .catalog-product-description {
    display: none;
  }

  @media(min-width: 1025px) {
    &.view-big-border {
      border-bottom-width: $min-border-width;
    }
  }

  @media(max-width: 1024px) {
    &.view-landscape-border {
      border-bottom-width: $min-border-width;
    }
  }

  @media(max-width: 950px) {
    &.view-portrait-border {
      border-bottom-width: $min-border-width;
    }
  }
}

.view-list {
  @extend %col-sm-36;

  .catalog-product-wish {
    @extend %pull-left;
    @extend %padding-small-right;
    @extend %border-width-right;
    height: 27px;
    width: 37px;
  }

  .rating-stars {
    @include font-size(2.3);
    height: 27px;
    letter-spacing: -5px;
    margin-top: $margin-catalog-general;
  }

  .show-desc {
    @extend %col-md-27;
    @extend %col-sm-36;
    @extend %no-padding;
  }

  .catalog-product-image {
    @extend %no-padding-left;
    @extend %padding-medium-right;
    @extend %col-md-9;
    @extend %col-sm-15;
  }

  .catalog-product-title {
    @extend %col-md-27;
    @extend %col-sm-21;
    height: auto;
  }

  .catalog-product-prices {
    @extend %col-md-12;
    @extend %col-sm-21;
  }

  .catalog-product-shipping {
    @extend %col-md-15;
    @extend %col-sm-21;
    margin-top: 1px;

    @media (max-width: 950px) {
      float: right;
    }
  }

  .bullet-list {
    @extend %margin-small-top;
    @extend %no-margin-bottom;
  }

  .catalog-product-button {
    @extend %col-md-9;
    @extend %hidden-sm;
    @extend %padding-small-top;
  }

  .catalog-product-btn {
    @include font-size(1.5);
  }

  .linio-plus-position {
    bottom: 6px;
    left: -6px;
    position: relative;
  }

  .linio-plus48-position {
    bottom: 6px;
    left: -6px;
    position: relative;
  }

  .rating-view-list {
    @extend %pull-left;
    position: relative;

    @include breakpoint($screen-md) {
      left: 18.5%;
      width: 26%;
    }

    @include breakpoint(max-width $screen-sm-max) {
      left: 41.5%;
      width: 36%;
    }
  }

  &.view-portrait-border {
    border-bottom-width: $min-border-width;
  }
}

// Accordion styles
%accordion-padding-row {
  padding: 10px;
}

.accordion-container {
  border-width: $min-border-width;
  margin-top: 40px;

  .filters-label {
    margin-bottom: 3px;
  }

  .accordion-row {
    @extend %accordion-padding-row;
    @extend %border-width;
    @extend %pull-left;
    @include font-size(1.2);

    &:last-child {
      @extend %no-border-bottom;
    }
  }

  .filter-options {
    float: right;
    margin-left: 5px;

    .quantity {
      display: inline-block;
      float: none;
      margin: 0 5px 0 0;
    }
  }

  .accordion-label {
    @extend %no-padding;
    @extend %is-relative;
    top: 5px;
  }

  .accordion-input-row {
    @extend %full-width;
    @include font-size(1.2);
    padding: 0 10px;
  }

  .accordion-search-row {
    @extend %pull-left;
    @extend %full-width;
    @include font-size(1.2);
    height: 40px;
    padding: 10px 10px 0;
  }

  .action-button {
    @extend %accordion-padding-row;
    @extend %pull-left;
    @include font-size(1.3);
    @include text-decoration(underline);
  }

  .action-button:hover {
    @include text-decoration(none);
  }

  .accordion-item {
    @extend %border-width;
    height: 15px;
    position: relative;
    vertical-align: middle;
    width: 15px;
  }

  .accordion-item-lplus {
    right: 4px;
    top: 9px;
  }

  .accordion-item:checked {
    position: relative;
  }

  .accordion-item:checked::before {
    @include font-size(2.2);
    bottom: 7px;
    height: 16px;
    left: -5px;
    padding: $min-border-width;
    position: absolute;
    width: 16px;
  }
}

.accordion-tab {
  @extend %no-padding;
  @extend %pull-left;
  @extend %full-width;

  .last-accordion-tab {
    @extend %accordion-padding-row;
    @extend %full-width;
    @extend %pull-left;
  }

  .icon-search-bar {
    @include font-size(2.7);
    margin: -3px 0 0 3px;
    position: absolute;
    z-index: 1;
  }

  .filters-search-bar {
    @extend %full-width;
    @extend %border-width;
    @extend %padding-small-right;
    @extend %is-left;
    @include font-size(1.5);
    border-radius: 4px;
    box-sizing: border-box;
    height: 30px;
    padding-left: 32px;
    position: relative;
  }

  .scroll-after-limit {
    max-height: 458px;
    overflow-y: scroll;
  }
}

.accordion-tab-title {
  padding: 12px;
}

.accordion-tab-quantity {
  @extend %is-center;
  @include font-size(1.3);
  @include line-height(2.2);
  border-radius: 10px;
  height: 20px;
  width: 20px;

}

.accordion-tab-title-icon {
  @extend %pull-right;
  @include font-size(2.5);
  bottom: 8px;
  margin: -3px -5px 0 0;
  position: relative;
}

.accordion-tab-content {
  @extend %no-padding;
}

.main-slider {
  @extend %full-width;
}

.slider-control {
  @extend %full-width;
  @extend %pull-left;
  @include line-height(1.2);
  height: 10px;
  padding: 0 10px 20px;
}

.slider {
  @extend %border-width;
  height: 5px;
}

.slider-handle {
  @extend %is-center;
  @include font-size(.9);
  height: 15px;
  letter-spacing: 1px;
  width: 15px;
}

.price-range {
  @extend %border-width;
  height: 5px;
  position: absolute;
}

.slider-button {
  @extend %border-width;
  @extend %margin-small-top;
  @include font-size(1.4);
  border-radius: 4px;
  padding: $padding-small 0;
  width: 100%;
}

.seller-page-container {
  @extend %pull-left;
  @extend %full-width;
  margin: 20px 0 33px;
}

.seller-rating-container {
  @extend %pull-left;
  @extend %full-width;
  margin-bottom: 10px;
}

.seller-rating-label {
  @extend %pull-left;
  width: 50%;
}

.seller-rate {
  @extend %pull-left;
  margin-top: 6px;
  width: 50%;
}

.rate-this-seller {
  @extend %pull-left;
  @extend %full-width;
}

.no-results-container {
  @extend %border-width;
  @extend %border-width-bottom;
  @extend %padding-large-top;
  @extend %padding-large-bottom;
  @extend %no-padding-left;
  @extend %no-padding-right;
  @extend %pull-left;
  @extend %full-width;
  @include clearfix-both();
  margin-bottom: $margin-catalog-general;
}

.no-results-head {
  @extend %padding-xlarge-bottom;
  @include font-size(1.6);
  width: 100%;
}

.no-result-confirm {
  @extend %full-width;
  @extend %is-center;
  margin-bottom: 25px;
}

.some-suggestions {
  @extend %full-width;
  @extend %is-center;
  height: 35px;
}

.filter-label {
  line-height: 20px;
}
