// Navigator header
.step { font-size: .8rem; width: 1%; }
.step-1 { width: 35%; }
.step-2 { width: 48%; }
.step-3 { width: 62%; }

.step-title {
  padding-top: $padding-small-horizontal;
}

.payment-menu {
  @include breakpoint($screen-sm) { font-size: 15px; }
  @include breakpoint($screen-md) { font-size: 16px; }
}

// Icons
.icon-default {
  @extend %pull-left;
  @extend %icon-2x;
}

.checkout-right-col {
  @media (min-width: $screen-md) {
    border: 0 0 0 1px;
  }
}

.checkout-left-col {
  @media (min-width: $screen-md) {
    border-right-width: $min-border-width;
  }
}

.product-actions {
  @extend %is-right;
  @extend %font-size-tall;

  a {
    @extend %show;
  }
}

.alert {
  @extend %col-md-36;
  margin-bottom: 20px;
  padding: 15px;
}

.address-container {
  height: 250px;
}

.payment-methods-container {
  min-height: 200px;
}

.consignation-payment-icon {
  right: 5px;
  top: 15px;
}

.payclub-logo {
  display: inline-block;
  height: 64px;
  width: 200px;
}

.payment-error {
  margin: 50px auto 100px;
  overflow: hidden;
  width: 382px;

  [data-icon]::before {
    @include font-size(6.5);
  }
}

.payment-error-icon {
  @extend %full-width;
  @extend %pull-left;
  @extend %is-center;
}

.payment-error-head {
  @extend %full-width;
  @extend %pull-left;
  @extend %is-center;
  @extend %border-width;
  @include font-size(1.9);
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.payment-error-desc {
  @extend %full-width;
  @extend %pull-left;
  margin-bottom: 10px;
  padding: 0 25px;
}

.payment-error-buttons-row {
  @extend %full-width;
  @extend %pull-left;
  margin-top: 30px;
}

.button-container {
  &.left {
    padding-right: 10px;
  }

  &.right {
    padding-left: 10px;
  }
}

.payment-error-button {
  @extend %full-width;
  @include font-size(1.8);
}

.contact-phone {
  @extend %padding-large-top;
  @include font-size(1.1);
  text-align: right;
}

.contact-phone-label {
  @extend %show;
}

.checkout-shipping {
  margin-left: auto;
  margin-right: auto;
  max-width: 725px;

  .package {
    @extend %clearfix;
    @extend %padding-xlarge-top;
    @extend %padding-xlarge-bottom;

    .number {
      @extend %padding-xlarge-bottom;
    }
  }
}

.shipping-package-items {
  @extend %padding-large-bottom;
  @extend %clearfix;

  &:not(:first-child) {
    @extend %secondary-border-top;
    @extend %padding-large-top;
  }

}

.shipping-items-section {
  min-height: 170px;
}

.shipping-option-detail {
  margin-left: 64px;
}

.label-icon {
  [data-icon]::before {
    @include font-size(2);
  }
}

.ngdialog.ngdialog-theme-default.checkout-dialog .ngdialog-content {
  border-radius: 0;
  padding-left: 2em;
  padding-right: 2em;
  top: 85px;
  width: 310px;
}

.points-panel {

  .title {
    display: block;
    padding-left: 38px;
    position: relative;

    &.limit-width {
      max-width: 120px;
    }
  }

  .title-icon {
    left: -3px;
    position: absolute;
    top: -5px;
  }
}

.shipping-options-map {
  height: 330px;
}

.title-header-box {
  border-width: 1px;

  .accordion-tab-title-icon {
    @extend %add-top-1;
  }
}

.voucher-summary {
  @extend %full-width;
  margin: 0 auto;
  max-width: 500px;
}
