.cms-block {
  margin-top: 25px;

  .cms-block-title {
    @include font-size(2.5);
    border-width: 0 0 1px;
    padding-bottom: 5px;

    .cms-block-more {
      @include font-size(1.6);
      padding-left: 5px;
    }
  }

  .cms-block-content {
    margin-top: 15px;

    .cms-block-banner {
      display: block;
    }

    img {
      height: auto;
      width: 100%;
    }
  }
}

.static-page {
  padding-bottom: 150px;

  .cms-dfa {
    padding-bottom: 25px;
  }

  .cms-carousel {
    padding-bottom: 20px;
  }

  .cms-simple-image {
    padding-bottom: 20px;
  }

}

.cms-banner {
  display: flex;
  padding-bottom: 20px;

  @include breakpoint(max-width $screen-sm) {
    display: inline-block;
  }
}

.cms-banner-menu {
  position: relative;

  @include breakpoint(max-width $screen-sm) {
    width: 100%;
  }

  &::after {
    border-right: 1px;
    content: '';
    height: 100%;
    position: absolute;
    right: 4px;
    top: 0;

    @include breakpoint(max-width $screen-sm) {
      border-right: 0;
    }
  }

  &:last-child::after {
    border-right: 0;
  }
}

.cms-catalog-row {
  @extend %full-width;
  @extend %pull-left;
  padding-bottom: 26px;

  &:first-child {
    @extend %padding-medium-top;
  }
}
