.department-box {
  @extend %pull-left;
  @extend %full-width;
  margin-bottom: 30px;
}

.department-row {
  @extend %pull-left;
  @extend %full-width;
  margin-bottom: 30px;
}

.banner-column {
  @extend %is-center;
  @extend %is-relative;
}

.department-head {
  @extend %pull-left;
  @extend %full-width;
  margin-bottom: 20px;
  padding: 0 4px;
}

.department-title {
  @extend %pull-left;
  @extend %full-width;
  @extend %border-width;
  @extend %padding-small-bottom;
  @include font-size(2.3);
}

.department-banner {
  @extend %full-width;
  position: relative;
  z-index: 1;
}

.department-label {
  @extend %is-center;
  @include font-size(1.8);
  padding: 12px 0;
}

.banner-menu {
  padding-bottom: 12px;

  @include breakpoint(max-width $screen-sm) {
    padding-bottom: 32px;
  }
}

.menu-col-container {
  columns: 2;

  @include breakpoint(max-width $screen-md) {
    columns: 1;
  }
}

.view-all {
  @extend %full-width;
  @extend %pull-left;
  padding: 16px 0;
}

.banner-menu-item {
  display: inline-block;
  line-height: 21px;
  padding-left: 8px;
  padding-right: 8px;

  &::before {
    border-radius: 5px;
    content: '';
    display: block;
    height: 5px;
    margin-left: -15px;
    position: relative;
    top: 12px;
    width: 5px;
  }
}

.item-list {
  padding-left: 20px;

  @include breakpoint(max-width $screen-md) {
    @include font-size(1.8);
    width: 100%;
  }
}
