.dropdown {
  position: relative;

  .dropdown-toggle {
    display: inline-block;
    padding: 0 5px;
  }

  .dropdown-menu {
    display: none;
    left: auto;
    list-style: none;
    margin: 0;
    min-width: 300px;
    padding: 10px 15px;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 10;

    .dropdown-menu-link {
      border-bottom-width: $dropdown-border-width;
      padding: 10px 0;
    }
  }

  &.open {
    .dropdown-toggle {
      z-index: 10;
    }

    .dropdown-menu {
      display: block;
    }
  }
}
