//404 error page
.error-container {
  margin: 45px auto;
  width: 500px;
}

.error-500-logo {
  margin: 58px auto 45px;
  width: 116px;
}

.error-500-gif {
  margin: 0 auto;
  width: 60px;
}

.line-error {
  @extend %border-width-bottom;
}

.error-500-label {
  @include font-size(2.7);
}

.search-icon {
  font-size: 100px;
}

.main-error-text {
  margin-bottom: 25px;
  margin-top: 5px;
}

.secondary-error-text {
  @extend %border-width-bottom;
  @include font-size(1.8);
  margin: 25px auto 0;
  padding-bottom: 25px;
  width: 365px;
}

.third-error-text {
  @include font-size(1.8);
  margin-top: 25px;
}

.error-500-button {
  @extend %show;
  margin: 30px auto 0;
  width: 198px;
}
