.filter-tags {
  @extend %full-width;
  @extend %pull-left;
  @extend %border-width;
  margin-top: 20px;
}

.filter-tags-btn {
  @extend %pull-left;
  @include font-size(1.2);
  border-radius: 3px;
  height: 26px;
  line-height: 1.33;
  margin: 0 5px 12px;
  padding: 6px 0 6px 8px;

  &:hover {
    .filter-tags-plus-icon::after {
      @extend %border-width;
    }
  }
}

.filter-tags-label {
  @extend %pull-left;
  @include font-size(1.6);
  bottom: 5px;
  position: relative;
}

.filter-tags-icon {
  bottom: 2px;
  margin-left: 2px;
  margin-right: 5px;
  position: relative;

  &[data-icon]::before {
    @include font-size(1.8);
  }
}

.clean-filters {
  @extend %pull-left;
  @include font-size(1.4);
  margin: 0 0 12px 8px;
}

.filter-tags-plus-icon {
  @extend %pull-left;
  @include font-size(3);
  bottom: 14px;
  position: relative;
}

.filter-tags-plus-icon::after {
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
}
