.fly-menu-widget {
  overflow: hidden;
  position: relative;
}

.fly-menu-list {
  float: left;
  position: relative;
  width: 190px;
  z-index: 2;

  .menu-item {
    border-width: 0 0 1px;
  }

  .menu-item-link {
    @include font-size(1.6);
    display: block;
    line-height: 32px;
    padding: 0 5px 0 36px;
    position: relative;

    &:hover {
      text-decoration: none;
    }

  }

  .menu-item-icon {
    left: 2px;
    position: absolute;
    top: 3px;
    z-index: 1;

    &[data-icon]::before {
      @include font-size(2.5);
    }
  }
}

.fly-menu-content {
  border-width: 0 0 0 5px;
  margin-left: 190px;
  padding-left: 10px;

  .responsive-img-container {
    margin-top: -17px;
  }

  .row {
    padding-bottom: 15px;
    padding-top: 0;
    vertical-align: top;

    &:last-child {
      padding-bottom: 0;
    }
  }

  .fly-menu-content-item {
    display: none;

    &.active {
      display: block;
    }
  }

  .fly-menu-devision-title,
  .fly-menu-devision-sub-title,
  .fly-menu-devision-sub-link {
    display: block;
  }

  .fly-menu-devision-title {
    @include font-size(1.8);
  }

  .fly-menu-devision-sub-title {
    @include font-size(1.6);
    border-width: 0 0 1px;
    line-height: 1.6;
    margin-right: 10px;
    margin-top: 15px;
  }

  .fly-menu-devision-sub-link {
    @include font-size(1.6);
    line-height: 1.6;
  }
}

.fly-banners-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .fly-banner {
    overflow: hidden;
  }

  .fly-banner-lead {
    margin-right: 10px;

    @include breakpoint(max-width $screen-sm-max) {
      margin-right: 0;
    }

    @include breakpoint($screen-lg) {
      flex: 1;
    }

  }

  &.first-child {
    .fly-banner-lead {
      height: 322px;
    }
  }

  .fly-banner-lead-fellow,
  .fly-banner-child-mini {
    flex: none;
    width: 34%;

    @media (max-width: 700px) {
      display: none;
    }
  }

  .fly-banner-link {
    display: block;
    line-height: 0;
    overflow: hidden;
    text-align: center;
  }

  .fly-banner-child-1 {
    .fly-banner-link {
      margin-right: 5px;
    }
  }

  .fly-banner-child-2 {
    .fly-banner-link {
      margin-left: 5px;
    }
  }

  .fly-img {
    height: 322px;
    left: 50%;
    margin-left: -100%;
    position: relative;
    width: auto;
    z-index: 2;
  }

  .fly-banner-child-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .fly-banner-child {
      width: 50%;
    }
  }

  .fly-banner-child,
  .fly-banner-child-mini {
    height: 223px;

    .fly-img {
      height: 223px;
    }
  }

  &:last-child {
    margin-top: 15px;
  }
}

.fly-menu-content-item-1 {
  .fly-banner-child-mini {
    width: 256px;
  }
}

.fly-inner-banners {
  @media all and (max-width: $screen-sm-max + 1) {
    .fly-banner-lead-fellow,
    .fly-banner-child-mini {
      display: none;
    }
  }

  @media all and (max-width: 640px) {
    display: block;
  }

  @include breakpoint($screen-lg) {
    flex: 1;
  }
}

.fly-menu-categories {
  @extend %full-width;
}

.center-image-responsive {
  overflow: hidden;
  text-align: center;

  img {
    left: 50%;
    margin-left: -100%;
    position: relative;
    width: auto;
  }
}
