.no-results-page {
  @extend %is-center;
  margin: 0 auto;
  max-width: 620px;

  [data-icon]::before {
    @include font-size(8);
  }
}

.no-results-label {
  @extend %border-width;
  @extend %padding-large-bottom;
  @extend %margin-large-bottom;
  @include font-size(2.2);
  margin: 0 auto;
  max-width: 323px;
}

.no-results-description {
  margin: 0 auto 90px;
  max-width: 295px;
}

.no-results-ending {
  @extend %border-width;
  @extend %padding-xlarge-top;
  @extend %margin-large-bottom;
  @include font-size(1.5);
}

.no-results-button {
  @extend %show;
  margin: 0 auto 90px;
  width: 200px;
}
