.sizes-selector {
  @extend %pull-left;
  @extend %full-width;
  @extend %padding-medium-top;
  @extend %padding-medium-bottom;

  .label-size {
    @extend %margin-small-right;
    @extend %padding-small;
    @extend %border-width;
    @extend %input-border;
    @extend %is-center;
    @include font-size(1.3);
    line-height: 20px;
    vertical-align: middle;
    width: 40px;

    .sizes-selector-item {
      @extend %hide;
    }

  }

  .variation-label {
    @extend %pull-left;
    @extend %margin-small-top;
  }
}

.color-selector {
  .radio-style {
    @extend %hide;

    + label {
      @extend %is-display-inline-block;
      @extend %border-width-2;
      border-radius: 100%;
      height: 15px;
      width: 15px;
    }

    &:checked + label {
      @extend %border-width-2;
    }

  }
}
