.back-bar {
  @extend %full-width;

  height: 100%;
  left: 0;
  opacity: .8;
  position: fixed;
  top: 0;
  z-index: 1;
}

.share-bar {
  @include breakpoint($screen-md) {
    display: none;
  }
}

.share-bar-tablet {
  @extend %full-width;
  @extend %padding-xlarge-right;
  @extend %padding-xlarge-left;
  left: 0;
  position: absolute;
  z-index: 2;
}

.product-description {
  margin-bottom: 15px;

  img {
    max-width: 100%;

    @include breakpoint(max-width $screen-sm-max) {
      height: auto;
      margin: 0 auto;
      width: 100%;
    }
  }

  li {
    list-style: none;
  }
}

.bar-slide-left.ng-hide-remove.ng-hide-remove-active {
  animation: slide-left .5s;
}

.bar-slide-right.ng-hide-add.ng-hide-add-active {
  animation: slide-right .5s;
}

.badge-promise-delivery {
  font-size: 15px;
}

.badges {
  @extend %padding-medium-bottom;

  .badge {
    @include font-size(1.3);
    height: 30px;

    .badge-text {
      line-height: 30px;
    }

    .badge-icon::before,
    .invoice-icon::before {
      font-size: 1.5em;
      position: relative;
    }
  }

  .last-badge {
    &::after {
      @extend %hide;
    }
  }
}

.badge-linio-plus {
  float: left;
  width: 38px;

  i::before {
    bottom: 4px;
    position: relative;
  }

  &::after {
    bottom: 8px;
    position: relative;
  }
}

.badge-linio-plus48 {
  float: left;
  width: 63px;

  i::before {
    bottom: 4px;
    position: relative;
  }

  &::after {
    bottom: 8px;
    position: relative;
  }
}

.badges-plus-logo {
  @include font-size(3);
  position: relative;
  right: 5px;
  top: 3px;
}

.plus-program {

  .badge-text {
    bottom: 7px;
    position: relative;
  }

  .badges-plus-logo::before {
    bottom: 7px;
    position: relative;
  }

  &::after {
    bottom: 8px;
    position: relative;
  }
}

.badge-one-line {
  @extend %show;
}

.badge-imported {
  border-width: 1px;
  display: inline-block;
  padding: 0 1px;
}

.alert-imported-product {
  @extend %padding-large;
  padding-top: 10px;

  p {
    margin-bottom: 0;
  }

}

.tooltip-imported-badge {
  top: 60px;

  ul {
    @extend %padding-medium-left;
    @extend %no-margin-top;
    @extend %no-margin-bottom;
  }
}

.international-shipping-cms-block {
  ul {
    @extend %no-margin;
    @extend %no-padding;
  }

  p {
    @extend %margin-mini-bottom;
    @extend %margin-mini-top;
  }
}

.short-description {
  ul {
    @extend %no-padding-left;
  }
}

.price {
  @include font-size(1.5);

  .actual-price {
    @extend %show;
    @include font-size(1.8);
  }
}

.percentage-off {
  @extend %is-display-inline;
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.savings {
  @extend %is-display-inline;
}

.subtotal {
  @include font-size(1.8);
}

.catalog-product-item {
  margin-bottom: 24px;

  .rating {
    padding-left: 0;
  }

  .main-figure {
    @extend %margin-medium-bottom;
    @extend %no-margin-top;
    @extend %no-margin-right;
    @extend %no-margin-left;
    @extend %is-center;
    line-height: 0;
    margin-bottom: $margin-catalog-general;
    position: relative;

    .picture-label {
      @extend %is-display-inline-block;
      @extend %pull-left;
      @extend %padding-small;
      @extend %border-width;
      @include font-size(1.15);
      left: 0;
      line-height: $line-height-computed;
      position: absolute;
      width: 75px;
    }
  }

  .title {
    @include font-size(1.75);

    .title-bottom-line {
      @extend %is-display-inline-block;
    }

    .product-name {
      @extend %is-display-inline-block;
    }
  }
}

.product-description-container {
  @extend %border-width;
  padding-right: 20px;
}

.quick-links {
  @extend %pull-left;
  width: 100%;

  .quick-links-title {
    @extend %is-center;
    @extend %padding-small-top;
    @extend %padding-small-bottom;
    display: table-cell;
    width: 1%;
  }
}


.product-bundle {
  @extend %pull-left;
  @extend %full-width;
  @extend %padding-large-bottom;
}

.bundle-product {
  @extend %is-display-cell;
  @extend %is-center;
}

.bundle-image {
  @extend %col-sm-36;
  @extend %col-md-15;

  @include breakpoint($screen-md) {
    padding: 0;
  }
}

.bundle-desc {
  @extend %col-sm-36;
  @extend %col-md-21;
  @extend %padding-medium-left;

  @include breakpoint($screen-md) {
    padding-left: $padding-medium;
  }
}

.bundle-plus {
  @extend %font-size-xlarge;
  @extend %is-center;
  position: relative;
  top: -63px;
  width: 100%;

  &:last-child {
    display: none;
  }
}

.thumbimg {
  @extend %full-width;

  &.active {
    outline-width: 1px;
  }
}

.bundle-items {
  @include breakpoint($screen-md) {
    @include border-style('right');
    border-right-width: $min-border-width;
    border-top: 0;
    padding-right: 4%;
  }
}

.bundle-item {
  width: 130px;
}

.bundle-prices {
  margin-top: 30px;

  @include breakpoint($screen-md) {
    margin-top: 0;
    padding-left: $padding-large;
  }
}

.bundle-prices-desc {
  @include breakpoint($screen-md) {
    padding-left: 0;
    padding-right: 0;
  }
}

.bundle-prices-button {
  @extend %col-md-36;
  @extend %col-sm-18;


  @include breakpoint($screen-md) {
    padding-left: 0;
    padding-right: 0;
    padding-top: $padding-small;
  }

  .btn {
    @extend %font-size-large;
    line-height: 1.42857;
  }
}

.rating-head {
  @extend %border-width;
  height: 69px;
}

.rating-margin {
  left: -9px;
  position: relative;
}

.master-table {
  @extend %font-size-medium;
  @extend %full-width;
  @extend %is-vertical-top;
  @extend %margin-large-top;

  td {
    padding-bottom: 10px;
    padding-left: 20px;
    padding-top: 10px;
    vertical-align: top;

    &:last-child {
      padding-right: 15px;
      width: 16%;
    }
  }

  thead {
    td {
      @extend %padding-large-bottom;
    }
  }

  .bullet-list {
    @extend %padding-small-bottom;
  }

  .tooltip-icon {

    &::before {
      font-size: 20px;
    }
  }

  .btn {
    @extend %padding-medium-left;
    @extend %padding-medium-right;
  }
}

.master-table-price {
  @extend %padding-medium;
  width: 12%;
}

.master-table-seller {
  width: 18%;
}

.master-table-info {
  width: 35%;
}

.master-table-cta {
  width: 13%;
}

.master-plus {
  position: relative;

  i {
    position: relative;
    top: 3px;
  }
}

.rating-range {
  @include font-size(1.8);
}

.button-portrait {
  background-color: $primary-color;
  bottom: 0;
  height: 80px;
  left: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 18px;
  position: fixed;
  right: 0;
  z-index: 1;
}

.thumbli {
  height: 70px;
  width: 70px;
}

.thumbs {
  @extend %no-padding;
  height: 90px;

  li {
    @extend %is-display-inline-block;
  }
}

.one-row-height {
  height: 24px;
}

.reviews-container {
  @extend %border-width;
  @extend %full-width;
  @extend %pull-left;
}

.product-reviews-rating {
  margin-left: -6px;
  padding-right: 8px;
}

.product-reviews-comment {
  @extend %padding-medium-bottom;
}

.product-reviews-see-more {
  margin-left: auto;
  margin-right: auto;
  width: 165px;
}

.product-reviews-more {
  @extend %padding-medium-top;
  @extend %padding-medium-bottom;
  @include font-size(1.4);
}

.product-reviews-more-icon {
  @extend %pull-left;
  @include font-size(2.6);
  padding-top: 7px;
}

.product-comment-label {
  padding: 14px 0 10px;
}

.product-comment-form {
  @extend %no-padding;
}

.product-comment-form-big {
  @extend %no-padding;
  height: 120px;
  resize: none;
}

.product-comment-button {
  @extend %margin-mini-bottom;
  @extend %pull-left;
  margin-top: 39px;
}

.product-other-option-container {
  @extend %font-size-large;
  @extend %padding-large-bottom;
}

.product-other-option-item {
  @extend %pull-left;
  @extend %show;
  height: 39px;
  margin-right: 10px;
  width: 39px;
}

.product-other-option-img {
  @extend %full-width;
  @extend %border-width;
}

.product-seller {
  @extend %border-width;
  margin-top: 10px;
  padding-top: 10px;

  .product-seller-title {
    @include font-size(1.6);
  }

  .product-seller-info {
    margin-bottom: 15px;
  }
}

.social-button {
  @extend %pull-left;

  &:hover {
    @include text-decoration();
  }
}

.social-button-icon {
  padding-right: 10px;

  &[data-icon]::before {
    @include font-size(2.8);
  }
}

.add-favorite {
  @extend %pull-left;
  padding: $padding-small 0 0 $padding-small;
}

.hide-text {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.in-the-box-title {
  @include font-size(1.7);
  padding: 30px 0 18px;
}

.in-the-box-first-column {
  @extend %padding-small-top;
  @extend %padding-small-bottom;
}

.in-the-box-icon {
  @extend %pull-left;
  @include font-size(3);
  margin-top: -4px;
}

.in-the-box-label {
  @extend %pull-left;
}

.call-product-wish-success {
  @extend %padding-small-right;
  position: relative;
}

.product-wish-checked {
  bottom: -2px;
  left: 1px;
  position: absolute;
  z-index: 1;
}

.product-slider {
  @extend %full-width;
  max-width: 370px;
  padding-left: 15px;
  padding-right: 15px;
}

.magnifying-glass {
  @extend %border-width;
}

.price-options {
  padding-left: 20px;
}

.product-buttons {
  @extend %border-width;
}

.product-options {
  @extend %border-width;
  @extend %padding-xlarge-top;
  @extend %padding-xlarge-bottom;
  @extend %full-width;
  @extend %pull-left;
}

.product-specs-title {
  vertical-align: top;
  width: 50%;
}

//Suplier name block at master sku table

.suplier-text {
  max-width: 70%;
}

.similar-products {
  @extend %pull-left;
  @extend %full-width;
  display: block;
  min-height: 428px;
}

.summary-tree-icon {
  left: -2px;
  position: absolute;
  top: -6px;
}

.summary-tree-text {
  margin-left: 32px;
}

.master-table-shipping {
  padding-top: 10px;
  width: 21%;

  .plus-badge {
    top: 0;
  }
}

.switch-arrow-icon {
  &::before {
    font-size: 24px;
    position: relative;
    top: 3px;
  }
}

.fb-comments {
  bottom: 35px;
  position: relative;
}

.fb-comments-count {
  border-radius: 7px;
  display: inline-block;
  font-size: 12px;
  height: 14px;
  line-height: 15px;
  position: relative;
  text-align: center;
  top: -4px;
  width: 21px;
}
