.product-gallery {
  @extend %margin-auto;

  .main-figure {
    @extend %is-center;
    @extend %no-margin;
  }

  .thumbs {
    @extend %margin-large-bottom;
    @extend %no-margin-right;
    @extend %no-margin-left;
    @extend %no-margin-bottom;
    @extend %no-padding;

    .product-thumb {
      @extend %is-display-inline-block;
    }
  }
}
