.guided-search {
  @extend %is-center;
  @extend %pull-left;
  @extend %full-width;
  @extend %border-width;
  margin-top: $margin-catalog-general;
  padding-bottom: 24px;
}

.search-suggestion {
  border-width: 1px;
  display: inline-block;
  margin: 0 6px;
  padding: 0 10px;
}

.other-suggestions-search {
  @extend %full-width;
  height: 230px;
}

.suggestions-head {
  @extend %full-width;
  @extend %pull-left;
  margin-top: 22px;
}

.suggestion-item {
  @extend %show;
  margin-bottom: 10px;
}
