.success-page-left-col {
  @extend %no-padding;
  @include center-element(90%);
  max-width: 650px;
  padding-bottom: 80px;

  @include breakpoint(max-width $screen-sm-max) {
    border: 0;
  }
}

.success-page-block-left {
  @include breakpoint($screen-md) {
    margin-right: $margin-large;
  }

  @include breakpoint(max-width $screen-sm-max) {
    margin: 0;
  }
}

.success-page-block-right {
  @include breakpoint($screen-md) {
    margin-left: $margin-large;
  }

  @include breakpoint(max-width $screen-sm-max) {
    margin: 0;
  }
}

.order-data {
  margin-bottom: 50px;
}

.order-number {
  @extend %margin-large-bottom;
  @include font-size(2);
}

.order-desc {
  @extend %full-width;
  @extend %pull-left;
  @extend %is-center;
  @extend %margin-mini-bottom;
}

.success-payment-icon {
  @extend %is-relative;
  top: 13px;
}

.success-payment-banistmo-icon {
  @extend %is-relative;
  top: 14px;
}

.success-payment-multibank-icon {
  @extend %is-relative;
  top: 8px;
}

.success-payment-visa-icon {
  @extend %is-relative;
  top: 24px;
}

.purchase-status {
  @extend %pull-left;
  @extend %full-width;
  padding: 0 12px;
}

.purchase-status-item {
  @extend %is-center;
  @extend %padding-medium-bottom;
  @extend %is-relative;
}

.purchase-status-border,
.purchase-success-border {
  @extend %no-padding;
  border-width: 3px;
}

.purchase-status-indicator {
  @extend %is-center;
  height: 1px;
}

.status-selector-icon {
  @extend %is-relative;
  bottom: 10px;
  padding: 0 3px;
}

.status-selector-active {
  border-radius: 10px;
  border-width: 3px;
  display: inline-block;
  height: 13px;
  width: 13px;
}

.status-selector-inactive {
  height: 13px;
  width: 13px;
}

.success-page-right-col {
  @extend %no-padding;
  @extend %margin-large-top;
}

.purchase-summary-title {
  @extend %border-width;
  @extend %pull-left;
  @extend %full-width;
}

.summary-item {
  @extend %pull-left;
  @extend %full-width;
  @extend %margin-large-top;
  @extend %is-relative;
  overflow: hidden;
  padding-bottom: 20px;
}

.summary-item-border {
  @extend %border-width;
}

.summary-item-img {
  @extend %full-width;
}

.summary-item-col-one {
  @extend %is-absolute;
  height: 100%;
  width: 80px;
}

.summary-item-col-two {
  @extend %padding-medium-left;
  @extend %pull-left;
  margin: 0 0 $margin-small 80px;

  @include breakpoint($screen-md) {
    border-width: 1px;
  }
}

.summary-item-title {
  @extend %pull-left;
  @include line-height(2);
  margin-bottom: 3px;
}

.summary-item-desc {
  @extend %pull-left;

  @include breakpoint(max-width $screen-sm-max) {
    bottom: 2px;
    position: relative;
  }
}

.summary-item-social {
  @extend %pull-left;
  @extend %full-width;

  @include breakpoint($screen-md) {
    margin: $margin-large 0 10px;
  }

  @include breakpoint(max-width $screen-sm-max) {
    border-width: 1px;
    margin: 10px 0;
    padding-top: 10px;
  }
}

.summary-item-social-button {
  margin-right: 8px;
}

.purchase-breakdown {
  padding: 20px 0;
}

.summary-item-subtotal {
  @extend %pull-left;
  @extend %full-width;
  @extend %border-width;
  @extend %padding-small-bottom;
  @extend %margin-mini-bottom;
}

.summary-item-price {
  @extend %pull-left;
  @extend %full-width;
  @extend %is-right;
}

.subtotal-label {
  @extend %pull-left;
  @extend %full-width;
}

.subtotal-quantity {
  @extend %pull-left;
  @extend %full-width;
  @extend %is-right;
}

.total-quantity {
  @extend %is-right;
}

.total-months {
  @extend %pull-left;
  @extend %full-width;
  @extend %is-right;
  @extend %margin-mini-top;
  @extend %margin-small-bottom;
}

.purchase-info {
  @extend %pull-left;
  @extend %border-width;
  margin-top: 45px;
  padding-bottom: 75px;
}

.purchase-info-col-left {
  padding-right: 25px;

  &.purchase-info-col-left [data-icon]::before {
    @include font-size(4);
  }
}

.purchase-info-col-right {
  @extend %margin-large-top;
  @include font-size(1.4);
  padding-left: 25px;
}

.purchase-info-sms-icon {
  @extend %is-relative;
  top: 5px;
}

.purchase-info-sms-label {
  @include font-size(1.4);
}

.purchase-info-description {
  @extend %pull-left;
  @extend %full-width;
}

.success-recommendations {
  @extend %pull-left;
  @extend %full-width;
  @extend %border-width;
  padding-top: 50px;
}

.success-recommendations-head {
  @extend %pull-left;
  margin-bottom: 30px;
}

.success-recommendations-carousel {
  @extend %pull-left;
  @extend %full-width;
  padding-bottom: 40px;
}

.success-page-banner {
  @extend %pull-left;
  @extend %full-width;
  @extend %border-width;
}

.success-page-banner-img {
  @extend %full-width;
  margin: 45px 0;
}

.success-page-apps {
  @extend %pull-left;
  @extend %full-width;
  padding: 45px 0;
}

.success-page-apps-head {
  @extend %pull-left;
  @extend %full-width;
  @extend %is-center;
}

.success-partial {
  @extend %pull-left;
  @extend %full-width;
  @extend %border-width;
  padding: 60px 0;
}

.success-partial-row {
  @extend %pull-left;
  @extend %full-width;
}

.partial-row-margin {
  margin-bottom: 50px;
}

.success-partial-col {
  @extend %is-relative;
  overflow: hidden;
}

.step-number-box {
  @extend %is-absolute;
  height: 100%;
}

.step-number {
  @extend %pull-left;
  @extend %is-center;
  @include font-size(1.4);
  border-radius: 12px;
  height: 20px;
  width: 20px;
}

.success-partial-description {
  @extend %pull-left;
  @extend %padding-large-right;
  margin-left: 26px;
}

.icon-oxxo-container {
  @extend %full-width;
  @extend %pull-left;
  @extend %is-center;
  @extend %is-relative;
  bottom: 43px;
  letter-spacing: -100px;
  right: 63px;

  &.icon-oxxo-container [data-icon]::before {
    @include font-size(10);
  }
}

.order-number-box {
  @extend %pull-left;
  @extend %full-width;
  padding: 10px 0;
}

.row-order-data {
  padding-left: 30px;
}

.oxxo-extra-charge {
  @extend %full-width;
  @extend %pull-left;
  @extend %is-center;
  margin-top: 20px;
}

.oxxo-payment-confirmed {
  @extend %is-center;
  @extend %is-relative;
  bottom: 15px;

  &.oxxo-payment-confirmed [data-icon]::before {
    @include font-size(7);
  }
}

.success-center-col {
  margin: 0 auto;
  max-width: 360px;
}

.order-info-style {
  @extend %pull-left;
  @extend %full-width;
  @extend %is-center;
 }

.success-partial-button {
  margin: 0 auto;
  width: 322px;
}

.partial-border {
  @extend %border-width;
  padding-bottom: 60px;
}

.margin-success-bottom {
  margin-bottom: 30px;
}

.success-payment-option {
  @extend %pull-left;
  @extend %full-width;
}

.pichincha-col-left {
  padding-right: 38px;
}

.pichincha-col-right {
  padding-left: 38px;
}

.account-data-box {
  @extend %pull-left;
  @extend %full-width;
  padding: 20px;
}

.consignment-option-margin {
  margin-top: -23px;
}

.pichincha-button {
  &:hover {
    @include text-decoration();
  }
}

.margin-success-container-top {
  margin-top: 50px;
}

.unsubscribed {
  @extend %is-center;
  margin: 60px auto 80px;
  width: 50%;
}

.pagoefectivo-print {
  width: 120px;
}
