.tokenized-payment {
  .tokenized-card {
    margin-bottom: 20px;
  }

  .tokenized-card-icon {
    margin: 0 5px;
  }

  .tokenized-card-input {
    margin-right: 5px;
    margin-top: 7px;
    vertical-align: top;
  }

  .tokenized-card-info {
    @include font-size(1.6);
    line-height: 1.5;
    padding-left: 55px;
    padding-top: 2px;
  }
}

.tokenized-payment-box {
  border-width: 1px 0 0;
  display: block;
  margin-top: 10px;

  .tokenized-payment-toggle {
    display: block;
    margin-bottom: 10px;
    padding: 3px 0;
  }

  .tokenized-payment-toggle-label {
    display: block;
    padding: 3px 0;
  }
}
