.usp-text {
  font-size: $font-size-tall;
}

.usp-big-icon {
  &[data-icon]::before {
    @include font-size(7.2);
  }
}

.usp-sidebar-icon {
  height: auto;
  margin-right: 16px;
  width: 32px;
}

.usp-sidebar-text {
  float: none;
  font-size: 14px;
  line-height: 16px;
  overflow: hidden;
  padding-top: 8px;
  width: auto;
}

.usp-padding-main {
  padding-bottom: 20px;
  padding-top: 20px;
}

.usp-padding {
  padding-bottom: 16px;
}
