.gallery-4col {
  @extend %margin-large-bottom;
  @include clearfix-both();

  .banner-item {
    @extend %is-display-table;
    @extend %three-grid;

    .product-item {
      @extend %full-width;
      @extend %is-center;
      @extend %padding-medium-top;
      @extend %padding-small-bottom;
      @extend %no-padding-left;
      @extend %no-padding-right;
      @extend %is-display-cell;
    }
  }
}
