<div class="pull-left full-width background-primary-color padding-medium-bottom">
    <img src="{{ asset_host }}/images/banners/bx-banner.jpg" />
    <form name="bounce" ng-submit="ouiBounceModal.subscribe()">
      <div class="ouibounce-form-container">
          <div class="pull-left full-width padding-small-top">
            <label class="full-width">{{ 'NEWSLETTER_EMAIL_PLACEHOLDER'|trans }}</label>
          </div>
          <div class="pull-left full-width padding-small-top">
            <input class="full-width form-style" name="email" type="email"
                   placeholder="{{ 'profile.email_placeholder'|trans }}" required="required"
                   ng-model="ouiBounceModal.subscriber.email"/>
            <div class="full-width alert-error margin-small-top is-center" ng-show="ouiBounceModal.error">
              {[ ouiBounceModal.error ]}
            </div>
          </div>
          <div class="pull-left full-width padding-medium-top">
              <button class="btn btn-action btn-ouibounce left" type="submit" name="female">{{ 'NEWSLETTER_FEMALE'|trans }}</button>
              <button class="btn btn-action btn-ouibounce right" type="submit" name="male">{{ 'NEWSLETTER_MALE'|trans }}</button>
          </div>
        </div>
    </form>
    <div class="pull-left full-width padding-xlarge-top">
      <div class="ouibounce-btn-container">
        <a class="appbtn-ouibounce left" href="/sp/tienda-app">
          <img class="full-width" src="/assets/images/icons/app-store.png">
        </a>
        <a class="appbtn-ouibounce right" href="/sp/tienda-app">
          <img class="full-width" src="/assets/images/icons/google-play.png">
        </a>
      </div>
    </div>
    <div class="pull-left full-width padding-small-top is-center">
      <span>{{ 'NEWSLETTER_PRIVACY'|trans }}</span><br />
      <span>{{ 'NEWSLETTER_ALSO_YOU_CAN_CANCEL'|trans }}</span><br />
      <a ng-href="/sp/privacidad">{{ 'NEWSLETTER_PRIVACY'|trans }}</a>
    </div>
</div>
