// Clearfix
// Source: http://nicolasgallagher.com/micro-clearfix-hack/
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `::before` to contain the top-margins of child elements.

@mixin primary-font() {
  font-family: $primary-font-family;
  font-weight: 300;
}

// HOWTO: @include font-size(1.6);
@mixin font-size($size-value: 1.6) {
  font-size: $size-value + rem;
}

// HOWTO: @include line-height(1.6);
@mixin line-height($size-value: 1.6) {
  line-height: $size-value + rem;
}

@mixin clearfix() {
  &::before,
  &::after {
    clear: both;
    content: ' '; // 1
    display: table; // 2
  }

  &::after {
    clear: both;
  }
}

@mixin clearfix-both() {
  &::before,
  &::after {
    clear: both;
    content: ' '; // 1
    display: table; // 2
  }
}

// Center-align a block level element
@mixin center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

//Background clips
@mixin background-clip($clip: padding-box) {
  background-clip: $clip;
}

// COMPONENT MIXINS
// --------------------------------------------------

// WebKit-style focus
@mixin tab-focus() {
  // Default
  outline: thin dotted $security-color;
  // WebKit
  outline-offset: -2px;
}

// Drop shadows
@mixin box-shadow($shadow...) {
  box-shadow: $shadow;
}

// Opacity
@mixin opacity($opacity) {
  opacity: $opacity;
  // IE8 filter
  $opacity-ie: ($opacity * 100);
  filter: #{alpha(opacity = $opacity-ie)};
}

// Button variants
// -------------------------
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons
@mixin button-variant($color, $background, $border, $alternative-color:'', $alternative-background:'', $alternative-border-color:'') {
  color: $color;
  background-color: $background;
  border-color: $border;

  $alternative-color: if($alternative-color != '', $alternative-color, darken($color, 10%));
  $alternative-background: if($alternative-background != '', $alternative-background, darken($background, 8%));
  $alternative-border-color: if($alternative-border-color != '', $alternative-border-color, darken($border, 12%));

  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: $alternative-background;
    border-color: $alternative-border-color;
    color: $alternative-color;
  }

  .open & {
    &.dropdown-toggle {
      background-color: $alternative-background;
      border-color: $alternative-border-color;
      color: $alternative-color;
    }
  }

  &:active,
  &.active {
    background-image: none;
  }

  .open & {
    &.dropdown-toggle {
      background-image: none;
    }
  }

  &:disabled,
  &.disabled {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: $background;
      border-color: $border;
    }
  }
}

// Button sizes
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
}

// border style used in skins
@mixin border-style($direction, $color: $input-border, $style: solid) {
  @if $direction != "all"{
    border-#{$direction}-color: $color;
    border-#{$direction}-style: $style;
  } @else {
    border-color: $color;
    border-style: $style;
  }
}

// Tooltips
@mixin tooltip($background-color: $primary-color,
               $arrow-base: 1.5em,
               $arrow-length: 1em,
               $border-width: .5em,
               $border-color: false) {
  background-color: $background-color;
  box-sizing: border-box;
  cursor: default;
  margin-bottom: $arrow-length;
  visibility: hidden;


  &::after {
    border-bottom: 12px solid $tooltip-border-color;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 0;
    content: '';
    height: 0;
    left: 50%;
    margin-left: ($border-width - $arrow-base / 2);
    position: absolute;
    top: -12px;
    width: 0;
  }

  @if $border-width {
    border: $border-width solid $border-color;

    &::before {
      border-bottom: 12px solid $primary-color;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 0;
      content: '';
      height: 0;
      left: 50%;
      margin-left: ($border-width - $arrow-base / 2);
      position: absolute;
      top: -10px;
      width: 0;
      z-index: 100;
    }

  }
}

@mixin keyframes($animation-name) {
  @keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin transform($transform-values...) {
  transform: $transform-values;
}

// text-decoration
@mixin text-decoration($decoration: none) {
  text-decoration: $decoration;
}

// width and height
@mixin width($width) {
  width: $width + px;
}

@mixin height($height) {
  height: $height + px;
}

@function set-width($num-col, $position: 'left', $add-padding: false, $add-gutter:false) {
  $width: ($column-width * $num-col) + ($gutter * ($num-col - 1));
  @if $position == 'last' {
    $width: $screen-max-width + $gutter - $width;
  }

  @if $add-padding == true {
    $width: $width + ($padding-home * 2);
  }

  @if $add-gutter == true {
    $width: $width + $gutter;
  }
  @return $width;
}


// Grids

 // container
@mixin container-fixed($gutter: $grid-gutter-width) {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

// scss-lint:disable ImportantRule
@mixin responsive-invisibility($parent) {
  %#{$parent} {
    display: none !important;
  }

  .#{$parent} {
    display: none !important;
  }
}
// scss-lint:enable ImportantRule

@mixin center-element($width) {
  width: $width;
  margin-left: auto;
  margin-right: auto;
}

// Number of total columns in the grid, width of column, prefix for the class name
@mixin create-cols($grid-base, $width-col, $prefix) {
  $width: ($width-col * $grid-base) + ($gutter * $grid-base);
  $gutter-side-percentage: (($gutter / $width) * 100%) / 2;

  @for $i from 1 to $grid-base {
    $grid: ($width-col * $i) + ($gutter * $i);
    $grid: ($grid / $width) * 100%;

    %col-#{$prefix}-#{$i} {
      float: left;
      padding-left: $gutter-side-percentage;
      padding-right: $gutter-side-percentage;
      width: $grid;
    }

    %col-#{$prefix}-#{$i}-right {
      float: right;
      padding-left: $gutter-side-percentage;
      padding-right: $gutter-side-percentage;
      width: $grid;
    }

    .col-#{$prefix}-#{$i} { @extend %col-#{$prefix}-#{$i}; }
    .col-#{$prefix}-#{$i}-right { @extend %col-#{$prefix}-#{$i}-right; }
  }

  %col-#{$prefix}-#{$grid-base} {
    float: left;
    width: 100%;
  }

  .col-#{$prefix}-#{$grid-base} {
    @extend %col-#{$prefix}-#{$grid-base};
  }
}

// Relative top position classes
@mixin create-relative-top($max-top, $orientation, $prefix) {
  @for $i from 1 to $max-top {
    %#{$prefix}-top-#{$i} {
      @include position-top($i * $orientation);
    }

    .#{$prefix}-top-#{$i} { @extend %#{$prefix}-top-#{$i}; }
  }
}

// Relative position
@mixin position-top($position) {
  position: relative;
  top: ($position) + px;
}

// Width percent classes
@mixin create-relative-width() {
  @for $i from 1 to 10 {
    %width-#{($i) * 10} {
      width: ($i) * 10%;
    }

    .#{'width'}-#{($i) * 10} { @extend %width-#{($i) * 10}; }
  }
}

// Alerts
@mixin alert-variant($background, $border, $text-color) {
  background-color: $background;
  border-color: $border;
  color: $text-color;

  hr {
    border-top-color: darken($border, 5%);
  }

  .alert-link {
    color: darken($text-color, 10%);
  }
}
