// Grid
$grid-columns: 12;
$grid-gutter-width: 1 / 3.7;
$grid-half-gutter-width: 10px;
$grid-gutter-position: inside;
$susy: (
  use-custom: (box-sizing: false),
  columns: $grid-columns,
  gutters: $grid-gutter-width,
  gutter-position: $grid-gutter-position,
  global-box-sizing: border-box,
);

$footer-layout: $grid-columns $grid-gutter-width $grid-gutter-position;

// NEW GRIDS SIZES
$column-unit-width: 25px;
$columns-unit-total: 36;

$padding-home: 20px;
$column-width: 91px;
$gutter: 8px;
$columns: 12;
$padding-grid-row: $gutter / 2;
$padding-container: 15px !default;

$screen-max-width: 1180px;
$screen-min-width: 640px;

$screen-total-width: $screen-max-width + $padding-home + $padding-home + $gutter;

$screen-lg: $screen-max-width; //1180
$screen-max-lg: $padding-container + $screen-lg + $padding-container;

$screen-md-max: ($screen-lg - 1) !default; //1179
$screen-md: 950px;

$screen-sm-max: ($screen-md - 1) !default; //949

//Almost Obsolete
$screen-sm: 601px;

$container-xlg: 1220px;
$container-lg: 1180px;
$container-md-plus: 960px;
$container-md: 740px;
$container-sm: 548px;
$container-xs-plus: 400px;
$container-xs: 320px;

$small-view-screen-lg: 1153px;
$small-view-screen-md: $small-view-screen-lg - 1;

// Colors
$primary-color: #fff !default;
$secondary-color: #999; //<----White
$tertiary-color: #ccc; //<----Silver
$fourth-color: #f2f2f2; //<----Wild Sand
$fifth-color: #666; //<----Dove Gray
$sixth-color: #757575; //<----Boulder
$seventh-color: #e0e0e0; //<--Alto
$eighth-color: #ededed; //<--Gallery
$nineth-color: #bdbdbd; //<---Silver
$tenth-color: #9e9e9e; //<--Silver Chalice
$eleventh-color: #424242; //<--Tundora
$twelfth-color: #333; //<--Mine Shaft
$thirteenth-color: #f9f9f9; //<--Alabaster
$white: #fff;

$first-color: #f50; //<--Pumkin
$first-color-alt: #fd4101;
$light-color: #ebebeb; //<--Gallery
$security-color: $twelfth-color; //<--Tundora
$dark-color: #000; //<--Black
$link-hover-color: $first-color !default;

$primary-link-color: $first-color;
$primary-link-color-hover: #db4400;
$primary-link-color-active: #f60;


// Category Tree variables
$subcategory-quantity-color: #939393 !default;
$subcategory-quantity-background: $fourth-color;
$subcategory-quantity-radius: 10px !default;
$subcategory-quantity-font-size: 1 !default;

$primary-color-v1: #f7f7f7;
$primary-color-v10: #212121;

$arrow-box-color: #509f44;
$progress-bar-span-color: #fbae24;

//Dropdown Colors
$dropdown-background: #fff;
$dropdown-border-width: 1px;
$dropdown-border-style: solid;
$dropdown-border-color: #f4f4f4;

// Package status Colors
$package-ontime-color: #45a00a !default;
$package-delayed-color: #ea2840 !default;

//Alerts Variables
$alert-padding: 20px;
$alert-margin-bottom: 20px;
$alert-link-font-weight: bold !default;

$alert-success-text:            #4f9f1a !default;
$alert-success-bg:              transparent !default;
$alert-success-border:          darken(adjust-hue($alert-success-bg, -10), 5%) !default;

$alert-info-text:                #666 !default;
$alert-info-bg:                  transparent !default;
$alert-info-border:              darken(adjust-hue($alert-info-bg, -10), 7%) !default;

$alert-warning-text:             #333 !default;
$alert-warning-bg:               #ffd000 !default;
$alert-warning-border:           transparent;

$alert-danger-text:              #ea2840 !default;
$alert-danger-bg:                transparent !default;
$alert-danger-border:            darken(adjust-hue($alert-danger-bg, -10), 5%) !default;

//logos special colors:
$oxxo-color-letter: #e70020;
$oxxo-color-lines: #fbb110;
$paypal-color-pay: #003087;
$paypal-color-pal: #009cde;
$facebook-bg-color: #3d5a98;
$google-bg-color: #d34836;
$pagoefectivo-bg: #feca00;

$brand-success: #62982d;
$brand-info: #fcac19;
$brand-danger: #ef2c3c;
$brand-danger-light: #fde9eb;

$brand-incorrect-border: $brand-danger;
$brand-incorrect-bg: $brand-danger-light;

$legend-color: $security-color !default;
$legend-border-color: #e5e5e5 !default;

$border-radius-base: 4px;

$overlay-clear-opacity: rgba(255, 255, 255, .6);

//Border width
$min-border-width: 1px;
$small-border-width: 2px;

// Typography
$rhythm-unit: 'px' !default;
$strict-normalize: true !default;
$indent-amount: 40px !default;

$base-font: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !default;
$primary-font: "Function Pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !default;
$sidebar-font: Helvetica, 'Segoe UI', 'Noto Sans', 'Calibri', Tahoma, sans-serif !default;

$font-size-base: 10px !default;
$font-size-large: ceil($font-size-base * 1.8) !default; // ~18px
$font-size-small: ceil($font-size-base * 1.2) !default; // ~12px
$font-size-medium: ceil($font-size-base * 1.4) !default; // ~14px
$font-size-tall: ceil($font-size-base * 1.6) !default; // ~16px
$font-size-xlarge: ceil($font-size-base * 2.5) !default; // ~16px
$font-size-xxxlarge: ceil($font-size-base * 4) !default; // ~40px

$line-height-base: 1.428571429 !default; // 20/14

$font-size-h1: floor($font-size-base * 2.6) !default; // ~36px
$font-size-h2: floor($font-size-base * 2.15) !default; // ~21px
$font-size-h3: ceil($font-size-base * 1.7) !default; // ~17px
$font-size-h4: ceil($font-size-base * 1.25) !default; // ~18px
$font-size-h5: $font-size-base !default;
$font-size-h6: ceil($font-size-base * .85) !default; // ~12px

$weight-100: 100;
$weight-300: 300 !default;
$weight-400: 400 !default;
$weight-700: 700 !default;

$primary-font-family: $primary-font !default;
$headings-font-family: "Function Pro", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !default;
$headings-line-height: 1.1 !default;

$line-height-base: 1.428571429 !default; // 20/14
$line-height-computed: floor($font-size-base * $line-height-base) !default; // ~20px

// Components
$margin-mini: 5px;
$margin-small: 10px;
$margin-medium: 15px;
$margin-large: 20px;
$margin-xlarge: 25px;
$margin-container: auto !default;
$margin-catalog-general: 24px;

$padding-category-tree: 8px;

$padding-small: 5px !default;
$padding-medium: 13px !default;
$padding-large: 15px !default;
$padding-xlarge: 24px !default;

$padding-base-vertical: 6px !default;
$padding-base-horizontal: 12px !default;

$padding-large-vertical: 10px !default;
$padding-large-horizontal: $padding-large;

$padding-small-vertical: $padding-small;
$padding-small-horizontal: 10px !default;


$line-height-mini: 1.33 !default;
$line-height-small: 1.5 !default;
$line-height-medium: 2 !default;

$border-radius-base: 4px !default;
$border-radius-large: 6px !default;
$border-radius-small: 3px !default;

$border-radius-base: 3px !default;
$border-radius-medium: 5px !default;
$border-radius-large: 6px !default;

$component-active-color: $primary-color;
$component-active-bg: $first-color !default;

$caret-width-base: 4px !default;
$caret-width-large: 5px !default;

//Forms
$required-asterisk-color: #f57462 !default;
$input-bg: $thirteenth-color !default;

$input-border: $tertiary-color;
$input-border-radius: $border-radius-base !default;
$input-border-focus: #66afe9 !default;

$input-color-placeholder: $light-color !default;

$input-height-base: ($line-height-computed + ($padding-base-vertical * 2) + 2) !default;
$input-height-large: (floor($font-size-large * $line-height-mini) + ($padding-large-vertical * 2) + 2) !default;

$legend-color: $security-color !default;
$legend-border-color: #e5e5e5 !default;

$default-fieldset-border-color: #c0c0c0;

// Tables
$table-cell-padding: 8px !default;
$table-condensed-cell-padding: 5px !default;

$table-bg: transparent !default; // overall background-color
$table-bg-accent: #f9f9f9 !default; // for striping
$table-bg-hover: #f5f5f5 !default;
$table-bg-active: $table-bg-hover !default;

$table-border-color: #ddd !default; // table and cell border
$zebra-bg-color: #f2f2f2;

// Buttons
$btn-font-weight: normal !default;

$btn-default-color: #333 !default;
$btn-default-bg: $primary-color;
$btn-default-border: #ccc !default;

$btn-primary-color: $primary-color;
$btn-primary-bg: $first-color !default;
$btn-primary-border: darken($btn-primary-bg, 5%) !default;

$btn-dark-color: $primary-color;
$btn-dark-bg: $btn-default-color;
$btn-dark-border: $btn-default-color;

$btn-md-font-size: 1.4rem;
$btn-md-font-weight: 700;
$btn-md-line-height: 1.5;
$btn-md-padding-vertical: 5px;
$btn-md-padding-horizontal: 15px;

$btn-success-color: $primary-color;
$btn-success-bg: $brand-success !default;
$btn-success-border: darken($btn-success-bg, 5%) !default;

$btn-warning-color: $primary-color;
$btn-warning-bg: $first-color !default;
$btn-warning-border: darken($btn-warning-bg, 5%) !default;

$btn-danger-color: $primary-color;
$btn-danger-bg: $brand-danger !default;
$btn-danger-border: darken($btn-danger-bg, 5%) !default;

$btn-info-color: $primary-color;
$btn-info-bg: $brand-info !default;
$btn-info-border: darken($btn-info-bg, 5%) !default;

$btn-security-color: $primary-color;
$btn-security-bg: $security-color !default;
$btn-security-border: darken($security-color, 5%) !default;

$btn-facebook-color: $primary-color;
$btn-facebook-bg: $facebook-bg-color !default;
$btn-facebook-border: darken($facebook-bg-color, 5%) !default;

$btn-google-color: $primary-color;
$btn-google-bg: $google-bg-color !default;
$btn-google-border: darken($google-bg-color, 5%) !default;

$btn-link-disabled-color: $light-color !default;

//Progressbar
$default-progressbar-height: 15px;
$default-progressbar-width: 45%;

//Tooltip

$tooltip-border-color: #aaa;
