<div class="ngdialog-message" ng-controller="InvoiceAddressController">
    <div ng-show="invoiceStatus=='addressFormView'">
        <div class="h-title-tall is-weight-700 border-page-header padding-large-bottom">
            <span ng-show="addressManagerType == 'shipping'">{{ 'address_book.delivery_address'|trans }}</span>
            <span ng-show="addressManagerType == 'billing'">{{ 'address_book.billing_address'|trans }}</span>
        </div>

        <div class="ngdialog-inner clearfix" ng-init="activateAddAddressTab()">
            <div class="col-md-10 padding-xlarge-right margin-large-top">
                <div class="full-width padding-medium-bottom secondary-border-bottom" ng-click="activateAddAddressTab()">
                    <i class="icon-2x first-color" aria-hidden="true" data-icon="l"></i>
                    <a class="padding-small-right is-weight-700" href="">
                        {{ 'address_book.add_address'|trans }}
                    </a>
                    <i class="icon-small first-color" aria-hidden="true" data-icon="Ø" ng-show="addAddressTabVisible == true"></i>
                </div>
            </div>
            <div class="col-md-26 padding-xlarge-left secondary-border-left" ng-show="addAddressTabVisible == true">

                {% set form = billing_address_form %}

                {{ form_start(form) }}

                {% for element in form.children %}
                    <div class="col-lg-18 no-padding-left padding-medium-right margin-medium-bottom">
                        <div>
                          {% if element.vars.name != '_token' %}
                            {{ form_label(element) }}
                          {% endif %}
                        </div>

                        {{ form_widget(element, {'attr': {'class': 'full-width form-style'}}) }}
                        <i aria-hidden="true"
                            data-icon="õ"
                            class="pull-right input-icon success-color fade-in"
                            ng-show="({{ form.vars.full_name }}.$submitted || (!{{ form.vars.full_name }}['{{ form.vars.full_name }}[{{ element.vars.name }}]'].$focused))
                                && {{ form.vars.full_name }}['{{ form.vars.full_name }}[{{ element.vars.name }}]'].$touched
                                && {{ form.vars.full_name }}['{{ form.vars.full_name }}[{{ element.vars.name }}]'].$valid
                                && {{ form.vars.full_name }}['{{ form.vars.full_name }}[{{ element.vars.name }}]'].$dirty">
                        </i>
                        <i aria-hidden="true"
                            data-icon="x"
                            class="pull-right input-icon error-color fade-in"
                            ng-show="({{ form.vars.full_name }}.$submitted || ({{ form.vars.full_name }}['{{ form.vars.full_name }}[{{ element.vars.name }}]'].$dirty))
                                && !{{ form.vars.full_name }}['{{ form.vars.full_name }}[{{ element.vars.name }}]'].$focused
                                && {{ form.vars.full_name }}['{{ form.vars.full_name }}[{{ element.vars.name }}]'].$invalid">
                        </i>
                    </div>
                {% endfor %}

                {{ form_end(form) }}

                <div class="col-lg-36 padding-medium-right">
                    <a class="btn btn-action btn-lg btn-block is-weight-700 font-size-large" ng-click="saveAndRequestInvoice(billing_address, billingAddress, {{order.id}})" ng-disabled="overlayActive">
                        {{ 'checkout.continue'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="invoiceStatus=='generatingInvoice'" class="is-center">
        <div class="loading-orange-icon"></div>
        {{ 'invoice.generating_invoice'|trans }}<br>{{ 'invoice.this_can_be_late'|trans }}
    </div>
    <div ng-show="invoiceStatus=='showInvoice'">
        <div class="secondary-border-bottom padding-small-bottom"><h3 class="is-weight-700">{{ 'invoice.generate_invoice'|trans }}</h3></div>
        <div ng-repeat="invoiceFolio in invoices" class="invoice-folio padding-large-top" target="_blank">{{ 'invoice.note_number'|trans }} {[invoiceFolio]}
            <span class="pull-right">
                <a class="first-color padding-medium-right" href="/account/order/invoice/{[invoiceFolio]}.pdf" target="_blank">{{ 'invoice.download_pdf'|trans }}</a>|<a class="first-color padding-medium-left" href="/account/order/invoice/{[invoiceFolio]}.xml" target="_blank">{{ 'invoice.download_xml'|trans }}</a>
            </span>
        </div>
    </div>
    <div ng-show="invoiceStatus=='invoiceNotFound'">
        <div class="secondary-border-bottom padding-small-bottom"><h3 class="is-weight-700">{{ 'invoice.generate_invoice'|trans }}</h3></div>
        <div class="secondary-border-top" ng-show="!invoices.length && !hasPendingInvoices">
            <li class="dark-color padding-medium-top padding-small-bottom">{{ 'invoice.invoice_not_found'|trans }}</li>
        </div>
    </div>
</div>
