{% extends ':Customer:index.html.twig' %}

{% block lastBreadcrumb %}
    <a class="breadcrumb-item" href="{{ path('frontend.customer.index') }}" title="{{ 'account.my_account'|trans }}">{{ 'account.my_account'|trans }}</a>
    <a class="breadcrumb-item" href="{{ path('frontend.customer.orders.list') }}" title="{{ 'account.my_orders'|trans }}">{{ 'account.my_orders'|trans }}</a>
    <span class="breadcrumb-item last" data-position="">{{ 'order.number'|trans({'%orderNumber%': order.orderNumber }) }}</span>
{% endblock %}

{% block account_content %}
<div class="padding-medium-left">
    <div class="col-lg-36 padding-xlarge-top padding-large-bottom secondary-border-bottom">
        <div class="col-lg-24 col-sm-18">
            <h2 class="is-weight-700 not-uppercase">
                {{ 'account.my_orders'|trans }}
            </h2>
        </div>
        <div class="col-lg-12 is-right">
            <a class="section-title-link is-underline" href="{{ path('frontend.customer.orders.list') }}">
                <i aria-hidden="true" data-icon="7"></i>
                {{ 'global.back'|trans }}
            </a>
        </div>
    </div>
    <div class="col-lg-36">
        <div class="secondary-border-bottom margin-small-top padding-medium-bottom margin-small-bottom">
            <span class="is-weight-bold is-uppercase padding-xlarge-right">{{ 'order.number'|trans({'%orderNumber%': order.orderNumber}) }}</span>
            <span class="secondary-color">{{ 'order.purchase_date'|trans({'%purchaseDate%': order.createdAt|format_date}) }}</span>
            <span class="pull-right sub-top-7">
                {% if request_invoice_enabled and order.invoiceAvailable %}
                    <invoice-request title="{{ 'order.invoice'|trans }}" order-number="{{ order.id }}"></invoice-request>
                {% endif %}
                {% include '::partial/components/customer/order/tracking_cta.html.twig' with {'order': order}  %}
            </span>
        </div>

        {% include '::partial/components/customer/order/order_information.html.twig' %}
        {% include '::partial/components/customer/order/order_details.html.twig' %}
    </div>
</div>
{% endblock %}
