{% extends ':Customer:index.html.twig' %}

{% block lastBreadcrumb %}
    <a class="breadcrumb-item" href="{{ path('frontend.customer.index') }}" title="{{ 'account.my_account'|trans }}">{{ 'account.my_account'|trans }}</a>
    <span class="breadcrumb-item last" data-position="">{{ 'account.my_orders'|trans }}</span>
{% endblock %}

{% block account_content %}
    <div class="category-tittle h-title-large secondary-border-bottom">
        <h2 class="is-weight-700 not-uppercase padding-medium-bottom padding-large-top">
            {{ 'account.my_orders'|trans }}
        </h2>
    </div>

    <div class="account-section">
        {% for order in paginatedResult.result %}
            <div class="order-panel">
                <div class="padding-large secondary-border-bottom">
                    <span class="pull-right padding-xlarge-left is-uppercase is-weight-700 padding-small-right">{{ 'order.total'|trans({'%total%': order.grandTotal|format_money}) }}</span>
                    <span class="is-display-inline-block padding-xlarge-right is-uppercase is-weight-700 padding-small-left">{{ 'order.number'|trans({'%orderNumber%': order.orderNumber}) }}</span>
                    <span class="is-display-inline-block padding-xlarge-right secondary-color">{{ 'order.purchase_date'|trans({'%purchaseDate%': order.createdAt|format_date}) }}</span>
                </div>

                <div class="order-body">
                    <div class="row full-width padding-xlarge-bottom">
                        <div class="col-sm-28 secondary-border-right padding-xlarge-right">
                            {% for package in order.packages %}
                                {% if loop.index == 1 %}
                                    <div class="order-header">
                                        <span class="is-display-inline-block padding-xlarge-right">
                                            <span class="is-weight-700 is-uppercase">{{ 'order.shipping_state_label'|trans }}:</span>
                                            <span class="padding-medium-left package-{{ package.shipmentStatus ?? 'on_time' }}">{{ package_status(package) }}</span>
                                        </span>
                                        {% if package.status not in ['invalid', 'canceled', 'delivered', 'closed', 'refundNeeded', 'refunded'] %}
                                            <span class="pull-right padding-xlarge-left">
                                                {% if package.updatedDeliveryDate %}
                                                    <strong class="twelfth-color">{{ 'order.delivery.new_estimated'|trans }}</strong> {{ package.updatedDeliveryDate|format_date }}
                                                {% else %}
                                                    <strong class="twelfth-color">{{ 'order.delivery.estimated'|trans }}</strong> {{ package.expectedDeliveryDate|format_date }}
                                                {% endif %}
                                            </span>
                                            <span class="is-display-inline-block padding-xlarge-right pull-right">{{ package_delivery_state(package) }}</span>
                                        {% endif %}
                                    </div>
                                {% endif %}
                                {% for status, itemsByStatus in package.items %}
                                    {% for item in itemsByStatus %}
                                        <div class="row full-width">
                                            <div class="col-sm-36">
                                                <div class="order-body__item">
                                                    <div class="order-body__item-details">
                                                        <img class="product-image-xs pull-left margin-medium-right" src="{{ product_image(item.image, 'product') }}">
                                                        <strong>
                                                            {% if item.slug %}
                                                                <a href="{{ path('frontend.catalog.detail', {'productSlug': item.slug}) }}">{{ item.name }}</a>
                                                            {% else %}
                                                                {{ item.name }}
                                                            {% endif %}
                                                            {% if item.variation %}
                                                                -
                                                                {% if item.variationType == 'size' %}
                                                                    {{ 'product.size'|trans }}
                                                                {% else %}
                                                                    {{ 'product.option'|trans }}
                                                                {% endif %}
                                                                {{ item.variation }}
                                                            {% endif %}
                                                        </strong>
                                                        <span class="padding-small-left secondary-color">| {{ 'account.quantity'|trans({'%quantity%': item.quantity }) }}</span>
                                                        <div class="order-body__item-meta padding-medium-bottom">
                                                            {{ 'order.shipped_by'|trans({'%seller%': item.seller|trans}) }} <span class="padding-small-left secondary-color">| {{ item.paidPrice|format_money }}</span>
                                                        </div>
                                                        {% if product_available(item.sku) %}
                                                            <form action="{{ path('frontend.cart.product.add') }}" method="post">
                                                                <input type="hidden" name="sku"  value="{{ item.sku }}">
                                                                <button class="btn btn-default btn-sm is-weight-700" type="submit">
                                                                    {{ 'order.buy_it_again'|trans }}
                                                                </button>
                                                            </form>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                        <div class="col-sm-8">
                            <div class="col-sm-31-right">
                                <div class="margin-small-bottom"><a class="btn btn-primary btn-md btn-block is-weight-700" href="{{ path('frontend.customer.orders.detail', {orderNumber: order.orderNumber}) }}">{{ 'order.view_details'|trans }}</a></div>
                                {#<div class="margin-small-bottom"><a class="btn btn-outline-primary btn-md btn-block is-weight-700" href="{{ path('frontend.customer.orders.detail', {orderNumber: order.orderNumber}) }}">{{ 'order.cancel'|trans }}</a></div>#}
                                {% if seller_reviews_enabled and order.hasPackagesAvailableForReview %}
                                    <div class="margin-small-bottom"><a class="btn btn-outline-primary btn-md btn-block is-weight-700" href="{{ path('frontend.customer.seller.reviews') }}">{{ 'order.write_review'|trans }}</a></div>
                                {% endif %}
                                {% if return_item_enabled and order.hasPackagesAvailableForReturn %}
                                    <div class="margin-small-bottom"><a class="btn btn-outline-primary btn-md btn-block is-weight-700" href="{{ path('frontend.customer.orders.return', {orderNumber: order.orderNumber}) }}">{{ 'order.returns.return'|trans }}</a></div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% if paginatedResult.pages > 1 %}
            <div class="catalog-bottom padding-large-top padding-large-bottom">
                <div class="border-pagination"> </div>
                <div class="catalog-pagination">
                    {% include '::partial/components/pagination.html.twig' with {'currentPage': paginatedResult.current, 'pageCount': paginatedResult.pages} %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
