{% extends ':Customer:index.html.twig' %}

{% block bodyTag %}
<body ng-app="linio">
{% endblock %}

{% block lastBreadcrumb %}
    <a class="breadcrumb-item" href="{{ path('frontend.customer.index') }}" title="{{ 'account.my_account'|trans }}">{{ 'account.my_account'|trans }}</a>
    <a class="breadcrumb-item" href="{{ path('frontend.customer.orders.list') }}" title="{{ 'account.my_orders'|trans }}">{{ 'account.my_orders'|trans }}</a>
    <a class="breadcrumb-item" href="{{ path('frontend.customer.orders.list') }}" title="{{ 'order.returns.returns'|trans }}">{{ 'order.returns.returns'|trans }}</a>
{% endblock %}

{% block account_content %}
    <ui-messenger></ui-messenger>
    <h2 class="section-title">
        <a class="section-title-link pull-right is-underline" href="{{ path('frontend.customer.orders.list') }}">
            {#<i aria-hidden="true" data-icon="7"></i>#}
            {{ 'global.back'|trans }}
        </a>
        <strong>{{ 'order.returns.returns'|trans }}</strong>
    </h2>

    <div class="account-section" ng-controller="OrderReturnController as orderReturn">
        {% include '::partial/components/customer/order/order_return.html.twig' %}
    </div>
</div>

{% endblock %}
