{% extends ':Customer:index.html.twig' %}

{% block lastBreadcrumb %}
    <a class="breadcrumb-item" href="{{ path('frontend.customer.index') }}" title="{{ 'account.my_account'|trans }}">{{ 'account.my_account'|trans }}</a>
    <a class="breadcrumb-item" href="{{ path('frontend.customer.orders.list') }}" title="{{ 'account.my_orders'|trans }}">{{ 'account.my_orders'|trans }}</a>
    <span class="breadcrumb-item last" data-position="">{{ 'order.number'|trans({'%orderNumber%': order.orderNumber }) }}</span>
{% endblock %}

{% block account_content %}
    <h2 class="section-title">
        <a class="section-title-link pull-right is-underline" href="{{ path('frontend.customer.orders.list') }}">
            {#<i aria-hidden="true" data-icon="7"></i>#}
            {{ 'global.back'|trans }}
        </a>
        <strong>{{ 'order.tracking.title'|trans }}</strong>
    </h2>
    <div class="account-section">

        <div class="secondary-border-bottom margin-small-top padding-medium-bottom margin-small-bottom">
            <span class="is-weight-bold is-uppercase padding-xlarge-right">{{ 'order.number'|trans({'%orderNumber%': order.orderNumber}) }}</span>
            <span class="secondary-color">{{ 'order.purchase_date'|trans({'%purchaseDate%': order.createdAt|format_date}) }}</span>
        </div>

        {% include '::partial/components/customer/order/order_tracking.html.twig' %}
    </div>

{% endblock %}
