{% extends ':Security:base.html.twig' %}

{% block body %}
    <div class="login-container">
        {# NAVIGATOR START #}
        <div class="padding-xlarge-top">
            <div class="twelve-grid  h-title-tall is-weight-700 padding-medium-bottom login-nav" align="center">
                <a>{{ 'customer.recover_password'|trans }}</a>
            </div>
        </div>
        {# NAVIGATOR END#}

        <div class="login-form-container">
            <form action="{{ path('frontend.customer.password.recover', {'resetToken': resetToken}) }}" method="post">
                <input type="hidden" name="{{ form._token.vars.full_name }}" value="{{ form._token.vars.value }}"/>
                <div class="new-password-head">
                    {{ 'profile.add_new_password'|trans }}
                </div>
                <div class="login-form-container-item">
                    <label class="login-form-label">
                        {{ 'profile.email'|trans }}
                    </label>
                    <input type="email" name="{{ form.email.vars.full_name }}" class="login-form-input form-style" placeholder="{{ 'profile.email_placeholder'|trans }}"
                           onfocus="this.placeholder=''" onblur="this.placeholder='{{ 'profile.email_placeholder'|trans }}'">
                </div>
                <div class="login-form-container-item">
                    <label class="login-form-label">
                        {{ 'profile.new_password'|trans }}
                    </label>
                    <input type="password" name="{{ form.password.first.vars.full_name }}" class="login-form-input form-style" placeholder="{{ 'profile.add_new_password'|trans }}"
                           onfocus="this.placeholder=''" onblur="this.placeholder='{{ 'profile.add_new_password'|trans }}'">
                </div>
                <div class="login-form-container-item">
                    <label class="login-form-label">
                        {{ 'profile.confirm_new_password'|trans }}
                    </label>
                    <input type="password" name="{{ form.password.second.vars.full_name }}" class="login-form-input form-style" placeholder="{{ 'profile.confirm_new_password'|trans }}"
                           onfocus="this.placeholder=''" onblur="this.placeholder='{{ 'profile.confirm_new_password'|trans }}'">
                </div>
                <div class="login-form-container-item">
                    <button type="submit" class="btn btn-action btn-m btn-block font-size-tall margin-mini-top">{{ 'profile.restore_password'|trans }}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
