{% extends ':Security:base.html.twig' %}

{% block body %}
    <div class="login-container">
        {# NAVIGATOR START #}
        <div class="padding-xlarge-top">
            <div class="twelve-grid  h-title-tall is-weight-700 padding-medium-bottom login-nav" align="center">
                <a>{{ 'customer.recover_password'|trans }}</a>
            </div>
        </div>
        {# NAVIGATOR END#}

        <div class="login-form-container">
            {{ form_start(form) }}
                <div>
                    {{ form_label(form.email, null, {'label_attr': {'class': 'fifth-color margin-small-top'}}) }}<br>
                    {{ form_widget(form.email, {'attr': {'size': 20, 'class': 'form-style full-width', 'placeholder': 'Ej: carlos@mail.com'}}) }}
                </div>
                <div class="margin-small-top">
                    <div class="recaptcha full-width">
                        {{ form_widget(form.captcha) }}
                    </div>
                </div>
                <div>
                    <input type="submit" value="{{ 'customer.recover_password'|trans }}"
                           class="btn btn-action btn-m btn-block font-size-tall complete-register-button"/>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
