.dynamic-list-item.ng-move {
  max-height: 0;

  &.ng-move-active {
    max-height: 100%;
  }
}

.loading-icon-container {
  height: 61px;
  padding-left: 14px;
  padding-top: 7px;
  width: 61px;

  .loading-icon {
    margin: 1px;
  }
}

//Animation tooltips
@include keyframes(slide-up) {
  0% {
    @include transform(translateY(1em));
    opacity: 0;
  }

  100% {
    @include transform(translateY(0));
    opacity: 1;
  }
}

//Slide bar
@include keyframes(slide-left) {
  0% {
    @include transform(translateX(10em));
    opacity: 0;
  }

  100% {
    @include transform(translateX(0));
    opacity: 1;
  }
}

@include keyframes(slide-right) {
  0% {
    @include transform(translateX(0));
    opacity: 1;
  }

  100% {
    @include transform(translateX(10em));
    opacity: 0;
  }
}

//header-sticky
@include keyframes(slide-up-hide) {
  0% {
    @include transform(translateY(5em));
    opacity: 1;
  }

  100% {
    @include transform(translateY(-5em));
    opacity: 0;
  }
}

@include keyframes(slide-up-show) {
  0% {
    @include transform(translateY(5em));
    opacity: 1;
  }

  100% {
    @include transform(translateY(1.5em));
    opacity: 1;
  }
}

@include keyframes(slide-up-search) {
  0% {
    @include transform(translateY(0));
    opacity: 1;
  }

  100% {
    @include transform(translateY(-1.5em));
    opacity: 1;
  }
}

@include keyframes(slide-down-show) {
  0% {
    @include transform(translateY(0));
    opacity: 0;
  }

  100% {
    @include transform(translateY(5em));
    opacity: 1;
  }
}

@include keyframes(padding-bottom) {
  0% {
    padding-bottom: 5px;
  }

  100% {
    padding-bottom: 0;
  }
}
