// paddings
%no-padding { padding: 0; }
.no-padding { @extend %no-padding; }
%no-padding-top { padding-top: 0; }
.no-padding-top { @extend %no-padding-top; }
%no-padding-bottom { padding-bottom: 0; }
.no-padding-bottom { @extend %no-padding-bottom; }
%no-padding-left { padding-left: 0; }
.no-padding-left { @extend %no-padding-left; }
%no-padding-right { padding-right: 0; }
.no-padding-right { @extend %no-padding-right; }
%padding-small {  padding: $padding-small; }
.padding-small {	@extend %padding-small; }
%padding-small-left { padding-left: $padding-small; }
.padding-small-left { @extend %padding-small-left; }
%padding-small-right { padding-right: $padding-small; }
.padding-small-right { @extend %padding-small-right; }
%padding-small-top { padding-top: $padding-small; }
.padding-small-top { @extend %padding-small-top; }
%padding-small-bottom { padding-bottom: $padding-small; }
.padding-small-bottom { @extend %padding-small-bottom; }
%padding-large { padding: $padding-large; }
.padding-large { @extend %padding-large; }
%padding-large-top { padding-top: $padding-large; }
.padding-large-top { @extend %padding-large-top; }
%padding-large-bottom { padding-bottom: $padding-large; }
.padding-large-bottom { @extend %padding-large-bottom; }
%padding-large-right { padding-right: $padding-large; }
.padding-large-right { @extend %padding-large-right; }
%padding-large-left { padding-left: $padding-large; }
.padding-large-left { @extend %padding-large-left; }
%padding-xlarge { padding: $padding-xlarge; }
.padding-xlarge { @extend %padding-xlarge; }
%padding-xlarge-top { padding-top: $padding-xlarge; }
.padding-xlarge-top { @extend %padding-xlarge-top; }
%padding-xlarge-bottom { padding-bottom: $padding-xlarge; }
.padding-xlarge-bottom { @extend %padding-xlarge-bottom; }
%padding-xlarge-right { padding-right: $padding-xlarge; }
.padding-xlarge-right { @extend %padding-xlarge-right; }
%padding-xlarge-left { padding-left: $padding-xlarge; }
.padding-xlarge-left { @extend %padding-xlarge-left; }
%padding-medium { padding: $padding-medium; }
.padding-medium { @extend %padding-medium; }
%padding-medium-top { padding-top: $padding-medium; }
.padding-medium-top { @extend %padding-medium-top; }
%padding-medium-bottom { padding-bottom: $padding-medium; }
.padding-medium-bottom { @extend %padding-medium-bottom; }
%padding-medium-right { padding-right: $padding-medium; }
.padding-medium-right { @extend %padding-medium-right; }
%padding-medium-left { padding-left: $padding-medium; }
.padding-medium-left { @extend %padding-medium-left; }
// margins
%no-margin { margin: 0; }
.no-margin { @extend %no-margin; }
%no-margin-top { margin-top: 0; }
.no-margin-top { @extend %no-margin-top; }
%no-margin-right { margin-right: 0; }
.no-margin-right { @extend %no-margin-right; }
%no-margin-bottom { margin-bottom: 0; }
.no-margin-bottom { @extend %no-margin-bottom; }
%no-margin-left { margin-left: 0; }
.no-margin-left { @extend %no-margin-left; }
%margin-mini-right { margin-right: $margin-mini; }
.margin-mini-right { @extend %margin-mini-right; }
%margin-mini-left { margin-left: $margin-mini; }
.margin-mini-left { @extend %margin-mini-left; }
%margin-mini-top { margin-top: $margin-mini; }
.margin-mini-top { @extend %margin-mini-top; }
%margin-mini-bottom { margin-bottom: $margin-mini; }
.margin-mini-bottom { @extend %margin-mini-bottom; }
%margin-small-top { margin-top: $margin-small; }
.margin-small-top { @extend %margin-small-top; }
%margin-small-left { margin-left: $margin-small; }
.margin-small-left { @extend %margin-small-left; }
%margin-small-bottom { margin-bottom: $margin-small; }
.margin-small-bottom { @extend %margin-small-bottom; }
%margin-small-right { margin-right: $margin-small; }
.margin-small-right { @extend %margin-small-right; }
%margin-medium-top { margin-top: $margin-medium; }
.margin-medium-top { @extend %margin-medium-top; }
%margin-medium-bottom { margin-bottom: $margin-medium; }
.margin-medium-bottom { @extend %margin-medium-bottom; }
%margin-medium-right { margin-right: $margin-medium; }
.margin-medium-right { @extend %margin-medium-right; }
%margin-large-top { margin-top: $margin-large; }
.margin-large-top { @extend %margin-large-top; }
%margin-large-bottom { margin-bottom: $margin-large; }
.margin-large-bottom { @extend %margin-large-bottom; }
%margin-large-right { margin-right: $margin-large; }
.margin-large-right { @extend %margin-large-right; }
%margin-large-left { margin-left: $margin-large; }
.margin-large-left { @extend %margin-large-left; }
%margin-xlarge-top { margin-top: $margin-xlarge; }
.margin-xlarge-top { @extend %margin-xlarge-top; }
%margin-xlarge-bottom { margin-bottom: $margin-xlarge; }
.margin-xlarge-bottom { @extend %margin-xlarge-bottom; }
%margin-xlarge-left { margin-left: $margin-xlarge; }
.margin-xlarge-left { @extend %margin-xlarge-left; }
%margin-auto { margin: auto; }
.margin-auto { @extend %margin-auto; }
// borders
.border-page-header {
  border-bottom-width: $min-border-width;
  margin-bottom: 15px;
}

%no-border { border: 0; }
.no-border { @extend %no-border; }
%no-border-top { border-top: 0; }
.no-border-top { @extend %no-border-top; }
%no-border-bottom { border-bottom: 0; }
.no-border-bottom { @extend %no-border-bottom; }
%border-width { border-width: $min-border-width; }
.border-width { @extend %border-width; }
%border-width-top { border-top-width: $min-border-width; }
.border-width-top { @extend %border-width-top; }
%border-width-bottom { border-bottom-width: $min-border-width; }
.border-width-bottom { @extend %border-width-bottom; }
%border-width-right { border-right-width: $min-border-width; }
.border-width-right { @extend %border-width-right; }
%border-width-2 { border-width: $small-border-width; }
.border-width-2 { @extend %border-width-2; }
%border-width-2-top { border-top-width: $small-border-width; }
.border-width-2-top { @extend %border-width-2-top; }
%border-width-2-bottom { border-bottom-width: $small-border-width; }
.border-width-2-bottom { @extend %border-width-2-bottom; }
%secondary-border-left { border-left-width: $min-border-width; }
.secondary-border-left { @extend %secondary-border-left; }
%secondary-border-right { border-right-width: $min-border-width; }
.secondary-border-right { @extend %secondary-border-right; }
%secondary-border-top { border-top-width: $min-border-width; }
.secondary-border-top { @extend %secondary-border-top; }
%secondary-border-bottom { border-bottom-width: $min-border-width; }
.secondary-border-bottom { @extend %secondary-border-bottom; }

%eighth-border-top { border-top-width: $min-border-width; }
.eighth-border-top { @extend %eighth-border-top; }
%eighth-border-bottom { border-bottom-width: $min-border-width; }
.eighth-border-bottom { @extend %eighth-border-bottom; }

.success-border-bottom { border-bottom-width: $min-border-width; }
%input-border { border-radius: $border-radius-base; }
.input-border { @extend %input-border; }
.vertical-center {
  margin: 20% auto;
  position: fixed;
}

// Remove border line in tablet
.border-sm-none {
  @include breakpoint(max-width $screen-sm) {
    border: 0;
  }

  @include breakpoint(max-width $screen-md) {
    border: 0;
  }
}

// Remove padding line in tablet
.padding-sm-none {
  @include breakpoint(max-width $screen-sm) {
    padding: 0;
  }

  @include breakpoint(max-width $screen-md) {
    padding: 0;
  }
}
