%icon-lg { @extend %is-display-inline-block; font-size: 1.33333333em; }
.icon-lg { @extend %icon-lg; }
%icon-2x { @extend %is-display-inline-block; font-size: 2em; }
.icon-2x { @extend %icon-2x; }
%icon-2-4x { @extend %is-display-inline-block; font-size: 2.4em; }
.icon-2-4x { @extend %icon-2-4x; }
%icon-3x { @extend %is-display-inline-block; font-size: 3em; }
.icon-3x { @extend %icon-3x; }
.icon-4x { @extend %is-display-inline-block; font-size: 4em; }
.icon-5x { @extend %is-display-inline-block; font-size: 5em; }

.icon-stack {
  @extend %is-display-inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  vertical-align: middle;
  width: 2em;
}

.icon-stack-1x,
.icon-stack-2x {
  @extend %full-width;
  @extend %is-center;
  position: absolute;
 }

.icon-stack-1x {
  line-height: inherit;
}

.icon-stack-2x {
  font-size: 2em;
  line-height: .7em;
}

.invoice-icon::before {
  font-size: 24px;
  position: relative;
  top: 1px;
}

.icon-20 {

  &[data-icon]::before {
    @include font-size(2);
  }
}
