// grid
%one-grid { @include span(1 of $grid-columns); }
.one-grid { @extend %one-grid; }
%two-grid { @include span(2 of $grid-columns); }
.two-grid { @extend %two-grid; }
%three-grid { @include span(3 of $grid-columns); }
.three-grid { @extend %three-grid; }
%four-grid { @include span(4 of $grid-columns); }
.four-grid { @extend %four-grid; }
%five-grid { @include span(5 of $grid-columns); }
.five-grid { @extend %five-grid; }
%six-grid { @include span(6 of $grid-columns); }
.six-grid { @extend %six-grid; }
%seven-grid { @include span(7 of $grid-columns); }
.seven-grid { @extend %seven-grid; }
%eight-grid { @include span(8 of $grid-columns); }
.eight-grid { @extend %eight-grid; }
%nine-grid { @include span(9 of $grid-columns); }
.nine-grid { @extend %nine-grid; }
%ten-grid { @include span(10 of $grid-columns); }
.ten-grid { @extend %ten-grid; }
%eleven-grid { @include span(11 of $grid-columns); }
.eleven-grid { @extend %eleven-grid; }
%twelve-grid { @include span(12 of $grid-columns); }
.twelve-grid { @extend %twelve-grid; }
%clearfix { @include clearfix(); }
.clearfix { @extend %clearfix; }
%full-width { width: 100%; }
.full-width { @extend %full-width; }
%half-width { width: 50%; }
.half-width { @extend %half-width; }
%row-flex { display: inline-flex; }
.row-flex { @extend %row-flex; }

// floats
%pull-right { float: right; }
.pull-right { @extend %pull-right; }
%pull-left { float: left; }
.pull-left { @extend %pull-left; }
%pull-none { float: inherit; }
.pull-none { @extend %pull-none; }

// fonts
%font-size-base { font-size: $font-size-base; }
.font-size-base { @extend %font-size-base; }
%font-size-small { font-size: $font-size-small; }
.font-size-small { @extend %font-size-small; }
%font-size-medium { font-size: $font-size-medium; }
.font-size-medium { @extend %font-size-medium; }
%font-size-large { font-size: $font-size-large; }
.font-size-large { @extend %font-size-large; }
%font-size-xlarge { font-size: $font-size-xlarge; }
.font-size-xlarge { @extend %font-size-xlarge; }
%font-size-tall { font-size: $font-size-tall; }
.font-size-tall { @extend %font-size-tall; }

%line-height-sm { line-height: $line-height-small; }
.line-height-sm { @extend %line-height-sm; }

// visibility
%hide { display: none; }
.hide { @extend %hide; }
%show { display: block; }
.show { @extend %show; }
%is-display-table { display: table; }
.is-display-table { @extend %is-display-table; }
%is-display-cell { display: table-cell; }
.is-display-cell { @extend %is-display-cell; }
%is-display-inline { display: inline; }
.is-display-inline { @extend %is-display-inline; }
%is-display-inline-block { display: inline-block; }
.is-display-inline-block { @extend %is-display-inline-block; }
%is-display-block { display: block; }
.is-display-block { @extend %is-display-block; }
%is-initial { display: initial; }
.is-initial { @extend %is-initial; }

// lists
%list-unstyled {
  list-style: none;
  padding-left: 0;
}

.list-unstyled { @extend %list-unstyled; }

.bullet-list {
  @extend %no-padding-left;

  ul {
    @extend %padding-medium-left;
    @extend %no-margin-top;
    @extend %font-size-medium;
  }
}


// images
%responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

.responsive { @extend %responsive; }
.product-image-xs {
  height: 90px;
  width: 90px;
}

// text position
%is-left { text-align: left; }
.is-left { @extend %is-left; }
%is-right { text-align: right; }
.is-right { @extend %is-right; }
%is-center { text-align: center; }
.is-center { @extend %is-center; }
%is-vertical-top { vertical-align: top; }
.is-vertical-top { @extend %is-vertical-top; }
%is-vertical-middle { vertical-align: middle; }
.is-vertical-middle { @extend %is-vertical-middle; }
%is-vertical-text-bottom { vertical-align: text-bottom; }
.is-vertical-text-bottom { @extend %is-vertical-text-bottom; }

// position
%is-absolute { position: absolute; }
.is-absolute { @extend %is-absolute; }
%is-relative { position: relative; }
.is-relative { @extend %is-relative; }

// relative position
@include create-relative-top(12, 1, 'add'); //add top
@include create-relative-top(12, -1, 'sub'); //sub top

// width percent
@include create-relative-width();

.zebra-table td {
  border-bottom-width: 1px;
  border-top-width: 1px;
}

.arrow-box {
  @extend %is-display-inline-block;
  @extend %padding-small-right;
  @include line-height(2);
  margin-left: 20px;
  position: relative;
}

.arrow-box::after {
  border-width: 10px;
  content: ' ';
  height: 0;
  pointer-events: none;
  position: absolute;
  right: 100%;
  top: 0;
  width: 0;
}

.verified-box {
  border-width: 1px;
  padding-left: $margin-mini;
  padding-right: $margin-mini;
}

.progress-bar {
  @extend %full-width;
  @extend %is-display-inline-block;
  @extend %margin-small-left;
  @extend %margin-small-left;
  height: $default-progressbar-height;
  margin-right: 26px;
  position: relative;
  top: 2px;
  width: $default-progressbar-width;

  span {
    @extend %show;
    height: 100%;
  }
}

.loading-overlay-full {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 15000;

  .loading-overlay-message {
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    text-align: center;
    width: 300px;
  }
}

.section-title {
  @include font-size(1.8);
  border-bottom: 1px solid $tertiary-color;
  margin-bottom: 20px;
  padding: 35px 0 10px;
  text-transform: capitalize;

  .section-title-link {
    @include font-size(1.6);
    display: inline-block;
    padding-left: 15px;
  }
}

.ng-clickable {
  cursor: pointer;
}

.glossary {
  border-top: 1px solid $tertiary-color;
  color: $sixth-color;

  p > a {
    color: $sixth-color;
    padding-left: 10px;
    padding-right: 10px;

    &:hover {
      color: $first-color;
      text-decoration: underline;
    }

    &:first-child {
      padding-left: 25px;
    }
  }
}

.circled-number {
  border-radius: 50%;
  color: $white;
  display: inline-block;
  height: 1.6em;
  line-height: 1.6em;
  text-align: center;
  width: 1.6em;
}
