<script type="text/ng-template" id="carousel">
    <div class="is-center">
        <div class="recommendation-wrapper" ng-swipe-left="swiping=true;" ng-swipe-right="swiping=true;">
            <ul rn-carousel rn-carousel-controls rn-carousel-index="recommendationIndex" class="rn-carousel image">
                <li ng-repeat="images in itemsSlides">
                    <div ng-repeat="image in images" class="layer recommendation-slide" ng-click="clickRecommendation(image.url)">
                        <div class="recommendation-image">
                            <img ng-src="{[ image.img ]}" class="product-recommendation-image" draggable="false"/>
                        </div>
                        <div class="recommendation-name">{[ image.name ]}</div>
                        <div class="one-row-height font-size-tall" ng-show="image.discount > 0">
                            <span class="previous-price one-row-height font-size-medium">{[ image.originalprice|formatMoney ]}
                            </span>
                            {% if display_discounts %}
                                <span class="percentage-off padding-small-left">-{[ image.discount ]}%</span>
                            {% endif %}
                        </div>
                        <div class="actual-price" itemprop="price">{[ image.price|formatMoney ]}</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</script>
