<div class="products-collection grid-view">
    {% set index = 0 %}
    {% set total = searchResult.products|length %}

    {% if total % 4 == 0 %}
        {% set maxSmallCols = total - 4 %}
    {% else %}
        {% set maxSmallCols = (total // 4) * 4 %}
    {% endif %}

    {% if total % 3 == 0 %}
        {% set maxBigCols = total - 3 %}
    {% else %}
        {% set maxBigCols = (total // 3) * 3 %}
    {% endif %}

    {% if total % 2 == 0 %}
        {% set maxBigLanscape = total - 2 %}
    {% else %}
        {% set maxBigLanscape = (total // 2) * 2 %}
    {% endif %}

    {% for product in searchResult.products %}
        {% set index = index + 1 %}
        {% set borderClass = '' %}

        {% if index <= maxBigCols %}
            {% set borderClass = borderClass ~ 'view-big-border ' %}
        {% endif %}

        {% if index <= maxSmallCols %}
            {% set borderClass = borderClass ~ 'view-small-border ' %}
        {% endif %}

        {% if index <= (maxBigLanscape - 2) %}
            {% set borderClass = borderClass ~ 'view-landscape-border ' %}
        {% endif %}

        {% if index <= (total - 1) %}
            {% set borderClass = borderClass ~ 'view-portrait-border ' %}
        {% endif %}

        {% include '::partial/components/product/catalog_product_item.html.twig'  with { 'product': product, 'borderClass':borderClass } %}
    {% endfor %}
</div>
