<script type="text/ng-template" id="recommendations">
    <div ng-repeat="section in recommendations.sections" ng-cloak>
        <div ng-switch="section.type">
            <div ng-if="section.items.length" class="cms-block margin-large-bottom">
                <h3 class="cms-block-title">{[ section.title ]}</h3>
            </div>
            <div ng-if="!section.items" class="similar-products loading-overlay-orange-icon"></div>
            <div ng-switch-when="products">
                <div ng-if="section.items.length" class="fade-in">
                    <div class="pull-left full-width padding-xlarge-top padding-xlarge-bottom" ng-cloak>
                        <carousel collection="section.items" class="full-width pull-left padding-xlarge-bottom"></carousel>
                    </div>
                </div>
            </div>
            <div ng-switch-when="categories">
                <div ng-if="section.items.length" class="fade-in">
                    <div class="pull-left full-width padding-xlarge-bottom" ng-cloak>
                        <div class="col-sm-12 col-md-9" ng-repeat="item in section.items | limitTo: 8">
                            <div ng-if="item.title" class="padding-medium category-recommendation-image margin-medium-bottom">
                                <a href="{[ item.url ]}">
                                    <h3 ng-if="item.title" class="is-center is-weight-700">{[ item.title ]}</h3>
                                    <img class="full-width padding-medium-top" ng-src="{[ item.image ]}" alt="{[ item.title ]}">
                                </a>
                            </div>
                            <div ng-if="!item.title">
                                <a href="{[ item.url ]}">
                                    <img class="full-width" ng-src="{[ item.images[0] ]}" alt="{[ item.title ]}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
