{% set home = 'http://' ~ app.request.getHttpHost %}
<i class="payment-error-icon" aria-hidden="true" data-icon="!"> </i>
<span class="payment-error-head">Transacción Rechazada</span>
<span class="payment-error-desc">Las posibles causas de este rechazo son:</span>
<ul>
    <li>Error en el ingreso de los datos de su tarjeta de Crédito o Débito (fecha y/o código de seguridad).</li>
    <li>Su tarjeta de Crédito o Débito no cuenta con el cupo necesario para cancelar la compra.</li>
    <li>Tarjeta aún no habilitada en el sistema financiero.</li>
</ul>
<div class="payment-error-buttons-row">
    <a href="{{ home }}" class="button-container left col-sm-18">
        <button class="payment-error-button btn btn-alternative">
            {{ 'checkout.go_to_store'|trans }}
        </button>
    </a>
    <a href="{{ home }}/checkout/payment" class="button-container right col-sm-18">
        <button class="payment-error-button btn btn-dark-outline">
            {{ 'checkout.change_payment'|trans }}
        </button>
    </a>
</div>
