<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% if google_merchant_center_verification_tag is not empty %}
    <meta name="google-site-verification" content="{{ google_merchant_center_verification_tag }}" />
{% endif %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name" : "Linio {{ country_name }}",
  "url": "{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}",
  "logo": "{{ app.request.schemeAndHttpHost ~ app.request.baseUrl ~ '/logo.png' }}",
  "sameAs": [
    "{{ social.facebook }}",
    "{{ social.twitter }}",
    "{{ social.twitter_account }}",
    "{{ social.youtube }}"
  ]
}
</script>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "name" : "Linio {{ country_name }}",
  "url": "{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "{{ url('frontend.catalog.index.search', {'q': ''}) ~ '{search_term_string}'}}",
    "query-input": "required name=search_term_string"
  }
}
</script>

{% set descriptionText = seo_description() ?: 'global.shipping_to_all'|trans ~ ' ' ~ country_name ~ ' ' ~ 'global.the_best_online_store'|trans %}
{% set twitterCard = 'app' %}
{% set metaTitle = seo_title() ?: 'global.best_products_best_price'|trans ~ ' ' ~ country_name %}
{% set ogType = 'website' %}
{% set ogImage = asset_host ~ '/images/logo.png' %}

{% if '/p/' in app.request.pathInfo %}
    {% set descriptionText = seo_description() ?: 'global.purchase'|trans ~ ' ' ~ product.name ~ ' ' ~ 'global.sending_to_all'|trans ~ ' ' ~ country_name ~ ' ' ~ 'global.pay_to_receive'|trans %}
    {% set twitterCard = 'product' %}
    {% set metaTitle = product.name ~ ' ' ~ 'global.buy_now_linio'|trans ~ ' ' ~ country_name %}
    {% set ogType = twitterCard %}
    {% set ogImage = app.request.scheme ~ ':' ~ product.images[1].slug ~ '-product.jpg' %}
{% endif %}

{% block twitterMeta %}{% endblock %}

{% block metaTitle %}
    <title>{% block title %}{{ seo_title() ?: 'global.best_products_best_price'|trans ~ ' ' ~ country_name }}{% endblock %}</title>
    <meta property="og:title" content="{{ metaTitle }}" />
{% endblock %}

<meta name="twitter:card" content="{{ twitterCard }}">

<meta name="keywords" content="{{ seo_keywords() }}"/>
<meta http-equiv="content-language" content="es-{{ seo_country() }}">

{% block metaDescription %}
    <meta name="Description" content="{{ descriptionText }}"/>
    <meta property="og:description" content="{{ descriptionText }}"/>
{% endblock %}

<meta property="og:type" content="{{ ogType }}" />
<meta property="og:url" content="{{ app.request.uri }}" />
<meta property="og:image" content="{{ ogImage }}" />
<meta property="og:site_name" content="{{ store_name }}" />

<link rel="icon" href="/favicon.png" type="image/x-icon" />
<link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />

<link hreflang="es-{{ seo_country() }}" rel="alternate" href="{{ app.request.uri|raw }}" />

{% block SEO %}
    {% set seoRobots = seo_robots() %}
    {% if seoRobots == '' %}
        {% set seoRobots = 'INDEX,FOLLOW' %}
    {% endif %}
    <meta name="robots" content="{{ seoRobots }}"/>
    <link rel="canonical" href="{{ app.request.uri|raw }}" itemprop="url"/>
{% endblock %}

{% block stylesheets %}
    {% for asset in getCssAssets() %}
        <link rel="stylesheet" type="text/css" href="{{ asset }}">
    {% endfor %}
{% endblock %}
{% include "::partial/js_config.html.twig" %}
