<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        {% include ':Shared:_head.html.twig' %}
    </head>

    {% block bodyTag %}
        <body ng-app="linio"
              {# TODO: Remove sticky class when the scroll directive is rewritten, to avoid using rootscope variables. #}
              scroll ng-class="{'has-sticky-header':initSticky, 'is-menu-active':overlayEnabled}">
    {% endblock %}

        {# TODO: Remove this when the menu component is rewritten, to avoid using rootscope variables. #}
        <div class="shadow-overlay enabled" ng-click="overlayEnabled = !overlayEnabled"></div>

        {% include '::Shared/components/_gtm.html.twig' %}
        {% include "::partial/header.html.twig" with {'lastBreadcrumb': block('lastBreadcrumb')} %}
        {% include "::Shared/widgets/_flash_message.html.twig" %}

        <div class="container">
            {% block body %}{% endblock %}
        </div>

        {% include "::partial/footer.html.twig" %}
        {% include ':Shared:widgets/_overlay.html.twig' %}
        {% block javascripts %}
            {% include ':Shared:_javascript.html.twig' %}
        {% endblock %}
    </body>
</html>
