//skin
%fade-transition {
  transition: all linear .2s;
}

.fade-in {
  &.ng-hide-remove,
  &.ng-hide-remove-active {
    @extend %fade-transition;
  }
}

.fade-out {
  &.ng-hide-add,
  &.ng-hide-add-active {
    @extend %fade-transition;
  }
}

.fade-in.ng-hide,
.fade-out .ng-hide { opacity: 0; }

.view-slide-in {
  transition: all linear .2s;

  &.ng-enter {
    opacity: 0;
  }

  &.ng-leave {
    opacity: 1;
  }
}

.rotate-animated {
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: rotate;
  animation-timing-function: linear;
  transition-duration: 1.5s;
  transition-property: transform;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}
