// borders
.border-page-header { border-bottom-color: $fifth-color; border-bottom-style: solid; }
%secondary-border { @include border-style('all'); }
.secondary-border { @extend %secondary-border; }
%secondary-border-left { @include border-style('left'); }
.secondary-border-left { @extend %secondary-border-left; }
%secondary-border-right { @include border-style('right'); }
.secondary-border-right { @extend %secondary-border-right; }
%secondary-border-top { @include border-style('top'); }
.secondary-border-top { @extend %secondary-border-top; }
%secondary-border-bottom { @include border-style('bottom'); }
.secondary-border-bottom { @extend %secondary-border-bottom; }

%eighth-border-top { @include border-style('top', $eighth-color); }
.eighth-border-top { @extend %eighth-border-top; }
%eighth-border-bottom { @include border-style('bottom', $eighth-color); }
.eighth-border-bottom { @extend %eighth-border-bottom; }

%success-border-bottom { @include border-style('bottom', $brand-success); }
.success-border-bottom { @extend %success-border-bottom; }

// colors
%primary-color { color: $primary-color; }
.primary-color { @extend %primary-color; }
%first-color { color: $first-color; }
.first-color { @extend %first-color; }
%secondary-color { color: $secondary-color; }
.secondary-color { @extend %secondary-color; }
%tertiary-color { color: $tertiary-color; }
.tertiary-color { @extend %tertiary-color; }
%fourth-color { color: $fourth-color; }
.fourth-color { @extend %fourth-color; }
%fifth-color { color: $fifth-color; }
.fifth-color { @extend %fifth-color; }
%sixth-color { color: $sixth-color; }
.sixth-color { @extend %sixth-color; }
%seventh-color { color: $seventh-color; }
.seventh-color { @extend %seventh-color; }
%eighth-color { color: $eighth-color; }
.eighth-color { @extend %eighth-color; }
%nineth-color { color: $nineth-color; }
.nineth-color { @extend %nineth-color; }
%tenth-color { color: $tenth-color; }
.tenth-color { @extend %tenth-color; }
%eleventh-color { color: $eleventh-color; }
.eleventh-color { @extend %eleventh-color; }
%twelfth-color { color: $twelfth-color; }
.twelfth-color { @extend %twelfth-color; }
%success-color { color: $brand-success; }
.success-color { @extend %success-color; }
%error-color { color: $brand-danger; }
.error-color { @extend %error-color; }
%info-color { color: $brand-info; }
.info-color { @extend %info-color; }
%link-hover-color { color: $link-hover-color; }
.link-hover-color { @extend %link-hover-color; }
%text-default-color { color: $security-color; }
.text-default-color { @extend %text-default-color; }

.first-link {
  text-decoration: underline;

  &:hover {
    @extend %first-color;
  }
}

//backgrounds
%background-first-color { background-color: $first-color; }
.background-first-color { @extend %background-first-color; }
%background-dark-color { background-color: $dark-color; }
.background-dark-color { @extend %background-dark-color; }
%background-success-color { background-color: $brand-success; }
.background-success-color { @extend %background-success-color; }

%background-primary-color { background-color: $primary-color; }
.background-primary-color { @extend %background-primary-color; }
%background-secondary-color { background-color: $secondary-color; }
.background-secondary-color { @extend %background-secondary-color; }
%background-tertiary-color { background-color: $tertiary-color; }
.background-tertiary-color { @extend %background-tertiary-color; }
%background-fourth-color { background-color: $fourth-color; }
.background-fourth-color { @extend %background-fourth-color; }
%background-fifth-color { background-color: $fifth-color; }
.background-fifth-color { @extend %background-fifth-color; }
%background-seventh-color { background-color: $seventh-color; }
.background-seventh-color { @extend %background-seventh-color; }
%background-eighth-color { background-color: $eighth-color; }
.background-eighth-color { @extend %background-eighth-color; }
%background-link-hover-color { background-color: $link-hover-color; }
.background-link-hover-color { @extend %background-link-hover-color; }

%seventh-border-color { border-color: $seventh-color; border-style: solid; }
.seventh-border-color { @extend %seventh-border-color;}
