// oxxo and paypal colors
.oxxo-color-lines { color: $oxxo-color-lines;}
.oxxo-color-letter { color: $oxxo-color-letter;}
.paypal-color-pay { color: $paypal-color-pay;}
.paypal-color-pal { color: $paypal-color-pal;}
