// fonts
%is-weight-100 { font-weight: $weight-100; }
.is-weight-100 { @extend %is-weight-100; }
%is-weight-300 { font-weight: $weight-300; }
.is-weight-300 { @extend %is-weight-300; }
%is-weight-400 { font-weight: $weight-400; }
.is-weight-400 { @extend %is-weight-400; }
%is-weight-700 { font-weight: $weight-700; }
.is-weight-700 { @extend %is-weight-700; }
%is-weight-bold { font-weight: bold; }
.is-weight-bold { @extend %is-weight-bold; }
%is-uppercase { text-transform: uppercase; }
.is-uppercase { @extend %is-uppercase; }
%is-lowercase { text-transform: lowercase; }
.is-lowercase { @extend %font-italic; }
%font-italic { font-style: italic; }
.font-italic { @extend %list-style-circles; }
%list-style-circles { list-style-type: circle; }
.list-style-circle { @extend %list-style-circles; }

%bullet-list {
  li {
    @extend %fifth-color;
    @extend %list-style-circles;
    list-style-position: inside;
	}

  ul {
    li {
      @extend %secondary-color;
      list-style-type: none;
    }
  }
}

.bullet-list { @extend %bullet-list; }

.zebra-table td {
  border-bottom-color: $zebra-bg-color;
  border-bottom-style: solid;
  border-top-color: $zebra-bg-color;
  border-top-style: solid;
}

.zebra-table tbody tr:nth-child(odd) {
  background-color: $primary-color-v1;
  border-bottom-color: $primary-color-v1;
  border-bottom-style: solid;
  border-top-color: $primary-color-v1;
  border-top-style: solid;
}

.arrow-box {
  @extend %primary-color;
  background: $arrow-box-color;
}

.arrow-box::after {
  border: solid transparent;
  border-color: rgba($arrow-box-color, 0);
  border-right-color: $arrow-box-color;
}

.progress-bar {
  background-color: $table-border-color;

  span {
    background-color: $progress-bar-span-color;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.loading-overlay-green-icon {
  background: $overlay-clear-opacity url('/assets/images/loaders/loader-green.gif') no-repeat center fixed;
}

.loading-overlay-orange-icon {
  background: $overlay-clear-opacity url('/assets/images/loaders/loader-orange.gif') no-repeat center center;
}

.loading-overlay-webpay-icon {
  background: $overlay-clear-opacity url('/assets/images/loaders/loader-transbank.png') repeat;
}

.loading-orange-icon {
  background: $overlay-clear-opacity url('/assets/images/loaders/loader-orange.gif');
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

.image-404 {
  background: transparent url('/assets/images/image-404.png') no-repeat 50% 50%;
  border-style: none;
  min-height: 180px;
}
