<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="fb:app_id" content="{{ fb_app_id }}" />

        {% if google_merchant_center_verification_tag is not empty %}
            <meta name="google-site-verification" content="{{ google_merchant_center_verification_tag }}" />
        {% endif %}

        <script type="application/ld+json">
            {
              "@context": "http://schema.org",
              "@type": "Organization",
              "name" : "Linio",
              "url": "{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}",
              "logo": "{{ app.request.schemeAndHttpHost ~ app.request.baseUrl ~ '/logo.png' }}",
              "sameAs": [
                "{{ social.facebook }}",
                "{{ social.twitter }}",
                "{{ social.youtube }}",
                "{{ social.wikipedia }}",
                "{{ social.google_plus }}"
              ],
              "potentialAction": {
                "@type": "SearchAction",
                "target": "{{ url('frontend.catalog.index.search', {'q': ''}) ~ '{search_term_string}'}}",
                "query-input": "required name=search_term_string"
              }
            }
        </script>

        {% set descriptionText = seo_description() ?: 'global.shipping_to_all'|trans ~ ' ' ~ country_name ~ ' ' ~ 'global.the_best_online_store'|trans %}
        {% set twitterCard = 'app' %}
        {% set metaTitle = seo_title() ?: 'global.best_products_best_price'|trans ~ ' ' ~ country_name %}
        {% set ogType = 'website' %}
        {% set ogImage = app.request.getSchemeAndHttpHost() ~ asset_host ~ '/images/logo.png' %}

        {% if '/p/' in app.request.pathInfo %}
            {% set descriptionText = seo_description() ?: 'global.purchase'|trans ~ ' ' ~ product.name ~ ' ' ~ 'global.sending_to_all'|trans ~ ' ' ~ country_name ~ ' ' ~ 'global.pay_to_receive'|trans %}
            {% set twitterCard = 'product' %}
            {% set metaTitle = product.name ~ ' ' ~ 'global.buy_now_linio'|trans ~ ' ' ~ country_name %}
            {% set ogType = twitterCard %}
            {% set ogImage = app.request.scheme ~ ':' ~ product.images[1].slug ~ '-product.jpg' %}
        {% endif %}

        {% block twitterMeta %}{% endblock %}

        {% block metaTitle %}
            <title>{% block title %}{{ seo_title() ?: 'global.best_products_best_price'|trans ~ ' ' ~ country_name }}{% endblock %}</title>
            <meta property="og:title" content="{{ metaTitle }}" />
        {% endblock %}

        <meta name="twitter:card" content="{{ twitterCard }}">

        <meta name="keywords" content="{{ seo_keywords() }}"/>
        <meta http-equiv="content-language" content="es-{{ seo_country() }}">

        {% block metaDescription %}
            <meta name="Description" content="{{ descriptionText }}"/>
            <meta property="og:description" content="{{ descriptionText }}"/>
        {% endblock %}

        <meta property="og:type" content="{{ ogType }}" />
        <meta property="og:url" content="{{ app.request.uri }}" />
        <meta property="og:image" content="{{ ogImage }}" />
        <meta property="og:site_name" content="{{ store_name }}" />

        <link rel="icon" href="{{ asset_host }}/images/icons/favicon.png" type="image/x-icon" />
        <link rel="shortcut icon" href="{{ asset_host }}/images/icons/favicon.png" type="image/x-icon" />

        {% block alternateLinks %}
            <link hreflang="es-{{ seo_country() }}" rel="alternate" href="{{ app.request.uri|raw }}" />
            {% block appIndexes %}{% endblock %}
        {% endblock %}

        {% block SEO %}
            {% set seoRobots = seo_robots() %}
            {% if seoRobots == '' %}
                {% set seoRobots = 'INDEX,FOLLOW' %}
            {% endif %}
            <meta name="robots" content="{{ seoRobots }}"/>
            <link rel="canonical" href="{{ app.request.uri|raw }}" itemprop="url"/>
        {% endblock %}

        {% block stylesheets %}
            {% for asset in getCssAssets() %}
                <link rel="stylesheet" type="text/css" href="{{ asset }}">
            {% endfor %}
        {% endblock %}
        {% include "::partial/js_config.html.twig" %}
    </head>

    {% block bodyTag %}
    <body ng-app="linioApp" scroll ng-class="{'has-sticky-header':initSticky, 'is-menu-active':overlayEnabled}">
    {% endblock %}

    {% if bounce_exchange_enabled %}
        <oui-bounce timer="10000" aggressive="false" sensitivity="0" delay="500" cookie-expire="2"></oui-bounce>
    {% endif %}

        {% block facebookComments %}{% endblock %}

        {% if gtm_enabled %}
            {% set dataLayer = get_data_layer() %}

            {% if dataLayer|length > 0 %}
                <script>
                    dataLayer =[{{ dataLayer|json_encode|raw }}];
                </script>
            {% endif %}

            <!-- Google Tag Manager -->
            <noscript>
                <iframe src="//www.googletagmanager.com/ns.html?id=GTM-{{ gtm_code }}" height="0" width="0" style="display:none;visibility:hidden"></iframe>
            </noscript>
            <script defer>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.defer=true;j.src= '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-{{ gtm_code }}');</script>
            <!-- End Google Tag Manager -->
        {% endif %}

        <div class="shadow-overlay enabled" ng-click="overlayEnabled = !overlayEnabled"></div>
        {% include "::partial/header.html.twig" with {'lastBreadcrumb': block('lastBreadcrumb')} %}
        <div class="container">
            {% include "::partial/flash_message.html.twig" %}
            {% block body %}{% endblock %}
        </div>

        <div class="container">
            <div class="glossary padding-small-top padding-small-bottom">
                {{ cms_markdown_text('global', 'glossary-footer') }}
            </div>
        </div>

        {% include "::partial/footer.html.twig" %}

        <div class="loading-overlay-full loading-overlay-orange-icon fade-in fade-out ng-hide" ng-show="overlayActive" ng-cloak></div>

        {% block javascripts %}
            {% for asset in getJsAssets() %}
                <script type="text/javascript" src="{{ asset }}" defer></script>
            {% endfor %}
        {% endblock %}
    </body>
</html>
