{% form_theme form _self %}

<div class="fade-in">
    {{ form_start(form) }}

    {% for element in form.children %}
        {% if loop.index0 % 2 == 0 %}
            <div class="row full-width pull-left">
        {% endif %}

        {% if loop.last and (loop.index % 2 != 0) %}
            {% set grid_size = 'twelve' %}
        {% else %}
            {% set grid_size = 'six' %}
        {% endif %}

        {{ form_row(element, {grid_size: grid_size}) }}

        {% if loop.index0 % 2 != 0 or loop.last %}
            </div>
        {% endif %}
    {% endfor %}

    {{ form_end(form) }}
</div>

<div class="row full-width pull-left">
    <button class="btn btn-lg btn-block is-weight-700 font-size-large"
            ng-class="address.$valid ? 'btn-success' : 'disabled-btn'"
            ng-disabled="!address.$valid"
            ng-click="addressForm.save()">
        {{ 'checkout.save_address'|trans }}
    </button>
</div>

{% block form_row %}
    {% if grid_size is not defined %}
        {% set grid_size = 'six' %}
    {% endif %}

    {# For some reason, the last field was empty, but the label kept being displayed. That was an (ugly) workaraound. Please, fix if you can. #}
    {% set content = form_widget(form, {'attr': {'class': 'full-width form-style'}}) %}

    {% if content %}
        <div class="{{ grid_size ~ '-grid' }} no-padding-left padding-medium-right">
            <div class="tooltip-attached">
                {{ form_label(form) }}

                {% if help %}
                    <div class="tooltip tooltip-phone">
                        {{ help|raw }}
                    </div>
                {% endif %}
            </div>

            {{ content|raw }}

            <i aria-hidden="true"
                data-icon="õ"
                class="pull-right input-icon success-color fade-in"
                ng-show="(address.$submitted || (!address['{{ form.vars.full_name }}'].$focused))
                    && address['{{ form.vars.full_name }}'].$touched
                    && address['{{ form.vars.full_name }}'].$valid
                    && address['{{ form.vars.full_name }}'].$dirty">
            </i>
            <i aria-hidden="true"
                data-icon="x"
                class="pull-right input-icon error-color fade-in"
                ng-show="(address.$submitted || (address['{{ form.vars.full_name }}'].$dirty))
                    && !address['{{ form.vars.full_name }}'].$focused
                    && address['{{ form.vars.full_name }}'].$invalid">
            </i>
        </div>
    {% endif %}
{% endblock %}
