{% form_theme form _self %}
<div class="ngdialog-message">
    <div class="h-title-tall is-weight-700 border-page-header padding-large-bottom">
        {{ 'invoice.generate_invoice'|trans }}
    </div>

    <div class="ngdialog-inner clearfix">
        <div class="fade-in" ng-show="invoiceRequestForm.showForm">
            {{ form_start(form) }}

            {% for element in form.children %}
                {% if loop.index0 % 2 == 0 %}
                    <div class="row full-width pull-left">
                {% endif %}

                {% if loop.last and (loop.index % 2 != 0) %}
                    {% set grid_size = 'twelve' %}
                {% else %}
                    {% set grid_size = 'six' %}
                {% endif %}

                {{ form_row(element, {grid_size: grid_size}) }}

                {% if loop.index0 % 2 != 0 or loop.last %}
                    </div>
                {% endif %}
            {% endfor %}

            {{ form_end(form) }}

            <div class="row full-width pull-left">
                <button class="btn btn-lg btn-block is-weight-700 font-size-large"
                        ng-class="billing_address.$valid ? 'btn-success' : 'disabled-btn'"
                        ng-disabled="!billing_address.$valid"
                        ng-click="invoiceRequestForm.submit()">
                    {{ 'invoice.generate_invoice'|trans }}
                </button>
            </div>
        </div>

        <div class="fade-in" ng-show="invoiceRequestForm.hasError">
            <li class="dark-color padding-medium-top padding-small-bottom">{{ 'invoice.invoice_not_found'|trans }}</li>
        </div>

        <div class="fade-in" ng-show="!invoiceRequestForm.showForm && invoiceRequestForm.invoices.length == 0">
            <li class="dark-color padding-medium-top padding-small-bottom">{{ 'invoice.pending_invoices'|trans }}</li>
        </div>

        <div ng-repeat="invoice in invoiceRequestForm.invoices" class="fade-in invoice-folio padding-large-top" target="_blank">{{ 'invoice.note_number'|trans }} {[ invoice ]}
            <span class="pull-right">
                <a class="first-color padding-medium-right" href="/account/order/invoice/{[ invoice ]}.pdf" target="_blank">{{ 'invoice.download_pdf'|trans }}</a>
                |
                <a class="first-color padding-medium-left" href="/account/order/invoice/{[ invoice ]}.xml" target="_blank">{{ 'invoice.download_xml'|trans }}</a>
            </span>
        </div>
    </div>
</div>

{% block form_row %}
    {% if grid_size is not defined %}
        {% set grid_size = 'six' %}
    {% endif %}

    {# For some reason, the last field was empty, but the label kept being displayed. That was an (ugly) workaraound. Please, fix if you can. #}
    {% set content = form_widget(form, {'attr': {'class': 'full-width form-style'}}) %}

    {% if content %}
        <div class="{{ grid_size ~ '-grid' }} no-padding-left padding-medium-right">
            <div>{{ form_label(form) }}</div>

            {{ content|raw }}

            <i aria-hidden="true"
                data-icon="õ"
                class="pull-right input-icon success-color fade-in"
                ng-show="(billing_address.$submitted || (!billing_address['{{ form.vars.full_name }}'].$focused))
                    && billing_address['{{ form.vars.full_name }}'].$touched
                    && billing_address['{{ form.vars.full_name }}'].$valid
                    && billing_address['{{ form.vars.full_name }}'].$dirty">
            </i>
            <i aria-hidden="true"
                data-icon="x"
                class="pull-right input-icon error-color fade-in"
                ng-show="(billing_address.$submitted || (billing_address['{{ form.vars.full_name }}'].$dirty))
                    && !billing_address['{{ form.vars.full_name }}'].$focused
                    && billing_address['{{ form.vars.full_name }}'].$invalid">
            </i>
        </div>
    {% endif %}
{% endblock %}
