{{ form_start(form) }}
{{ form_widget(form) }}
<button type="button" class="btn btn-alternative btn-md btn-block" ng-show="cart_shipping_address.$valid" ng-click="addressForm.quote()">{{ 'cart.btn_calculate_shipping'|trans }}</button>
{{ form_end(form) }}
