{% extends '::base.html.twig' %}

{% block alternateLinks %}
    {% include '::partial/components/home/alternate_links.html.twig' %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ getSpecificCss('main.css') }}">
{% endblock %}

{% block body %}
    {% block bodyTag %}
        <body ng-app="linio" scroll ng-class="{'has-sticky-header':initSticky, 'is-menu-active':overlayEnabled}">
    {% endblock %}

    <div class="padding-large-top padding-xlarge-bottom" ng-init="menuItemSelected=1" ng-controller='menuController'>
        {% include '::partial/components/fly-menu.html.twig' %}

        {% include '::partial/components/home/home_nl_block.html.twig' %}

        {{ cms_usp_menu('home') }}

        {% for index in 1..10 %}
            {{ cms_section_grid(index) }}
        {% endfor %}

        <recommendations section="homepage"></recommendations>
    </div>

    <div class="seo-text">
        {% include '::partial/components/seo_text.html.twig'%}
    </div>

    {% include ":Catalog:components/carousel.html.twig" %}
    {% include ":Catalog:components/recommendations.html.twig" %}

{% endblock %}
