{% extends ':Customer:index.html.twig' %}

{% block account_content %}
    {% form_theme form _self %}

    <div class="category-tittle h-title-large secondary-border-bottom">
        <h2 class="is-weight-700 not-uppercase padding-large-bottom padding-large-top">
            {{ 'account.bank_transfer_confirmation'|trans }}
        </h2>
    </div>

    <div class="col-lg-30 col-sm-36 padding-medium-top margin-xlarge-bottom">

        {% if orders is empty %}
            {{ 'account.no_orders_pending_bank_transfer_confirmation'|trans }}
        {% else %}
            {{ form_start(form, {'action': path('frontend.customer.bank.transfer.confirmation')}) }}

            {% for element in form.children %}
                <div class="padding-large-top padding-xlarge-right col-sm-36 col-md-18">
                    {{ form_row(element) }}
                </div>
            {% endfor %}

            <div class="padding-xlarge-right margin-large-top col-sm-18">
                <button class="btn-account btn-block btn-lg font-size-large is-uppercase is-weight-700 orders-btn">
                    {{'account.bank.send'|trans }}
                </button>
            </div>

            {{ form_end(form) }}
        {% endif %}
    </div>
{% endblock %}

{% block form_row %}
    {# For some reason, the last field was empty, but the label kept being displayed. That was an (ugly) workaraound. Please, fix if you can. #}
    <div>{{ form_label(form) }}</div>

    {% if form.vars.compound == 'checkbox' %}
        {% set class = '' %}
    {% else %}
        {% set class = 'full-width form-style' %}
    {% endif %}

    {{ form_widget(form, {'attr': {'class': class}}) }}
{% endblock %}

{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            {{- form_widget(child) }}
            {{ form_label(child, null, {translation_domain: choice_translation_domain}) -}}<br />
        {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}
