{% extends ':Customer:index.html.twig' %}

{% block lastBreadcrumb %}
    <a class="breadcrumb-item" href="{{ path('frontend.customer.index') }}" title="{{ 'account.my_account'|trans }}">{{ 'account.my_account'|trans }}</a>
    <span class="breadcrumb-item last" data-position="">{{ 'account.my_cupons'|trans }}</span>
{% endblock %}

{% block account_content %}
    <div class="category-tittle h-title-large">
        <h2 class="is-weight-700 not-uppercase padding-large-bottom padding-large-top ">
                {{ 'coupons.title'|trans }} ({{ coupons|length }} {{ 'coupons.coupons'|trans }})
        </h2>
    </div>

    {% for coupon in coupons %}
    <div class="full-width order-section padding-xlarge-bottom padding-xlarge-top secondary-border-top padding-large-bottom">
        <div class="col-lg-11 col-md-11 col-sm-18 padding-xlarge-right secondary-border-right min-coupon-height">
            <div class="is-weight-700 padding-medium-bottom">
                {% if coupon.discountType == 'money' %}
                    {{ 'coupons.original_amount'|trans }}: {{ coupon.amount|format_money }}
                    {% if coupon.amount != coupon.balance %}
                        <br />{{ 'coupons.balance'|trans }}: {{ coupon.balance|format_money }}
                    {% endif %}
                {% else %}
                    {{ 'coupons.original_amount'|trans }}: {{ coupon.discountPercentage }}%
                {% endif %}
            </div>
            <div class="padding-medium-bottom">{{ 'coupons.validation'|trans({'%from%': coupon.validFrom|format_date, '%to%': coupon.validUntil|format_date}) }}</div>
            <div class="padding-medium-bottom{{ coupon.isActive ? ' success' : ' warning' }}">
                {{ coupon.isActive ? 'coupons.active'|trans : 'coupons.inactive'|trans }}
            </div>
        </div>
        <div class="col-lg-14 col-md-14 col-sm-18 padding-xlarge-left min-coupon-height padding-xlarge-right is-center secondary-border-right min-coupon-height notifications-border-fix ">
            {{ 'coupons.cant_combine'|trans }}
        </div>
        <div class="col-lg-11 col-md-11-right col-sm-18-right padding-xlarge-left padding-xlarge-right min-coupon-height">
            <div class="is-center">{{ 'coupons.code'|trans }}</div>
            <input type="text" class="form-style full-width is-center margin-medium-bottom is-weight-700 margin-medium-bottom" ng-model="c{{ loop.index }}" ng-init="c{{ loop.index }} = '{{ coupon.code }}'" readonly>
            <button class="btn btn-action btn-lg btn-block is-weight-700 font-size-large orders-btn" clip-copy="c{{ loop.index }}">{{ 'coupons.copy'|trans }}</button>
        </div>
    </div>
    {% endfor %}
{% endblock %}
