{% extends ':Security:base.html.twig' %}

{% block body %}
    <div class="login-container check" ng-init="registerForm=true">
        {# NAVIGATOR START #}
        <div class="padding-xlarge-top" ng-show="registerForm">
            <div class="six-grid  h-title-tall is-weight-700 padding-medium-bottom login-nav" align="center">
                <a href="{{ path('frontend.security.login') }}" class="color-hover-menu" >{{ 'customer.login'|trans }}</a>
            </div>
            <div class="six-grid  h-title-tall is-weight-700 padding-medium-bottom login-nav lnactive" align="center">
                <a>{{ 'customer.sign_up'|trans }}</a>
            </div>
        </div>
        {# NAVIGATOR END#}

        <div class="login-form-container">
            {% include ":Security/forms:create_account.html.twig" %}
        </div>
    </div>
{% endblock %}
