{% extends ':Shared:base.html.twig' %}

{% block metaTitle %}
    {% set metaTitle = seo_title() ?: 'account.my_account'|trans ~ ' | ' ~ 'global.site_name'|trans ~ ' ' ~ country_name %}
    <title>{% block title %}{{ metaTitle }}{% endblock %}</title>
{% endblock %}

{% block lastBreadcrumb %}
    <span class="breadcrumb-item last" data-position="">{{ 'account.my_account'|trans }}</span>
{% endblock %}

{% block body %}
    <div class="container-account full-width">
        {# -- First Header -- #}
        {% include '::partial/components/customer/main_title.html.twig' %}
        {# -- Nav Menu "Mi Cuenta" -- #}
        {% include '::partial/components/customer/account_nav.html.twig' %}
        <div class="account-section padding-medium-left">
            {% block account_content %}
                {% include '::partial/components/customer/active_orders.html.twig' %}
                {#{% include '::partial/components/customer/my_favorites.html.twig' %}#}
            {% endblock %}
        </div>
    </div>

    {% include ':Checkout:components/addressBook.html.twig' %}
{% endblock %}
