<div class="accordion-tab">
    <div class="last-accordion-tab">
        <i aria-hidden="true" data-icon="å" class="linio-plus linio-plus-filters"> </i>
        <div class="pull-right"><input type="checkbox" class="accordion-item accordion-item-lplus" ng-click="changeCheckboxFilter('{{ facet.name }}', '{{ facet.activeValue }}')" {{ facet.activeValue ? 'checked="checked"' }} /></div>
    </div>
</div>
