<div class="accordion-tab">
    <div class="accordion-tab-title" ng-click="openFilterBox('{{ facet.name }}')"> {{ facet.label }}
        <i aria-hidden="true" data-icon="1" class="accordion-tab-title-icon pull-right" ng-show="!isFilterBoxOpen('{{ facet.name }}')"> </i>
        <i aria-hidden="true" data-icon="2" class="accordion-tab-title-icon pull-right" ng-show="isFilterBoxOpen('{{ facet.name }}')" ng-cloak> </i>
        {# TODO: Commented for the moment to the EC version
            <div class="accordion-tab-quantity pull-right fade-in fade-out" ng-show="isFilterBoxOpen('{{ facet.name }}')">52</div>
        #}
    </div>

    <div class="accordion-tab-content fade-in fade-out scroll-after-limit" ng-show="isFilterBoxOpen('{{ facet.name }}')" ng-cloak>
        {# TODO: Commented for the moment to the EC version
            <div class="accordion-search-row">
                <i aria-hidden="true" data-icokn="S" class="icon-search-bar"> </i>
                <input type="search" class="filters-search-bar margin-medium-bottom" name="q" autocomplete="off" value="" />
            </div>
        #}
        {% set iterations = 0 %}

        {% for key, data in facet.values %}
            <div class="accordion-row full-width">
                <div class="filter-options">
                    <div class="quantity">{{ data.count }}</div>
                    <input type="checkbox" class="accordion-item" ng-click="changeMultipleChoiceFilter('{{ facet.name }}[]', '{{ data.value }}')" {{ data.value in facet.activeValues ? 'checked="checked"' }}/>
                </div>
                <div class="filter-label">
                    {% if key == "0" %}
                        {{ 'filter.attribute.is_not'|trans }}
                    {% elseif key == "1" %}
                        {{ 'filter.attribute.is'|trans }}
                    {% else %}
                        {{ key }}
                    {% endif %}
                </div>
            </div>
        {% endfor %}

        {# TODO: More filters modal. #}
        {#{% if facet.values|length > 5 %}#}
            {#<a href="" class="action-button" ng-click="openModal('{{ facet.name }}')" class="show is-underline padding-large-left">#}
                {#Ver más#}
            {#</a>#}
        {#{% endif %}#}
    </div>
</div>

<script type="text/ng-template" id="modal_{{ facet.name }}">
    {% include "::partial/components/filters_modal.html.twig" %}
</script>
