<div class="accordion-tab" ng-init="ranges['{{ facet.name  }}'] = {minimum: null, maximum: null}">
    <div class="accordion-tab-title" ng-click="openFilterBox('{{ facet.name }}')"> {{ facet.label }}
        <i aria-hidden="true" data-icon="1" class="accordion-tab-title-icon pull-right" ng-show="!isFilterBoxOpen('{{ facet.name }}')"> </i>
        <i aria-hidden="true" data-icon="2" class="accordion-tab-title-icon pull-right" ng-show="isFilterBoxOpen('{{ facet.name }}')" ng-cloak> </i>
    </div>
    <div class="accordion-tab-content fade-in fade-out" ng-show="isFilterBoxOpen('{{ facet.name }}')" ng-cloak>
        <div class="accordion-input-row">
            <div class="twelve-grid no-padding">Desde:</div>
            <div class="twelve-grid no-padding margin-mini-bottom">
                <input type="text" class="input-price form-style full-width" mask="9" limit="false" ng-model="ranges['{{ facet.name }}'].activeMinimum" ng-init="ranges['{{ facet.name }}'].activeMinimum = {{ facet.activeMinimum ? facet.activeMinimum.moneyAmount : facet.minimum.moneyAmount }}"/>
            </div>
        </div>
        <div class="accordion-input-row">
            <div class="twelve-grid no-padding">Hasta:</div>
            <div class="twelve-grid no-padding">
                <input type="text" class="input-price form-style full-width" mask="9" limit="false" ng-model="ranges['{{ facet.name }}'].activeMaximum" ng-init="ranges['{{ facet.name }}'].activeMaximum = {{ facet.activeMaximum ? facet.activeMaximum.moneyAmount : facet.maximum.moneyAmount }}"/>
            </div>
        </div>
        <div class="accordion-row full-width">
            {#Personaliza tu rango
            <div class="main-slider">
                <div class="full-width pull-left margin-small-bottom">
                    <div class="six-grid">
                        {{ facet.minimum|format_money }}
                    </div>
                    <div class="six-grid is-right">
                        {{ facet.maximum|format_money }}
                    </div>
                </div>
                <div class="slider-control ng-isolate-scope" model="probs" step="1">
                    <div class="slider" style="position: relative;">
                        <div class="price-range" style="width: 40%; left: 30%;"></div>
                        <div class="slider-handle" style="position: absolute; left: 30%; top: -7.5px;">|||</div>
                        <div class="slider-handle" style="position: absolute; left: 70%; top: -7.5px;">|||</div>
                    </div>
                </div>
            </div>#}

            <div class="full-width pull-left">
                <button class="slider-button" ng-click="changeRangeFilter('{{ facet.name }}')">{{ 'catalog.establish'|trans }}</button>
            </div>

        </div>
        <a href="" class="action-button" ng-click="clearFilter('{{ facet.name }}')" class="show is-underline padding-large-left">{{ 'catalog.clear_filters'|trans }}</a>
    </div>
</div>
