<div ng-if="shippingAddress.isReady" ng-cloak>
    {% include ":Checkout:partial/navigation.html.twig" with {'step': 1} %}

    <div class="checkout-address container-sm">
        <div class="full-width padding-xlarge-left">
            <address-form></address-form>
        </div>
    </div>
</div>
