<div ng-if="shippingOptions.isReady" ng-cloak>
    {% include ":Checkout:partial/navigation.html.twig" with {'step': 2} %}

    <div class="full-width pull-left">
        <div class="checkout-shipping">
            <div class="col-sm-36 margin-xlarge-bottom">
                {% if store_pickup_enabled %}
                <div ng-if="shippingOptions.order.storePickupEnabled">
                    <div class="col-sm-18 shipping-option-tab is-center cursor-pointer active-tab" ng-click="shippingOptions.switchTab('homeDelivery')" ng-class="shippingOptions.currentTab == 'homeDelivery' ? 'active-tab' : 'inactive-tab'">
                        {{ 'checkout.home_delivery'|trans }}
                        <span class="is-weight-700 first-color">{[ shippingOptions.order.homeDeliveryFee|formatMoney ]}</span>
                    </div>

                    <div class="col-sm-18 shipping-option-tab is-center cursor-pointer inactive-tab" ng-click="shippingOptions.switchTab('storePickup')" ng-class="shippingOptions.currentTab == 'storePickup' ? 'active-tab' : 'inactive-tab'">
                        {{ 'checkout.store_delivery'|trans }}
                        <span class="shipping-option-special">{{ 'checkout.try_storepickup'|trans }}</span>
                    </div>
                </div>
                {% endif %}

                <div class="col-sm-36 padding-xlarge-top secondary-color" ng-if="shippingOptions.currentTab == 'homeDelivery'">
                    {% include ':Checkout/step/options:home_delivery.html.twig' %}
                </div>

                {% if store_pickup_enabled %}
                    <div class="col-sm-36 padding-xlarge-top secondary-color" ng-if="shippingOptions.currentTab == 'storePickup'">
                        {% include ':Checkout/step/options:store_pickup.html.twig' %}
                    </div>
                {% endif %}
            </div>

            <button class="full-width pull-left btn btn-lg btn-block margin-large-top margin-large-bottom" ng-click="shippingOptions.nextStep()" ng-class="shippingOptions.canContinue() ? 'btn-action' : 'disabled-btn'" ng-disabled="!shippingOptions.canContinue()">
                {{ 'checkout.continue'|trans }}
            </button>
        </div>
    </div>
</div>
