<div ng-if="checkout.isReady" ng-cloak>
    {% include ":Checkout:partial/navigation.html.twig" with {'step': 3} %}

    <div class="container">
        <div class="col-sm-36 col-md-27 checkout-left-col">
            {% if wallet_enabled %}
                <wallet-bar></wallet-bar>
            {% endif %}
            <div class="payment-methods-container padding-xlarge-bottom" ng-show="checkout.canShowPaymentMethods()">
                <div class="col-sm-15 col-md-15 col-lg-12 padding-xlarge-right padding-xlarge-bottom payment-menu fade-in">
                    {% for paymentMethod in order.availablePaymentMethods if paymentMethod.isVisible %}
                        <div class="color-hover-menu twelve-grid secondary-border-bottom padding-large-top padding-large-bottom cursor-pointer" ng-click="checkout.setPaymentMethod('{{ paymentMethod.name }}')" ng-show="checkout.order.isPaymentMethodAllowed('{{ paymentMethod.name }}')">
                            <div class="full-width pull-left is-relative sub-top-5">
                                <i aria-hidden="true" data-icon="{{ ('payment_methods.' ~ paymentMethod.name ~ '.icon')|trans }}" class="icon-2x is-absolute payment-method-icon" ng-class="{'first-color': checkout.order.paymentMethod=='{{ paymentMethod.name }}'}"></i>
                                <span class="payment-method-name pull-left">{{ ('payment_methods.' ~ paymentMethod.name ~ '.display_name')|trans|nl2br }}</span>
                                <i aria-hidden="true" data-icon="ø" class="icon-lg fade-in padding-small-left padding-small-top is-absolute active-icon first-color" ng-show="checkout.order.paymentMethod=='{{ paymentMethod.name }}'"></i>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-sm-21 col-md-21 col-lg-24 fade-in">
                    {% for paymentMethod in order.availablePaymentMethods if paymentMethod.isVisible %}
                        <div class="item-master-row fade-in" ng-if="checkout.order.paymentMethod=='{{ paymentMethod.name }}'">
                            {% include get_checkout_templates(paymentMethod) %}
                        </div>
                    {% endfor %}
                    <div class="item-master-row fade-in" ng-hide="checkout.order.paymentMethod" ng-cloak>
                        {% include ':Checkout:payment/none.html.twig' %}
                    </div>
                </div>
            </div>

            {% if extra_checkout_fields_enabled %}
                {% include ':Checkout:partial/extraCheckoutFields.html.twig' with {'form': extraFieldsForm} %}
            {% endif %}

            <div class="full-width pull-left">
                <div class="col-md-18 no-padding-right" ng-if="!checkout.order.selectedStore">
                    <div class="border-page-header h-title-tall is-weight-700 padding-large-top padding-medium-bottom">
                        {{ 'checkout.shipping_address'|trans }}
                    </div>

                    <ul class="list-unstyled no-margin">
                        <li><strong>{[ checkout.order.shippingAddress.firstName ]} {[ checkout.order.shippingAddress.lastName ]}</strong></li>
                        <li>
                            <span ng-show="checkout.order.shippingAddress.line1">{[ checkout.order.shippingAddress.line1 ]} </span>
                            <span ng-show="checkout.order.shippingAddress.streetNumber">{[ checkout.order.shippingAddress.streetNumber ]}</span>
                            <span ng-show="checkout.order.shippingAddress.apartment">, {[ checkout.order.shippingAddress.apartment ]}</span>
                        </li>
                        <li>
                            <span ng-show="checkout.order.shippingAddress.line2">{[ checkout.order.shippingAddress.line2 ]},</span>
                        </li>
                        <li>
                            <span ng-bind="checkout.order.shippingAddress.postCode"></span>
                            <span ng-bind="checkout.order.shippingAddress.neighborhood"></span>
                        </li>
                        <li><span ng-show="checkout.order.shippingAddress.municipality">{[ checkout.order.shippingAddress.municipality ]}, </span>
                            <span ng-show="checkout.order.shippingAddress.city">{[ checkout.order.shippingAddress.city ]}, </span>
                            {[ checkout.order.shippingAddress.region ]}
                        </li>
                        <li>{{ 'checkout.add_phone'|trans }}:
                            <span ng-show="checkout.order.shippingAddress.prefix">{[ checkout.order.shippingAddress.prefix ]}</span>{[ checkout.order.shippingAddress.mobilePhone ]}
                        </li>
                    </ul>

                    <a href="" ng-click="checkout.showAddressBook('shipping')" class="first-color">{{ 'address_book.change'|trans }}</a><br />
                </div>

                <div class="col-md-18 no-padding-right" ng-if="checkout.order.selectedStore">
                    <div class="border-page-header h-title-tall is-weight-700 padding-large-top padding-medium-bottom">
                        {{ 'checkout.shipping_options'|trans }}
                    </div>

                    <div class="is-weight-700 padding-small-bottom">
                        {{ 'checkout.pickup_your_order'|trans }}:
                        <span class="add-top-3"><i class="padding-small-right icons-oca"></i></span>
                        <span class="padding-small-left">{[ checkout.order.selectedStore.name ]}</span>
                        <div>{[ checkout.order.selectedStore.description ]}</div>
                    </div>
                    <div class="padding-large-top padding-medium-bottom">
                        <ul class="list-unstyled no-margin">
                            <li>
                                {[ checkout.order.selectedStore.line1 ]}
                                <span ng-show="checkout.order.selectedStore.line2"> {[ checkout.order.selectedStore.line2 ]}</span>
                            </li>
                            <li>
                                <span ng-bind="checkout.order.selectedStore.postCode"></span>
                                <span ng-bind="checkout.order.selectedStore.neighborhood"></span>
                            </li>
                            <li><span ng-show="checkout.order.selectedStore.municipality">{[ checkout.order.selectedStore.municipality ]},</span>
                                <span ng-show="checkout.order.selectedStore.city">{[ checkout.order.selectedStore.city ]},</span>
                                {[ checkout.order.selectedStore.region ]}
                            </li>
                        </ul>
                    </div>
                    <a href="" ng-click="checkout.showShippingOptions()" class="first-color">{{ 'checkout.change_pickup_store'|trans }}</a>
                </div>

                <div class="col-md-18 no-padding-left">
                    <div class="border-page-header h-title-tall is-weight-700 padding-large-top padding-medium-bottom">
                        {{ 'checkout.bill_data'|trans }}
                    </div>

                    <div class="pull-left full-width" ng-show="checkout.order.billingAddress">
                        <ul class="list-unstyled no-margin">
                            <li><strong>{[ checkout.order.billingAddress.firstName ]} {[ checkout.order.billingAddress.lastName ]}</strong></li>
                            <li>
                                <span ng-show="checkout.order.billingAddress.line1">{[ checkout.order.billingAddress.line1 ]} </span>
                                <span ng-show="checkout.order.billingAddress.streetNumber">{[ checkout.order.billingAddress.streetNumber ]}</span>
                                <span ng-show="checkout.order.billingAddress.apartment">, {[ checkout.order.billingAddress.apartment ]}</span>
                            </li>
                            <li>
                                <span ng-show="checkout.order.billingAddress.line2">{[ checkout.order.billingAddress.line2 ]},</span>
                            </li>
                            <li>
                                <span ng-bind="checkout.order.billingAddress.postCode"></span>
                                <span ng-bind="checkout.order.billingAddress.neighborhood"></span>
                            </li>
                            <li><span ng-show="checkout.order.billingAddress.municipality">{[ checkout.order.billingAddress.municipality ]}, </span>
                                <span ng-show="checkout.order.billingAddress.city">{[ checkout.order.billingAddress.city ]}, </span>
                                {[ checkout.order.billingAddress.region ]}
                            </li>
                            <li>{{ 'checkout.add_phone'|trans }}:
                                <span ng-show="checkout.order.billingAddress.prefix">{[ checkout.order.billingAddress.prefix ]}</span>{[ checkout.order.billingAddress.mobilePhone ]}
                            </li>
                        </ul>
                        <a href="" ng-click="checkout.showAddressBook('billing')" class="first-color">{{ 'address_book.change'|trans }}</a>
                    </div>
                    <div class="pull-left full-width" ng-hide="checkout.order.billingAddress">
                        <div class="alert alert-warning" ng-show="checkout.order.isBillingAddressRequired()">{{ 'checkout.billing_required'|trans }}</div>

                        {{ 'checkout.no_request_bill'|trans }}
                        {{ cms_global('billing_address_disclaimer') }}
                        <a href="" ng-click="checkout.showAddressBook('billing')" class="first-color">{{ 'checkout.bill'|trans }}</a>
                    </div>
                </div>
            </div>

            <div class="padding-xlarge-top full-width pull-left padding-xlarge-bottom" ng-show="checkout.order.packages">
                <div class="border-page-header h-title-tall is-weight-700 padding-large-top padding-large-bottom">
                    {{ 'checkout.products_in_package'|trans }}
                </div>

                <div class="package" ng-repeat="(packageId, package) in checkout.order.packages">
                    <div class="row full-width">
                        <div class="col-lg-5">
                            <div class="is-weight-700 is-uppercase">{{ 'checkout.shipping'|trans }} <span ng-bind="$index + 1"></span></div>
                        </div>
                        <div class="col-lg-27" ng-show="package.selectedShippingQuote">
                            <div class="info">
                                <span class="is-weight-700" ng-show="!package.selectedShippingQuote.freeShipping">
                                    {{ 'checkout.shipping_cost'|trans }}
                                    <span ng-bind="package.selectedShippingQuote.fee|formatMoney"></span>
                                </span>
                                <span class="is-weight-700" ng-show="package.selectedShippingQuote.freeShipping">
                                    {{ 'catalog.free_shipping'|trans }}
                                </span>
                            </div>
                            <div>
                                <span class="success-color is-uppercase is-underline font-size-medium is-weight-700 padding-small-left" ng-if="package.selectedShippingQuote.deliveredByChristmas">{{ 'cart.product_delivery_by_xmas'|trans }}</span>
                                <span class="success-color padding-small-left" ng-show="package.selectedShippingQuote.estimatedDeliveryDate">{{ 'cart.product_maximum_delivery_date'|trans }} {[ package.selectedShippingQuote.estimatedDeliveryDate ]}</span>
                            </div>
                        </div>
                    </div>

                    <table class="cart-table full-width margin-medium-bottom">
                        <tbody>
                            <tr class="cart-item" ng-repeat="item in package.items">
                                <td class="col-md-5">
                                    <div class="item-image">
                                        <img class="responsive" ng-src="{[ item.image ]}">
                                    </div>
                                </td>

                                <td class="col-md-12">
                                    <strong ng-bind="item.name"></strong>
                                    <ul class="item-options" ng-show="item.variation">
                                        <li ng-show="item.variationType == 'size'">{{ 'product.size'|trans }}: {[ item.variation ]}</li>
                                        <li ng-show="item.variationType !== 'size' && item.variation !== '...'">{{ 'product.option'|trans }}: {[item.variation]}</li>
                                    </ul>

                                    <div class="item-import tooltip-attached padding-medium-top" ng-show="item.imported">
                                        <div class="badge-imported">
                                            <i data-icon="ē"; class="add-top-2"></i>
                                            {{ 'product.product_to_import'|trans }}
                                        </div>
                                        <span class="tooltip tooltip-border tooltip-imported-badge">{{ cms_global('product_import_message') }}</span>
                                    </div>

                                    <div class="item-quantity">
                                        <span class="pull-left padding-medium-right">
                                            {{ 'cart.quantity'|trans }}
                                        </span>
                                        <select class="form-style col-lg-10"
                                                ng-model="item.quantity"
                                                ng-options="quantity for quantity in [] | range:1:item.maxItemsToSell track by quantity"
                                                ng-change="checkout.updateQuantity(item.sku, item.quantity)">
                                        </select>
                                    </div>
                                </td>

                                <td class="col-md-9 price" ng-switch on="item">
                                    <div class="item-price">
                                        <span class="previous-price" ng-show="item.percentageOff" ng-bind="item.originalPrice|formatMoney"></span>
                                        {% if display_discounts %}
                                            <span class="percentage-off" ng-show="item.percentageOff" ng-show="item.percentageOff">- {[ item.percentageOff|percent ]}</span>
                                        {% endif %}
                                        <div class="actual-price" ng-bind="item.unitPrice|formatMoney"></div>
                                    </div>
                                </td>

                                <td class="col-md-8">
                                    <div ng-show="item.linioPlusLevel == 1">
                                        {% include '::partial/components/linio_plus_badge.html.twig' %}
                                    </div>
                                    <div ng-show="item.linioPlusLevel == 2">
                                        {% include '::partial/components/linio_plus48_badge.html.twig' %}
                                    </div>

                                    <div class="success-color" ng-show="item.freeShipping && item.linioPlusLevel == 0">{{ 'checkout.free_shipping'|trans }}</div>

                                    <div ng-show="shippingOptions.order.selectedStore">
                                        <span class="add-top-3"><i class="padding-small-right icons-oca"></i></span>
                                        <span class="padding-small-left fifth-color is-weight-700">{[ shippingOptions.order.selectedStore.name ]}</span>
                                    </div>

                                    <div ng-show="item.seller">{{ 'cart.sold_by'|trans }} {[ item.seller ]}</div>
                                    <div ng-hide="item.seller">{{ 'product_details.sold_and_fulfilled_by_linio'|trans }}</div>
                                    <div class="error-color" ng-show="checkout.order.isUndeliverable(item.sku)">{{ 'cart.this_product_not_deliverable'|trans }}</div>
                                    <div class="cart-item-seller item-seller" ng-show="item.oversized">
                                        <span>
                                            <i aria-hidden="true" data-icon="¡"></i>
                                            <span>{{ 'global.oversized_product'|trans }}</span>
                                        </span>
                                        <span class="tooltip-attached ">
                                            <span>
                                                <i aria-hidden="true" data-icon="?" class="icon-20"></i>
                                            </span>
                                            <div class="tooltip tooltip-border">
                                                {{ cms_global('tooltip_oversized') }}
                                            </div>
                                        </span>
                                    </div>
                                </td>

                                <td class="col-md-2 text-right">
                                    <div class="item-actions">
                                        <a href="#" ng-click="checkout.removeItem(item.sku)" class="sub-top-5">
                                            <i aria-hidden="true" data-icon="X"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="cart cart-summary col-md-9 padding-medium-left">
            <div class="h-title-tall is-weight-700 border-page-header padding-small-bottom">
                {{ 'cart.order_summary'|trans }}
            </div>

            <div class="cart-subtotal">
                <div class="col-md-36 padding-large-bottom secondary-border-bottom">
                    <div class="col-lg-15">{{ 'cart.subtotal'|trans }} (<span ng-bind="checkout.order.countItems()"></span>)</div>
                    <div class="col-lg-21 subtotal text-right" ng-bind="checkout.order.subTotal|formatMoney"></div>
                </div>
            </div>

            <div class="cart-shipping">
                <div class="col-md-36 secondary-border-bottom padding-large-bottom">
                    <div class="padding-medium-top col-md-15">{{ 'cart.shipping.title'|trans }}</div>
                    <div class="padding-medium-top col-md-21 text-right" ng-show="checkout.order.originalShippingAmount > 0" ng-bind="checkout.order.originalShippingAmount|formatMoney"></div>
                    <div class="padding-medium-top col-md-21 text-right success-color" ng-show="checkout.order.originalShippingAmount == 0">{{ 'catalog.free_shipping'|trans }}</div>
                    <br />
                    <div ng-show="checkout.order.linioPlusSavedAmount > 0">
                        <div class="col-md-20">
                            {{ 'cart.plus.saved'|trans }} <i aria-hidden="true" data-icon="å" class="add-top-3"></i>
                        </div>
                        <div class="col-md-16 text-right add-top-10">{[ checkout.order.linioPlusSavedAmount|formatMoney ]}</div>
                    </div>
                </div>
            </div>

            <div class="cart-installments" ng-show="checkout.order.installmentOption.totalInterest > 0">
                <div class="col-md-36 secondary-border-bottom padding-large-bottom">
                    <div class="padding-medium-top col-md-15">{{ 'cart.installments_total'|trans }}</div>
                    <div class="padding-medium-top col-md-21 text-right" ng-bind="checkout.order.installmentOption.totalInterest|formatMoney"></div>
                </div>
            </div>

            <div class="cart-partnership" ng-show="checkout.order.partnershipDiscount > 0">
                <div class="col-md-36 secondary-border-bottom padding-large-bottom">
                    <div class="padding-medium-top col-md-15">{[ checkout.order.partnership.name ]}</div>
                    <div class="padding-medium-top col-md-21 text-right">-{[ checkout.order.partnershipDiscount|formatMoney ]}</div>
                </div>
            </div>

            <coupon-form class="clearfix secondary-border-bottom padding-large-bottom"></coupon-form>

            <div class="padding-large-bottom padding-large-top secondary-border-bottom full-width clearfix" ng-show="checkout.order.wallet.totalPointsUsed">
                <div class="col-lg-15">{{ 'electronic_wallet.wallet'|trans }}</div>
                <div class="col-lg-21 text-right is-weight-700">-{[ checkout.order.wallet.totalDiscount|formatMoney ]}</div>
                <div class="col-lg-36 text-right">({[ checkout.order.wallet.totalPointsUsed ]} pts)</div>
            </div>

            <div class="cart-total clearfix">
                {% if display_taxes %}
                <div class="col-md-36 padding-large-top padding-large-bottom secondary-border-bottom">
                    <div class="col-md-15">{{ 'cart.tax'|trans }}</div>
                    <div class="col-md-21 text-right" ng-bind="checkout.order.taxAmount|formatMoney"></div>
                </div>
                {% endif %}
                <div class="col-md-36 padding-large-top">
                    <div class="h-title-tall is-weight-700 col-md-15">{{ 'cart.total'|trans }}</div>

                    <div ng-show="!checkout.order.installmentOption" class="col-md-21 text-right" ng-bind="checkout.order.grandTotal|formatMoney"></div>
                    <div ng-show="checkout.order.installmentOption" class="col-md-21 text-right" ng-bind="checkout.order.installmentOption.total|formatMoney"></div>
                </div>
            </div>

            <div class="padding-large-bottom padding-large-top">
                <button class="btn btn-lg btn-block" ng-class="checkout.canPlaceOrder() ? 'btn-success' : 'disabled-btn'" ng-disabled="!checkout.canPlaceOrder()" ng-click="checkout.finish()">
                    {{ 'checkout.finish_purchase'|trans }}
                </button>
            </div>

            <div ng-repeat="partnership in checkout.order.partnerships">
                <dropdown-block>
                    <ui-accordion>
                        <partnership-form partnership="partnership" title="{{ 'PARTNERSHIP_ACTIVATE_MEMBERSHIP'|trans }}" class="col-sm-36 padding-large-bottom padding-large-top"></partnership-form>
                    </ui-accordion>
                </dropdown-block>
            </div>

            {% if loyalty_program %}
                <loyalty-form class="padding-large-bottom padding-large-top secondary-border-top"></loyalty-form>
            {% endif %}

            <div class="padding-large-bottom padding-large-top secondary-border-top full-width col-sm-36">
                {{ cms_global('checkout-additional-message') }}
            </div>
        </div>
    </div>
</div>
