<div class="padding-large-top first-color" ng-controller="WalletActivationController">
   <div ng-hide="hideActivationCTA">
       <i data-icon="ě" class=""></i>
       <span class="">
           <a ng-click="openActivationModal()" class="first-color is-weight-700 cursor-pointer">Activa tu monedero electrónico </a>
       </span>
   </div>

   <script type="text/ng-template" id="walletActivation">
       {% include ":Checkout:partial/components/wallet/wallet_activation_modal.html.twig" %}
   </script>
</div>
