<div ng-controller="WalletPointsController">
    <div class="fade-in points-panel" ng-show="hasWallet">
        <div class="clearfix full-width secondary-border-bottom padding-xlarge-bottom padding-xlarge-top">
            <div class="col-sm-12">
                <span class="is-weight-700 title limit-width">
                    <span class="first-color title-icon"><i data-icon="ě"></i></span>
                    {{ 'electronic_wallet.title'|trans }}
                </span>
            </div>
            <div class="col-sm-12 padding-large-left padding-small-top">
                <span class="is-weight-700">{{ 'electronic_wallet.balance'|trans }}:</span> {[ pointsBalance ]} {{ 'electronic_wallet.points'|trans }}
                <br>
                <div ng-show="usedPoints">
                    <span class="is-weight-700">{{ 'electronic_wallet.used_points'|trans }}:</span> {[ usedPoints ]} {{ 'electronic_wallet.points'|trans }}
                </div>
            </div>
            <div class="col-sm-12">
                <button class="btn btn-outline-primary btn-md full-width pull-right" ng-click="useWalletPoints(availablePoints)" ng-show="!isUsingPoints">
                    {{ 'electronic_wallet.pay_with_points'|trans }}
                </button>
                <div class="pull-right padding-small-top padding-small-right" ng-show="isUsingPoints && availablePoints > 0">
                    <span class="cursor-pointer is-underline" ng-click="useWalletPoints(0)">{{ 'electronic_wallet.cancel_used_points'|trans }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
