<div class="category-title full-width h-title-large secondary-border-bottom ">
    <h3 class="is-weight-700 is-uppercase padding-large-bottom padding-large-top is-weight-700 is-uppercase padding-large-bottom padding-large-top sixth-color">
        {{ 'electronic_wallet.accumulate_points_title'|trans }}
    </h3>
</div>

<div class="padding-large-top points-panel">

  <span class="eleventh-color is-weight-bold title">
    <i data-icon="ě" class="first-color title-icon"></i>
    {{ 'electronic_wallet.electronic_wallet'|trans }}
  </span>
  <div class="fifth-color padding-large-top">
    {{ 'electronic_wallet.accumulate_points'|trans }} {{ 'electronic_wallet.card'|trans }} {{ 'electronic_wallet.use_it_everywhere'|trans }}
    <span class="label-icon tooltip-attached cursor-pointer">
        <span><i aria-hidden="true" data-icon="?"></i></span>
        <span class="tooltip tooltip-border">{{ 'electronic_wallet.wallet_tooltip'|trans }}</span>
    </span>
  </div>
</div>

<div class="alert alert-error margin-large-top fade-in" ng-show="errorMessage">
    <div ng-show="errorMessage=='accountsMustMatch'">{{ 'electronic_wallet.error.accounts_must_match'|trans }}</div>
    <div ng-show="errorMessage=='invalidAccount'">
        <span class="is-uppercase is-weight-700">{{ 'electronic_wallet.error.invalid_account_number'|trans }}</span><br>
        <span>{{ 'electronic_wallet.error.contact_bank'|trans }}</span>
    </div>
</div>

{% set form = linioWalletForm %}

{{ form_start(form) }}

{% for element in form.children %}
    <div class="padding-large-top">
        {% if element.vars.block_prefixes[1] == 'repeated' %}
            {% for child in element.children %}
                <div class="padding-large-top">
                    {{ form_label(child, null, {'label_attr': {'class': 'fifth-color margin-small-top full-width'}}) }}
                    {{ form_widget(child, {'attr': {'class': 'form-style full-width'}}) }}
                </div>
            {% endfor %}
        {% else %}
            {{ form_label(element, null, {'label_attr': {'class': 'fifth-color margin-small-top full-width'}}) }}
            {{ form_widget(element, {'attr': {'class': 'form-style full-width'}}) }}
        {% endif %}
    </div>
{% endfor %}

{{ form_end(form) }}

<div class="padding-medium-top">
  <a class="is-underline cursor-pointer">{{ 'electronic_wallet.how_to_get_linio_card'|trans }}</a>
</div>

<div class="full-width padding-large-bottom padding-large-top">
    <button type="submit"
        class="btn btn-md btn-block"
        ng-class="({{ form.vars.full_name }}.$invalid || isSaving) ? 'disabled-btn' : 'btn-action'"
        ng-disabled="{{ form.vars.full_name }}.$invalid || isSaving"
        ng-click="{{ 'submitWalletActivation(' ~ form.vars.full_name ~ ', wallet)' }}">
        {{ 'electronic_wallet.accumulate_points_title'|trans }}
    </button>
</div>
