<link hreflang="es-AR" rel="alternate" href="http://www.linio.com.ar/" />
<link hreflang="es-CL" rel="alternate" href="https://www.linio.cl/" />
<link hreflang="es-CO" rel="alternate" href="https://www.linio.com.co/" />
<link hreflang="es-EC" rel="alternate" href="https://www.linio.com.ec/" />
<link hreflang="es-MX" rel="alternate" href="https://www.linio.com.mx/" />
<link hreflang="es-PA" rel="alternate" href="https://www.linio.com.pa/" />
<link hreflang="es-PE" rel="alternate" href="https://www.linio.com.pe/" />
<link hreflang="es-VE" rel="alternate" href="https://www.linio.com.ve/" />
