<div class="cms-block">
    <h3 class="cms-block-title">
        {{ cmsBlockOptions.title }} <a class="cms-block-more" href="{{ cmsBlockOptions.moreLink }}">ver más</a>
    </h3>
    <div class="cms-block-content clearfix">
        {% for block in cmsBlockOptions.blocks %}
            <div class="col-sm-9">
                <a class="cms-block-banner" href="{{ block.url }}"><img class="full-width" src="{{ block.img }}" alt="{{ block.title }}"></a>
            </div>
        {% endfor %}
    </div>
</div>
