{% if newsletterStatus and newsletterCoupon %}
    <script type="text/javascript">
        var newsletterStatus = {status: '{{ newsletterStatus }}', coupon: '{{ newsletterCoupon }}'};
    </script>

{% endif %}

{# TODO: Implement newsletter form feature in home page. #}
<div ng-controller="newsletterHomeController" class="eighth-border-bottom eighth-border-top full-width is-display-inline-block margin-large-top nl-bar padding-large-top padding-small-bottom">
    <div class="col-lg-12 col-md-36 col-sm-36 is-uppercase is-weight-700 padding-large-bottom padding-small-top padding-xlarge-left">
        <span class="first-color font-size-large">
            {{ 'NEWSLETTER_SUBSCRIBE_TO_NEWSLETTER'|trans }}
        </span>
    </div>
    <div class="col-lg-24 col-sm-36 padding-large-left padding-large-right padding-medium-bottom">
        <form name="newsletterSubscription" ng-submit="subscribe()" ng-disabled="isSaving">
            <div class="col-sm-18 padding-medium-right">
                <input type="email"
                       id="nl_email_input"
                       name=""
                       required="required"
                       class="full-width form-style"
                       autocomplete="given-name"
                       placeholder="{{ 'NEWSLETTER_EMAIL_PLACEHOLDER'|trans }}"
                       ng-model="newsletter.email">
            </div>
            <div class="col-sm-18 padding-medium-left">
                <button class="btn btn-md btn-block btn-outline btn-outline-primary full-width is-weight-700" type="submit">
                    {{ 'newsletter.suscribe'|trans }}
                </button>
            </div>
        </form>
    </div>
</div>
