
<div ng-repeat="subCategory in menuCategories" ng-show="categoryId == subCategory.id">
	<div class="home-main-content">
		<div class="padding-medium-left padding-medium-right">
			<div class="category-title ng-binding">{[subCategory.content.title]}</div>
			<div ng-repeat="subsubCategory in subCategory.content.subCategories">
				<div class="block-subtitle">{[subsubCategory.title]}</div>

				<ul class="block-list">
					<li ng-repeat="item in subsubCategory.items">{[item]}</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="home-main-banner">
		<div class="ban-main">
			<img ng-src="{[subCategory.mainBanner]}" class="full-width"/>
		</div>
		<div class="home-col-2">
			<img ng-src="{[subCategory.secondaryBanner]}" class="full-width"/>
		</div>
		<div ng-repeat="banner in subCategory.smallBanners">
			<div class="home-col-2" ng-class='{clear:$first}'>
				<img data-load="{[banner]}" class="full-width"/>
			</div>
		</div>
	</div>
</div>
{# 
<div class="home-main-content">
	{% include '::partial/components/home/home_category_items.html.twig' %}
</div>

<div class="home-main-banner">
	{% include '::partial/components/home/home_main_banner.html.twig' %}
</div>

 #}

{# 
<div class="home-col-2 home-right-banners">
	{% include '::partial/components/home/home_right_banners.html.twig' %}
</div>
 #}