<div class="padding-medium-left padding-medium-right">
	<div class="category-title ng-binding">{[title]}</div>
	<div ng-repeat="subCategory in subCategories">
		<div class="block-subtitle">{[subCategory.title]}</div>

		<ul class="block-list">
			<li ng-repeat="item in subCategory.items">{[item]}</li>
		</ul>
	</div>
</div>
