<div class="home-main-category">
	<div class="home-main-content">
		<span class="subcategory-header-title">{[menuCategories[0].content.title]}</span>
		<div ng-repeat="subCategory in menuCategories[0].content.subCategories">
			<span class="subcategory-section-title">{[subCategory.title]}</span>
			<a class="subcategory-item" ng-repeat="item in subCategory.items" href="/c/tecnologia">{[item]}</a>
		</div>
	</div>
	<div class="home-main-banner">
		 <div class="clear home-col-6 primary-banner">
			<img ng-src="{[menuCategories[0].mainBanner]}"/>
		</div>
		<div class="home-col-2 secondary-banner">
			<img ng-src="{[menuCategories[0].secondaryBanner]}"/>
		</div>
		<div ng-repeat="banner in menuCategories[0].smallBanners track by $index" class="home-col-2 small-banner-{[$index + 1]}" ng-class='{clear:$first}'>
			<img ng-src="{[banner]}"/>
		</div>
	</div>
</div>
