<div class="ban-main">
	<img src="{[mainBanner]}" class="full-width"/>
</div>

<div class="home-col-2">
	<img src="{[secondaryBanner]}" class="full-width"/>
</div>

<div ng-repeat="banner in smallBanners">
	<div class="home-col-2" ng-class='{clear:$first}'>
		<img src="{[banner]}" class="full-width"/>
	</div>
</div>
