<div class="category-tittle full-width h-title-large secondary-border-bottom ">
   <h3 class="is-weight-700 is-uppercase padding-large-bottom padding-large-top">
        {{ 'NEWSLETTER_MODAL_TITLE'|trans }}
    </h3>
</div>

<div class="nl-step-01 fade-in" ng-show="newsletterStep=='form'">
    <div class="padding-large-top">
        {{ 'NEWSLETTER_WE_KNOW_YOU_LIKE_TO_BUY'|trans }}<br>
        {{ 'NEWSLETTER_SUBSCRIBE_AND_LEARN_ABOUT'|trans }}
    </div>
    <div class="full-width alert alert-error margin-medium-top" ng-show="error">{[ error ]}</div>
    <form name="newsletterSubscription" ng-submit="subscribe()" ng-disabled="isSaving">
        <div class="full-width padding-large-top">
            <label for="" class="required">
                {{ 'newsletter.email'|trans }}
            </label>
            <br>
            <input type="email"
                id="nl_email_input"
                name=""
                required="required"
                class="full-width form-style"
                autocomplete="given-name"
                placeholder="{{ 'NEWSLETTER_EMAIL_PLACEHOLDER'|trans }}"
                ng-model="newsletter.email">
        </div>
        <div class="full-width padding-large-bottom padding-large-top pull-left">
            <button type="submit"
                class="btn btn-md btn-block"
                ng-class="(newsletterSubscription.$invalid || isSaving) ? 'disabled-btn' : 'btn-action'"
                ng-disabled="newsletterSubscription.$invalid || isSaving">
                {{ 'newsletter.suscribe'|trans }}
            </button>
        </div>
    </form>
    <div class="secondary-border-top is-display-inline-block padding-medium-top full-width">
        {{ 'NEWSLETTER_PRIVACY'|trans }}<br>
        {{ 'NEWSLETTER_ALSO_YOU_CAN_CANCEL'|trans }}
    </div>
</div>

{% include '::partial/components/home/newsletter_coupon.html.twig' %}
