<div class="nl-step-02" ng-show="newsletterStep=='coupon'">
    <div class="nl-success is-weight-700 padding-large-top ">
        <i class="icon-nav pull-left" aria-hidden="true" data-icon="O"></i>
            {{ 'NEWSLETTER_SUBSCRIPTION_WELCOME'|trans }}
    </div>
    <p>
        {{ 'NEWSLETTER_WHAT_ARE_YOU_WAITING'|trans }}
    </p>
    <p>
        {{ 'NEWSLETTER_CHANGE_SUBSCRIPTION_FREQUENCY'|trans }}
        <a class="first-color is-underline" href="{{ path('frontend.customer.index') }}">
            {{ 'NEWSLETTER_CHANGE_YOUR_SUBSCRIPTION_LINK'|trans }}.
        </a>
    </p>
</div>
