<div class="banner-item">
    <figure class="product-item">
        <a href="{{ banner.url }}"><img class="margin-auto responsive" src="{{ banner.image }}"></a>
        {% if banner.caption is defined %}
        <figurecaption class="is-uppercase show">{{ banner.caption }}</figurecaption>
        {% endif %}
    </figure>
</div>