<div class="login-form-container">
    {{ form_start(form, {'attr': {'class': 'create-account-form'}, 'action': path('frontend.customer.create'), 'method': 'POST'}) }}
        {% for element in form.children if element.vars.name != '_token' %}
            {% if element.vars.block_prefixes[1] == 'repeated' %}
                {% for child in element.children %}
                    <div>
                        {{ form_label(child, null, {'label_attr': {'class': 'fifth-color margin-small-top pull-left full-width'}}) }}
                        {{ form_widget(child, {'attr': {'class': 'form-style pull-left full-width'}}) }}
                    </div>
                {% endfor %}
            {% elseif element.vars.name == 'acceptTerms' %}
                {# TODO: This a temporary implementation and needs to be fixed up #}
                <div class="full-width margin-small-top pull-right">
                    {{ form_widget(element, {'attr': {'class' : 'checkbox official-checkbox'}}) }}
                    <label for="{{ element.vars.id }}" class="signup-option-legend fifth-color">
                        {{ element.vars.label|trans({'%href%': terms_and_conditions })|raw}}
                    </label>
                </div>
            {% elseif element.vars.block_prefixes[1] == 'checkbox' %}
                <div class="signup-option full-width margin-small-top pull-right">
                    <div class="full-width margin-small-top pull-right">
                        {{ form_widget(element, {'attr': {'class' : 'checkbox official-checkbox'}}) }}
                        <label for="{{ element.vars.id }}" class="signup-option-legend fifth-color">
                            {{ element.vars.label|trans }}
                        </label>
                    </div>
                </div>
            {% else %}
                <div>
                    {{ form_label(element, null, {'label_attr': {'class': 'fifth-color margin-small-top pull-left full-width'}}) }}
                    {{ form_widget(element, {'attr': {'class': 'form-style pull-left full-width'}}) }}
                </div>
            {% endif %}
        {% endfor %}

        <span class="full-width">
            <button type="submit" class="btn btn-action btn-m btn-block font-size-tall complete-register-button">
                {{ 'customer.registration.submit'|trans }}
            </button>
        </span>
    {{ form_end(form) }}

    <div class="full-width pull-left fifth-color" ng-show="registerForm">
        <span class="login-description">{{ 'customer.sign_up_with_socials'|trans }} {{ 'customer.step_will_save_time'|trans }}</span>
    </div>
    <div class="login-social-button-container" ng-show="registerForm" ng-controller="LoginOAuthController"
 ng-init="fbRedirect='{{ url('hwi_oauth_service_redirect', {service: 'facebook'}) }}'; gplusRedirect='{{ url('hwi_oauth_service_redirect', {service: 'gplus'}) }}'">
        <div class="login-social-button">
            <button class="h-title btn btn-facebook btn-m btn-block font-size-tall" data-ng-disabled="!isFacebookReady" data-ng-click="fbLogin()">{{ 'customer.facebook'|trans }}</button>
        </div>
        <div class="login-social-button">
            <button class="h-title btn btn-google btn-m btn-block font-size-tall" data-ng-click="gplusLogin()">{{ 'customer.google_plus'|trans }}</button>
        </div>
    </div>
</div>
