<div class="login-form-container" ng-controller="LoginOAuthController"
     ng-init="fbRedirect='{{ url('hwi_oauth_service_redirect', {service: 'facebook'}) }}'; gplusRedirect='{{ url('hwi_oauth_service_redirect', {service: 'gplus'}) }}'">
    {{ form_start(form) }}
        <div class="create-account-form">
            <div class="login-form-container-item">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
            </div>
            <div class="login-form-container-item">
                {{ form_label(form.password) }}
                {{ form_widget(form.password) }}
            </div>
            <div class="login-form-container-item full-width">
                <a href="{{ path('frontend.customer.password.recover.request') }}"
                   class="recover-password">{{ 'customer.if_forget_password'|trans }}</a>
            </div>
            <span class="login-form-container-item full-width">
                {{ form_label(form.login) }}
                {{ form_widget(form.login) }}
            </span>
        </div>
        <div class="full-width pull-left fifth-color">
            <span class="login-description">{{ 'customer.sign_up_with_socials'|trans }}</span>
            <span class="login-description">{{ 'customer.step_will_save_time'|trans }}</span>
        </div>
    {{ form_end(form) }}

    <div class="login-social-button-container">
        <div class="login-social-button">
            <button class="h-title btn btn-facebook btn-m btn-block font-size-tall"
                    data-ng-disabled="!isFacebookReady"
                    data-ng-click="fbLogin()">{{ 'customer.facebook'|trans }}</button>
        </div>
        <div class="login-social-button pull-right">
            <button class="h-title btn btn-google btn-m btn-block font-size-tall"
                    data-ng-click="gplusLogin()">{{ 'customer.google_plus'|trans }}</button>
        </div>
    </div>
</div>
