{% block choice_widget_expanded %}
    {% for child in form %}
        {% set content = form_widget(child) %}
        {% if content %}
            <div class="col-sm-36">
                <span class="pull-left padding-small-left padding-small-right padding-medium-top">
                    {{ content|raw }}
                </span>
                {% if child.vars.attr.src is defined %}
                    <span class="pull-left padding-small-left padding-small-right">
                        <i class="icons-{{ child.vars.attr.src|lower }} is-vertical-middle padding-medium-right padding-small-left"></i>
                    </span>
                {% endif %}
                <span class="pull-left padding-small-left padding-small-right padding-medium-top">
                    {{ form_label(child) }}
                </span>
            </div>
        {% endif %}
    {% endfor %}
{% endblock choice_widget_expanded %}
