{% form_theme form _self %}

{{ form_start(form, {'attr': {'broadcast-validation': ''}}) }}
{% set requiredFields = form|required_fields %}
{% set optionalFields = form|optional_fields %}

{% if requiredFields %}
<div class="padding-xlarge-top full-width pull-left padding-xlarge-bottom">
    <div class="col-md-36 no-padding-right">
        <div class="border-page-header h-title-tall is-weight-700 padding-large-top padding-large-bottom">
            {{ 'checkout.billing_required'|trans }}
        </div>

        <div class="col-sm-36 col-md-24">
            <div class="fade-in">
                {% for element in requiredFields %}
                    {% if loop.index0 % 2 == 0 %}
                        <div class="row full-width pull-left">
                    {% endif %}

                    {% if loop.last and (loop.index % 2 != 0) %}
                        {% set grid_size = 'twelve' %}
                    {% else %}
                        {% set grid_size = 'six' %}
                    {% endif %}

                    {{ form_row(element, {grid_size: grid_size}) }}

                    {% if loop.index0 % 2 != 0 or loop.last %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if optionalFields %}
<div class="padding-xlarge-top full-width pull-left padding-xlarge-bottom">
    <div class="col-md-36 no-padding-right">
        <div class="border-page-header h-title-tall is-weight-700 padding-large-top padding-large-bottom">
            {{ 'checkout.billing_type'|trans }}
        </div>

        <div class="col-sm-36 col-md-24">
            <div class="fade-in">
                {% for element in optionalFields %}
                    {% if loop.index0 % 2 == 0 %}
                        <div class="row full-width pull-left">
                    {% endif %}

                    {% if loop.last and (loop.index % 2 != 0) %}
                        {% set grid_size = 'twelve' %}
                    {% else %}
                        {% set grid_size = 'six' %}
                    {% endif %}

                    {{ form_row(element, {grid_size: grid_size}) }}

                    {% if loop.index0 % 2 != 0 or loop.last %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}
{{ form_end(form) }}

{% block form_row %}
    {% if grid_size is not defined %}
        {% set grid_size = 'six' %}
    {% endif %}

    {# For some reason, the last field was empty, but the label kept being displayed. That was an (ugly) workaraound. Please, fix if you can. #}
    {% set content = form_widget(form, {'attr': {'class': 'full-width form-style'}}) %}

    {% if content %}
        <div class="{{ grid_size ~ '-grid' }} no-padding-left padding-medium-right">
            <div>{{ form_label(form) }}</div>

            {{ content|raw }}

            <i aria-hidden="true"
                data-icon="õ"
                class="pull-right input-icon success-color fade-in"
                ng-show="(extra_checkout_fields.$submitted || (!extra_checkout_fields['{{ form.vars.full_name }}'].$focused))
                    && extra_checkout_fields['{{ form.vars.full_name }}'].$touched
                    && extra_checkout_fields['{{ form.vars.full_name }}'].$valid
                    && extra_checkout_fields['{{ form.vars.full_name }}'].$dirty">
            </i>
            <i aria-hidden="true"
                data-icon="x"
                class="pull-right input-icon error-color fade-in"
                ng-show="(extra_checkout_fields.$submitted || (extra_checkout_fields['{{ form.vars.full_name }}'].$dirty))
                    && !extra_checkout_fields['{{ form.vars.full_name }}'].$focused
                    && extra_checkout_fields['{{ form.vars.full_name }}'].$invalid">
            </i>
        </div>
    {% endif %}
{% endblock %}
