<footer class="container-xlg padding-large-top">

	<div class="secondary-border-top pull-left full-width">
		<div class="col-sm-12 no-padding" align="center">
			<p class="secondary-border-right"><a target="_blank" href="{{ terms_and_conditions }}">{{ 'checkout.terms_and_conditions'|trans }}</a></p>
		</div>
		<div class="col-sm-12 no-padding" align="center">
			<p class="secondary-border-right"><a target="_blank" href="/sp/preguntas-frecuentes/">{{ 'checkout.frequently_asked_questions'|trans }}</a></p>
		</div>
		<div class="col-sm-12 no-padding" align="center">
			<p><a href="/">{{ 'checkout.back_to_linio'|trans }}</a></p>
		</div>
	</div>

    <div class="secondary-border-top pull-left full-width">
        <div class="col-sm-18">
            <p class="secondary-color">&copy; {{ "now"|date("Y") }} {{ 'global.site_name'|trans }} {{ country_name|trans }} | Todos los derechos reservados.</p>
        </div>
        <div class="col-sm-18">
            <p class="secondary-color">{{ 'checkout.valid_while_supplies_last'|trans }}</p>
        </div>
    </div>
</footer>
