<div class="container">
    <div class="row full-width padding-medium-top padding-medium-right padding-medium-left margin-xlarge-bottom eighth-border-bottom">
        <div class="col-sm-18 text-left">
            <a href="{{ path('frontend.cart.index') }}" class="icons-logo padding-large-top"></a>
        </div>
        <div class="col-sm-18">
            <div class="contact-phone text-right">
                <div class="contact-phone-label">{{ 'checkout.phone_sales'|trans }}</div>
                <div>{{ cms_global('linio_contact_phone') }}</div>
            </div>
        </div>
    </div>
</div>
