<div class="full-width padding-xlarge-bottom">
    {% set statuses = [{'title': ('checkout.shipping_address'|trans), 'completed': (step > 0 ? true : false)}] %}

    {% if shipping_options_enabled %}
        {% set statuses = statuses|merge([{'title': ('checkout.options'|trans), 'completed': (step > 1 ? true : false) }]) %}
    {% endif %}

    {% set statuses = statuses|merge([{'title': ('checkout.pay_order'|trans), 'completed': (step > 2 ? true : false)}]) %}
    {% include '::partial/components/customer/status_progress_block.html.twig' with {statuses: statuses} only %}
</div>
