<div id="store-pickup-container" ng-controller="CheckoutStorePickupController">
    <div class="margin-medium-bottom"><strong>{{ 'address_book.store_pickup.select_store'|trans }}</strong></div>

    <div>{{ cms_global('store_pick_up_disclaimer') }}</div>

    <div class="full-width padding-large-top">
        <div><label>{{ 'address_book.store_pickup.region'|trans }}</label></div>
        <select class="form-style full-width" ng-model="region" ng-change="activeRegion = region">
            <option ng-repeat="region in regions">{[ region ]}</option>
        </select>
    </div>

    <div class="full-width padding-large-top">
        <div><label>{{ 'address_book.store_pickup.municipality'|trans }}</label></div>
        <select class="form-style full-width" ng-model="municipality" ng-change="loadActiveStores(municipality)">
            <option ng-repeat="municipality in municipalities[activeRegion]">{[ municipality ]}</option>
        </select>
    </div>

    <div class="full-width padding-large-top padding-xlarge-bottom">
        <div><label>{{ 'address_book.store_pickup.select_branch'|trans }}</label></div>
        <select class="form-style full-width" ng-model="storeId" ng-change="updateSelectedStore()">
            <option ng-repeat="store in activeStores" value="{[ store.id ]}">{[ store.name ]}</option>
        </select>
    </div>

    {[ store.description ]}

    <button class="btn btn-action btn-lg btn-block is-weight-700 font-size-large padding-large-top margin-large-top" ng-click="setStore()">
        {{ 'checkout.continue'|trans }}
    </button>
</div>
