<script type="text/ng-template" id="accordion">
    <div class="accordion {[accordion.className]}">
        <div class="clearfix cursor-pointer" ng-click="accordion.switchPane()">
            <div class="pull-right">
                <i class="{[ accordion.logo ]} accordion-logo"> </i>
                <i aria-hidden="true" data-icon="{[ accordion.expanded ? 2 : 1 ]}" class="accordion-tab-title-icon pull-right" ng-class="{'add-top-9' : accordion.logo}"> </i>
            </div>
            <div ng-transclude="accordiontitle" ng-class="{'padding-medium-top' : accordion.logo}">
                {[ accordion.title ]}
            </div>
        </div>
        <div ng-show="accordion.expanded">
            <div ng-transclude class="accordion-content"></div>
        </div>
    </div>
</script>
