{# TO-DO replace the current file with ::partial/header.html.twig #}
<div class="invisible-overlay-content ng-hide"></div>
<header class="navbar">
    <div class="container">
        <div class="navbar-brand">
            {% set logoType = (is_granted('IS_AUTHENTICATED_REMEMBERED') and app.user.subscribedToLinioPlus) ? 'icons-logo-plus' : 'icons-logo' %}
            <a class="navbar-logo {{logoType}}" title="{{ 'global.site_name'|trans }}" href="{{ path('frontend.root.home') }}"></a>
        </div>
        <div class="navbar-header">
            <div class="navbar-right">
                <div class="navbar-alternative">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <span class="navbar-icon-links dropdown hidden">
                            <a class="navbar-top-item" href="{{ logout_path(app.security.token.providerKey|default('default')) }}"><i aria-hidden="true" data-icon="ú"></i></a>
                        </span>
                    {% endif %}
                    <span class="navbar-icon-links dropdown">
                        <a class="dropdown-toggle" href="{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}{{ path('frontend.customer.index') }}{% else %}{{ path('frontend.security.login') }}{% endif %}"><i aria-hidden="true" data-icon="U"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('frontend.customer.orders.list') }}">{{ 'header.top_links.my_orders'|trans }}</a></li>
                            <li><a href="{{ path('frontend.default.static_page', {slug: 'vender-por-internet-linio'}) }}">{{ 'header.top_links.sell_with_us'|trans }}</a></li>
                            <li><a href="{{ path('frontend.default.static_page', {slug: 'preguntas-frecuentes'}) }}">{{ 'header.top_links.help'|trans }}</a></li>
                        </ul>
                    </span>
                    <span class="navbar-icon-links dropdown">
                        <a class="dropdown-toggle" href="{{ path('frontend.cart.index') }}"><i aria-hidden="true" data-icon="C"></i></a>
                    </span>
                </div>
                <div class="header-session">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <a class="start-session is-loggedin" href="{{ path('frontend.customer.index') }}">
                            <i class="start-session-icon" aria-hidden="true" data-icon="U"></i>
                            {{ 'header.my_account'|trans({'%customer_first_name%': app.user.firstName}) }}
                        </a>
                    {% else %}
                        <a class="start-session guest">
                            <i class="start-session-icon" aria-hidden="true" data-icon="U"></i>
                            {{ 'header.start_session'|trans }}
                        </a>
                    {% endif %}
                    <a class="header-cart header-cart-full" href="{{ path('frontend.cart.index') }}">
                        <div ng-show="cartItems() > 0" ng-cloak>
                            <span class="header-cart-count" ng-bind="cartItems()"></span>
                        </div>

                        <i class="header-cart-icon" aria-hidden="true" data-icon="C"></i>
                    </a>
                </div>
            </div>
            <div class="navbar-helplinks">
                {% if display_newsletter_header_cta %}
                    <a class="navbar-top-item cursor-pointer">{{ 'header.top_links.newsletter_cta'|trans }}</a>
                {% endif %}
                {{ cms_header_menu() }}
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <a class="navbar-top-item" href="{{ logout_path(app.security.token.providerKey|default('default')) }}">{{ 'header.end_session'|trans }}</a>
                {% endif %}
            </div>
            <div class="navbar-search">
                <form action="{{ path('frontend.catalog.index.search') }}" class="search-form is-medium-radius" method="get">
                    <div class="search-bar">
                        <input autocomplete="off" class="search-bar-input" name="q"
                            placeholder=" {{ 'header.search.placeholder'|trans }}" type="search"
                            value="{[query]}">
                        <button class="btn btn-primary is-small-radius btn-search-submit" type="submit">{{ 'global.search'|trans }}</button>
                    </div>
                    {% if suggester_enabled %}
                        {# search_goes_here #}
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</header>
