<div class="account-navigation is-weight-700 margin-large-top account-border-gray secondary-border-right">
    <nav>
        <ul class="account-navigation-ul">
            <li class="account-item">
                <a href="{{ path('frontend.customer.index') }}">
                    <i class="icon-nav" aria-hidden="true" data-icon="U"></i>
                    <span class="padding-large-left">{{ 'account.my_profile'|trans }}</span>
                </a>
                <ul class="profile-items">
                    <li class="padding-small-bottom padding-small-top">
                        <a href="{{ path('frontend.customer.profile.edit') }}">
                            <span>{{ 'account.my_personal_data'|trans }}</span>
                        </a>
                    </li>
                    <li class="padding-small-bottom padding-small-top">
                        <a href="{{ path('frontend.account.address_book.address.list') }}">
                            <span>{{ 'account.my_addresses'|trans }}</span>
                        </a>
                    </li>
                    {% if seller_reviews_enabled %}
                        <li class="padding-small-bottom padding-small-top">
                            <a href="{{ path('frontend.customer.seller.reviews') }}">
                                <span>{{ 'account.my_reviews'|trans }}</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if loyalty_program %}
                        <li class="padding-small-bottom padding-small-top">
                            <a href="{{ path('frontend.customer.loyalty.account') }}">
                                <span>{{ ('loyalty.' ~ loyalty_program ~ '.account.mileage')|trans }}</span>
                            </a>
                        </li>
                        {% if mileage_orders_enabled %}
                            {% if app.user.loyaltyProgram %}
                                <li class="padding-small-bottom padding-small-top">
                                    <a href="{{ path('frontend.customer.loyalty.orders') }}">
                                        <span>{{ ('loyalty.' ~ loyalty_program ~ '.account.mileage_orders')|trans }}</span>
                                    </a>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    {% if store_cards %}
                        <li class="padding-small-bottom padding-small-top">
                            <a href="{{ path('frontend.customer.cards') }}">
                                <span>{{ 'account.my_saved_cards'|trans }}</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if bank_transfer_confirmation_form_enabled %}
                        <li class="padding-small-bottom padding-small-top">
                            <a href="{{ path('frontend.customer.bank.transfer.confirmation') }}">
                                <span>{{ 'account.bank_transfer_confirmation'|trans }}</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </li>
            <li class="account-item">
                <a href="{{ path('frontend.customer.orders.list') }}">
                    <i class="icon-nav pull-left" aria-hidden="true" data-icon="ó"></i>
                    <span class="padding-large-left pull-left account-link">{{ 'account.my_orders'|trans }}</span>
                </a>
            </li>
            {% if wallet_enabled %}
                <li class="account-item">
                    <a href="{{ path('frontend.customer.wallet.detail') }}">
                        <i class="icon-nav pull-left" aria-hidden="true" data-icon="ě"></i>
                        <span class="padding-large-left pull-left account-link">{{ 'account.electronic_wallet'|trans }}</span>
                    </a>
                </li>
            {% endif %}
            <li class="account-item">
                <a href="{{ path('frontend.customer.coupon') }}">
                    <i class="icon-nav pull-left" aria-hidden="true" data-icon="ã"></i>
                    <span class="padding-large-left pull-left account-link">{{ 'account.my_cupons'|trans }}</span>
                </a>
            </li>
            {% if linio_plus_enabled %}
                <li class="account-item">
                    <a href="{{ path('frontend.customer.plus.index') }}">
                        <i class="icon-nav pull-left" aria-hidden="true" data-icon="å"></i>
                        <span class="padding-large-left pull-left account-link">
                            {{ 'account.my_linio_plus'|trans }}
                        </span>
                    </a>
                </li>
            {% endif %}
            <li class="account-item">
                <a href='{{ path('frontend.customer.notifications') }}'>
                    <i class="icon-nav pull-left" aria-hidden="true" data-icon="ß"></i>
                    <span class="padding-large-left pull-left account-link">{{ 'account.my_notifications'|trans }}</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
