{% extends ':Customer:index.html.twig' %}

{% block lastBreadcrumb %}
    <a class="breadcrumb-item" href="{{ path('frontend.customer.index') }}" title="{{ 'account.my_account'|trans }}">{{ 'account.my_account'|trans }}</a>
    <span class="breadcrumb-item last" data-position="">{{ 'account.my_personal_data'|trans }}</span>
{% endblock %}

{% form_theme form _self %}

{% block choice_widget_expanded %}
    {% for child in form %}
        <div {{ block('widget_container_attributes') }}>
            {{ form_widget(child, {'attr': {'class' : 'custom-radio'}}) }}
            <label for="{{ child.vars.id }}" class="radio-text">
                <span class="radio-skin"></span>{{ child.vars.label|trans }}
            </label>
        </div>
    {% endfor %}
{% endblock %}

{% block account_content %}

    <div class="category-tittle h-title-large secondary-border-bottom account-border-gray ">
        <h2 class="is-weight-700 padding-large-bottom padding-large-top not-uppercase">
            <strong>{{ 'profile.section'|trans }}</strong>
        </h2>
    </div>

    <div class="col-sm-36 col-md-34 padding-large-bottom pull-left">
        <div class="category-title full-width padding-xlarge-bottom padding-xlarge-top ">
            <span class="pull-left padding-large-right">
                <h3 class="category-title h-title-large is-weight-700 not-uppercase">
                    <strong>{{ 'profile.title'|trans }}</strong>
                </h3>
            </span>
        </div>
        {{ form_start(form) }}
            <div class="col-lg-30 col-sm-36 padding-xlarge-right padding-xlarge-top">
                {% for element in form.children if element.vars.name != '_token' %}
                    <div class="col-lg-12 col-sm-18 padding-xlarge-right padding-xlarge-bottom">
                        {{ form_label(element) }} <br>
                        {{ form_widget(element) }}
                    </div>
                    {% if (loop.index0 + 1) % 3 == 0 and not loop.first %}
                        </div>
                        <div class="col-lg-30 col-sm-36 padding-xlarge-right padding-xlarge-top">
                    {% endif %}
                {% endfor %}
                <div class="col-sm-12 col-lg-10 padding-xlarge-right padding-xlarge-bottom pull-right padding-large-top">
                    <div class="full-width">**********</div>
                    <a class="is-underline" href="{{ path('frontend.customer.password.change') }}" id="toggle-password">{{ 'profile.change_password'|trans }}</a>

                    <div class="padding-xlarge-top">
                        <button type='submit'
                                class="btn-account btn-block btn-lg font-size-large is-uppercase is-weight-700 orders-btn">
                            {{ 'profile.save_changes'|trans }}
                        </button>
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
