{% extends ':Customer:index.html.twig' %}

{% block account_content %}
    <div class="category-tittle full-width h-title-large pull-left secondary-border-bottom ">
       <h2 class="is-weight-700 not-uppercase padding-large-bottom padding-large-top ">
            {{ 'profile.section'|trans }}
        </h2>
    </div>
    <div class="col-md-18 col-sm-28 padding-large-bottom">
        <i class="icon-airline" aria-hidden="true" data-icon="Ć"></i>
        <div class="padding-xlarge-right">
            {{ 'accrual_airline.intro'|trans }}
        </div>
        <form id="change-password" name="change-password">
            <div class="full-width padding-xlarge-right padding-xlarge-top">
                <div class="padding-xlarge-bottom padding-xlarge-right">
                    <label class="full-width pull-left">
                        {{ 'accrual_airline.enter_account'|trans }}
                    </label>
                    <input class="form-style full-width" type="text" placeholder="{{ 'accrual_airline.write_account'|trans }}">
                </div>
                <div class="padding-xlarge-bottom padding-xlarge-right">
                    <label class="full-width">
                        {{ 'accrual_airline.confirm_account'|trans }}
                    </label>
                    <input class="form-style full-width" type="text" placeholder="{{ 'accrual_airline.write_account_again'|trans }}">
                </div>
                <div class="padding-xlarge-right">
                    <button class="btn-account btn-block btn-lg font-size-large is-uppercase is-weight-700 orders-btn">
                        {{ 'accrual_airline.send'|trans }}
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
