<h2 class="section-title">
    <strong>
        {{ 'account.my_recent_purchases'|trans }}
    </strong>
    <a class="section-title-link is-underline" href="{{ path('frontend.customer.orders.list') }}">{{ 'account.view_all_orders'|trans }}</a>
</h2>

<div class="account-section">
    {% for order in paginatedResult.result %}
        {% set firstProduct = order.packages|first.items|first|first %}
        <div class="order-panel">
            <div class="order-header is-weight-700 is-uppercase">
                <span class="pull-right padding-xlarge-left">{{ 'order.total'|trans({'%total%': order.grandTotal|format_money}) }}</span>
                <span class="is-display-inline-block padding-xlarge-right">{{ 'order.number'|trans({'%orderNumber%': order.orderNumber}) }}</span>
                <span class="is-display-inline-block padding-xlarge-right">
                    {{ 'order.purchase_date'|trans({'%purchaseDate%': order.createdAt|format_date}) }}
                </span>
            </div>
            <div class="order-body">
                <div class="row full-width">
                    <div class="col-sm-36 col-md-26">
                        <div class="order-body__item">
                            <div class="order-body__item-details">
                                <img class="product-image-xs pull-left margin-medium-right margin-large-bottom" src="{{ product_image(firstProduct.image, 'product') }}">
                                <strong>
                                    {% if firstProduct.slug %}
                                        <a href="{{ path('frontend.catalog.detail', {'productSlug': firstProduct.slug}) }}">{{ firstProduct.name }}</a>
                                    {% else %}
                                        {{ firstProduct.name }}
                                    {% endif %}
                                    {% if firstProduct.variation %}
                                        -
                                        {% if firstProduct.variationType == 'size' %}
                                            {{ 'product.size'|trans }}
                                        {% else %}
                                            {{ 'product.option'|trans }}
                                        {% endif %}
                                        {{ firstProduct.variation }}
                                    {% endif %}
                                </strong>
                                <div class="order-body__item-meta">
                                    {{ 'order.shipped_by'|trans({'%seller%': firstProduct.seller|trans}) }}
                                </div>
                                {# TODO: Uncomment when return item is complete #}
                                {#<div class="order-body__item-meta">#}
                                    {#{{ 'order.paid_price'|trans({'%total%': firstProduct.paidPrice|format_money}) }}#}
                                {#</div>#}
                                {% if product_available(firstProduct.sku) %}
                                    <form action="{{ path('frontend.cart.product.add') }}" method="post">
                                        <input type="hidden" name="sku"  value="{{ firstProduct.sku }}">
                                        <button class="btn btn-default btn-sm is-weight-700" type="submit">
                                            {{ 'order.buy_it_again'|trans }}
                                        </button>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-36 col-md-10">
                        <a class="btn btn-primary btn-md btn-block is-weight-700" href="{{ path('frontend.customer.orders.detail', {'orderNumber': order.orderNumber }) }}">{{ 'order.view_details'|trans }}</a>

                        {% set productCount = 0 %}
                        {% for package in order.packages %}
                            {% set productCount = productCount + package.items|length %}
                        {% endfor %}

                        {% if productCount > 1 %}
                            <div class="margin-small-top is-center">{{ 'order.additional_products'|trans({'%count%': productCount - 1 }) }}</div>
                        {% endif %}

                        {% if order.hasPackagesAvailableForReturn %}
                            <a class="btn btn-default btn-md btn-block is-weight-700" href="{{ path('frontend.customer.orders.return', {'orderNumber': order.orderNumber}) }}">{{ 'order.returns.return'|trans }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
