{% extends ':Customer:index.html.twig' %}

{% block lastBreadcrumb %}
    <a class="breadcrumb-item" href="{{ path('frontend.customer.index') }}" title="{{ 'account.my_account'|trans }}">{{ 'account.my_account'|trans }}</a>
    <a class="breadcrumb-item" href="{{ path('frontend.customer.index') }}" title="{{ 'account.my_addresses'|trans }}">{{ 'account.my_addresses'|trans }}</a>
    <span class="breadcrumb-item last" data-position="">{{ 'account.edit_address'|trans }}</span>
{% endblock %}

{% block account_content %}
    {% form_theme form _self %}
    {% include ':Checkout:widgets/uiAddressForm.html.twig' %}

    <div class="category-tittle h-title-large secondary-border-bottom">
        <h2 class="is-weight-700 not-uppercase padding-large-bottom padding-large-top">
            {{ 'profile.section'|trans }}
        </h2>
    </div>

    <div class="full-width padding-medium-top secondary-border-bottom margin-xlarge-bottom">
        <div class="padding-medium-top">
            <h2 class="is-weight-700 not-uppercase is-display-inline">
                {{ 'address_book.my_adresses'|trans }}
            </h2>
        </div>
    </div>

    <div class="checkout-address container-md-plus">
        {# Dirty offset :(. We should create offset classes. #}
        <div class="col-md-6">&nbsp;</div>

        <div class="col-sm-36 col-md-24 padding-xlarge" ng-controller="CustomerAddressController">
            <address-form></address-form>
        </div>
    </div>
{% endblock %}
