{% extends ':Customer:index.html.twig' %}

{% block lastBreadcrumb %}
    <a class="breadcrumb-item" href="{{ path('frontend.customer.index') }}" title="{{ 'account.my_account'|trans }}">{{ 'account.my_account'|trans }}</a>
    <span class="breadcrumb-item last" data-position="">{{ 'account.my_addresses'|trans }}</span>
{% endblock %}

{% block account_content %}
    <div class="category-tittle h-title-large secondary-border-bottom">
        <h2 class="is-weight-700 not-uppercase padding-large-bottom padding-large-top">
            {{ 'profile.section'|trans }}
        </h2>
    </div>
    <div class="col-lg-30 col-sm-36 padding-medium-top secondary-border-bottom margin-xlarge-bottom">
        <div class="padding-medium-top">
            <h2 class="is-weight-700 not-uppercase is-display-inline">
                {{ 'address_book.my_adresses'|trans }}
            </h2>
            &nbsp;&nbsp;
            {#<h2 class="is-weight-700 not-uppercase pull-left padding-large-right padding-xlarge-bottom">#}
                {#{{ 'address_book.delivery_addresses'|trans }}#}
            {#</h2>#}
            <a class="is-underline" href="{{ path('frontend.customer.address.create') }}">
                {{ 'address_book.add_address'|trans }}
            </a>
        </div>

        <div class="full-width">
            <p class="padding-large-right is-weight-700">
                {{ 'address_book.default'|trans }}
                <a class="is-underline" href="{{ path('frontend.customer.address.defaults') }}">
                    {{ 'address_book.change'|trans }}
                </a>
            </p>
        </div>
        {% for address in addresses %}
            <div class="col-lg-12 col-sm-18 padding-xlarge-bottom address-height">
                <div class="padding-xlarge-right padding-medium-top">
                    <ul class="list-unstyled no-margin">
                        <li><strong>{{ address.firstName }} {{ address.lastName }}</strong></li>
                        <li>
                            {{ address.address1 }}
                            {{ address.streetNumber ? "#{address.streetNumber}," : '' }}
                        </li>
                        <li>
                            {{ address.address2 ? "#{address.address2}," : ''}}
                            {{ address.apartment ? "#{address.apartment}," : ''}}
                        </li>
                        <li>
                            {{ address.postCode ? "#{address.postCode}" : ''}}
                            {{ address.neighborhood ? "#{address.neighborhood}" : ''}}
                        </li>
                        <li>
                            {{ address.municipality ? "#{address.municipality}," : ''}}
                            {{ address.city ? "#{address.city}," : ''}}
                            {{ address.region ? "#{address.region}" : ''}}
                        </li>
                        <li>{{ 'checkout.add_phone'|trans }}: {{ address.mobilePhone }}</li>
                    </ul>
                </div>
                <div class="padding-large-top">
                    <a class="is-underline" href="{{ path('frontend.customer.address.edit', { addressId: address.id }) }}">
                        {{ 'address_book.edit'|trans }}
                    </a> |
                    <a class="is-underline" href="{{ path('frontend.customer.address.remove', { addressId: address.id }) }}">
                        {{ 'address_book.delete'|trans }}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

    {#<div class="col-lg-30 col-sm-36 padding-xlarge-top">#}
        {#<div class="padding-xlarge-bottom">#}
            {#<h2 class="is-weight-700 not-uppercase pull-left padding-large-right padding-xlarge-bottom">#}
                {#{{ 'address_book.billing_address'|trans }}#}
            {#</h2>#}
            {#<a class="is-underline pull-left" href="#">#}
                {#{{ 'address_book.add_address'|trans }}#}
            {#</a>#}
        {#</div>#}
        {#<div class="full-width pull-left">#}
            {#<div class="pull-left padding-large-right is-weight-700">#}
                {#{{ 'address_book.default'|trans }}#}
            {#</div>#}
            {#<a class="pull-left is-underline" href="#">#}
                {#{{ 'address_book.change'|trans }}#}
            {#</a>#}
        {#</div>#}
        {#<div class="col-lg-12 col-sm-18 padding-xlarge-bottom">#}
            {#<div class="padding-xlarge-right padding-medium-top">#}
                {#<div>{{billing_address.firstName }} {{billing_address.lastName }}</div>#}
                {#<div>{{billing_address.address1 }}, {{billing_address.address2 }}</div>#}
                {#<div>{{billing_address.municipality }}</div>#}
                {#<div>{{billing_address.neighborhood }}, {{billing_address.region }}</div>#}
                {#<div>{{billing_address.mobilePhone }}</div>#}
            {#</div>#}
            {#<div class="padding-large-top">#}
                {#<a class="is-underline" href="{{ path('frontend.customer.address.edit', { addressId: billing_address.id }) }}">#}
                    {#{{ 'address_book.edit'|trans }}#}
                {#</a> |#}
                {#<a class="is-underline" href="#">#}
                    {#{{ 'address_book.delete'|trans }}#}
                {#</a>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{% endblock %}
