{% extends ':Customer:index.html.twig' %}

{% block account_content %}
    <div class="category-tittle h-title-large secondary-border-bottom">
        <h2 class="is-weight-700 not-uppercase padding-large-bottom padding-large-top">
            {{ 'profile.section'|trans }}
        </h2>
    </div>
    <div class="category-tittle h-title-large">
        <h2 class="is-weight-700 not-uppercase padding-xlarge-bottom padding-xlarge-top">
            {{ 'address_book.my_adresses'|trans }}
        </h2>
    </div>
    <div class="col-lg-30 col-sm-36 padding-xlarge-right padding-medium-top secondary-border-bottom margin-xlarge-bottom">
        {# My Addresses (secction) #}
        <div class="padding-xlarge-bottom">
            <h2 class="is-weight-700 not-uppercase pull-left padding-large-right padding-xlarge-bottom">
                {{ 'address_book.delivery_addresses'|trans }}
            </h2>
            <a class="is-underline pull-left" href="#">
                {{ 'address_book.add_address'|trans }}
            </a>
            </div>
            <div class="full-width pull-left">
            <div class="pull-left padding-large-right is-weight-700">
                {{ 'address_book.default'|trans }}
            </div>
            <a class="pull-left is-underline" href="#">
                {{ 'address_book.change'|trans }}
            </a>
        </div>
        {# Address Block #}
        <div class="col-lg-12 col-sm-18 padding-xlarge-bottom">
            <div class="padding-xlarge-right padding-medium-top">
                <div>Karla Leticia Villa</div>
                <div>Calle La Esperanza, 36, A101</div>
                <div>Col. Álvaro Obregón</div>
                <div>Del. Cuauhtémoc, México, D.F</div>
                <div>5587901008</div>
            </div>
            <div class="padding-large-top">
                <a class="is-underline" href="#">
                    {{ 'address_book.edit'|trans }}
                </a> |
                <a class="is-underline" href="#">
                    {{ 'address_book.delete'|trans }}
                </a>
            </div>
        </div>
        <div class="col-lg-12 col-sm-18 padding-xlarge-bottom">
            <div class="padding-xlarge-right padding-medium-top">
                <div>Karla Leticia Villa</div>
                <div>Calle La Esperanza, 36, A101</div>
                <div>Col. Álvaro Obregón</div>
                <div>Del. Cuauhtémoc, México, D.F</div>
                <div>5587901008</div>
            </div>
            <div class="padding-large-top">
                <a class="is-underline" href="#">
                    {{ 'address_book.edit'|trans }}
                </a> |
                <a class="is-underline" href="#">
                    {{ 'address_book.delete'|trans }}
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-30 col-sm-36 padding-xlarge-right padding-xlarge-top margin-xlarge-bottom">
        {# My Addresses (secction) #}
        <div class="padding-xlarge-bottom">
            <h2 class="is-weight-700 not-uppercase pull-left padding-large-right padding-xlarge-bottom">
                {{ 'address_book.delivery_addresses'|trans }}
            </h2>
            <a class="is-underline pull-left" href="#">
                {{ 'address_book.add_address'|trans }}
            </a>
            </div>
            <div class="full-width pull-left">
            <div class="pull-left padding-large-right is-weight-700">
                {{ 'address_book.default'|trans }}
            </div>
            <a class="pull-left is-underline" href="#">
                {{ 'address_book.change'|trans }}
            </a>
        </div>
        {# Address Block #}
        <div class="col-lg-12 col-sm-18 padding-xlarge-bottom">
            <div class="padding-xlarge-right padding-medium-top">
                <div>Karla Leticia Villa</div>
                <div>Calle La Esperanza, 36, A101</div>
                <div>Col. Álvaro Obregón</div>
                <div>Del. Cuauhtémoc, México, D.F</div>
                <div>5587901008</div>
                <div class="padding-medium-top">Mercadólogos Digitales</div>
                <div>TABP750513B12</div>
            </div>
            <div class="padding-large-top">
                <a class="is-underline" href="#">
                    {{ 'address_book.edit'|trans }}
                </a> |
                <a class="is-underline" href="#">
                    {{ 'address_book.delete'|trans }}
                </a>
            </div>
        </div>
        <div class="col-lg-12 col-sm-18 padding-xlarge-bottom">
            <div class="padding-xlarge-right padding-medium-top">
                <div>Karla Leticia Villa</div>
                <div>Calle La Esperanza, 36, A101</div>
                <div>Col. Álvaro Obregón</div>
                <div>Del. Cuauhtémoc, México, D.F</div>
                <div>5587901008</div>
                <div class="padding-medium-top">Mercadólogos Digitales</div>
                <div>TABP750513B12</div>
            </div>
            <div class="padding-large-top">
                <a class="is-underline" href="#">
                    {{ 'address_book.edit'|trans }}
                </a> |
                <a class="is-underline" href="#">
                    {{ 'address_book.delete'|trans }}
                </a>
            </div>
        </div>
    </div>
    {% include '::partial/components/customer/address_manager.html.twig' %}
{% endblock %}
