<div class="col-lg-30 col-sm-36 padding-xlarge-right padding-xlarge-top margin-xlarge-bottom">
    <div class="category-tittle h-title-large secondary-border-bottom">
        <h2 class="is-weight-700 not-uppercase padding-large-bottom padding-large-top">
            {{ 'address_book.delivery_address'|trans }}
        </h2>
    </div>
    {#<div class="col-md-10 col-sm-18 padding-xlarge-right margin-large-top secondary-border-right">#}
        {#<div class="full-width padding-medium-bottom secondary-border-bottom">#}
            {#<i class="icon-2x first-color" aria-hidden="true" data-icon="Ð"></i>#}
            {#<a class="padding-small-right is-weight-700" href="">#}
                {#{{ 'address_book.choose_address'|trans }}#}
            {#</a>#}
            {#<i class="icon-small fifth-color" aria-hidden="true" data-icon="Ø"></i>#}
        {#</div>#}
        {#<div class="full-width padding-large-top padding-large-bottom secondary-border-bottom">#}
            {#<i class="icon-nav" aria-hidden="true" data-icon="l"></i>#}
            {#<a class="padding-small-right is-weight-700" href="">#}
                {#{{ 'address_book.add_address'|trans }}#}
            {#</a>#}
        {#</div>#}
    {#</div>#}
    <div class="full-width row">
        {% for address in addresses %}
        <div class="col-sm-36 col-md-12 padding-xlarge-left padding-medium-top">
            <div class="padding-xlarge-right padding-medium-top">
                <ul class="list-unstyled no-margin">
                    <li><strong>{{ address.firstName }} {{ address.lastName }}</strong></li>
                    <li>
                        {{ address.address1 }}
                        {{ address.streetNumber ? "#{address.streetNumber}," : '' }}
                    </li>
                    <li>
                        {{ address.address2 ? "#{address.address2}," : ''}}
                    </li>
                    <li>
                        {{ address.postCode ? "#{address.postCode}" : ''}}
                        {{ address.neighborhood ? "#{address.neighborhood}" : ''}}
                    </li>
                    <li>
                        {{ address.municipality ? "#{address.municipality}," : ''}}
                        {{ address.city ? "#{address.city}," : ''}}
                        {{ address.region ? "#{address.region}" : ''}}
                    </li>
                    <li>{{ 'checkout.add_phone'|trans }}: {{ address.mobilePhone }}</li>
                </ul>
            </div>
            <div class="padding-large-top padding-large-bottom">
                <a class="is-underline first-color" href="{{ path('frontend.customer.address.edit', { addressId: address.id }) }}">
                    {{ 'address_book.edit'|trans }}
                </a>
            </div>
            <form action="{{ path('frontend.customer.address.set_default', {addressId: address.id, type: 'shipping'}) }}" method="POST">
                <button class="btn btn-action btn-lg btn-block is-weight-700 font-size-large orders-btn {{ address.defaultShipping ? 'disabled' : '' }}" {{ address.defaultShipping ? 'disabled' : '' }}>
                    {{ address.defaultShipping ? 'address_book.default'|trans : 'address_book.set_default'|trans }}
                </button>
            </form>
        </div>
    {% if loop.index % 3 == 0 and not loop.last %}
    </div>
    <div class="full-width row">
    {% endif %}
        {% endfor %}
    </div>
</div>
<div class="col-lg-30 col-sm-36 padding-xlarge-right padding-xlarge-top margin-xlarge-bottom">
    <div class="category-tittle h-title-large secondary-border-bottom">
        <h2 class="is-weight-700 not-uppercase padding-large-bottom padding-large-top">
            {{ 'address_book.billing_address'|trans }}
        </h2>
    </div>
    {#<div class="col-md-10 col-sm-18 padding-xlarge-right margin-large-top secondary-border-right">#}
        {#<div class="full-width padding-medium-bottom secondary-border-bottom">#}
            {#<i class="icon-2x first-color" aria-hidden="true" data-icon="Ð"></i>#}
            {#<a class="padding-small-right is-weight-700" href="">#}
                {#{{ 'address_book.choose_address'|trans }}#}
            {#</a>#}
            {#<i class="icon-small fifth-color" aria-hidden="true" data-icon="Ø"></i>#}
        {#</div>#}
        {#<div class="full-width padding-large-top padding-large-bottom secondary-border-bottom">#}
            {#<i class="icon-nav" aria-hidden="true" data-icon="l"></i>#}
            {#<a class="padding-small-right is-weight-700" href="">#}
                {#{{ 'address_book.add_address'|trans }}#}
            {#</a>#}
        {#</div>#}
    {#</div>#}
    <div class="full-width row">
        {% for address in addresses %}
        <div class="col-sm-36 col-md-12 padding-xlarge-left padding-medium-top">
            <div class="padding-xlarge-right padding-medium-top">
                <ul class="list-unstyled no-margin">
                    <li><strong>{{ address.firstName }} {{ address.lastName }}</strong></li>
                    <li>
                        {{ address.address1 }}
                        {{ address.streetNumber ? "#{address.streetNumber}," : '' }}
                    </li>
                    <li>
                        {{ address.address2 ? "#{address.address2}," : ''}}
                    </li>
                    <li>
                        {{ address.postCode ? "#{address.postCode}" : ''}}
                        {{ address.neighborhood ? "#{address.neighborhood}" : ''}}
                    </li>
                    <li>
                        {{ address.municipality ? "#{address.municipality}," : ''}}
                        {{ address.city ? "#{address.city}," : ''}}
                        {{ address.region ? "#{address.region}" : ''}}
                    </li>
                    <li>{{ 'checkout.add_phone'|trans }}: {{ address.mobilePhone }}</li>
                </ul>
            </div>
            <div class="padding-large-top padding-large-bottom">
                <a class="is-underline first-color" href="{{ path('frontend.customer.address.edit', { addressId: address.id }) }}">
                    {{ 'address_book.edit'|trans }}
                </a>
            </div>
            <form action="{{ path('frontend.customer.address.set_default', { addressId: address.id, type: 'billing'}) }}" method="POST">
                <button class="btn btn-action btn-lg btn-block is-weight-700 font-size-large orders-btn {{ address.defaultBilling ? 'disabled' : '' }}" {{ address.defaultBilling ? 'disabled' : '' }}>
                    {{ address.defaultBilling ? 'address_book.default'|trans : 'address_book.set_default'|trans }}
                </button>
            </form>
        </div>
    {% if loop.index % 3 == 0 and not loop.last %}
    </div>
    <div class="full-width row">
    {% endif %}
        {% endfor %}
    </div>
</div>
