{% extends ':Customer:index.html.twig' %}

{% block account_content %}
    <div class="category-tittle h-title-large secondary-border-bottom">
        <h2 class="is-weight-700 not-uppercase padding-large-bottom padding-large-top">
            {{ 'profile.section'|trans }}
        </h2>
    </div>
    {% include '::partial/components/customer/address_manager.html.twig' %}
{% endblock %}
