{% extends ':Customer:index.html.twig' %}

{% block lastBreadcrumb %}
    <a class="breadcrumb-item" href="{{ path('frontend.customer.index') }}" title="{{ 'account.my_account'|trans }}">{{ 'account.my_account'|trans }}</a>
    <span class="breadcrumb-item last" data-position="">{{ 'account.my_saved_cards'|trans }}</span>
{% endblock %}

{% block account_content %}
    <div class="account-border-gray category-tittle full-width h-title-large pull-left secondary-border-bottom">
        <h2 class="is-weight-700 not-uppercase padding-large-bottom padding-large-top">
            {{'profile.section'|trans }}
        </h2>
    </div>
    <div class="col-sm-36">
        <div class="category-title full-width padding-xlarge-bottom padding-xlarge-top pull-left">
            <div class="category-tittle h-title-large is-weight-700 padding-large-right pull-left not-uppercase">
                {{ 'saved_cards.my_cards'|trans }}
            </div>
            {# @TODO Add back link to open modal for credit card form when it becomes a modal #}
        </div>
    </div>
    <div class="col-lg-34 col-sm-36 padding-large-bottom">
        {% for card in cards %}
            <div class="col-md-18 col-sm-36 padding-xlarge-bottom padding-medium-right">
                <i class="pull-left padding-medium-left icons-cc-{{ card.brand }}-2x"></i>
                <div class="padding-small-top padding-medium-left pull-left">
                    <div>{{ card.cardholderName }}</div>
                    <div>{{ 'saved_cards.last_digits'|trans }} {{ card.cardNumber|slice(-4, 4) }}</div>
                    <a class="is-underline" href="{{ path('frontend.customer.cards.remove', {'cardId': card.id}) }}">
                        {{ 'saved_cards.delete_card'|trans }}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    {% include '::partial/components/customer/save_new_card.html.twig' %}

{% endblock %}
