{% extends ':Customer:index.html.twig' %}

{% block account_content %}
    <div class="category-tittle h-title-large secondary-border-bottom account-border-gray ">
        <h2 class="is-weight-700 padding-large-bottom padding-large-top not-uppercase">
            <strong>{{ 'profile.section'|trans }}</strong>
        </h2>
    </div>

    <div class="col-sm-36 col-md-34 padding-large-bottom pull-left">
        <div class="category-title full-width padding-xlarge-bottom padding-xlarge-top ">
                <span class="pull-left padding-large-right">
                    <h3 class="category-title h-title-large is-weight-700 not-uppercase">
                        <strong>{{ 'profile.title'|trans }} </strong>
                    </h3>
                </span>
        </div>

        <div id="change-password">
            <div class="col-sm-36 category-tittle full-width h-title-large pull-left secondary-border-bottom">
                <h2 class="category-title h-title-large is-weight-700 is-uppercase padding-large-bottom padding-large-top">
                    {{ 'profile.change_password_text'|trans }}
                </h2>
            </div>
            <div class="col-sm-36 padding-large-bottom">
                {{ form_start(form) }}
                    <div class="full-width padding-xlarge-right padding-xlarge-top">
                        <div class="padding-xlarge-bottom padding-xlarge-right">
                            {{ form_label(form.children.current) }}
                            {{ form_widget(form.children.current) }}
                            {% if form.children.current.vars.errors.count() > 0 %}
                                <div class="margin-small-top alert alert-error">
                                    <ul>
                                        {% for error in form.children.current.vars.errors %}
                                            <li>
                                                {{ error.message|trans }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                        <div class="padding-xlarge-bottom padding-xlarge-right">
                            {{ form_label(form.children.new_password.children.new)}}
                            {{ form_widget(form.children.new_password.children.new)}}
                            {% if form.children.new_password.children.new.vars.errors.count() > 0 %}
                                <div class="margin-small-top alert alert-error">
                                    {{ form_errors(form.children.new_password.children.new) }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="padding-xlarge-bottom padding-xlarge-right">
                            {{ form_label(form.children.new_password.children.new_repeat)}}
                            {{ form_widget(form.children.new_password.children.new_repeat)}}
                            {% if form.children.new_password.children.new_repeat.vars.errors.count() > 0 %}
                                <div class="margin-small-top alert alert-error">
                                    {{ form_errors(form.children.new_password.children.new_repeat) }}
                                </div>
                            {% endif %}
                        </div>

                        <div class="padding-xlarge-right">
                            <button class="btn-account btn-block btn-lg font-size-large is-uppercase is-weight-700 orders-btn">
                                {{ 'profile.save'|trans }}
                            </button>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
