<div class="category-title full-width h-title-large secondary-border-bottom account-border-gray">
    <h1 class="is-weight-700 padding-small-bottom">
        {{ 'account.my_account'|trans }}
    </h1>
</div>
