{% extends ':Customer:index.html.twig' %}

{% block lastBreadcrumb %}
    <a class="breadcrumb-item" href="{{ path('frontend.customer.index') }}" title="{{ 'account.my_account'|trans }}">{{ 'account.my_account'|trans }}</a>
    <span class="breadcrumb-item last" data-position="">{{ 'notifications.my_notifications'|trans }}</span>
{% endblock %}

{% block account_content %}
    <div class="account-border-gray category-tittle h-title-large secondary-border-bottom">
        <h2 class="is-weight-700 not-uppercase padding-large-bottom padding-large-top ">
            {{ 'notifications.my_notifications'|trans }}
        </h2>
    </div>
    <div class="category-title full-width padding-xlarge-top">
        <h2 class="category-title h-title-large is-weight-700 not-uppercase padding-large-top">
            {{ 'notifications.news_letter'|trans }}
        </h2>
        <p>
            {{ 'notifications.select_new_letter_timming'|trans }}
        </p>
    </div>

    <form method="post" action="{{ path('frontend.customer.notifications.save') }}">
        <div class="col-lg-36 col-md-36 col-sm-36 padding-xlarge-bottom secondary-border-bottom">
            <div class="col-md-18 col-sm-36 padding-medium-bottom">
                {% for id, frequency in newsletterSubscription.frequencies %}
                    <div class="padding-small-bottom">
                        <input id="{{ id }}" class="custom-radio" type="radio" value="{{ id }}" name="frequency" {% if newsletterSubscription.subscribedToEmail and id == newsletterSubscription.frequency %}checked{% endif %}>
                        <label class="radio-text" for="{{ id }}">
                            <span class="radio-skin"></span>
                            {{ ('newsletter.frequency.'~frequency|replace({' ':'_'}))|trans }}
                        </label>
                    </div>
                {% endfor %}
            </div>

            {% if newsletterSubscription.subscribedToEmail %}
                <div class="col-md-18 col-sm-36 padding-medium-bottom">
                    <a href="{{ path('frontend.customer.notifications.unsubscribe') }}"
                       class="btn btn-alternative subscription-off is-weight-700 full-width">
                        {{ 'notifications.cancel_subscription'|trans }}
                    </a>
                </div>
            {% endif %}
        </div>
        <div class="col-lg-36 col-md-36 col-sm-36 padding-large-bottom padding-large-top secondary-border-bottom">
            <div class="category-title full-width padding-xlarge-top">
                <h2 class="category-title h-title-large is-weight-700 not-uppercase">
                    {{ 'notifications.notifications_from_category'|trans }}
                </h2>
                <p>
                    {{ 'notifications.help_us_custom_your_experience'|trans }} {{ 'notifications.tell_us_your_interests'|trans }}
                </p>
            </div>
            <table class="full-width">
                <tr>
                    {% for preference in newsletterSubscription.preferences %}
                        {% if not loop.index0 % 6 %}</tr><tr>{% endif %}{# The constant on this line defines how many options to display per row #}
                        <td class="padding-medium-bottom cat-option">
                            <input name="preferences[id][]" id="notification-category-{{ preference.id }}" type="checkbox" value="{{ preference.id }}" class="official-checkbox" {% if preference.enabled %}checked="checked"{% endif %}>
                            <label for="notification-category-{{ preference.id }}">{{ preference.name|trans }}</label>
                        </td>
                    {% endfor %}
                </tr>
            </table>
        </div>
        <div class="col-lg-36 col-md-36 col-sm-36 padding-large-bottom padding-large-top secondary-border-bottom">
            <div class="category-title full-width padding-xlarge-top">
                <h2 class="category-title h-title-large is-weight-700 not-uppercase ">
                    {{ 'notifications.sms_notifications'|trans }}
                </h2>
            </div>
            <div class="col-lg-30 col-md-34 col-sm-36 padding-large-bottom padding-large-top">
                <span class="col-md-2 col-sm-3">
                    <input type="checkbox" name="subscribedToSms" class="official-checkbox cat-checkbox" {% if newsletterSubscription.isSubscribedToSms %}checked{% endif %}>
                </span>
                <div class="col-md-33 col-sm-33">
                    {{ 'notifications.sms_notifications_subscription'|trans }}
                    <input type="tel" name="phoneNumber" value="{{ newsletterSubscription.phoneNumber }}">
                </div>
            </div>
            <div class="col-lg-18 col-md-20 col-sm-22 padding-large-bottom padding-large-top">
                <button class="btn btn-action btn-lg btn-block is-weight-700 font-size-large orders-btn" id="save">
                    {{ 'notifications.save_changes'|trans }}
                </button>
            </div>
        </div>
    </form>
{% endblock %}
