{% extends ':Customer:index.html.twig' %}

{% block lastBreadcrumb %}
    <a class="breadcrumb-item" href="{{ path('frontend.customer.index') }}" title="{{ 'account.my_account'|trans }}">{{ 'account.my_account'|trans }}</a>
    <span class="breadcrumb-item last" data-position="">{{ 'account.electronic_wallet'|trans }}</span>
{% endblock %}

{% block account_content %}
    <div class=" full-width h-title-large pull-left secondary-border-bottom margin-large-bottom">
        <h2 class="is-weight-700  padding-large-bottom padding-large-top ">
            {{ 'electronic_wallet.title'|trans }}
        </h2>
    </div>
    <div class="col-md-18 col-sm-28 padding-large-bottom">
        <div class="padding-xlarge-right secondary-border-right notifications-border-fix">
            <div class=" full-width h-title-large is-weight-700  padding-xlarge-bottom padding-xlarge-top">
                {{ 'electronic_wallet.activate'|trans }}
            </div>
            {{ 'electronic_wallet.accumulate_points'|trans }}
            {{ 'electronic_wallet.card'|trans }}
            {{ 'electronic_wallet.use_it_everywhere'|trans }}
            <span class="item-import tooltip-attached">
                <i data-icon="?" class="icon-small"> </i>
                <span class="tooltip tooltip-right tooltip-border">
                    {{ cms_global('wallet_faqs_message') }}
                </span>
            </span>

            {{ form_start(form, {'action':path('frontend.customer.wallet.create')}) }}

            {% for element in form.children %}
                <div class="padding-large-top padding-xlarge-right">
                    {% if element.vars.block_prefixes[1] == 'repeated' %}
                        {% for child in element.children %}
                            <div class="padding-large-top">
                                {{ form_label(child, null, {'label_attr': {'class': 'fifth-color margin-small-top full-width'}}) }}
                                {{ form_errors(child) }}
                                {{ form_widget(child, {'attr': {'class': 'form-style full-width'}}) }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ form_label(element, null, {'label_attr': {'class': 'fifth-color margin-small-top full-width'}}) }}
                        {{ form_widget(element, {'attr': {'class': 'form-style full-width'}}) }}
                    {% endif %}
                </div>
            {% endfor %}

            <div class="padding-xlarge-right margin-large-top">
                <button class="btn btn-md btn-block"
                        ng-class="wallet_account.$valid ? 'btn-alternative' : 'disabled-btn'"
                        ng-disabled="!wallet_account.$valid">
                    {{ 'electronic_wallet.confirm'|trans }}
                </button>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
    <div class="col-md-18 col-sm-28 padding-large-bottom padding-xlarge-left padding-xlarge-right">
        <div class="padding-xlarge-right">
            <div class=" full-width h-title-large is-weight-700  padding-xlarge-bottom padding-xlarge-top pull-left">
                {{ 'electronic_wallet.card'|trans }}
            </div>
            <div class="padding-large-top padding-large-bottom pull-left">
                <div class="linio-card"></div>
                <div class="linio-card-text padding-large-left">{{ 'electronic_wallet.get_benefits'|trans }}</div>
            </div>
            <div class="padding-large-top padding-large-bottom pull-left">
                <i data-icon="ě" class="icon-jumbo center-cashback"> </i>
                {{ 'electronic_wallet.get_cashback'|trans }}
            </div>
            <div class="padding-large-top padding-large-bottom pull-left">
                <i data-icon="å" class="icon-jumbo"> </i>
                {{ 'electronic_wallet.get_plus'|trans }}
            </div>
            <div class="padding-xlarge-right">
                <a href="{{ wallet_info_url }}" class="no-decoration" target="_blank">
                    <button class="btn btn-md btn-block btn-outline btn-outline-primary full-width is-weight-700">
                        {{ 'electronic_wallet.get_it_here'|trans }}
                    </button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
