{% extends ':Customer:index.html.twig' %}
{% block account_content %}

<div class="padding-medium-left">
    <div class="col-lg-36 padding-xlarge-top padding-large-bottom secondary-border-bottom">
        <div class="col-lg-30 col-sm-18">
            <h2 class="is-weight-700 not-uppercase">
                {{ 'account.my_orders'|trans }}
            </h2>
        </div>
        <div class="col-lg-6 is-right">
            <a href="{{ path('frontend.customer.orders.detail', {orderNumber: order.orderNumber}) }}">
                <i aria-hidden="true" data-icon="7"></i>
                <span class="is-vertical-text-bottom">{{ 'global.back'|trans }}</span>
            </a>
        </div>
    </div>
    <div class="col-lg-36">
        <h3 class="padding-xlarge-bottom padding-xlarge-top not-uppercase secondary-border-bottom">
            <span class="is-weight-700 padding-medium-right">
                 {{'order.number'|trans({'%orderNumber%': order.orderNumber })}}
            </span>
             {{'order.purchase_date'|trans({'%purchaseDate%': order.createdAt|format_date})}}
        </h3>
    </div>
    <div class="category-title col-ms-30 padding-xlarge-bottom padding-xlarge-top pull-left">
        <div class="category-tittle h-title-large is-weight-700 padding-large-right not-uppercase">
            {{'order.returns.item_return'|trans}}
        </div>
        <div class="full-width padding-large-bottom padding-large-top pull-left">
           <div class="category-title col-ms-30 padding-xlarge-bottom padding-xlarge-top pull-left">
                <div class="col-sm-30 padding-large-bottom pull-left">
                    <div class="padding-medium-top success-color">
                         <i class="icon-O" aria-hidden="true" data-icon="O"></i>
                         <span class="">{{'order.returns.processing.status'|trans}}</span>
                    </div>
                    <div class="padding-medium-top">
                        {{'order.returns.processing.schedule'|trans}}
                    </div>
                    <div class="padding-medium-top">
                        {{'order.returns.processing.requirements_reminding'|trans}}
                    </div>
                    <div class="padding-medium-top">
                        {{'order.returns.processing.first_requirement'|trans}}
                    </div>
                    <div class="padding-medium-top">
                        {{'order.returns.processing.second_requirement'|trans}}
                    </div>
                    <div class="padding-medium-top">
                        {{'order.returns.processing.faqs'|trans}}
                    </div>
                    <div class="padding-medium-top">
                        <a class="is-underline" href="{{ path('frontend.default.static_page', {slug: 'preguntas-frecuentes'}) }}">
                            {{'order.returns.processing.how'|trans}}
                        </a>
                    </div>
                    <div class="padding-medium-top">
                        <a class="is-underline" href="{{ path('frontend.default.static_page', {slug: 'preguntas-frecuentes'}) }}">
                            {{'order.returns.processing.when'|trans}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
