<div class="col-sm-36 category-tittle full-width h-title-large pull-left secondary-border-bottom">
    <h2 class="category-title h-title-large is-weight-700 is-uppercase padding-large-bottom padding-large-top">
        {{ 'saved_cards.add_new_card'|trans }}
    </h2>
</div>
<div class="col-sm-36 padding-large-bottom">
    {{ form_start(form) }}
        <div class="padding-xlarge-right padding-xlarge-top">
            <div class="col-sm-36 col-md-18 padding-xlarge-bottom padding-xlarge-right">
                <div class="col-sm-18 col-md-18 padding-large-right">
                    {{ form_label(form.cardHolderFirstName, null, {'label_attr': {'class': 'full-width pull-left padding-small-bottom'}}) }}
                    {{ form_widget(form.cardHolderFirstName, {'attr': {'class': 'form-style full-width'}}) }}
                </div>
                <div class="col-sm-18 col-md-18 padding-large-left">
                    {{ form_label(form.cardHolderLastName, null, {'label_attr': {'class': 'full-width pull-left padding-small-bottom'}}) }}
                    {{ form_widget(form.cardHolderLastName, {'attr': {'class': 'form-style full-width'}}) }}
                </div>
            </div>
            <div class="col-sm-36 col-md-18 padding-xlarge-bottom padding-xlarge-right">
                {{ form_label(form.cardNumber, null, {'label_attr': {'class': 'full-width pull-left padding-small-bottom'}}) }}
                {{ form_widget(form.cardNumber, {'attr': {'class': 'form-style full-width'}}) }}
            </div>
            <div class="col-sm-36 col-md-18 padding-xlarge-bottom padding-xlarge-right">
                {{ form_label(form.expirationDate, null, {'label_attr': {'class': 'col-sm-36 padding-small-bottom'}}) }}
                {{ form_widget(form.expirationDate.day, {'attr': {'class': 'hide'}, 'required': false, 'value': '1'}) }}
                <div class="col-sm-18 col-md-18 padding-large-right">
                    {{ form_widget(form.expirationDate.month, {'attr': {'class': 'order-selector form-style full-width margin-large-bottom'}}) }}
                </div>
                <div class="col-sm-18 col-md-18 padding-large-left">
                    {{ form_widget(form.expirationDate.year, {'attr': {'class': 'order-selector form-style full-width margin-large-bottom'}}) }}
                </div>
            </div>
            {% if form.cvv is defined %}
                <div class="col-sm-36 col-md-18 padding-xlarge-bottom padding-xlarge-right">
                    {{ form_label(form.cvv, null, {'label_attr': {'class': 'full-width pull-left padding-small-bottom'}}) }}
                    {{ form_widget(form.cvv, {'attr': {'class': 'form-style full-width'}}) }}
                </div>
            {% endif %}
            <div class="col-sm-36 margin-large-top">
                <button class="btn-account btn-block btn-lg font-size-large is-uppercase is-weight-700 orders-btn">
                    {{ 'saved_cards.save_card'|trans }}
                </button>
            </div>
        </div>
    {{ form_end(form) }}
</div>
