{% set statusTotal = statuses|length %}
{% set colsPerStatus = (statusTotal >= 1) ? 36 / statusTotal : 36 %}
{% set nextOneCompleted = false %}

{% if statuses|length == 1 %}
    Estatus: <span class="is-uppercase is-weight-700">{{ statuses[0].title }}</span>
{% else %}
    {% for index, status in statuses %}
        {% if index < statusTotal - 1 %}
            {% set nextOneCompleted = statuses[index + 1].completed ? true : false %}
        {% endif %}

        <div class="shipping-status col-sm-{{ colsPerStatus }}">
            <div class="{% if status.completed %}active-title{% endif %}">{{ status.title }}</div>
            <div class="col-sm-18 padding-small-right step-progress-first-half {% if status.completed %}active{% endif %} {% if status.completed %}active-holder{% endif %} "></div>
            <div class="col-sm-18 padding-small-right step-progress-second-half {% if status.completed and nextOneCompleted and (index < (statuses|length)-1) %}active{% endif %}"></div>
        </div>
    {% endfor %}
{% endif %}
