{% extends ':Customer:index.html.twig' %}

{% block lastBreadcrumb %}
    <a class="breadcrumb-item" href="{{ path('frontend.customer.index') }}" title="{{ 'account.my_account'|trans }}">{{ 'account.my_account'|trans }}</a>
    <span class="breadcrumb-item last" data-position="">{{ 'account.electronic_wallet'|trans }}</span>
{% endblock %}

{% block account_content %}
    <div class="account-border-gray full-width h-title-large pull-left secondary-border-bottom">
        <h2 class="is-weight-700  padding-large-bottom padding-large-top">
            {{'electronic_wallet.title'|trans }}
        </h2>
    </div>
    <div class="col-sm-36 padding-large-bottom margin-large-bottom">
        <div class="category-title full-width padding-xlarge-bottom padding-xlarge-top padding-medium-left pull-left">
            <div class="full-width-md padding-medium-top">
                <span class="pull-left is-relative padding-medium-right">
                    <i data-icon="ě" class="first-color wallet-icon"> </i>
                </span>
                <span class="pull-left category-title h-title-large is-weight-700  pull-left padding-medium-right">
                    {{'electronic_wallet.wallet'|trans }}
                </span>
            </div>
            <div class="full-width-md">
                <span class="pull-left h-title-height">
                    {{'electronic_wallet.account_number'|trans }}
                    {{ wallet.account }}
                </span>
                <span class=" first-color pull-right padding-large-right">
                    {{'electronic_wallet.available_balance'|trans }}
                    <span class="is-weight-700">
                        {{ wallet.balance|format_points }}
                    </span>
                </span>
            </div>
        </div>
        <div class="category-title full-width padding-medium-bottom padding-medium-top padding-medium-left pull-left secondary-border-bottom secondary-border-top">
            <span class="h-title-form pull-left category-title h-title-large is-weight-700  pull-left padding-medium-right">
                {{'electronic_wallet.movements'|trans }}
            </span>
        </div>
        <div class="full-width pull-left secondary-border-bottom margin-large-bottom padding-large-bottom">
            <table class="zebra-table master-table wallet-table">
                <th>{{'electronic_wallet.date'|trans }}</th>
                <th>{{'electronic_wallet.charge'|trans }}</th>
                <th>{{'electronic_wallet.deposit'|trans }}</th>
                <th>{{'electronic_wallet.valid_until'|trans }}</th>
                <th>{{'electronic_wallet.balance'|trans }}</th>
                {% for transaction in wallet.transactions %}
                    <tr>
                        <td>{{ transaction.createdAt|format_date }}</td>
                        <td>{{ transaction.charge|format_points }}</td>
                        <td>{{ transaction.payment|format_points }}</td>
                        <td>{{ transaction.validUntil|format_date }}</td>
                        {# TODO: Perform validation for validUntil #}
                        <td>{{ transaction.balance|format_points }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-md-18-right col-sm-36-right">
            <div class="padding-small-bottom">
                <span class="padding-medium-right">{{'electronic_wallet.accumulated_points'|trans }} </span>
                <span class="pull-right padding-medium-right">{{ wallet.accruedPoints|format_points }}</span>
            </div>
            <div class="padding-small-bottom">
                <span class="padding-medium-right">{{'electronic_wallet.used_points'|trans }}</span>
                <span class="pull-right padding-medium-right">{{ wallet.usedPoints|format_points }}</span>
            </div>
            <div class="padding-small-bottom">
                <span class="padding-medium-right">{{'electronic_wallet.expired_points'|trans }}</span>
                <span class="pull-right padding-medium-right">{{ wallet.expiredPoints|format_points }}</span>
            </div>
            <div class="secondary-border-top padding-medium-top padding-madium-bottom margin-medium-top is-weight-700">
                <span class="padding-medium-right is-uppercase">{{'electronic_wallet.available_balance'|trans }}</span>
                <span class="pull-right padding-medium-right">{{ wallet.balance|format_points }}</span>
            </div>
        </div>
    </div>
{% endblock %}
