<div class="col-sm-18">
    <div>{[ shippingOptions.order.shippingAddress.firstName ]} {[ shippingOptions.order.shippingAddress.lastName ]}</div>
    <div>
        {[ shippingOptions.order.shippingAddress.line1 ]} {[ shippingOptions.order.shippingAddress.streetNumber ]}
        <span ng-if="shippingOptions.order.shippingAddress.apartment">, {[ shippingOptions.order.shippingAddress.apartment ]}</span>
    </div>
    <div>
        <span ng-if="shippingOptions.order.shippingAddress.municipality">{[ shippingOptions.order.shippingAddress.municipality ]} - </span>
        <span ng-if="shippingOptions.order.shippingAddress.city">{[ shippingOptions.order.shippingAddress.city ]} - </span>
        {[ shippingOptions.order.shippingAddress.region ]} - {[ shippingOptions.order.shippingAddress.postcode ]}
    </div>
    <div>{[ shippingOptions.order.shippingAddress.additionalInformation ]}</div>
    <div>
        {{ 'checkout.add_phone'|trans }}:
        <span ng-if="shippingOptions.order.shippingAddress.prefix">{[ shippingOptions.order.shippingAddress.prefix ]} </span>
        {[ shippingOptions.order.shippingAddress.mobilePhone ]}
    </div>
</div>
<div class="col-sm-18">
    <div class="pull-right is-underline"><a href="#" ng-click="shippingOptions.showAddressBook()">{{ 'checkout.change_shipping_address'|trans }}</a></div>
</div>
<div class="col-sm-36 secondary-border-top padding-large-bottom margin-xlarge-top padding-xlarge-top dark-color" ng-repeat="(packageId, package) in shippingOptions.order.packages">
    <div class="number padding-large-top h-title-tall padding-small-bottom">
        {{ 'checkout.shipping'|trans }} {[ $index + 1 ]}
    </div>

    <div class="full-width padding-small-top">
        <div class="col-sm-18 padding-medium-right padding-medium-top">
            <div class="col-sm-36 margin-xlarge-bottom">
                <div class="error-color" ng-show="!shippingOptions.order.isHomeDeliverable(package)">{{ 'cart.this_package_not_deliverable'|trans }}</div>

                <div class="shipping-option-item padding-xlarge-bottom" ng-repeat="shippingQuote in package.shippingQuotes" ng-if="shippingQuote.shippingMethod != 'store'">
                    <input
                        type="radio"
                        name="shippingOption_{[ packageId ]}"
                        id="shippingOption_{[ packageId ]}_{[ shippingQuote.shippingMethod ]}"
                        class="custom-radio"
                        required="required"
                        ng-model="package.selectedShippingQuote"
                        ng-value="shippingQuote"
                        ng-checked="shippingQuote.selected"
                        ng-change="shippingOptions.selectShippingMethod(packageId, shippingQuote.shippingMethod)"
                    />

                    <label class="radio-text" for="shippingOption_{[ packageId ]}_{[ shippingQuote.shippingMethod ]}">
                        <span class="radio-skin add-top-10 pull-left margin-medium-right"></span>

                        <i class="pull-left margin-medium-right" aria-hidden="true" data-icon="{[ shippingQuote.shippingMethod == 'regular' ? 'ï' : 'Ó' ]}"></i>

                        <span class="shipping-option-details">
                            <span class="is-weight-bold is-display-block radio-text">{[ shippingQuote.name ]}</span>
                            <span ng-if="shippingQuote.fee != 0">{[ shippingQuote.fee|formatMoney ]}</span>
                            <span class="success-color" ng-if="shippingQuote.fee == 0">{{ 'linio_plus.free_shipping'|trans }}</span>
                            <span> | {[ shippingQuote.estimatedDeliveryDate ]}</span>
                        </span>
                    </label>
                </div>
            </div>
        </div>

        <div class="col-sm-18 padding-medium-left shipping-items-section secondary-border-left padding-medium-top">
            {% include ':Checkout/step/options:item_data.html.twig' %}
        </div>
    </div>
</div>
