<div class="shipping-package-items item"  ng-class="{'padding-large-top': $index > 0}">
    <div ng-repeat="item in package.items">
        <div class="margin-large-bottom col-sm-22">
            <div class="error-color" ng-show="shippingOptions.currentTab == 'storePickup' && !shippingOptions.order.isStoreDeliverable(package)">
                {{ 'cart.this_product_not_deliverable'|trans }}
            </div>

            <div class="col-md-9 item-image margin-medium-right">
                <img class="responsive" ng-src="{[ item.image ]}">
            </div>

            <span class="fifth-color is-weight-700">{[ item.name ]}</span>

            <div  class="tenth-color">
                <span ng-show="item.variationType == 'size'">
                    {{ 'product.size'|trans }}: {[ item.variation ]}
                </span>

                <span ng-show="item.variationType !== 'size' && item.variation !== '...'">
                    {{ 'product.option'|trans }}: {[ item.variation ]}
                </span>
            </div>

            <div class="item-import tooltip-attached padding-medium-top" ng-show="item.imported">
                <div class="badge-imported">
                    <i data-icon="ē"; class="add-top-2"></i>
                    {{ 'product.product_to_import'|trans }}
                </div>

                <span class="tooltip tooltip-border tooltip-imported-badge">{{ cms_global('product_import_message') }}</span>
            </div>

            {% if app.user.subscribedToLinioPlus %}
                <div ng-show="item.linioPlusLevel == 1">
                    {% include '::partial/components/linio_plus_badge.html.twig' %}
                </div>
                <div ng-show="item.linioPlusLevel == 2">
                    {% include '::partial/components/linio_plus48_badge.html.twig' %}
                </div>
            {% endif %}

            <div class="padding-medium-top success-color" ng-show="shippingOptions.order.isFreeShipping(item.sku) && item.linioPlusLevel == 0">
                {{ 'catalog.free_shipping'|trans }}
            </div>
        </div>

        <div class="pull-right">
            <a href="" ng-click="shippingOptions.removeItem(item.sku)" class="sub-top-10">
                <i aria-hidden="true" data-icon="X"></i>
            </a>
        </div>
    </div>

    <div class="col-sm-36 padding-xlarge door-delivery-content margin-large-top" ng-if="item.oversized">
        <div>
            <i aria-hidden="true" data-icon="¡"></i>
            <span class="door-delivery-title">{{ 'global.oversized_product'|trans }}</span>
        </div>
        <p>
            {{ cms_global('checkout_disclaimer_oversized') }}
        </p>
    </div>
</div>
