<div class="padding-small-bottom">{{ 'checkout.type_address_or_area'|trans }}</div>
<div class="navbar-search padding-small-bottom">
    <form class="search-form is-medium-radius">
        <div class="search-bar">
            <input ui-autocomplete-address autocomplete="off" class="search-bar-input" ng-model="shippingOptions.address" placeholder="{{ 'checkout.search_store'|trans }}" type="search">
        </div>
    </form>
</div>

<ui-map ng-if="shippingOptions.center" class="margin-large-top margin-medium-bottom shipping-options-map" center="shippingOptions.center" markers="shippingOptions.markers"></ui-map>

<div ng-show="shippingOptions.hasStores()">
    <div class="search-bar padding-small-top padding-medium-bottom">
        <label class="control-label">{{ 'checkout.select_store'|trans }}</label>
        <form class="search-form">
            <select
                class="form-style search-bar-input"
                ng-model="shippingOptions.selectedStore"
                ng-options="store.name + ' - ' + store.line1 + ' ' + (store.streetNumber || '') for store in shippingOptions.markers track by store.id"
                ng-change="shippingOptions.selectStore(shippingOptions.selectedStore)">
            </select>
        </form>
    </div>

    <div class="padding-medium-top" ng-show="shippingOptions.order.selectedStore">
        <div class="is-weight-700 padding-small-bottom">
            {{ 'checkout.pickup_your_order'|trans }}:
            <span class="add-top-3"><i class="padding-small-right icons-oca"></i></span>
            <span class="padding-small-left">{[ shippingOptions.order.selectedStore.name ]} | {[ shippingOptions.order.selectedStore.description ]}</span>
        </div>
        <div class="col-sm-27-right padding-large-top">
            <ul class="list-unstyled no-margin">
                <li>
                    {[ shippingOptions.order.selectedStore.line1 ]} {[ shippingOptions.order.selectedStore.line2 ]} {[ shippingOptions.order.selectedStore.streetNumber ]}
                </li>
                <li>
                    <span ng-bind="shippingOptions.order.selectedStore.postCode"></span>
                    <span ng-bind="shippingOptions.order.selectedStore.neighborhood"></span>
                </li>
                <li><span ng-show="shippingOptions.order.selectedStore.municipality">{[ shippingOptions.order.selectedStore.municipality ]},</span>
                    <span ng-show="shippingOptions.order.selectedStore.city">{[ shippingOptions.order.selectedStore.city ]},</span>
                    {[ shippingOptions.order.selectedStore.region ]}
                </li>
            </ul>
        </div>
    </div>

    <div class="col-sm-36 secondary-border-top padding-large-bottom margin-xlarge-top padding-xlarge-top dark-color" ng-repeat="(packageId, package) in shippingOptions.order.packages" ng-show="shippingOptions.order.selectedStore">
        <div class="number padding-large-top h-title-tall padding-small-bottom">
            {{ 'checkout.shipping'|trans }} {[ $index + 1 ]}
        </div>

        <div class="full-width padding-small-top">
            <div class="error-color" ng-show="!shippingOptions.order.isStoreDeliverable(package)">{{ 'cart.this_package_not_deliverable'|trans }}</div>

            <div class="col-sm-18 padding-medium-right padding-medium-top" ng-repeat="shippingQuote in package.shippingQuotes" ng-if="shippingQuote.shippingMethod == 'store'">
                <div class="col-sm-36 padding-medium-right padding-medium-top" ng-show="shippingOptions.order.selectedStore">
                    <span class="padding-small-left fifth-color is-weight-700">{[ shippingOptions.order.selectedStore.name ]}</span>
                    <div class="col-sm-31-right padding-small-top">
                        <div>{[ shippingOptions.order.selectedStore.description ]}</div>
                        <div class="success-color padding-small-top">
                            <span ng-if="shippingQuote.fee == 0">{{ 'linio_plus.free_shipping'|trans }}</span>
                            <span ng-if="shippingQuote.fee != 0">{[ shippingQuote.fee|formatMoney ]}</span>
                            | {[ shippingQuote.estimatedDeliveryDate ]}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-18 padding-medium-left shipping-items-section secondary-border-left padding-medium-top">
                {% include ':Checkout/step/options:item_data.html.twig' %}
            </div>
        </div>
    </div>
</div>
