.alert {
  border: 1px solid transparent;
  margin-bottom: $alert-margin-bottom;
  padding: $alert-padding;

  h4 {
    color: inherit;
    margin-top: 0;
  }

  .alert-link {
    font-weight: $alert-link-font-weight;
  }

  > p {
    @include font-size(1.8);
    font-weight: 900;

    + ul {
      margin-top: 5px;
      padding-left: $alert-padding;
    }

    + p {
      @include font-size(1.6);
      font-weight: 100;
      margin-top: 5px;
    }
  }

  > p,
  > ul {
    margin-bottom: 0;
    margin-top: 0;
  }
}

// Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.

.alert-dismissable, // The misspelled .alert-dismissable was deprecated in 3.2.0.
.alert-dismissible {
  padding-right: ($alert-padding + 20);

  // Adjust close link position
  .close {
    color: inherit;
    position: relative;
    right: -21px;
    top: -2px;
  }
}
