.breadcrumb {
  border-width: 0 0 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  .breadcrumb-item {
    display: inline-block;
    height: 40px;
    line-height: 1;
    margin-left: 10px;
    padding: 12px 15px;
    position: relative;
    vertical-align: middle;
    z-index: 0;

    &::after,
    &::before {
      border-width: 19px 19px 19px 9px;
      content: ' ';
      display: block;
      height: 0;
      left: 100%;
      position: absolute;
      top: 2px;
      width: 0;
      z-index: 2;
    }

    &::before {
      border-width: 20px 20px 20px 10px;
      top: 1px;
    }

    &.last::before,
    &.last::after {
      content: none;
    }
  }
}
