//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

// Core styles
.btn {
  @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $border-radius-base);
  background-image: none;
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:focus {
    @include tab-focus();
  }

  &:hover,
  &:focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    @include box-shadow(inset 0 3px 5px rgba($dark-color, .125));
    background-image: none;
    outline: 0;
  }
}

.btn-small {
  @include button-size($padding-small, 8px, 13px, $line-height-base, $border-radius-base);
  background-image: none;
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:focus {
    @include tab-focus();
  }

  &:hover,
  &:focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    @include box-shadow(inset 0 3px 5px rgba($dark-color, .125));
    background-image: none;
    outline: 0;
  }
}

// Link buttons
// -------------------------

// Make a button look and behave like a link
.btn-link {
  border-radius: 0;
  color: $first-color;
  cursor: pointer;
  font-weight: normal;

  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }

  &:hover,
  &:focus {
    @extend %link-hover-color;
    background-color: transparent;
    text-decoration: underline;
  }

}


// Button Sizes
// --------------------------------------------------

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-small, $border-radius-small);
}

.btn-md {
  @include button-size($btn-md-padding-vertical, $btn-md-padding-horizontal, $btn-md-font-size, $btn-md-line-height, $border-radius-small);
}

.btn-m {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($padding-base-vertical, $padding-large-horizontal, $font-size-tall, $line-height-small, $border-radius-small);
}

.btn-sm,
.btn-xs {
  // line-height: ensure proper height of button next to small input
  @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-mini, $border-radius-small);
}

.btn-xs {
  padding: 1px 5px;
}


// Block button
// --------------------------------------------------

.btn-block {
  display: block;
  padding-left: 0;
  padding-right: 0;
  width: 100%;

  // Vertically space out multiple block buttons
  + .btn-block {
    margin-top: 5px;
  }
}

// Specificity overrides
input {
  &[type="submit"] {
    &.btn-block {
      width: 100%;
    }
  }

  &[type="reset"] {
    &.btn-block {
      width: 100%;
    }
  }

  &[type="button"] {
    &.btn-block {
      width: 100%;
    }
  }
}

// Outline style
// --------------------------------------------------

.btn-outline {
  border: solid 1px;
}
