// input[type=range] {
//   width: 300px;
// }

.rn-carousel {
  @extend %full-width;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  perspective: 1000px;
  position: relative;
  touch-action: pan-y;
  white-space: nowrap;

  li {
    @extend %is-display-inline-block;
    backface-visibility: hidden;
    color: $dark-color;
    left: 0;
    list-style-type: none;
    margin: 0;
    overflow: visible;
    padding: 0;
    position: absolute;
    right: 0;
    vertical-align: top;
    white-space: normal;
  }
}

// prevent flickering when moving buffer
.rn-carousel-buffered > li {
  display: none;
}

.rn-carousel-indicator span {
  padding-left: 15px;
}

.carousel-fullscreen {
  @extend %full-width;
  height: 100%;
}

.carousel-index {
  text-align: center;
  width: 50px;
}

.recommendations {
  @extend %full-width;
  @extend %pull-left;
}

.recommendation-wrapper {
  @extend %full-width;
  height: 360px;
}

.recommendation-slide {
  @extend %is-display-inline-block;
  @extend %is-left;
  padding-left: $margin-small;
  padding-right: $margin-small;
  vertical-align: top;
  width: 220px;
}

.recommendation-image {
  height: 200px;
  vertical-align: middle;
}

.recommendation-name {
  @extend %margin-medium-top;
  @extend %font-size-large;
  height: 44px;
  line-height: 1.2;
  overflow: hidden;
}

.banner-item {
  @extend %pull-left;
}

.banner-img {
  margin: 0 5px;
  width: 124px;
}

.placeholders-wrapper {
  @extend %full-width;
  height: 92px;
  margin: 50px 0;
}
