.footer {
  min-width: $screen-min-width;
  padding: 15px 0;

  a {
    display: block;
    line-height: 2.2rem;
  }

  .footer-block {
    border-width: 0;
    padding: 15px;

    @include breakpoint($screen-md) {
      border-width: 0 1px 0 0;
    }

    &:first-child {
      border-width: 0 1px 0 0;
    }

    &:last-child {
      border-width: 0;
      padding-right: 0;
    }

  }

  .footer-title {
    @include font-size(1.5);
  }

  .footer-subtitle {
    @include font-size(1.55);
    margin: 15px 0;
  }

  .footer-social-link {
    display: inline-block;
    padding-top: 7px;
  }

  .footer-apps-link {
    margin-top: 20px;
    max-width: 170px;
    padding-right: 10px;
  }

  .copyrights {
    @include font-size(1.55);
    border-width: 1px 0 0;
    margin-top: 15px;
    padding: 15px 15px 0;
  }

  .footer-columns {
    columns: 2;

    @include breakpoint($screen-sm-max) {
      columns: 1;
    }
  }
}
