.form-group {
  margin-bottom: 15px;

  .form-title {
    @include font-size(1.7);
    margin: 0 0 10px;
  }

  .control-label {
    display: inline-block;
    margin-bottom: 5px;
    max-width: 100%;
  }

  .form-control {
    border-width: 1px;
    height: 33px;
    padding: $padding-small;
    width: 100%;
  }

  label {
    display: inline-block;
    margin-bottom: 5px;
    max-width: 100%;
  }

  textarea {
    &.form-control {
      height: auto;
    }
  }
}

// [TODO] TO BE REMOVED
.form-style,
.form-read-only {
  border-width: 1px;
  height: 33px;
  padding: $padding-small;
}

.input-icon {
  @extend %is-weight-700;
  @extend %icon-2x;
  @extend %no-margin-right;
  margin-top: -31px;
  position: relative;
  z-index: 2;
}

.submitted .ng-blurred.ng-pristine.ng-invalid-required,
.ng-blurred.ng-touched.ng-dirty.ng-invalid.ng-invalid-required,
.ng-blurred.ng-touched.ng-dirty.ng-invalid.ng-invalid-pattern {
  @extend %border-width;
}

// Custom Radio

.custom-radio {
  display: none;
 }

.radio-skin {
  border-width: 1px;
  display: block;
  float: left;
  height: 14px;
  margin: 4px 6px 0 1px;
  position: relative;
  width: 14px;
 }

.custom-radio:checked + .radio-text .radio-skin {
  border-width: 1px;
  display: block;
  float: left;
  height: 14px;
  margin: 4px 6px 0 1px;
  position: relative;
  width: 14px;
 }

.custom-radio:checked + .radio-text .radio-skin::before {
  display: block;
  height: 8px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 8px;
 }
