@include border-box-sizing;

.row {
  @include clearfix();
  display: inline-flex;
  margin-left: ($padding-grid-row * -1);
  margin-right: ($padding-grid-row * -1);
  padding-top: $padding-large;
}

.container {
  @include clearfix-both();
  @include container($screen-max-lg);
  min-width: $screen-min-width;
  padding-left: $padding-container;
  padding-right: $padding-container;
}

.container-xlg {
  @include container($container-xlg);
}

.container-md-plus {
  @include container($container-md-plus);
  min-width: $screen-min-width;
  overflow: hidden;
}

.container-sm {
  @include container($container-sm);
  min-width: $screen-min-width;
  overflow: hidden;
}

.container-xs-plus {
  @include container($container-xs-plus);
}

.min-height {
  min-height: 300px;
}

.wrap {
  @include clearfix-both();
  @include clearfix();
}

 // container
@mixin container-fixed() {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container-fluid {
  @include container-fixed;
}

@media (max-width: $screen-sm-max) {
  @include responsive-invisibility('hidden-sm');
}

@include breakpoint($screen-md $screen-md-max) {
  @include responsive-invisibility('hidden-md');
}

@media (min-width: $screen-lg) {
  @include responsive-invisibility('hidden-lg');
}

// Home-page hidden
@media (max-width: $screen-total-width) {
  @include responsive-invisibility('hidden-on-1last-col');
}

@media (max-width: set-width(2, 'last', true)) {
  @include responsive-invisibility('hidden-on-2last-col');
}

@media (max-width: set-width(3, 'last', true)) {
  @include responsive-invisibility('hidden-on-3last-col');
}

@include breakpoint(max-width $screen-md-max) {
  @include responsive-invisibility('hide-last-col');
}

@media (max-width: set-width(6, 'last', true)) {
  @include responsive-invisibility('hidden-on-4last-col');
}

// NEW GRID HOME-PAGE
$width: ($column-width * $columns) + ($gutter * ($columns - 1));

.container-home-page {
  // margin: 0 auto;
  // max-width: $container-general-width;
  overflow: overlay;
  position: relative;
}

@for $i from 1 to $columns {
  $grid: ($column-width * $i) + ($gutter * ($i - 1));

  %home-col-#{$i} {
    float: left;
    margin-left: $gutter;
    width: $grid;
  }

  .home-col-#{$i} { @extend %home-col-#{$i};  }
}

%clear {
  clear: left;
  margin-left: 0;
}

.clear {
  @extend %clear;
}

//Portrait
@include create-cols($columns-unit-total, $column-unit-width, 'sm'); //sm

//Landscape
@include breakpoint($screen-md) {
  @include create-cols($columns-unit-total, $column-unit-width, 'md'); //md
}
//Desktop
@include breakpoint($screen-lg) {
  @include create-cols($columns-unit-total, $column-unit-width, 'lg'); //lg
}
