body {
  @include breakpoint(max-width $screen-sm-max) {
    padding-top: 85px;
  }
}

.navbar {
  border-bottom-width: $small-border-width;
  margin: 0;
  min-height: 85px;
  position: relative;
  z-index: 12;

  @include breakpoint(max-width $screen-sm-max) {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }
}

.navbar-brand {
  float: left;

  .navbar-logo {
    display: inline-block;
    margin: 12px 15px 0 0;
    vertical-align: middle;

    @include breakpoint(max-width $screen-sm-max) {
      margin: 10px 20px 0 0;
    }
  }
}

.navbar-header {

  .navbar-helplinks {
    @extend %font-size-small;
    @extend %is-right;
    display: none;
    line-height: 1;
    padding: 10px 0;

    @include breakpoint($screen-sm-max) {
      display: block;
    }

    .navbar-top-item {
      @extend %is-display-inline-block;
      padding: 0 10px;
    }
  }

  .navbar-search {
    margin: 0 155px 15px 200px;

    @include breakpoint(max-width $screen-sm-max) {
      margin-top: 25px;
    }
  }

  .navbar-right {
    float: right;
    margin: 0 0 0 15px;

    .navbar-alternative {
      display: none;

      @include breakpoint(max-width $screen-sm-max) {
        display: block;
      }
    }
  }

  .navbar-icon-links {
    display: inline-block;
  }
}

.search-form {
  @extend %border-width;
  height: 36px;
  position: relative;
  white-space: nowrap;

  .btn-search-submit {
    height: 30px;
    position: absolute;
    right: $small-border-width;
    top: $small-border-width;
    width: 80px;
    z-index: 1;
  }

  .search-bar {
    height: 34px;
    overflow: hidden;
    width: auto;
  }

  .search-bar-input {
    @extend %full-width;
    border-width: 0;
    height: 34px;
    padding: 0 0 0 10px;
  }
}

.search-autocomplete {
  border-width: 1px;
  position: absolute;
  width: 100%;
  z-index: 10;

  @include breakpoint($screen-lg) {
    width: 75%;
  }

  .search-autocomplete-section {
    border-width: 0 0 1px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 15px;

    li {
      padding-left: 5px;
    }

    &:last-child {
      border-width: 0;
    }
  }

  .search-autocomplete-title {
    font-size: 17px;
    margin: 10px 0;
    padding-left: 5px;
  }

  .search-autocomplete-image {
    display: inline-block;
    vertical-align: middle;
  }

}

.search-autocomplete-popular {
  .search-autocomplete-popular-list {
    margin-bottom: 15px;
    overflow: hidden;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .search-autocomplete-popular-result {
    @extend %first-color;
    @extend %text-limiter;
    @extend %is-underline;
    display: table;
    vertical-align: middle;
  }
}

.search-popular-list-image {
  display: table-cell;
  width: 100px;
}

.search-popular-list-description {
  display: table-cell;
  padding-left: 8px;
  width: 100%;
}

.suggester-focus-item-popular {
  .search-autocomplete-image {
    border-width: 3px;
  }
}

.header-session {
  width: 140px;

  @include breakpoint(max-width $screen-sm-max) {
    display: none;
  }

  .start-session {
    display: block;
    font-size: $font-size-small;
    height: 32px;
    text-align: center;
    text-transform: uppercase;

    &.is-loggedin {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .start-session-icon {
    display: inline-block;
    vertical-align: middle;
  }
}

.header-cart {
  display: block;
  height: 40px;
  margin: 0 auto;
  width: 80px;

  .header-cart-count {
    display: none;
    float: right;
    font-size: $font-size-small;
    height: 25px;
    margin-right: 7px;
    margin-top: 8px;
    text-align: center;
    width: 25px;
  }

  &.header-cart-full {
    .header-cart-count {
      display: block;
    }
  }

  .header-cart-icon {
    display: inline-block;

    &::before {
      font-size: $font-size-xxxlarge;
    }
  }
}

.navbar-cats-init {
  display: none;
  height: 48px;
  padding-left: 6px;
  width: 190px;

  i {
    position: relative;
    top: 2px;
  }
}

.has-sticky-header {
  padding-top: 48px;

  .navbar {
    left: 0;
    min-height: 48px;
    position: fixed;
    right: 0;
    top: 0;
  }


  .navbar-logo,
  .navbar-helplinks,
  .start-session {
    display: none;
  }

  .navbar-logo {
    @include breakpoint(max-width $screen-sm-max) {
      display: inline-block;
    }
  }

  .navbar-cats-init {
    display: inline-block;
    padding-top: 3px;

    @include breakpoint(max-width $screen-sm-max) {
      display: none;
    }
  }

  .navbar-search {
    margin-bottom: 0;
    padding: 6px 0;

    @include breakpoint(max-width $screen-sm-max) {
      margin-bottom: 15px;
      padding: 0;
    }
  }

  .dropdown-header-cat {
    left: 0;
    position: fixed;
    right: 0;

    @include breakpoint($screen-sm-max) {
      top: 50px;
    }


  }

  .sub-navbar {
    height: 20px;
    margin-top: -9px;

    @include breakpoint(max-width $screen-sm-max) {
      margin-bottom: 50px;
    }
  }
}

.dropdown-header-cat {
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 126px;
  z-index: 10;

  @include breakpoint(max-width $screen-sm-max) {
    left: 0;
    position: fixed;
    right: 0;
    top: 83px;
  }
}

.sub-navbar {
  margin-bottom: 20px;

  @include breakpoint($screen-sm-max) {
    position: relative;
    z-index: 10;
  }

  .navbar-cats-init {
    display: block;
    float: left;
    height: 40px;
  }

}

.is-menu-active {
  .shadow-overlay {
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 10;
  }

  .dropdown-header-cat {
    backface-visibility: hidden;
    display: block;
  }

  .menu-item:first-child {
    .menu-item-icon {
      padding-top: 10px;
    }

    .menu-item-link {
      padding-top: 10px;
    }
  }

  .fly-menu-content-item {
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

.invisible-overlay-content {
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 11;
}
