//foo
@keyframes ngdialog-fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes ngdialog-fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.ngdialog {
  bottom: 0;
  box-sizing: border-box;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10000;
}

.ngdialog *,
.ngdialog *::before,
.ngdialog *::after {
  box-sizing: inherit;
}

.ngdialog-overlay {
  animation: ngdialog-fadein .5s;
  backface-visibility: hidden;
  background: rgba($dark-color, .4);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.ngdialog-closing {
  &.ngdialog-overlay {
    animation: ngdialog-fadeout .5s;
    backface-visibility: hidden;
  }

  &.ngdialog-closing .ngdialog-content {
    animation: ngdialog-flyout .5s;
    backface-visibility: hidden;
  }
}

.ngdialog-content {
  animation: ngdialog-flyin .5s;
  backface-visibility: hidden;
  background: $btn-primary-color;
  border-radius: 5px;
  line-height: 1.5em;
  margin: 0 auto;
  max-width: 100%;
  padding: 1em;
  position: relative;
  width: 850px;
}

.ngdialog-login {
  @extend %fifth-color;
  padding-top: 60px;

  .ngdialog-content {
    @include clearfix-both();
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    width: 520px;
  }

}

.ngdialog-close::before {
  content: '\00D7';
  cursor: pointer;
  font-family: 'Helvetica', Arial, sans-serif;
}

.ngdialog-open {
  overflow: hidden;
}

@keyframes ngdialog-flyin {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes ngdialog-flyout {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-40px);
  }
}

.ngdialog-container {
  @extend %fifth-color;
  padding-bottom: 160px;
  padding-top: 20px;
}

.ngdialog-close {
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;

  &::before {
    background: transparent;
    border-radius: 3px;
    color: $tertiary-color;
    content: '\00D7';
    font-size: 26px;
    font-weight: 400;
    height: 30px;
    line-height: 26px;
    position: absolute;
    right: 3px;
    text-align: center;
    top: 3px;
    width: 30px;
  }
}

.ngdialog-close:hover::before,
.ngdialog-close:active::before {
  color: $sixth-color;
}

.ngdialog-message {
  margin-bottom: .5em;
}

.ngdialog-input {
  margin-bottom: 1em;
}

.ngdialog-buttons {
  font-size: 16px;
}

.ngdialog-buttons::after {
  clear: both;
  content: '';
  display: table;
}

.ngdialog-button {
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  float: right;
  letter-spacing: .1em;
  line-height: 1em;
  margin: 0 0 0 .5em;
  padding: .75em 2em;
  text-transform: uppercase;
}
