.ngdialog.modal-ouibounce-container {
  .ngdialog-content {
    border-radius: 0;
    margin-top: 60px;
    padding: 0;
    width: 490px;

    .ngdialog-close::before {
      border: $min-border-width solid $white;
      border-radius: 50%;
      color: $white;
      font-size: $font-size-large;
      font-weight: $weight-300;
      height: 21px;
      line-height: 15px;
      margin-right: $margin-mini;
      margin-top: $margin-mini;
      width: 21px;
    }

    a {
      color: $first-color;
      text-decoration: underline;
    }
  }

  span {
    color: $eleventh-color;
  }

  .btn-ouibounce {
    font-size: 19px;
    font-weight: bolder;
    padding: 3px;
    width: 145px;

    &.left {
      float: left;
    }

    &.right {
      float: right;
    }
  }
}

.ouibounce-form-container {
  margin: 0 $margin-container;
  padding: 0;
  width: 300px;

  label {
    color: $eleventh-color;
  }
}

.appbtn-ouibounce {
  width: 170px;

  &.left {
    float: left;
  }

  &.right {
    float: right;
  }
}

.ouibounce-btn-container {
  margin: $margin-small $margin-container;
  margin-top: 10px;
  width: 368px;
}
