.pagination {
  @extend %no-margin;
  @extend %no-padding;
  @include clearfix-both();
  list-style: none;
  min-width: 220px;

  li {
    @extend %show;
    @extend %pull-left;
    @extend %no-margin-top;
    @extend %no-margin-bottom;
    margin-left: $min-border-width;
    margin-right: $min-border-width;

    a {
      @extend %is-display-inline-block;
      @extend %is-center;
      @extend %border-width;
      @extend %padding-small-left;
      @extend %padding-small-right;
      @extend %no-padding-top;
      @extend %no-padding-bottom;
      @include border-radius($border-radius-base);
      height: 30px;
      line-height: 2.9rem;
      min-width: 30px;
    }

    &:first-child,
    &:last-child {
      @extend %no-margin;
    }
  }
}
