.product-recommendation-image {
  display: block;
  margin: 0 auto;
  max-height: 200px;
  max-width: 200px;
}

.category-recommendation-image {
  border: solid;
  border-bottom-width: 2px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-width: 1px;
  text-align: center;

  img {
    height: auto;
    max-width: 220px;
  }

  h3 {
    height: 36px;
  }
}
