.seo-text-container {
  @extend %full-width;
  @extend %pull-left;
  @include font-size(1.2);
  @include line-height(1.8);
  column-count: 3;
  padding-bottom: 25px;

  // TODO: Remove this once the cms is cleanedup from free markup editor.
  h1 {
    @extend %secondary-font;
    @include font-size(1.2);
    font-weight: normal;
    margin-bottom: 10px;
    text-transform: none;
  }

  h2 {
    @extend %secondary-font;
    @include font-size(1.2);
    @include line-height(1.8);
    font-weight: normal;
    margin-bottom: 10px;
    text-transform: none;
  }

  p {
    margin-bottom: 10px;
    margin-top: 0;
  }
}

.site-directory {
  border-bottom-width: $min-border-width;
  display: table;
  padding-bottom: 40px;
}

.site-map-title {
  font-size: 20px;
}

.category-wrapper {
  vertical-align: middle;

  @include breakpoint(max-width $screen-md) {
    display: table-caption;
    font-size: 25px;
    padding-top: 40px;
  }

  @include breakpoint(min-width $screen-lg) {
    display: table-cell;
    font-size: 20px;
    width: 20%;
  }
}

.sub-cat-wrapper {
  column-count: 4;
  padding-top: 40px;

  @include breakpoint(max-width $screen-md) {
    padding-top: 25px;
  }

  @include breakpoint(max-width $screen-sm) {
    column-count: 1;
  }

  a {
    display: block;
  }
}

.sub-cat {
  break-inside: avoid;
  column-break-inside: avoid;
  page-break-inside: avoid;
}
