.sidebar-list {
  .sidebar-quantity-tag {
    @include font-size($subcategory-quantity-font-size);
    float: right;
    height: 20px;
    line-height: 1.3rem;
    margin: 0 0 0 5px;
    padding: 4px 10px;
  }
}

.sidebar-category-tree {
  .sidebar-category-tree {
    margin-left: 15px;
  }
}

.sidebar-category-tree-header,
.sidebar-category-tree-item {
  @include font-size(1.4);
  border-width: 0 0 1px;
  display: block;
  line-height: 2.1rem;
  padding: 7px 0;
  text-transform: uppercase;
}

.sidebar-category-tree-header {
  font-size: 1.3rem;
}

.sidebar-category-tree-item {
  @include font-size(1.2);
  font-family: $sidebar-font;
  text-transform: capitalize;
}
