.star-rating {
  @include font-size(1);
  display: inline-flex;
  letter-spacing: -3px;
  vertical-align: baseline;
  white-space: nowrap;

  &:last-child {
    margin-right: 0;
  }

  &.mini {
    [data-icon]::before {
      @include font-size(1.71428571);
    }
  }

  &.tiny {
    [data-icon]::before {
      @include font-size(1.85714286);
    }
  }

  &.small {
    [data-icon]::before {
      @include font-size(1.92857143);
    }
  }

  &.large {
    [data-icon]::before {
      @include font-size(2.14285714);
    }
  }

  &.huge {
    [data-icon]::before {
      @include font-size(2.42857143);
    }
  }

  &.massive {
    [data-icon]::before {
      @include font-size(3);
    }
  }

  .star {
    backface-visibility: hidden;
    cursor: pointer;
    flex: 1 0 auto;
    height: auto;
    line-height: 1;
    text-align: center;
    transition: opacity .1s ease, background .1s ease, text-shadow .1s ease, color .1s ease;

    &::before {
      display: inherit;
    }

    &.disabled {
      cursor: default;
    }
  }
}

.reviews-section-title {
  padding-bottom: 30px;
}

.rating-qualification {
  padding-bottom: 5px;
}

.rating-reviews-qualification {
  @include font-size(1.5);
  border-width: 0;
  line-height: 1;
  padding-bottom: 15px;

  @include breakpoint($screen-md) {
    border-width: 0 0 1px;
  }
}

.agregation-rating {
  @extend %pull-left;
  width: 100%;

  @include breakpoint($screen-md) {
    margin-top: 25px;
  }

  .a-normal-link {
    @include font-size(1.6);
  }

  .a-meter {
    margin-top: 4px;
  }

  .a-meter-bar {
    height: 16px;
  }

}

.rating-sorting {
  border-width: 0 0 1px;
  height: 60px;
  padding-bottom: 35px;

  .load-all-reviews {
    @include font-size(1.4);
  }

  .load-all-reviews-arrow {
    &::before {
      @include font-size(2);
    }
  }

  .rating-order {
    &.major {
      margin: 0 15px 0 20px;
    }
  }
}

.customer-review {
  border-width: 0 0 1px;
  padding: 25px 0 35px;

  .customer-review-title {
    @include font-size(1.8);
    display: inline-block;
    margin-left: 10px;
  }

  .customer-review-meta {
    margin-top: 5px;
  }

  .customer-review-body {
    padding: 20px 0 0;
  }

  &:last-child {
    border-width: 0;
  }
}

.rating-stars-quantity {
  min-width: 80px;
}

.rating-seller-color {
  .agregation-rating {
    .a-meter-bar {
      background: $btn-success-bg;
      color: $btn-success-color;
    }
  }

  .star-rating {
    .star.active {
      color: $btn-success-bg;
    }
  }
}

.rating-seller-bars {
  .agregation-rating {
    margin-top: 25px;

    span {
      font-size: 1.1rem;
    }
  }

  .rating-stars-quantity {
    min-width: 47px;
  }

  .bar-reviews-quantity {
    width: 10px;
  }

}
