.tag {
  @include font-size(1.6);
  display: inline-block;
  line-height: 1;
  margin-left: 10px;
  padding: 2px 5px;
  position: relative;
}

.tag-success {
  &::before {
    border-width: 10px;
    height: 0;
    left: -20px;
    position: absolute;
    top: 0;
    width: 0;
  }
}
