.tooltip-attached {
  position: relative;

  &:hover {
    .tooltip {
      animation: slide-up .3s;
      visibility: visible;
    }
  }

  &.is-absolute {
    position: absolute;
  }
}

.tooltip {
  @include box-shadow(0 3px 2px 0 rgba($dark-color, .35));
  @include tooltip ($primary-color, 1.5em, .1em, .1em, $tooltip-border-color);
  color: $fifth-color;
  font-size: $font-size-tall;
  left: -140px;
  padding: 16px;
  position: absolute;
  text-transform: none;
  top: 25px;
  width: 320px;
  z-index: 11;

  &.tooltip-no-border {
    @include tooltip($dark-color, 1em, .5em);
    color: $primary-color;
  }

  &.tooltip-left {
    left: 0;
  }

  &.tooltip-right {
    left: 95px;
  }

  &.tooltip-bottom {
    left: -50px;
    top: 20px;
  }

  &.tooltip-plus {

    left: -140px;

    @media (max-width: 950px) and (min-width: 480px) {
      left: -45px;
    }
  }

  &.tooltip-cvv {
    left: -150px;
    top: 30px;
  }

  &.tooltip-shipping {
    left: -27px;
    top: 73px;
  }

  &.tooltip-phone {
    left: -1px;
    top: 70px;
  }

  a {
    color: $first-color;
    font-weight: $weight-100;
    text-decoration: underline;
    text-transform: none;
  }

  dl,
  menu,
  ol,
  p,
  pre,
  ul {
    color: $fifth-color;
    font-size: $font-size-tall;
    font-weight: $weight-100;
    margin: 0;
    padding: 0;
    text-transform: none;
  }

  li {
    color: $fifth-color;
    font-size: $font-size-tall;
    font-weight: $weight-100;
    margin-left: 5px;
    padding: 0;
    text-transform: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $twelfth-color;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 12px;
    text-transform: none;
  }
}
