h1 { font-size: $font-size-h1; }
h2 { font-size: $font-size-h2; }
h3 { font-size: $font-size-h3; }
h4 { font-size: $font-size-h4; }
h5 { font-size: $font-size-h5; }
h6 { font-size: $font-size-h6; }

%h3 { font-size: $font-size-h3; }

.h-title {
  @extend %h3;
  margin: 0;
}

%h-title-default {
  margin: 0;
}

%h-title-medium { font-size: $font-size-medium; }
.h-title-medium { @extend %h-title-medium; }

%h-title-tall { font-size: $font-size-tall; }
.h-title-tall { @extend %h-title-tall; }

%h-title-large { font-size: $font-size-large; }
.h-title-large { @extend %h-title-large; }
