.zoomed {
  @extend %pull-left;
  @extend %full-width;
  max-width: 420%;
  overflow: hidden;
  position: absolute;
  z-index: 2;

  img {
    position: relative;
  }
}

.mark {
  border-width: 6px;
  opacity: .3;
}

.hide {
  visibility: hidden;
}

aside {
  max-width: 30%;
  position: absolute;
  right: 0;
}

.container-fluid {
  @extend %no-padding;
  margin: 0 .5em;
}

.original {
  @extend %full-width;
  @extend %pull-left;
}
