<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block metaTitle %}
            {% set metaTitle = seo_title() ?: 'account.my_account'|trans ~ ' | ' ~ 'global.site_name'|trans ~ ' ' ~ country_name %}
            <title>{% block title %}{{ metaTitle }}{% endblock %}</title>
        {% endblock %}

        <link rel="icon" href="/favicon.png" type="image/x-icon" />
        <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
        {% block stylesheets %}
            {% for asset in getCssAssets() %}
                <link rel="stylesheet" type="text/css" href="{{ asset }}">
            {% endfor %}
        {% endblock %}
        {% include "::partial/js_config.html.twig" %}
    </head>
    <body ng-app="linioApp">
        {% if gtm_enabled %}
            {% set dataLayer = get_data_layer() %}

        {% if dataLayer|length > 0 %}
            <script>
                dataLayer =[{{ dataLayer|json_encode|raw }}];
            </script>
        {% endif %}

            <!-- Google Tag Manager -->
            <noscript>
                <iframe src="//www.googletagmanager.com/ns.html?id=GTM-{{ gtm_code }}" height="0" width="0" style="display:none;visibility:hidden"></iframe>
            </noscript>
            <script defer>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.defer=true;j.src= '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-{{ gtm_code }}');</script>
            <!-- End Google Tag Manager -->
        {% endif %}

        <div align="center">
            <img class="account-login-logo" src="{{ asset_host }}/images/logo.png" alt="Linio México">
        </div>
        <div class="container">
            <div class="alert-message">
                {% include "::partial/flash_message.html.twig" %}
            </div>
            {% block body %}{% endblock %}
        </div>

        {% include ":Checkout:partial/footer.html.twig" %}

        {% block javascripts %}
            {% for asset in getJsAssets() %}
                <script type="text/javascript" src="{{ asset }}"></script>
            {% endfor %}
        {% endblock %}

    </body>
</html>
