{% extends ':Security:base.html.twig' %}

{% block body %}
    {% if error %}
      <div class="alert-message">
        <div class="alert alert-error ">
            {{ error.messageKey|trans(error.messageData) }}
        </div>
      </div>
    {% endif %}

    {% include ":Security:login.html.twig" %}

{% endblock %}
