<div class="login-container">
    {# NAVIGATOR START #}
    <div class="padding-xlarge-top">
        <div class="six-grid  h-title-tall is-weight-700 padding-medium-bottom login-nav lnactive" align="center">
            <a>{{ 'customer.login'|trans }}</a>
        </div>
        <div class="six-grid  h-title-tall is-weight-700 padding-medium-bottom login-nav" align="center">
            <a href="{{ path('frontend.customer.create') }}" class="color-hover-menu">{{ 'customer.sign_up'|trans }}</a>
        </div>
    </div>
    {# NAVIGATOR END#}

    {% include ":Security/forms:login_form.html.twig" with {'from_url':'true'} %}
</div>
