<div class="padding-large-top" ng-init="optionSelected=1">
    <div class="col-sm-18  h-title-tall is-weight-700 padding-medium-bottom login-nav" align="center" ng-class="{'lnactive':optionSelected==1}">
        <a ng-click="optionSelected=1" class="menu-login-title" ng-class="{'active':optionSelected==1}">{{ 'customer.login'|trans }}</a>
    </div>
    <div class="col-sm-18  h-title-tall is-weight-700 padding-medium-bottom login-nav" align="center" ng-class="{'lnactive':optionSelected==2}">
        <a ng-click="optionSelected=2" class="menu-login-title" ng-class="{'active':optionSelected==2}">{{ 'customer.sign_up'|trans }}</a>
    </div>
</div>

<div ng-init="registerForm=true">
    <div ng-show="optionSelected==1">{{ render(path('frontend.security.login', {'modal': 'true'})) }}</div>
    <div ng-show="optionSelected==2">{{ render(path('frontend.customer.create', {'modal': 'true'})) }}</div>
</div>
