{% extends ':Security:base.html.twig' %}

{% block body %}
    <div class="login-container">
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form class="full-width pull-left" action="{{ path('frontend.security.telesales.login.check') }}" method="post">
            <div class="login-form-container-item">
                <label class="login-form-label" for="username">{{ 'telesales.login.email'|trans }}:</label>
                <input class="login-form-input form-style" type="text" id="username" name="_username" value="{{ last_username }}"/>
            </div>

            <div class="login-form-container-item">
                <label class="login-form-label" for="bobUsername">{{ 'telesales.login.bob_username'|trans }}:</label>
                <input class="login-form-input form-style" type="text" id="bobUsername" name="bobUsername"/>
            </div>

            <div class="login-form-container-item">
                <label class="login-form-label" for="password">{{ 'telesales.login.password'|trans }}:</label>
                <input class="login-form-input form-style" type="password" id="password" name="_password"/>
            </div>

            <input type="hidden" name="_target_path" value="/" />
            <div class="login-form-container-item">
                <button class="btn btn-action btn-m btn-block font-size-tall margin-mini-top" type="submit">{{ 'telesales.login.login'|trans }}</button>
            </div>
        </form>
    </div>
{% endblock %}
