<div class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
    {% if categoryTree is defined  %}
        {% for category in categoryTree.path %}
            {% if loop.first %}
                <a class="breadcrumb-item" href="{{ path('frontend.default.index') }}" title="{{ 'breadcrumb.home'|trans }}" data-position="{{ loop.index }}">{{ 'breadcrumb.home'|trans }}</a>
            {% else %}
                <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a class="breadcrumb-item" href="{{ catalogPath(category) }}" title="{{ category.name }}" data-position="{{ loop.index }}" itemprop="item"><span itemprop="name">{{ category.name }}</span></a>
                </span>
            {% endif %}
        {% endfor %}
    {% else %}
        <a class="breadcrumb-item" href="{{ path('frontend.default.index') }}" title="{{ 'breadcrumb.home'|trans }}">{{ 'breadcrumb.home'|trans }}</a>
    {% endif %}
    {{ lastBreadcrumb|raw }}
</div>
