{% if app.request.attributes.get('_route') == 'frontend.default.index' %}
    <a class="navbar-cats-init hidden-sm cursor-pointer" ng-click="scrollTo('top')">
        {{ 'menu.categories'|trans }} <i aria-hidden="true" data-icon="1"></i>
    </a>
{% else %}
    <a class="navbar-cats-init cursor-pointer" ng-click="activateMenu()">
        {{ 'menu.categories'|trans }} <i aria-hidden="true" data-icon="1"></i>
    </a>
{% endif %}
