{% if facetCollection|first.isActive %}
    <div class="filter-tags" ng-controller="CatalogViewController">
        {% for facet in facetCollection %}
            {% if facet.isActive %}
                <a href="#" class="filter-tags-btn btn btn-sm btn-dark" ng-click="clearFilter('{{ facet.name }}{{ facet.getActiveValues is defined ? '[]' }}')">
                    {% if facet.name == 'linio_plus_filter' %}
                        <i aria-hidden="true" data-icon="å" class="filter-tags-plus-icon"> </i>
                        <i aria-hidden="true" data-icon="X" class="filter-tags-icon"> </i>
                    {% else %}
                        <span class="filter-tags-label">{{ facet.label }}</span>
                        <i aria-hidden="true" data-icon="X" class="filter-tags-icon"> </i>
                    {% endif %}
                </a>
            {% endif %}
        {% endfor %}
        <a href="#" class="clean-filters" ng-click="clearFilters()">{{ 'catalog.clear_filters'|trans }}</a>
    </div>
{% endif %}
