<div class="ngdialog-message">
    <div class="ngdialog-title border-page-header padding-large-bottom">
        <h3>FILTRAR POR MARCA</h3>
    </div>

    <div class="ngdialog-inner padding-large-bottom secondary-border-bottom" style="overflow: auto;">
        {% for value, count in facet.values %}
            {% if loop.first %}
                <div class="three-grid">
            {% endif %}


            <div><input type="checkbox"/> {{ value }}</div>

            {% if loop.last %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

<div class="ngdialog-buttons padding-large-top">
    <div class="pull-left">
        {% include '::partial/components/pagination.html.twig'  with { 'currentPage': 1, 'pageCount': 1 } %}
    </div>
    <button type="submit" class="btn btn-m btn-primary is-small-radius  pull-right" ng-click="closeThisDialog()">APLICAR FILTROS</button>
</div>
