<div class="fly-menu-widget fly-menu-home">
    <ul class="fly-menu-list list-unstyled">
        {{ cms_main_menu() }}
    </ul>
    <div class="fly-menu-content">
        {{ cms_main_menu_content() }}
    </div>
</div>
