<div class="guided-search">
    <div class="guided-search-items">
        {% for term in searchResults.primarySearchResult.guidedSearchTerms %}
            <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params', [])|merge({'q': "#{app.request.query.get('q')} #{term}"})) }}" class="search-suggestion">{{ term }}</a>
        {% endfor %}
    </div>
</div>
