{% set tooltipPlus = app.user.subscribedToLinioPlus ? cms_global('plus_tooltip_member') : cms_global('plus_tooltip_not_member') %}

<span class="tooltip-attached plus-badge">
    <i class="" aria-hidden="true" data-icon="å"></i>
    <div class="tooltip tooltip-plus">
        {{ tooltipPlus|raw }}
    </div>
</span>
