{% set tooltipPlus48 = app.user.subscribedToLinioPlus ? cms_global('plus48_tooltip_member') : cms_global('plus48_tooltip_not_member') %}

<span class="tooltip-attached plus-badge">
    <i class="" aria-hidden="true" data-icon="Å"></i>
    <div class="tooltip tooltip-plus">
        {{ tooltipPlus48|raw }}
    </div>
</span>
