<div class="no-results-page">
    <i aria-hidden="true" data-icon="S" class="no-results-icon first-color"> </i>
    <div class="no-results-label first-color">{{ 'no_results.searched_with_no_results'|trans }}</div>
    <div class="no-results-description">{{ 'no_results.search_dont_match'|trans }} <span class="is-weight-bold">"{{ query }}"</span></div>
    <div class="no-results-ending">{{ 'no_results.to_make_a_new_search'|trans }}</div>
    <a class="no-results-button" href="{{ url('frontend.default.index') }}">
        <button class="btn btn-action btn-m btn-block font-size-tall margin-mini-top">{{ 'no_results.back_to_home'|trans }}</button>
    </a>
</div>
