<div class="other-suggestions-search">
    <span class="suggestions-head">{{ 'catalog.other_suggestions'|trans }}</span>
    <ul class="list-unstyled pull-left col-md-6">
        {% for query in relatedQueries %}
            <li><a href="{{ path('frontend.catalog.index.search', {'q': query}) }}" class="suggestion-item">{{ query }}</a></li>
        {% endfor %}
    </ul>
</div>
