<ul class="pagination">
    {% if currentPage > 1 %}
        <li><a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|unset_page_one(1)) }}"><i aria-hidden="true" data-icon="«" class="pagination-icon"> </i></a></li>
        <li><a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({'page': currentPage - 1})|unset_page_one(currentPage - 1)) }}"><i aria-hidden="true" data-icon="3" class="pagination-icon"> </i></a></li>
    {% endif %}

    {% for page in paginate_range(currentPage, pageCount) %}
        <li {% if page == currentPage %}class="active"{% endif %}>
            <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({'page': page})|unset_page_one(page)) }}">{{ page }}</a>
        </li>
    {% endfor %}

    {% if currentPage < pageCount %}
        <li><a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({'page': currentPage + 1})) }}"><i aria-hidden="true" data-icon="4" class="pagination-icon"> </i></a></li>
        <li><a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({'page': pageCount})) }}"><i aria-hidden="true" data-icon="»" class="pagination-icon"> </i></a></li>
    {% endif %}
</ul>
