<div class="seller-page-container">
	<img src="{{ asset_host }}/images/apple.png" class="full-width">
	<div class="seller-rating-container">
		<span class="seller-rating-label">{{ 'catalog.average_rating'|trans }}</span>
		<div class="seller-rate">
			<div class="tag tag-success">4.5 de 5</div>
		</div>
	</div>
</div>

