{% from _self import renderTree %}

{% macro renderTree(category) %}
    {% from _self import renderTree %}

    {% for child in category.children if child.count > 0 %}
        <li>
            <a class="sidebar-category-tree-item {{ child.isCurrent ? 'first-color' : null }}" href="{{ catalogPath(child) }}" title="{{ child.name }}">
                <span class="sidebar-quantity-tag">{{ child.count }}</span>
               {{ child.name }}
            </a>
            {% if child.children | length > 0 %}
                <ul class="sidebar-category-tree list-unstyled">
                    {{ renderTree(child)  }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

<div class="sidebar-list">
    <div class="sidebar-widget-header">
        {% if category.id != 1 %}
            <a class="sidebar-category-tree-header" href="{{ catalogPath(category) }}" title="{{ category.name }}">
                {% if category.count > 0 %}
                    <span class="sidebar-quantity-tag">{{ category.count }}</span>
                {% endif %}

                {{ category.name }}
            </a>
        {% else %}
            <div class="sidebar-category-tree-header">{{ 'menu.categories'|trans }}</div>
        {% endif %}
    </div>

    <div class="sidebar-widget-content">
        <ul class="sidebar-category-tree list-unstyled">
            {{ renderTree(category) }}
        </ul>
    </div>
</div>
