<div class="accordion-container pull-left full-width">
	<div class="full-width is-center padding-medium-top padding-medium-bottom">
		<div class="filters-label">{{ 'catalog.filters'|trans }}</div>
		<a href='' class="is-underline font-size-medium" ng-click="clearFilters()">{{ 'catalog.clean_filters'|trans }}</a>
	</div>

    {% set activeFilters = [] %}
    {% for facet in searchResult.facetCollection %}
        {% if facet.isActive %}
            {% set activeFilters = activeFilters|merge([facet.name]) %}
        {% endif %}

        {% include facet.templateName %}
    {% endfor %}

    <div class="hide" ng-init="activeFilters = {{ activeFilters|json_encode }}"></div>
</div>

