<div class="full-width float-left margin-large-bottom filter-label">
    <div class="pull-left padding-medium-bottom padding-xlarge-top">
        <div class="col-sm-18 is-weight-bold">{{ 'reviews.average_rating'|trans }}</div>
        <div class="col-sm-18">
            <span class="pull-left tag tag-success">{{ 'product.rating'|trans({'%rating%': seller.ratingSummary.averagePoint}) }}</span>
        </div>
        <div class="margin-medium-top full-width pull-left">
            <a class="product-seller-name" href="{{ path('frontend.seller.reviews', {'seller': seller.slug}) }}" title="" itemprop="seller" itemscope itemtype="http://schema.org/Organization">{{ 'reviews.see_seller_ratings'|trans }}</a>
        </div>
    </div>
    {% if seller.ratingSummary.reviewsQuantity > 0 %}
        <div class="secondary-border-top rating-seller-color rating-seller-bars full-width pull-left margin-large-bottom">
            {% include '::partial/components/review/review_bars.html.twig' with {voteSummary: seller.ratingSummary.ratings, voteSummaryTotals: seller.ratingSummary.reviewsQuantity} %}
        </div>
    {% endif %}
</div>
