<script type="text/ng-template" id="sellerReviewForm">
<div class="padding-xlarge-bottom fade-in" ng-show="sellerReview.hasSuccess">
    <div class="success-color padding-small-bottom">
        <i aria-hidden="true" data-icon="O" class="icon-check-centered"></i> {{ 'reviews.thanks_for_review'|trans }}
    </div>
    {{ 'reviews.processing_review'|trans }}
</div>
<form class="rating-form seller-rating-form-size" ng-show="sellerReview.showForm">
    <div class="rating-seller-color padding-large-bottom">
        {{ 'reviews.rate_seller'|trans }}
        <star-ratings stars="5" ng-model="sellerReview.rating" />
    </div>
    <div class="form-group padding-medium-bottom">
        <label class="control-label">{{ 'reviews.review_title'|trans }}</label>
        <input type="text" class="form-control" placeholder="{{ 'reviews.review_title_placeholder'|trans }} " ng-model="sellerReview.title">
    </div>
    <div class="form-group">
        <label class="control-label">{{ 'reviews.comment'|trans }}</label>
        <textarea rows="3" class="form-control" placeholder="{{ 'reviews.comment_placeholder'|trans }}" ng-model="sellerReview.detail"></textarea>
    </div>
    <div class="form-group padding-small-bottom">
        <button type="submit"
                class="btn btn-m btn-block"
                ng-click="sellerReview.submit()"
                ng-class="sellerReview.canSubmit() ? 'btn-action' : 'disabled-btn'"
                ng-disabled="!sellerReview.canSubmit()">
            {{ "reviews.send_review"|trans }}
        </button>
    </div>
</form>
</script>
