<div class="price">
    <div class="price-bundle padding-medium-bottom">
        {% if product.hasSpecialPrice and product.percentageOff != null %}
            <span class="previous-price">
                {{ product.originalPrice|format_money }}
            </span>
            {% if display_discounts %}
              <span class="percentage-off">
                  - {{ product.percentageOff|format_percentage }}
              </span>
            {% endif %}
        {% endif %}

        <span class="actual-price" itemprop="price">
            <span>
                {{ product.price|format_money }}
            </span>
        </span>
    </div>
</div>
