.login-nav {
  @include border-style('bottom');

  a:hover {
    text-decoration: none;
  }
}

.lnactive { @include border-style('bottom', $first-color); }

.menu-login-title {
  @extend %color-hover-menu;
  cursor: pointer;

  &.active {
    @extend %first-color;
    cursor: default;
  }
}
// Account

.icon-nav {
  font-size: 1.7em;
}

.icon-nav::before {
  font-size: 1em;
  width: 30px;
}

.account-item {
  border-bottom-style: solid;
  border-color: $seventh-color;
}

// My Favorites

.total-background {
  background-color: $fourth-color;
}

// Customer Login

.recover-password {
  @extend %secondary-color;
  @include text-decoration(underline);
}

.login-form-label {
  @extend %fifth-color;
}

.official-checkbox {
  @include border-style('all', $tertiary-color, solid);
  appearance: none;
  outline: none;
}

.official-checkbox:checked {
  @extend %background-first-color;
  @include border-style('all', $first-color, solid);
}

.official-checkbox:checked::before {
  @extend %primary-color;
  @extend %is-weight-bold;
  content: 'õ';
  font-family: Linio Icons;
}

.singup-user-data {
  @extend %is-uppercase;
  @extend %pull-left;
  @extend %border-width;
  margin: 0 0 $margin-mini $margin-small;
  padding-bottom: 10px;
  width: 300px;
}

.optional-label {
  @extend %secondary-color;
}

.new-password-head {
  @extend %is-uppercase;
  @extend %is-weight-bold;
  @extend %fifth-color;
  @include border-style(bottom, $fifth-color, solid);
 }

.password-success {
  @extend %is-weight-bold;
}

//** Profile Saved Credit Cards **//

.icon-small::before {
  font-size: 1.3em;
  line-height: 20px;
}

.card-size::before {
  font-size: 3.5em;
}

.no-decoration,
.no-decoration:hover {
  text-decoration: none;
}

//Account Btn

.btn-account {
  background-color: $fifth-color;
  color: $primary-color;
  cursor: pointer;
  text-align: center;

  &:hover {
    background-color: $btn-default-color;
    color: $primary-color;
  }
}

// Account Lino Plus

.span-line::after {
  border-top-color: $tenth-color;
}

.span-line-bg {
  background: $primary-color;
}

.circle-small {
  position: relative;
}


// Progress Bar

.active-holder {
  position: relative;
}

.active-holder::before {
  background-color: $brand-success;
  border-color: $white;
  border-radius: 5px;
  border-style: solid;
  border-width: 3px;
}

.shipping-status {

  .step-progress-first-half,
  .step-progress-second-half {
    color: $fifth-color;
    list-style-type: none;

  // Progressbar Connectors

    &::after {
      background: $secondary-color;
    }
  }

  .step-progress-first-half::after {
    border-right-color: $white;
    border-right-style: solid;
  }

  .step-progress-second-half::after {
    border-left-color: $white;
    border-left-style: solid;
  }

  .active-title {
    color: $brand-success;
    font-weight: bold;
  }

  .active {
    color: $brand-success;

    &::after {
      background: $brand-success;
      color: $white;
    }
  }
}

// News Letter

.nl-success {
  color: $brand-success;
}

.nl-border {
  border-color: $nineth-color;
  border-radius: 3px;
  border-style: solid;
}

.tracking-decoration::before {
  color: $first-color;
  content: 'o';
}

//Linio Card

.icon-jumbo {
  &::before {
    color: $first-color;
    font-size: 3.125em;
  }
}

.linio-card {
  background: transparent url('/assets/images/scotiabank-linio-card.png') no-repeat center;
  border-style: none;
}

// New Order Section

// Ignore the _ in on_time, this is the way the actual status name
// scss-lint:disable SelectorFormat
.package-early,
.package-on_time,
.package-delivered,
.package-closed {
  color: $package-ontime-color;
}
// scss-lint:disable SelectorFormat

.package-delayed {
  color: $package-delayed-color;
}

.order-disabled {
  color: $secondary-color;
}

.order-panel {
  border-bottom-color: $tertiary-color;

  .order-body {
    background-color: transparent;
  }

  .order-header {
    background-color: $primary-color-v1;
  }

  .order-body__item-meta {
    color: $fifth-color;
  }
}

.order-details {
  .order-details__section-header {
    font-weight: bold;
  }

  .order-details__section-body {
    color: $fifth-color;
    font-weight: 100;
  }
}

.order-details__summary-total,
.order-details__summary-section {
  border-color: $tertiary-color;
}

.order-details__summary-total {
  border-style: solid none none;
  font-weight: 700;
  text-transform: uppercase;
}

.order-details__summary-section {
  @include breakpoint(min-width $screen-lg) {
    border-style: none none none solid;
  }
}
