.cart {
  .subtotal {
    color: $brand-danger;
  }
}

.cart-table {
  color: $fifth-color;

  thead {
    border-color: $secondary-color;
    border-style: solid;
  }

  .cart-item {
    border-color: $table-border-color;
    border-style: solid;

    .cart-item-shipping {
      @extend %success-color;
    }
  }

  .plus-program {
    color: $first-color;
  }
}

.cart-summary {
  color: $fifth-color;

  .cart-item-price {
    color: $brand-danger;
    font-weight: bold;
  }
}

.cart-empty {
  [data-icon]::before {
    color: $first-color;
  }
}
