// START TO REFACTOR
.quantity {
  @extend %background-fourth-color;
  color: $subcategory-quantity-color;
}
// END TO REFACTOR

.category-content {
  .category-title {
    @extend %is-uppercase;
    @extend %text-default-color;
    @include border-style("bottom", $nineth-color, solid);
  }
}

.summary-control {
  @include border-style("bottom", $seventh-color, solid);
}

.order-selector {
  appearance: none;
  background: transparent url('/assets/images/select_arrow_sprite.png') no-repeat right -28px;
  outline: none;
}

.change-view {
  .change-action {
    @extend %is-weight-700;
    @extend %first-color;

    .no-active-view {
      @extend %fifth-color;
      cursor: pointer;
    }
  }
}

.border-pagination {
  @include border-style("bottom", $eighth-color, solid);
}

.catalog-pagination {
  @extend %background-primary-color;
}

.catalog-product-title {
  @extend %is-weight-700;
  @extend %text-default-color;

  a {
    @extend %text-default-color;
    text-decoration: none;
  }
}

.price-default {
  @extend %is-weight-700;
  @extend %fifth-color;
}

.linio-plus {
  @extend %background-primary-color;
  @extend %first-color;
}

.wish-success {
  @extend %first-color;
}

.wish-checked {
  @extend %primary-color;
  @extend %is-weight-700;
  font-smoothing: subpixel-antialiased;
}

.call-to-wish:hover {
  @include text-decoration();
}

.add-wish {
  @extend %background-primary-color;
  @include border-style('all', $tertiary-color, solid);
  box-shadow: 0 .2em .1em rgba($dark-color, .1);
}

.dialog-box {
  @extend %background-primary-color;
  @include border-style(top, $tertiary-color, solid);
  @include border-style(right, $tertiary-color, solid);
  transform: rotate(-45deg);
}

.favorites {
  @include border-style(bottom, $eighth-color, solid);
}

.check-box-wish {
  @include border-style('all', $tertiary-color, solid);
  appearance: none;
  outline: none;
}

.check-box-wish:checked {
  @extend %background-first-color;
  @include border-style('all', $first-color, solid);
}

.check-box-wish:checked::before {
  @extend %is-weight-700;
  @extend %primary-color;
  content: 'õ';
  font-family: Linio Icons;
}

.new-list {
  @extend %background-fourth-color;
  @include border-style('all', $tertiary-color, solid);
  outline: none;
}

.view-small {
  .catalog-product-wish {
    @include border-style(right, $tertiary-color, solid);
  }

  @media(min-width: 601px) {
    &.view-small-border {
      @include border-style("bottom", $eighth-color, solid);
    }
  }

  @media(max-width: 600px) {
    &.view-portrait-border {
      @include border-style("bottom", $eighth-color, solid);
    }
  }
}

.view-big {
  .catalog-product-wish {
    @include border-style(right, $tertiary-color, solid);
  }

  @media(min-width: 1025px) {
    &.view-big-border {
      @include border-style("bottom", $eighth-color, solid);
    }
  }

  @media(max-width: 1024px) {
    &.view-landscape-border {
      @include border-style("bottom", $eighth-color, solid);
    }
  }

  @media(max-width: 950px) {
    &.view-portrait-border {
      @include border-style("bottom", $eighth-color, solid);
    }
  }
}

.view-list {
  .catalog-product-wish {
    @include border-style(right, $tertiary-color, solid);
  }

  &.view-portrait-border {
    @include border-style("bottom", $eighth-color, solid);
  }
}

.accordion-container {
  @extend %fifth-color;
  @include border-style(all, $tertiary-color, solid);

  .filters-label {
    @extend %first-color;
    @extend %is-weight-bold;
  }

  .accordion-item {
    @extend %background-primary-color;
  }

  .accordion-item:checked {
    @extend %background-first-color;
    @include border-style('all', $first-color, solid);
  }

  .accordion-item:checked::before {
    @extend %is-weight-700;
    @extend %primary-color;
    content: 'õ';
    font-family: Linio Icons;
  }

  .accordion-row {
    @extend %is-weight-100;
    @extend %secondary-font;
    @include border-style(bottom, $eighth-color, solid);
  }

  .accordion-input-row {
    @extend %secondary-font;
  }
}

.input-price {
  outline: none;
}

.accordion-item {
  @include border-style(all, $tertiary-color, solid);
  appearance: none;
  outline: none;
}

.accordion-tab {
  @extend %secondary-border-top;

  .icon-search-bar {
    @extend %is-weight-700;
    @extend %first-color;
  }

  .filters-search-bar {
    @include border-style(all, $tertiary-color, solid);
    outline: none;
  }
}

.filters-search-bar {
  &::-webkit-input-placeholder {
    @extend %tertiary-color;
  }
}

.accordion-tab-title {
  @extend %is-weight-100;
  cursor: pointer;
}

.accordion-tab-quantity {
  @extend %background-first-color;
  @extend %primary-color;
}

.slider {
  @extend %background-tertiary-color;
  @include border-style('all', $tertiary-color, solid);
}

.slider-handle {
  @extend %background-primary-color;
  box-shadow: -.2em .2em .2em rgba($dark-color, .2);
  cursor: pointer;
}

.price-range {
  @extend %background-secondary-color;
  @include border-style('all', $secondary-color, solid);
}

.slider-button {
  @extend %is-uppercase;
  @extend %background-primary-color;
  @include border-style('all', $fifth-color, solid);
  font-family: Function Pro;
  outline: none;
}

.seller-page-container {
  @extend %fifth-color;
}

.seller-rating-label {
  @extend %is-weight-bold;
}

.rate-this-seller {
  @include text-decoration(underline);
}

.no-results-container {
  @include border-style(bottom, $eighth-color, solid);
}

.no-results-head {
  @extend %fifth-color;
}

.not-found-label {
  @extend %fifth-color;
  @extend %is-weight-bold;
}

.search-not-found-label {
  @include text-decoration(underline);
}

.spell-suggestion {
  @extend %fifth-color;
}
