.step-title {
  @extend %h-title-medium;
  @extend %is-weight-700;
}

.payment-methods-list {
  .payment-method-checked {
    @include opacity(0);
  }
}

.payment-menu {
  @extend %h-title-default;
  @extend %is-weight-700;

  .payment-method-icon {
    left: 0;
  }

  .payment-method-name {
    padding: 10px 15px 0 40px;
  }

  .active-icon {
    right: 0;
    top: -3px;
  }
}

.icon-default {
  @extend %is-weight-700;
}

%color-hover-menu {
  transition: color .05s linear .05s;

  &:hover {
    @extend %link-hover-color;
    text-decoration: none;
  }
}

.color-hover-menu {
  @extend %color-hover-menu;
}

.checkout-right-col {
  @media (min-width: $screen-md) {
    @include border-style('left');
    border-left-width: 1px;
  }
}

.checkout-left-col {
  @media (min-width: $screen-md) {
    @include border-style('right');
    border-right-width: $min-border-width;
  }
}

.checkout-payment {
  .package {
    border-top-color: $fifth-color;
    border-top-style: solid;
    border-top-width: $min-border-width;

    .number {
      font-size: $font-size-tall;
      font-weight: $weight-700;
      text-transform: uppercase;
    }
  }
}

.checkout-shipping {
  .package {
    border-top-color: $fifth-color;
    border-top-style: solid;
    border-top-width: $min-border-width;

    .number {
      font-size: $font-size-tall;
      font-weight: $weight-700;
      text-transform: uppercase;
    }
  }
}

.alert-warning {
  a {
    color: inherit;
    text-decoration: underline;
  }

  div {
    background-color: transparent;
  }
}

.payclub-logo {
  background: transparent url('/assets/images/vendor/logos/payclub_logo.png') no-repeat center;
  border-style: none;
}

.payment-error {
  @extend %fifth-color;

  [data-icon]::before {
    @extend %fifth-color;
  }
}

.payment-error-head {
  @extend %is-weight-bold;
  @include border-style(bottom, $tertiary-color, solid);
}

.payment-error-button {
  @extend %is-weight-bold;
}

.contact-phone-label {
  @extend %is-uppercase;
  @extend %fifth-color;
}

.contact-phone-number {
  @extend %is-weight-bold;
}

.shipping-option-detail {
  @extend %success-color;
}

.checkout-address {
  color: $fifth-color;
}

.shipping-option-tab {
  @extend %h-title-tall;
  @extend %padding-large-top;
  @extend %padding-medium-bottom;
  @extend %seventh-border-color;
}

.active-tab {
  border-bottom-width: 0;
  border-left-width: 2px;
  border-right-width: 2px;
  border-top-width: 2px;
}

.inactive-tab {
  border-bottom-width: 2px;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
}

.title-header-box {
  background-color: $input-bg;
  border-color: $eighth-color;
  border-style: solid;

  .form-style {
    background-color: $primary-color;
  }
}

.shipping-option-special {
  background: $brand-success;
  border-radius: 3px;
  color: $white;
  font-size: 12px;
  font-weight: $weight-700;
  margin: 0 5px;
  padding: 3px;
}
