.cms-block {
  .cms-block-title {
    border-color: $tertiary-color;
    border-style: solid;
    color: $eleventh-color;

    .cms-block-more {
      color: $fifth-color;
      text-transform: lowercase;
    }
  }
}

.cms-banner-menu {

  &::after {
    border-right-color: $eighth-color;
    border-right-style: solid;
  }
}
