.department-banner {
  background-color: $primary-color;
}

.department-title {
  @extend %is-uppercase;
  @extend %secondary-border-bottom;
}

.department-label {
  @extend %is-uppercase;
  @extend %twelfth-color;
}

.banner-menu {
  @extend %background-primary-color;
  @include opacity(.8);
}

.banner-menu-item {
  &::before {
    @extend %border-width;
    border-color: $tertiary-color;
    border-style: solid;
  }
}
