.dropdown {
  .dropdown-menu {
    background-color: $dropdown-background;
  }

  .dropdown-menu-link {
    border-bottom-style: $dropdown-border-style;
    border-color: $dropdown-border-color;

    &:hover {
      text-decoration: none;
    }
  }
}
