.line-error {
  @include border-style(bottom, $eighth-color, solid);
}

.error-500-label {
  @extend %first-color;
  @extend %is-uppercase;
}

.secondary-error-text {
  @extend %fifth-color;
  @include border-style(bottom, $eighth-color, solid);
}

.third-error-text {
  @extend %fifth-color;
}

.error-500-button {
  &:hover {
    @include text-decoration();
  }
}
