.filter-tags {
  @include border-style(bottom, $seventh-color, solid);
}

.filter-tags-btn {

  &:hover {
    @include text-decoration();

    .filter-tags-plus-icon::after {
      @include border-style(bottom, $primary-color-v1, solid);
    }

    .filter-tags-label {
      text-decoration: line-through;
    }
  }
}

.filter-tags-label {
  @extend %is-lowercase;
  -webkit-font-smoothing: antialiased;
}

.clean-filters {
  @include text-decoration(underline);
}

.filter-tags-plus-icon::after {
  content: '';
}
