.fly-menu-list {
  .menu-item {
    border-color: $tertiary-color;
    border-style: dotted;
  }

  .menu-item-link {
    background-color: $primary-color;
    color: $twelfth-color;
    transition: all .3s ease;

    &.active,
    &:hover {
      background-color: $first-color;
      color: $primary-color;
    }
  }
}

.fly-menu-content {
  background-color: $white;
  border-color: $first-color;
  border-style: solid;

  .fly-menu-devision-title {
    color: $first-color;
    font-weight: bold;
    text-transform: uppercase;
  }

  .fly-menu-devision-sub-title {
    border-color: $tertiary-color;
    border-style: solid;
    color: $twelfth-color;
    font-weight: bold;

    &:hover {
      color: $first-color;
    }
  }

  .fly-menu-devision-sub-link {
    &:hover {
      color: $first-color;
    }
  }
}

.is-menu-active {
  .shadow-overlay {
    background: rgba($dark-color, .4);
  }

  .dropdown-header-cat {
    animation: ngdialog-fadein .5s;
  }

}
