.no-results-label {
  @extend %is-uppercase;
  @include border-style(bottom, $eighth-color, solid);
}

.no-results-description {
  @extend %fifth-color;
}

.no-results-ending {
  @extend %fifth-color;
  @include border-style(top, $eighth-color, solid);
}

.no-results-button {
  &:hover {
    @include text-decoration();
  }
}
