.back-bar {
  @extend %background-dark-color;
}

.share-bar-hugh {
  @extend %background-primary-color;
}

.badges {
  @extend %is-uppercase;
  @extend %success-color;

  .plus-program {
    @extend %first-color;

    &::after {
      @extend %fifth-color;
      content: ' • ';
      font-size: .8em;
    }

  }

  .badge {
    @extend %is-weight-700;

    &::after {
      @extend %fifth-color;
      content: ' • ';
      font-size: .8em;
    }

    &:last-child::after {
      display: none;
    }

  }
}

.badge-one-line {

  &.success {
    @extend %success-color;
  }

  &.warning {
    @extend %error-color;
  }

}

.badge-imported {
  color: $dark-color;
  font-weight: bold;

  &.badge-alert {
    color: $dark-color;
  }
}

.alert-imported-product {
  background-color: $fourth-color;

  ul {
    @extend %bullet-list;
  }
}

.tooltip-imported-badge {
  ul {
    @extend %font-size-tall;
    @extend %bullet-list;
  }
}

.short-description {
  ul {
    @extend %bullet-list;
  }
}

.percentage-off {
  @extend %fifth-color;
  font-weight: bold;
}

.savings {
  @extend %fifth-color;
}

%actual-price {
  @extend %is-weight-700;
  @extend %error-color;
}

.actual-price { @extend %actual-price; }

%previous-price {
  @extend %sixth-color;
  @include text-decoration(line-through);
}

.previous-price { @extend %previous-price; }

.subtotal {
  @extend %is-weight-700;
  @extend %error-color;
}

.main-figure {
  .picture-label {
    @extend %background-primary-color;
    @extend %is-uppercase;

    &.warning {
      @extend %error-color;
      @include border-style ('all', $brand-danger);
    }

  }

  &.unavailable {
    @include opacity(.4);
  }
}

.title {
  .product-name {
    @extend %is-weight-700;
    @extend %eleventh-color;
  }
}

.product-description-container {
  @include border-style(right, $eighth-color, solid);
}

.quick-links {
  @extend %secondary-border-top;
}

.quick-links-title {
  a:hover {
    @extend %first-color;
    text-decoration: none;
  }
}

.product-bundle {
  @extend %secondary-border-top;
}

.product-bundle-title {
  @extend %h-title-tall;
  @extend %is-weight-700;
  @extend %is-uppercase;
}

.bundle-plus {
  @extend %first-color;
  @extend %is-weight-700;
}

.thumbimg {
  cursor: pointer;

  &.active {
    outline-color: $nineth-color;
    outline-style: solid;
  }
}


.master-table {
  @extend %fifth-color;

  thead {
    td {
      @extend %is-uppercase;
      @extend %no-border-top;
    }
  }

  .tooltip-icon {
    @extend %eleventh-color;
  }

}


.master-table-price {
  @extend %error-color;
}

.master-plus {
  @extend %first-color;

}

.raiting-head {
  @include border-style(bottom, $eighth-color, solid);
}

.reviews-container {
  @include border-style(bottom, $eighth-color, solid);
}

.product-reviews-comment {
  @extend %fifth-color;
}

.product-reviews-more {
  @extend %fifth-color;
  @extend %is-uppercase;
  @extend %is-weight-700;
  @include text-decoration(underline);
}

.product-comment-form,
.product-comment-form-big {
  outline: none;
}

.product-other-option-container {
  @extend %is-weight-700;
}

.product-other-option-img {
  @include border-style('all', $eighth-color, solid);

  &:hover {
    @include border-style('all', $fifth-color, solid);
  }
}

.product-seller {
  @include border-style(top, $eighth-color, solid);

  .product-seller-title {
    color: $fifth-color;
  }

  .product-seller-info {
    .product-seller-name {
      @include text-decoration(underline);
    }
  }
}

.add-favorite {
  @include text-decoration(underline);
}

.in-the-box-title {
  @extend %is-uppercase;
  @extend %is-weight-700;
}

.in-the-box-icon {
  @extend %is-weight-700;
}

.product-wish-success {
  @extend %first-color;
}

.product-wish-checked {
  @extend %primary-color;
  font-smoothing: subpixel-antialiased;
}

.magnifying-glass {
  @include border-style("all", $primary-color, solid);
  background: rgba($white, .3);
  cursor: pointer;
}

.product-buttons {
  @include border-style(top, $eighth-color, solid);
}

.disabled-btn {
  @extend %primary-color;

  &:hover {
    @extend %primary-color;
  }
}

.product-options {
  @extend %fifth-color;
  @include border-style(top, $eighth-color, solid);
}

.plus-badge {
  @extend %first-color;
  margin-left: -5px;
  width: 70px;
}

.fb-comments {
  @extend %sixth-color;
}

.fb-comments-count {
  @extend %primary-color;
  background-color: $btn-default-color;
}
