.sizes-selector {
  .label-size {
    @extend %secondary-border;
    @extend %is-weight-300;
    cursor: pointer;

    &.active {
      @extend %primary-color;
      @extend %background-first-color;
      @include border-style("all", $first-color);
      cursor: default;
    }

    &.inactive:hover {
      @extend %primary-color;
      @extend %background-seventh-color;
      @include border-style("all", $seventh-color);
    }
  }

  .out-of-stock {
    @extend %primary-color;
    @extend %background-seventh-color;
    @include border-style("all", $seventh-color);
    cursor: no-drop;
    text-decoration: line-through;
  }
}

.color-selector {
  .radio-style {
    + label {
      @include border-style("all", $eighth-color);
      cursor: pointer;
    }

    &:checked + label {
      @include border-style("all", $first-color);
      cursor: default;
    }
  }
}

// scss-lint:disable ImportantRule
[ng-cloak],
.ng-cloak {
  display: none !important;
}
// scss-lint:enable ImportantRule
