.guided-search {
  @include border-style(bottom, $eighth-color, solid);
}

.search-sugestion {
  border-color: $twelfth-color;
  border-radius: 3px;
  border-style: solid;

  &:hover {
    @extend %primary-color;
    @extend %background-secondary-color;
    @include text-decoration(none);
    @include border-style('all', $secondary-color, solid);
  }
}

.suggestions-head {
  @extend %is-uppercase;
  @extend %is-weight-700;
  @extend %text-default-color;
}

.suggestion-item {
  @extend %first-color;
  @include text-decoration(underline);
}

.search-suggestion {
  border-color: $twelfth-color;
  border-radius: 3px;
  border-style: solid;
  color: $twelfth-color;
}
