.success-page-left-col {
  @include breakpoint(max-width $screen-sm-max) {
    border: 0;
  }
}

.order-data {
  @extend %fifth-color;
}

.order-number {
  @extend %is-uppercase;
  @extend %is-weight-bold;
}

.purchase-status-item {
  @extend %is-weight-bold;
}

.purchase-status-border,
.summary-item-border,
.summary-item-subtotal {
  @include border-style(bottom, $tertiary-color, solid);
}

.purchase-success-border {
  @include border-style(bottom, $brand-success, solid);
}

.status-selector-active {
  @extend %success-color;
  @extend %background-success-color;
  @include border-style('all', $primary-color, solid);
}

.status-selector-inactive {
  @extend %background-primary-color;
}

.summary-item-col-two {
  @include breakpoint($screen-md) {
    @include border-style(bottom, $eighth-color, solid);
  }
}

.purchase-summary-title {
  @extend %is-uppercase;
  @extend %is-weight-bold;
  @extend %fifth-color;
  @include border-style(bottom, $fifth-color, solid);
}

.summary-item-title {
  @extend %is-weight-bold;
  @extend %fifth-color;
}

.summary-item-desc,
.subtotal-quantity,
.total-months {
  @extend %secondary-color;
}

.summary-item-social {
  @include breakpoint(max-width $screen-sm-max) {
    @include border-style(top, $eighth-color, solid);
  }
}

.summary-item-seller {
  @extend %fifth-color;
  @include text-decoration(underline);
}

.summary-item-social-button,
.subtotal-label {
  @extend %fifth-color;
}

.total-quantity {
  @extend %is-weight-bold;
  @extend %fifth-color;
}

.purchase-info,
.success-page-banner,
.success-partial,
.partial-border {
  @include border-style(bottom, $eighth-color, solid);
}

.purchase-info-sms-icon {
  @extend %fifth-color;
}

.purchase-info-sms-label {
  @extend %is-uppercase;
  @extend %is-weight-bold;
  @extend %fifth-color;
}

.purchase-info-description {
  @extend %secondary-color;
}

.purchase-info-description-link {
  @extend %fifth-color;
  @include text-decoration(underline);
}

.success-recommendations {
  @include border-style(bottom, $eighth-color, solid);

  @include breakpoint(max-width $screen-sm-max) {
    @include border-style(top, $eighth-color, solid);
  }
}

.success-recommendations-head {
  @extend %is-uppercase;
  @extend %is-weight-bold;
  @extend %fifth-color;
}

.success-page-apps-head {
  @extend %is-uppercase;
  @extend %fifth-color;
  @extend %is-weight-bold;
}

.step-number {
  @extend %background-fifth-color;
  @extend %primary-color;
}

.success-partial-description,
.oxxo-payment-confirmed,
.order-info-style {
  @extend %fifth-color;
}

.order-number-box,
.account-data-box {
  @extend %background-eighth-color;
}

.oxxo-extra-charge {
  @extend %secondary-color;
}

.success-payment-option {
  @extend %is-weight-bold;
  list-style-type: circle;
}

.pagoefectivo-header {
  background-color: $pagoefectivo-bg;
}
