{% extends ':Customer:index.html.twig' %}

{% block lastBreadcrumb %}
    <a class="breadcrumb-item" href="{{ path('frontend.customer.index') }}" title="{{ 'account.my_account'|trans }}">{{ 'account.my_account'|trans }}</a>
    <span class="breadcrumb-item last" data-position="">{{ ('loyalty.' ~ loyalty_program ~ '.profile.account')|trans }}</span>
{% endblock %}

{% block account_content %}
    <div class="category-tittle h-title-large secondary-border-bottom account-border-gray ">
        <h2 class="is-weight-700 padding-large-bottom padding-large-top not-uppercase">
            {{ 'profile.section'|trans }}
        </h2>
    </div>

    <div class="container-xs-plus pull-left padding-large-bottom">
        <div class="category-title full-width padding-xlarge-bottom padding-xlarge-top ">
            <span class="pull-left padding-large-right full-width">
            {% set iconClass = ('icons-' ~ loyalty_program|replace ({'_':''}) ~ '1x')|lower  %}
                <span class="{{ iconClass }}"></span>
            </span>
        </div>

        {% if not loyaltyProgram.id %}
            {{ form_start(form, {'action': path('frontend.customer.loyalty.account')}) }}
                <div class="full-width padding-xlarge-top">
                    {{ form_label(form.children.loyaltyId, 'loyalty.' ~ loyalty_program ~ '.profile.loyalty_id'|trans, {'attr': {'class': 'form-style full-width'}}) }}
                    {{ form_widget(form.children.loyaltyId, {'attr': {'class': 'form-style full-width', 'ng-model': 'loyalty', 'restrict': 'reject', 'mask':  ('loyalty.' ~ loyalty_program ~ '.number.mask')|trans }}) }}

                    {% if form.children.loyaltyId.vars.errors.count() > 0 %}
                        <div class="margin-small-top alert alert-error">
                            <ul>
                                {% for error in form.children.loyaltyId.vars.errors %}
                                    <li>
                                        {{ error.message|trans }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
                <div>
                    <button type="submit" class="btn-account btn-block btn-lg font-size-large is-uppercase is-weight-700 orders-btn margin-xlarge-top">
                        {{ 'profile.save'|trans }}
                    </button>
                </div>
            {{ form_end(form) }}
        {% else %}
            <div class="padding-xlarge-right padding-large-left">
                <p>
                    <span class="is-weight-700">
                        {{ 'CUSTOMER_LOYALTY_YOUR_NUMBER_IS'|trans }}
                    </span>
                    {{ loyaltyProgram.id }}
                </p>
                <p>
                    <span class="is-weight-700 padding-right-small">
                        {{ 'CUSTOMER_LOYALTY_REGISTRATION_DATE'|trans }}
                    </span>
                    {{ loyaltyProgram.registrationDate|format_date }}
                </p>
            </div>
        {% endif %}
    </div>
{% endblock %}
