{% extends ':Customer:index.html.twig' %}

{% block account_content %}
    <div class="category-tittle h-title-large secondary-border-bottom account-border-gray ">
        <h2 class="is-weight-700 padding-large-bottom padding-large-top not-uppercase">
            <strong>{{ ('loyalty.' ~ loyalty_program ~ '.profile.orders')|trans }}</strong>
        </h2>
    </div>

    <div class="col-sm-36 padding-large-bottom">
        {% for order in orders %}
            <div class="order-section full-width padding-xlarge-top padding-xlarge-bottom secondary-border-top account-border-gray">
                <div class=" col-lg-10 col-md-10 col-sm-18  padding-xlarge-bottom secondary-border-right account-border-gray">
                    <h3 class="is-weight-700 padding-medium-bottom">{{ 'order.number'|trans({'%orderNumber%': order.orderNumber }) }}</h3>
                    <div class="padding-medium-bottom">{{ 'order.purchase_date'|trans({'%purchaseDate%': order.purchaseDate|format_date}) }}</div>
                    <div class="padding-medium-bottom">{{ 'order.miles'|trans({'%miles%': order.miles}) }}</div>
                </div>
                <div class="padding-large-left col-lg-8 col-md-12 col-sm-14">
                    <a class="no-decoration" href="{{ path('frontend.customer.orders.detail', {'orderNumber': order.orderNumber }) }}"><button class="btn btn-action btn-lg btn-block is-weight-700 font-size-large orders-btn">{{ 'order.view_details'|trans }}</button></a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
