<div class="cms-banner-menu col-sm-{{ banner_menu.cols }}">
    {% if (banner_menu.data.menu[0].type == constant('Linio\\Frontend\\Cms\\CmsService::BANNER_TYPE_CATEGORY')) %}
        {% set category_url = category_url(banner_menu.data.menu[0].attributes.category_id) %}
    {% endif %}

    {% if banner_menu.data.menu[0].type == constant('Linio\\Frontend\\Cms\\CmsService::BANNER_TYPE_CUSTOMIZED') %}
        {% set category_url = banner_menu.data.menu[0].attributes.href %}
    {% endif %}

    <a href="{{ category_url }}">
        <img class="department-banner" src="{{ banner_menu.data.image.src }}" alt="{{ banner_menu.data.image.alt_attr }}">
    </a>
    <div class="banner-menu">
        <div class="department-label">
            {{ banner_menu.data.title }}
        </div>
        {% for item in banner_menu.data.menu %}
            {% if item.children %}
                <div class="menu-col-container">
                    {% for column in item.children %}
                        <div class="item-list">
                            {% if column.type == constant('Linio\\Frontend\\Cms\\CmsService::BANNER_TYPE_CATEGORY') %}
                                <a href="{{ category_url(column.attributes.category_id) }}" class="banner-menu-item">{{ column.attributes.label }}</a>
                            {% endif %}

                            {% if column.type == constant('Linio\\Frontend\\Cms\\CmsService::BANNER_TYPE_CUSTOMIZED') %}
                                <a href="{{ column.attributes.href }}" class="banner-menu-item">{{ column.attributes.label }}</a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}

        {% set text_align = banner_menu.data.menu[0].children ? 'left' : 'center' %}

        {% if (banner_menu.data.menu[0].type == constant('Linio\\Frontend\\Cms\\CmsService::BANNER_TYPE_CATEGORY')) %}
            <div class="item-list is-{{ text_align }}">
                <a href="{{ category_url(banner_menu.data.menu[0].attributes.category_id) }}" class="banner-menu-item">{{ banner_menu.data.menu[0].attributes.label }}</a>
            </div>
        {% endif %}

        {% if banner_menu.data.menu[0].type == constant('Linio\\Frontend\\Cms\\CmsService::BANNER_TYPE_CUSTOMIZED') %}
            <div class="item-list is-{{ text_align }}">
                <a href="{{ banner_menu.data.menu[0].attributes.href }}" class="banner-menu-item">{{ banner_menu.data.menu[0].attributes.label }}</a>
            </div>
        {% endif %}
    </div>
</div>
