<a class="fly-banner-link" href="{{ banner.href }}">
    <img class="fly-img"
         data-aload="{{ update_cdn_url(banner.image.src) }}"
         src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
         alt="{{ banner.image.alt_attr }}"
         title="{{ banner.image.title_attr }}" />
</a>
