{% for grid in catalogGrids if grid is not null %}
    <div class="cms-catalog-row padding-small-bottom">
        {% include '::Cms/content_type/grid.html.twig' with { 'grid': grid, 'element_index': loop.index } %}
    </div>
{% endfor %}
