<a href="{{ dfa.target_url }}" class="fly-banner-link">
    <img {{ dfa.dimensions | raw }}
            {% if dfa.ignore_aload %}
                src="{{ dfa.image_url }}" />
            {% else %}
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
                data-aload="{{ dfa.image_url }}" />
            {% endif %}
</a>
