{% set isBannerMenu = grid.cells[0].content_type == constant('Linio\\Frontend\\Cms\\CmsService::CONTENT_TYPE_BANNER_MENU') %}

{# TODO: This wrapper is needed to achieve the banner menu design. This should be fixed whenever the whole CMS extension is refactored. #}
{% if isBannerMenu %}
    <div class="cms-banner">
 {% endif %}

{% for cell in grid.cells %}
    {% if cell.content_type == constant('Linio\\Frontend\\Cms\\CmsService::CONTENT_TYPE_DFA') %}
        {{ cms_render_dfa(cell, (is_static_page is defined)) }}
    {% endif %}

    {% if cell.content_type == constant('Linio\\Frontend\\Cms\\CmsService::CONTENT_TYPE_BANNER') %}
        {% include '::Cms/content_type/banner.html.twig' with { 'banner': cell.data } %}
    {% endif %}

    {% if cell.content_type == constant('Linio\\Frontend\\Cms\\CmsService::CONTENT_TYPE_CAROUSEL') %}
        {% include '::Cms/content_type/carousel.html.twig' with { 'carousel': cell.data } %}
    {% endif %}

    {% if cell.content_type == constant('Linio\\Frontend\\Cms\\CmsService::CONTENT_TYPE_SIMPLE_IMAGE') %}
        {% include '::Cms/content_type/simple_image.html.twig' with { 'image': cell.data } %}
    {% endif %}

    {% if cell.content_type == constant('Linio\\Frontend\\Cms\\CmsService::CONTENT_TYPE_BANNER_MENU') %}
        {% include '::Cms/content_type/banner_menu.html.twig' with { 'banner_menu': cell, 'cell_index': loop.index } %}
    {% endif %}

    {% if cell.content_type == constant('Linio\\Frontend\\Cms\\CmsService::CONTENT_TYPE_PLACEMENT') %}
        {% include '::Cms/content_type/placement.html.twig' with { 'placement': cell.data } %}
    {% endif %}
{% endfor %}

{% if isBannerMenu %}
    </div>
{% endif %}
