{% set isHomePage = app.request.attributes.get('_route') == 'frontend.default.index' %}

{% for item in menu %}
    <li class="menu-item" ng-mouseover="renderMenuItem({{loop.index}})" ng-click="renderMenuItem({{loop.index}})" >
        <a class="menu-item-link {% if isHomePage and loop.index == '1' %} active {% endif %}"
           {% if not isHomePage %} rel="nofollow" {% endif %}
           href="{{ item.attributes.href }}"
           title="{{ item.attributes.label }}"
           data-target="{{ loop.index }}"
           ng-class="menuItemSelected == {{loop.index}} ? 'active' : ''">
            <i class="menu-item-icon" aria-hidden="true" data-icon="{{ item.attributes.icon }}"></i> {{ item.attributes.label }}
        </a>
    </li>
{% endfor %}
