<div class="fly-menu-content-item" ng-class="menuItemSelected == {{ main_menu_grid.menuId }} ? 'active' : ''" style="">
    <div class="row full-width">
        <div class="fly-menu-categories">
            <a class="fly-menu-devision-title" href="#">{{ main_menu_grid.title }}</a>
            {{ main_menu_grid.menu }}
        </div>
        <div class="fly-inner-banners hidden-on-3last-col">{{ main_menu_grid.grid.content }}</div>
    </div>
</div>
