{% for item in menu %}
    <a class="fly-menu-devision-sub-title" href="{{ item.attributes.href }}">{{ item.attributes.label }}</a>
    {% for subMenu in item.children %}
        <a class="fly-menu-devision-sub-link" title="" href="{{ subMenu.attributes.href }}">{{ subMenu.attributes.label }}</a>
    {% endfor %}
{% endfor %}
