{% set placement = cms_placement(placement['key']) %}

{% if placement is not empty %}
    <a class="fly-banner-link" href="{{ placement.href }}">
        <img class="fly-img"
             data-aload="{{ update_cdn_url(placement.image.src) }}"
             src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII="
             alt="{{ placement.image.alt_attr }}"
             title="{{ placement.image.title_attr }}" />
    </a>
{% endif %}
