{% set recommendation = render_recommendations(data) %}

{% if recommendation.products|length > 0 %}

    {% if recommendation.title %}
        <div class="cms-block margin-large-bottom">
            <h3 class="cms-block-title">{{ recommendation.title }}</h3>
        </div>
    {% endif %}

    {# TODO: This wrapping controller is only used to isolate the recommendations directive scope, it has to be removed and handled properly. #}
    <div ng-controller="recommendationsController">
        <span ng-init="products={{ recommendation.products|json_encode }}"></span>
        <carousel collection="products" class="recommendations"></carousel>
    </div>

{% endif %}

{% include ":Catalog:components/carousel.html.twig" %}
