{% extends '::base.html.twig' %}

{% block metaTitle %}
    <title>{% block title %}{{ data.seo.title ?: 'global.best_products_best_price'|trans ~ ' ' ~ country_name }}{% endblock %}</title>
{% endblock %}

{% block SEO %}
    <meta name="robots" content="{{ data.seo.robots }}"/>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        {{ data.css_text|raw }}
    </style>
{% endblock %}

{% block metaDescription %}
    <meta name="Description" content="{{ data.seo.description }}"/>
    <meta property="og:description" content="{{ data.seo.description }}"/>
{% endblock %}

{% block body %}
    <div class="static-page">
        {% for content in data.page_content %}
            {# TODO: Allow other content types. #}
            {% if content.content_type == constant('Linio\\Frontend\\Cms\\CmsService::CONTENT_TYPE_HTML') %}
                {{ content.data.text|raw }}
            {% endif %}

            {% if content.content_type == constant('Linio\\Frontend\\Cms\\CmsService::CONTENT_TYPE_GRID') %}
                {% include '::Cms/content_type/grid.html.twig' with { 'grid': content.data, 'element_index': loop.index, 'is_static_page': true } %}
            {% endif %}

            {% if content.content_type == constant('Linio\\Frontend\\Cms\\CmsService::CONTENT_TYPE_RECOMMENDATION') %}
                {% include '::Cms/content_type/recommendation.html.twig' with { 'data': content.data } %}
            {% endif %}
        {% endfor %}
    </div>

    <div class="seo-text-container">
        <div class="col-lg-36">
            {% autoescape 'html' %}
                {{ data.seo.seo_text|raw }}
            {% endautoescape %}
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        {{ data.js_text|raw }}
    </script>
{% endblock %}
