{% set itemsTotal = menu|length %}
{% set colsPerTotal = (itemsTotal >= 1) ? 36 / itemsTotal : 36 %}

<div class="cms-block">
    <div class="cms-block-content clearfix">
        {% for item in menu %}
            {% set columns = (loop.first) ? colsPerTotal|round(0, 'ceil')|number_format : colsPerTotal|round(0, 'floor')|number_format %}
            {% set iconClass = (loop.first) ? 'first-color' : 'usp-icon' %}
            {% set anchorClass = (loop.first) ? 'twelfth-color' : 'fifth-color' %}

            <div class="col-sm-{{ columns }} padding-small-left padding-small-right is-center usp">
                <a href="{{ item.attributes.href }}">
                    <i aria-hidden="true" data-icon="{{ item.attributes.icon }}" class="{{ iconClass }} usp-big-icon"></i>
                </a>
                <a href="{{ item.attributes.href }}" class="padding-small-right">
                    <h2 class="margin-medium-top margin-medium-bottom is-uppercase usp-text {{ anchorClass }}">
                        {{ item.attributes.label }}
                    </h2>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
