{% for item in menu %}

    {% set mainUspColor = (loop.first) ? 'twelfth-color' : 'secondary-color' %}

    {% set mainUspPadding = (loop.first) ? 'usp-padding-main' : 'usp-padding' %}

        <a href="{{ item.attributes.href }}" class="full-width is-uppercase is-weight-100 pull-left {{ mainUspColor }} {{ mainUspPadding }}">
            <div class="usp-sidebar-icon pull-left">
                <i aria-hidden="true" data-icon="{{ item.attributes.icon }}" class="usp-icon-list"></i>
            </div>
            <div class="usp-sidebar-text">
                {{ item.attributes.label }}
            </div>
        </a>
{% endfor %}
