<table class="agregation-rating">
    <tbody>
    {% set ratingsArray = {} %}

    {% for summary in voteSummary|reverse %}
        {% set ratingsArray = ratingsArray|merge({ ('ratingLevel-' ~ summary.stars) : summary.votes }) %}
    {% endfor %}

    {% for i in 5..1 %}
        {% if ratingsArray['ratingLevel-' ~ i] is defined %}
            {% set votes = ratingsArray['ratingLevel-' ~ i] %}
        {% else %}
            {% set votes = 0 %}
        {% endif %}
        <tr>
            <td class="col-sm-10 nowrap rating-stars-quantity">
                <span class="a-normal-link">
                    {% transchoice i with {'%count%': i} %}reviews.star{% endtranschoice %}
                </span>
            </td>
            <td class="col-sm-24">
                {% set percentage = voteSummaryTotals ? (votes / voteSummaryTotals) * 100  : 0 %}
                <div class="a-meter" area-label="{{ percentage }}%">
                    <div class="a-meter-bar" style="width: {{ percentage }}%"></div>
                </div>
            </td>
            <td class="nowrap bar-reviews-quantity">
                <span class="a-normal-link">{{ votes }}</span>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
