<div class="customer-review" itemprop="review" itemscope itemtype="http://schema.org/Review">
    <div class="customer-review-head">
        <span class="customer-review-rating star-rating mini" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
            <meta itemprop="ratingValue" content="{{ review.experienceAverage }}">
            {% for star in 1..5 %}
                <i aria-hidden="true" data-icon="š" class="star {{ review.experienceAverage|round >= loop.index ? 'active' }}"></i>
            {% endfor %}
        </span>
        <span class="customer-review-title is-weight-700" itemprop="name">{{ review.title }}</span>
        <div class="customer-review-meta">
            {{ 'reviews.reviewed'|trans }}
            {% if review.customerName %}
                {{ 'reviews.by'|trans }} <span class="customer-review-username" itemprop="author">{{ review.customerName }}</span>
            {% endif %}
            {{ 'reviews.at'|trans }} <span class="customer-review-date">{{ review.createdAt|format_date }}</span>

            {% if review.customerVerified %}
                {% if review.confirmedPurchase %}
                    <div class="success-color">
                        <i aria-hidden="true" data-icon="Ż"></i> {{ 'reviews.confirmed_purchase'|trans }}
                    </div>
                {% else %}
                    <div class="is-weight-700">
                        <i aria-hidden="true" data-icon="U"></i> {{ 'reviews.customer_verified'|trans }}
                    </div>
                {% endif %}
            {% endif %}

            <meta itemprop="datePublished" content="{{ review.createdAt|date("Y-m-d") }}">
        </div>
    </div>
    <div class="customer-review-body" itemprop="reviewBody">
        {{ review.comment }}
    </div>
</div>
