{% set form = get_payment_method_form(paymentMethod) %}
<div class="full-width">
    {{ cms_global('payment-' ~ paymentMethod.name|lower) }}

    <div class="col-sm-36 tokenized-payment" ng-show="checkout.order.savedCards">
        <div class="tokenized-payment-header">
            {{ 'payment_methods.CreditCard.choose_saved_card'|trans }}
        </div>
        <div ng-repeat="card in checkout.order.savedCards">
            <div ng-if="$index % 2 == 0" class="clearfix"></div>
            <div class="col-sm-36 col-md-18 tokenized-card cursor-pointer">
                <input class="pull-left tokenized-card-input" name="token" type="radio" ng-model="checkout.paymentData.tokenId" ng-value="card.id" ng-click="checkout.useCard(card.id, card.firstDigits)" />
                <i class="tokenized-card-icon pull-left icons-cc-{[ card.brand ]}"></i>
                <div class="tokenized-card-info">
                    <div class="tokenized-card-name">{[ card.cardholderName ]}</div>
                    <div class="tokenized-card-digits">{{ 'saved_cards.last_digits'|trans }} {[ card.lastDigits ]}</div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="!checkout.canShowCardForm">
        <a ng-click="checkout.showCardForm()" class="cursor-pointer is-underline">
            {{ 'payment_methods.CreditCard.add_new_card'|trans }}
        </a>
    </div>

    <div class="padding-large-right padding-xlarge-top">
        {{ form_start(form, {'attr': {'class': 'form-group', 'broadcast-validation': ''}}) }}
        <div class="col-md-18 padding-medium-right" ng-if="checkout.canShowCardForm">
            <div class="form-group">
                {{ form_label(form.holder, 'payment_methods.CreditCard.holder') }}
                {{ form_widget(form.holder, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-md-18 padding-medium-right" ng-if="checkout.canShowCardForm">
            <div class="form-group">
                {{ form_label(form.cardNumber, 'payment_methods.CreditCard.cardNumber') }}
                {{ form_widget(form.cardNumber, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-md-18 padding-medium-right" ng-if="checkout.canShowCardForm">
            <div class="form-group">
                {{ form_label(form.expirationMonth, 'payment_methods.CreditCard.expirationMonth') }}
                {{form_widget(form.expirationMonth, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-md-18 padding-medium-right" ng-if="checkout.canShowCardForm">
            <div class="form-group">
                {{ form_label(form.expirationYear, 'payment_methods.CreditCard.expirationYear') }}
                {{ form_widget(form.expirationYear, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-md-18 padding-medium-right">
            <div class="form-group">
                {{ form_label(form.cvv, 'payment_methods.CreditCard.cvv') }}
                <span class="is-absolute">
                    <span class="label-icon tooltip-attached">
                        <span><i aria-hidden="true" data-icon="?"></i></span>
                        <span class="tooltip tooltip-cvv">{{ cms_global('cvv_message') }}</span>
                    </span>
                </span>
                {{ form_widget(form.cvv, {'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        {% if form.documentType is defined %}
            <div class="col-md-18 padding-medium-right">
                <div class="form-group">
                    {{ form_label(form.documentType, 'payment_methods.CreditCard.documentType') }}
                    {{ form_widget(form.documentType, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        {% endif %}
        {% if form.documentId is defined %}
            <div class="col-md-18 padding-medium-right">
                <div class="form-group">
                    {{ form_label(form.documentId, 'payment_methods.CreditCard.documentId') }}
                    {{ form_widget(form.documentId, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        {% endif %}
        {% if form.installments is defined %}
        <div class="col-md-18 padding-medium-right">
            <div class="form-group">
                {{ form_label(form.installments, 'payment_methods.CreditCard.installments') }}
                {{ form_widget(form.installments, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        {% endif %}
        {% if form.save is defined %}
            <div class="col-md-18 padding-medium-right" ng-if="checkout.canShowCardForm">
                <div class="form-group">
                    {{ form_label(form.save, 'payment_methods.CreditCard.saveCard', {'label_attr': {'class': 'control-label width-90'}}) }}
                    {{ form_widget(form.save, {'attr': {'class': 'add-top-5 pull-left margin-small-right'}}) }}
                </div>
            </div>
        {% endif %}
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
</div>
