<div class="full-width">
    <div class="full-width" style="text-align:center">
        {{ cms_global('success-' ~ order.payment.paymentMethod.name|lower) }}
    </div>

    {% if order.payment.additionalInformation and completedOrder.paymentResult %}
        {% set additionalInformation = order.payment.additionalInformation %}
        {% set paymentData = completedOrder.paymentResult.paymentData %}

        <div class="full-width">
            <table class="voucher-summary">
                <tr>
                    <td>{{ 'success.credibanco.commerce'|trans }}</td>
                    <td>{{ additionalInformation.commerce }}</td>
                </tr>
                <tr>
                    <td>{{ 'success.credibanco.commerce_code'|trans }}</td>
                    <td>{{ additionalInformation.commercialCode }}</td>
                </tr>
                <tr>
                    <td>{{ 'success.credibanco.transaction_date'|trans }}</td>
                    <td>{{ additionalInformation.transactionDate }}</td>
                </tr>
                <tr>
                    <td>{{ 'success.credibanco.terminal_number'|trans }}</td>
                    <td>{{ additionalInformation.terminalNumber }}</td>
                </tr>
                <tr>
                    <td>{{ 'success.credibanco.transaction_number'|trans }}</td>
                    <td>{{ additionalInformation.transactionId }}</td>
                </tr>
                <tr>
                    <td>{{ 'success.credibanco.currency'|trans }}</td>
                    <td>{{ additionalInformation.currency }}</td>
                </tr>
                <tr>
                    <td>{{ 'success.credibanco.grand_total'|trans }}</td>
                    <td>{{ additionalInformation.grandTotal }}</td>
                </tr>
                <tr>
                    <td>{{ 'success.credibanco.tax_amount'|trans }}</td>
                    <td>{{ additionalInformation.taxAmount }}</td>
                </tr>
                <tr>
                    <td>{{ 'success.credibanco.response'|trans }}</td>
                    <td>{{ additionalInformation.authorizationCode }}</td>
                </tr>
                <tr>
                    <td>{{ 'success.credibanco.authorization_number'|trans }}</td>
                    <td>{{ additionalInformation.authorizationNumber }}</td>
                </tr>
                <tr>
                    <td>{{ 'success.credibanco.installment_count'|trans }}</td>
                    <td>{{ additionalInformation.installmentCount }}</td>
                </tr>
                <tr>
                    <td>{{ 'success.credibanco.card_number'|trans }}</td>
                    <td>{{ paymentData.creditCardMaskedNumber }}</td>
                </tr>
                <tr>
                    <td>{{ 'success.credibanco.franchise'|trans }}</td>
                    <td>{{ paymentData.creditCardBrand }}</td>
                </tr>
            </table>
        </div>
    {% endif %}
</div>
